{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import editNbackBtn %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ partner.title }}</td>
            </tr>
            <tr>
                <th>上次修改时间</th>
                <td>{{ partner.updatedAt|date('Y-m-d H:m:s') }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ partner.createAt|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>

{{ editNbackBtn('gospel_partner_update', 'gospel_partner_index', partner) }}
{% endblock %}
