{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, link_category, path_category %}
<section class="guandian">
	<h1 class="menu-c">{{ link_category(category) }}
		<span class="right"><a {{ path_category(category) }} class="more-link">更多</a></span>
	</h1>
	<ul class="gd-group">
		{% for post in posts %}
		<li class="clearfix social-share">
			{% if post.cover is defined and post.cover %}
				<a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('109x73') }}" alt="{{ post.cover.caption }}"></a>
			{% endif %}
			<h1>{{ link_post(post) }}</h1>
			<p>{{ post.introduction | slice(0,60) }}...</p>
			<div class="share_block" style="display:none;"
				data-href="{{ path('news_show', {slug: post.title, id: post.id}) }}"
				{% if post.cover %}
				data-img="{{ asset(post.coverPath)|imagine_filter('252x168') }}"
				{% endif %}
				data-title="{{post.title}}"
				data-intro="{{ post.introduction }}"
				>
			</div>
		</li>
		{% endfor %}
	</ul>
	<ul class="top-list">
		{% for post in posts2 %}
		<li class="clearfix">
			{{ link_post(post) }}
		</li>
		{% endfor %}
	</ul>
</section>
