        <section class="bn-qiye-sub">
        	<h1 class="menu-comon-w">基督徒企业推荐</h1>
            <ul class="clearfix">
            	<li>
					<!-- 广告位：ARTICLE_4-1_120x120-->
					<script>CNZZ_SLOT_RENDER('219644');</script>
                </li>
                <li>
					<!-- 广告位：ARTICLE_4-2_120x120-->
					<script>CNZZ_SLOT_RENDER('219645');</script>
                </li>
                <li>
					<!-- 广告位：ARTICLE_4-3_120x120-->
					<script>CNZZ_SLOT_RENDER('219646');</script>
                </li>
                <li>
                	<div class="thumb cycle-banner" style="height: 120px; overflow: hidden;">
						<div>
							<!-- 广告位：ARTICLE_4-4-1_120x120-->
							<script>CNZZ_SLOT_RENDER('219663');</script>
						</div>
						<div>
							<!-- 广告位：ARTICLE_4-4-2_120x120-->
							<script>CNZZ_SLOT_RENDER('219664');</script>
						</div>
						<div>
							<!-- 广告位：ARTICLE_4-4-3_120x120-->
							<script>CNZZ_SLOT_RENDER('219665');</script>
						</div>
					</div>
                </li>
                <li>
					<!-- 广告位：ARTICLE_4-5_120x120-->
					<script>CNZZ_SLOT_RENDER('219666');</script>
                </li>
            </ul>
        </section>