		<div class="bn-qiye">
        	<h1 class="menu-comon-w">基督徒企业推荐</h1>
            <ul class="clearfix">
            	<li>
					<!-- 广告位：FOOTER_HOME_1-->
					<script>CNZZ_SLOT_RENDER('219710');</script>
                </li>
                <li>
					<!-- 广告位：FOOTER_HOME_2-->
					<script>CNZZ_SLOT_RENDER('219711');</script>
                </li>
                <li>
					<div class="cycle-banner" style="padding-bottom: 37px;">
						<div>
							<!-- 广告位：FOOTER_HOME_3-1-->
							<script>CNZZ_SLOT_RENDER('219712');</script>
						</div>
						<div>
							<!-- 广告位：FOOTER_HOME_3-2-->
							<script>CNZZ_SLOT_RENDER('219713');</script>
						</div>
					</div>
                </li>
                <li>
					<!-- 广告位：FOOTER_HOME_4-->
					<script>CNZZ_SLOT_RENDER('219716');</script>
                </li>
            </ul>
        </div>