{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, link_category %}
<ul class="colum-th"> 
	<li>
		<h1 class="menu-c">{{ link_category(categoryGlobal) }} ● 环球</h1>
		<ul class="cth-normal">
		{% for post in categoryList1 %}
			<li>{{ link_post(post) }}</li>
		{% endfor %}
		</ul>
	</li>
	<li>
		<h1 class="menu-c">{{ link_category(categoryChurch) }} ● 事工</h1>
		<ul class="cth-normal">
		{% for post in categoryList2 %}
			<li>{{ link_post(post) }}</li>
		{% endfor %}
		</ul>
	</li>
	<li>
		<h1 class="menu-c">{{ link_category(categorySociety) }} ● {{ link_category(categoryCharity) }}</h1>
		<ul class="cth-normal">
		{% for post in categoryList3 %}
			<li>{{ link_post(post) }}</li>
		{% endfor %}
		</ul>
	</li>
	<li>
		<h1 class="menu-c">{{ link_category(categorySociety) }} ● 名人</h1>
		<ul class="cth-normal">
		{% for post in categoryList4 %}
			<li>{{ link_post(post) }}</li>
		{% endfor %}
		</ul>
	</li>
	<li>
		<h1 class="menu-c">{{ link_category(categoryFamily) }} ● 婚姻</h1>
		<ul class="cth-normal">
		{% for post in categoryList5 %}
			<li>{{ link_post(post) }}</li>
		{% endfor %}
		</ul>
	</li>
	<li>
		<h1 class="menu-c">{{ link_category(categoryBusiness) }} ● {{ link_category(categoryLife) }}</h1>
		<ul class="cth-normal">
		{% for post in categoryList6 %}
			<li>{{ link_post(post) }}</li>
		{% endfor %}
		</ul>
	</li>
</ul>