{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, link_category %}
<section class="editor-recomend {{ options.class }}">
<h1 class="menu-comon-w">编辑推荐</h1>
<ul class="ec-list clearfix">
	{% for post in posts %}
	{% if post.cover %}
	<li><a {{ path_post(post)}}><img class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('160x113') }}" alt="{{ post.cover.caption }}"></a><h2>{{ link_post(post)}}</h2></li>
	{% endif %}
	{% endfor %}
</ul>
</section>