{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_fine_clumn, link_post, path_post %}
<section class="special">
	<h1 class="menu-m"><a href="{{ path('fine_column') }}">精品栏目</a></h1>
	{% for fineColumn in fineColumns %} {% if fineColumn.category.title is defined %}
	<div class="s-group clearfix social-share">
		<h2 class="menu-s">{{ link_fine_clumn(fineColumn.category) }}</h2>
		{% set post = fineColumn.post %}
		{% if post.cover is defined and post.cover %}
		<a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('100x67') }}" alt="{{ post.cover.caption}}"></a>
		{% endif %}
		<p>{{ link_post(post) }}</p>
		<div class="share_block" style="display:none;"
			data-href="{{ path('news_show', {slug: post.title, id: post.id}) }}"
			{% if post.cover %}
			data-img="{{ asset(post.coverPath)|imagine_filter('252x168') }}"
			{% endif %}
			data-title="{{post.title}}"
			data-intro="{{ post.introduction }}"
			>
		</div>
	</div>
	{% endif %} {% endfor %}
</section>
