{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_section, path_post, link_post %}
<!--footer-->
<footer>
  <div class="auto">
		<div style="margin: 0 auto; display: block; width: 728px;">
<!-- 61218566：CT底部广告 类型：固定 尺寸：728x90-->
<!--
<script type="text/javascript">//<![CDATA[
ac_as_id = "mm_116831168_14568587_61218566";
ac_format = 1;
ac_mode = 1;
ac_group_id = 1;
ac_server_base_url = "afpeng.alimama.com/";
//]]></script>
<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>-->
		</div>
  	<ul class="b-menu tablerow">
		{% for row in about %}
		<li><a href="{{ path('about', {id:row.id, slug:row.title|slugfy}) }}" target="_blank">{{ row.title }}</a></li>
		{% endfor %}
		<li><a href="{{ path('sitemap') }}" target="_blank">网站地图</a></li>
    </ul>
    <ul class="b-menu tablerow">
			{% for menu in navigation %} {% if menu.type == 'category' %}
			<li class="">{{ link_section(menu.name, menu.slug) }}</li>
			{% else %}
			<li class=""><a href="{{ path(menu.type) }}">{{ menu.name }}</a></li>
			{% endif %} {% endfor %}
     </ul>
     <div class="logo-b">
        	<a href="/"><img src="{{ asset('bundles/frontendweb/images/ft-logo.jpg') }}" width="241" height="27"></a>
     </div>
     <p class="copyright">
			© 基督时报版权所有<br>
			京ICP备07014451号-31京公网安备11010502025428<br>
     </p>
  </div>
</footer>
<!--foote-end-->

