{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_section, link_province %}
<div id="bottom" class="clearfix">
	<div class="constrain">
        <ul class="b-menu tablerow">
			{% for row in about %}
            <li><a href="{{ path('about', {id:row.id, slug:row.title|slugfy}) }}" target="_blank">{{ row.title }}</a></li>
			{% endfor %}
            <!--<li><a href="{{ path('links') }}">友情链接</a></li>-->
<!--            <li><a href="{{ path('copyright') }}" target="_blank">版权声明</a></li>-->
            <li><a href="{{ path('sitemap') }}" target="_blank">网站地图</a></li>
        </ul>
        <ul class="b-menu tablerow">
			{% for menu in menus %}
			{% if menu.type == 'category' %}
			<li class="tablecell">{{ link_section(menu.name, menu.slug) }}</li>
			{% endif %}
			{% endfor %}
			<li class="tablecell"><a href="{{ path('topics') }}">专题</a></li>
			<li class="tablecell"><a href="{{ path('videos') }}">视频</a></li>
			<li class="tablecell"><a href="{{ path('gallery') }}">图片集</a></li>
        </ul>
        <div class="logo-b">
        	<a href="{{ path('home') }}"><img src="{{ asset('bundles/frontendweb/images/logo-bottom.jpg') }}" width="242" height="27"></a>
        </div>
        <p class="copyright">
			© 基督时报版权所有<br />
			京ICP备07014451号-31<br />
			京公网安备11010502025428<br />
		</p>
    </div>
</div>
