{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_province, link_section %}
<!--header-->
<header>
	<div class="l-header-top-wapper">
      <div class="auto clearfix l-header-content">
          <div class="lt  clearfix l-header-lt">
          		<a href="{{ path('home') }}"><img  src="{{ asset('bundles/frontendweb/images/new-logo.png') }}"/></a>
                <p class="lt l-scripture">神爱世人，甚至将他的独生子赐给他们，叫一切信他的，<br>不至灭亡，反得永生。(约3：16).</p>
          </div> 
          <div class="rt l-header-rt">
            <div  class="l-link">
				<div ng-controller="EmailController" ng-init="init()">
            	<span class="l-two-jish">
                	<a  class="jidunet-rt" href="http://www.jidunet.cn/" target="_blank">基督网</a>
                    <a class="jidunet-rt" href="http://bible.christiantimes.cn/" target="_blank">圣经网</a>

					<script type="text/ng-template" id="newsletterDialog">
						<form  onsubmit="return false" data-action="{{ path('newsletter_subscrib') }}" id="subscribe">
    <div class="commonuse">
		<div class="common_in">
			<div class="d1">
            	<h1>欢迎订阅基督时报</h1>
            </div>
            <div class="d2">
						{% for category in newsletterCategorys %}
				<div class="checkon">
						<input type="checkbox" checked="checked" name="categories[]" value="{{ category.id }}" /> <strong style="font-family:'微软雅黑';">{{ category.title }}</strong>
                    <p>{{ category.description }}</p>
                </div>
						{% endfor %}
            </div>
            <div class="clearfix" style="clear:both;"></div>
            <div class="d3">
					<input id="email" class="input_e_" type="text" name="email" placeholder="//placeholder//" value="//email//" onfocus="if(this.value=='请输入邮箱'){this.value='';}" onblur="if(this.value==''){this.value='请输入邮箱';}" />
                    <input class="input_b" type="button" name="input_b" ng-click="submit()" value="确认" />
                <p>请输入您的邮箱地址并点击“确认”，以方便我们将您感兴趣的内容发送到您的邮箱。</p>
            </div>
        </div>
    </div>
	</form>

					</script>
                    <a id="youjiandingyue" ng-click="open()"href="#">邮件订阅</a>
                </span>
                <span class="region">
                	<a  class="l-ht-ocity" href="#">地区版</a>
                    <i></i>
                    <div class="l-other-version clearfix region-more " style="display: none;">
                        <ul>
						  {% for province in provinces %}
						  <li>{{ link_province(province) }}</li>
						  {% endfor %}
                        </ul>
                     </div>
                </span>
				</div>
            </div>
          </div> 
      </div> 
    </div>
	<div class="l-header-bottom-wapper">
      <div class="auto  clearfix l-header-bottom">
          <ul class="lt l-nav-list">
          	<li class=""><a href="{{ path('home') }}">首页</a></li>
			{% for menu in navigationPadShow %}
            <li class="">{{ link_section(menu.name, menu.slug) }}</li>
			{% endfor %}
            <li class="l-ph-more l-nav-hide"><a href="###">更多▶</a></li>
			{% for menu in navigationPadHide %} {% if menu.type == 'category' %}
            <li class="l-ph-nav">{{ link_section(menu.name, menu.slug) }}</li>
			{% else %}
            <li class="l-ph-nav"><a href="{{ path(menu.type) }}">{{ menu.name }}</a></li>
			{% endif %} {% endfor %}
            <!--<li class="l-ph-nav"><a style="font-weight: bold; color:#e65209;" href="http://www.fuyinshidai.com/shangjia/" target="_blank">黄页.</a></li>-->
          </ul> 
          <div class="rt clearfix l-nav-search">
          		<div class="rt l-fenxiang share_block"
						data-href="{{ path('home')}}"
						data-title="基督时报—基督教资讯平台"
						data-img="{{ asset('bundles/frontendweb/images/new-logo.png') }}"
						data-intro="基督教资讯网，提供基督教最新信息，网站内容涵盖教会、事工、神学、家庭、文化、商业、生活等领域，网站主要报道基督徒及基督教组织在社会各个领域的服务，基督时报希望成为守望这个时代的媒体，通过网络发出号角一样的声音，记录神的历史，见证神的作为，传播耶稣基督的好消息，让耶和华的知识充满遍地，如水充满洋海一般"
					>
                	<!--<a href="###"><i class="xinlang"></i></a>
                    <a href="###"><i class="qq"></i></a>-->
                    <a href="{{ asset("bundles/frontendweb/images/weixingzh.jpg") }}" class="galpop" data-galpop-group="gallery" title="基督时报微信公众号" style="display: inline-block;"><i class="weixin_show" style="background:url(/bundles/frontendweb/images/weixin2.png) no-repeat;"></i></a>
                    
                    <script>
                        /*$(function(){
                            $('.weixin_show').click(function(){
                                alert('testing');
                            })
                        })*/
                    </script>
                </div>
          		<div class="rt l-search-kuang">
                	<input type="text" placeholder="" id="keyword" class="lt form-search">
                    <input type="button" class="lt bt-search" value="搜索" >
                </div> 	
          </div> 
      </div> 
      <div class="clear"></div>
      <div class="auto  clearfix l-nav-phone l-nav-show">
              <ul class="clearfix">
				{% for menu in navigationPadHide %} {% if menu.type == 'category' %}
				<li class="">{{ link_section(menu.name, menu.slug) }}</li>
				{% else %}
				<li class=""><a href="{{ path(menu.type) }}">{{ menu.name }}</a></li>
				{% endif %} {% endfor %}
              </ul>
              <div class="lt clearfix l-nav-search-wp">
                  <div class="rt l-fenxiang l-fenxiang-2">
                      <!--<a href="###"><i class="xinlang"></i></a>
                      <a href="###"><i class="qq"></i></a>-->
                      <a href="###"><i class="weixin"></i></a>
                  </div>
                  <div class="rt clearfix l-search-kuang">
                      <input type="text" placeholder="" class="lt form-search">
                      <input type="button" class="lt bt-search" value="搜索" >
                  </div> 	
              </div> 
        </div> 
    </div>  
</header>
<div class="bn-top" style="text-align: center; margin-bottom:10px;">
</div>
<!--header-end-->
<link type="text/css" href="{{ asset("bundles/frontendweb/images/banner/jquery.galpop.css") }}" rel="stylesheet" media="screen" />
<script type="text/javascript" src="{{ asset("bundles/frontendweb/images/banner/jquery.galpop.js") }}"></script>
<script>
    $('.galpop').galpop();
</script>

