{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_section, link_province, link_province_category,
path_province, link_video
 %}
<header id="vp-header">
	<div class="logo-city">
    	<h1 class="vp-logo"><a href="{{ path('home') }}"><img src="{{ asset('bundles/frontendweb/video/images/logo-video.jpg') }}" alt="基督时报 - logo"></a></h1>
        <div class="ht-ocity"><a href="#" class="vp-ocity">其他地区▶</a></div>  
        <div class="clear"></div> 
    </div>
    <div class="nav-login">
    	<div class="vp-login"><a href="#"></a></div>
    	<nav class="main-nav">
        	<ul>
			<li><a href="{{ path('home') }}">首页</a></li>
			{% for menu in navigation %}
				{% if menu.type == 'category' %}
				{% if loop.index > 3 %}
				<li class="pad-hide">{{ link_section(menu.name, menu.slug, menu.current) }}</li>
				{% else %}
				<li>{{ link_section(menu.name, menu.slug, menu.current) }}</li>
				{% endif %}
				{% endif %}
			{% endfor %}
				<li class="pad-hide"><a href="{{ path('topics') }}">专题</a></li>
				<li class="pad-hide"><a href="{{ path('views') }}">专栏</a></li>
				<li class="pad-hide"><a href="{{ path('videos') }}">视频</a></li>
				<li class="pad-hide"><a href="{{ path('gallery') }}">图片集</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>
</header>
<header id="phone-head">
	<div class="ph-top clearfix">
    	<h1><a href="{{ path('home') }}"><img src="{{ asset('bundles/frontendweb/video/images/logo-phone.png') }}" width="119" alt="基督时报"></a></h1>
        <div class="pht-icon"><a href="#"></a></div>
    </div>
    <div class="phti-drop">
    	<ul class="clearfix">
			<li><a href="{{ path('home') }}">首页</a></li>
			{% for menu in navigation %}
				{% if menu.type == 'category' %}
				<li>{{ link_section(menu.name, menu.slug, menu.current) }}</li>
				{% endif %}
			{% endfor %}
				<li><a href="{{ path('topics') }}">专题</a></li>
				<li><a href="{{ path('videos') }}">视频</a></li>
				<li><a href="{{ path('gallery') }}">图片集</a></li>
        </ul>
        <div class="vp-login"><a href="#"></a></div>
        <div class="ht-ocity"><a href="#" class="vp-ocity">其他地区▶</a></div>
        <div class="clear"></div>
    </div>
    <div class="ph-bt">
    	<h1>视 频</h1>
        <h2><a href="#">全部▼</a></h2>
    </div>
</header>
<div class="other-version clearfix">
    <ul>
        <li class="close"><a href="#"><img src="{{ asset('bundles/frontendweb/video/images/close.png') }}" alt="close"></a></li>
		  {% for province in provinces %}
		  <li>{{ link_province(province) }}</li>
		  {% endfor %}
    </ul>
</div>
<div class="phb-drop">
	<ul class="clearfix">
        <li><a href="#">全 部</a></li>
		{% for category in categories %}
        <li>{{ link_video(category) }}</li>
		{% endfor %}
    </ul>
    <div class="phb-search clearfix">
        <input type="text" value="搜索" class="vp-s-form">
        <input type="button" class="vp-s-bt">
    </div>
</div>