{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_section, link_province, link_province_category,
path_province
 %}
<header id="site-header">
	<div class="header-top clearfix">
    	<div class="constrain">
            <div class="ht-l left">
                <a href="http://www.jidunet.cn/" target="_blank">基督网</a><a href="http://bible.christiantimes.cn/" target="_blank">圣经网</a>
            </div>
            <div class="ht-r right">
                <div class="ht-versions ht-city right">
                <span>
					{{ link_province(beijing) }}<s>-</s>{{ link_province(shanghai) }}<s>-</s>{{ link_province(guangdong) }}<s>-</s></span>
					<a href="#" class="ht-ocity">其他地区▶</a>
                <div class="other-version clearfix">
                  <ul>
					  {% for province in provinces %}
                      <li>{{ link_province(province) }}</li>
					  {% endfor %}
                  </ul>
                </div>
            </div>
{#                <span><a class="various fancybox.ajax ht-sign" href="register.html">注册</a><a href="#" class="ht-sign">登录</a></span>#}
            </div>
        </div>
    </div>
	<div class="constrain">
        <div class="header-bottom clearfix">
			{% block logo %}
			{% endblock %}
			{% if province.title is defined %}
			{# display the province logo #}
            <a href="{{ path('province_posts', {province_id: province.id, slug: province.title|slugfy}) }}"><img src="{{ asset('bundles/frontendweb/images/logo-'~province.slug~'.jpg') }}" height="65" alt="基督时报"></a>
			{% else %}
			{# display the whole site logo #}
            <a href="{{ path('home') }}"><img src="{{ asset('bundles/frontendweb/images/logo-site.jpg') }}" width="244" height="65" alt="基督时报"></a>
			{% endif %}
            <p>神爱世人，甚至将他的独生子赐给他们，叫一切信他的，不至灭亡，反得永生。(约3：16)</p>
			<form action="" id="search-form">
				<div class="search-t">
					<input type="button" class="bt-search">
					<input id="search-keywords" type="text" placeholder="搜 索" class="form-search">
				</div>
			</form>
        </div>
        <nav class="site-nav table">
			{{ app.request.get('name') }}
            <ul class="tablerow">
				<li class="tablecell"><a href="{{ path('home') }}" {% if inHomepage %}class="on"{% endif %} >首页</a></li>
                {% block main_navigation %}
						{% for menu in navigation %}
							{% if menu.type == 'category' %}
							<li class="tablecell {% if loop.index > 3 %}pad-none{% endif %}">{{ link_section(menu.name, menu.slug, menu.current) }}</li>
							{% endif %}
						{% endfor %}
							<li class="tablecell pad-none"><a href="/fine-column/7/专栏">专栏</a></li>
							<li class="tablecell pad-none"><a href="{{ path('topics') }}">专题</a></li>
							<li class="tablecell pad-none"><a href="{{ path('views') }}">专栏</a></li>
							<li class="tablecell pad-none"><a href="{{ path('gallery') }}">图片集</a></li>
							<li class="tablecell nav-more"><a href="#">更多▶</a></li>
					{% endblock %}
            </ul>
        </nav>
        <div class="nd-whole">
			<ul class="nav-drop">
                <li><a href="{{ path('videos') }}">视频</a></li>
            </ul>
            <div class="nav-drop-pad clearfix">
				<ul class="nav-drop">
					<li><a href="{{ path('videos') }}">视频</a></li>
				</ul>
				<ul class="clearfix">
						{% for menu in navigation %}
							{% if menu.type == 'category' %}
								{% if loop.index > 3 %}
									<li>{{ link_section(menu.name, menu.slug, menu.current) }}</li>
								{% endif %}
							{% endif %}
						{% endfor %}
					<li><a href="/fine-column/7/专栏">专栏</a></li>
					<li><a href="{{ path('topics') }}">专题</a></li>
					<li><a href="{{ path('views') }}">专栏</a></li>
					<li><a href="{{ path('gallery') }}">图片集</a></li>
					<li><a href="{{ path('videos') }}">视频</a></li>
				</ul>
                <div class="nd-search clearfix">
					<form action="" id="">
						<div class="">
							<input type="button" class="bt-search">
							<input id="search-keywords" type="text" placeholder="搜 索" class="form-search">
						</div>
					</form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
			<!-- {{ uri }} uri is -->
		{# only displayed in the homepage #}
		{% if uri == '' or uri == '/' %}
		<!--
        <div class="sub-head-bn" style="margin-top: 15px;">
        </div>
  		-->
		{% endif %}
		{# only displayed in the homepage end #}
		{% if section or category_id or uri == 'topics' or uri_base is defined and uri_base == 'news' %}
        <div class="sub-head-bn">
			<!-- 广告位：section-header-D1-->
			<script>CNZZ_SLOT_RENDER('237894');</script>
        </div>
		{% endif %}
    </div>
</header>
<div class="bn-top" style="text-align: center; margin-bottom:10px;">
<script>CNZZ_SLOT_RENDER('262126');</script>
</div>
