{% extends 'FrontendWebBundle:Common:header.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_province_category
 %}
{% block main_navigation %}
{% for category in menuCategories %}
	<li class="tablecell">{{ link_province_category(province, category) }}</li>
{% endfor %}
{% endblock %}