{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
            <div class="page clearfix clear">
				{% if first is defined and current != first %}
				<a class="ajax ajaxy-page" href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
				{% endif %}
				{% if previous is defined %}
				<a class="ajax ajaxy-page" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
				{% endif %}
				{% for page in pagesInRange %}
					{% if page != current %}
							<a class="ajax ajaxy-page" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
					{% else %}
							<a class="on" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
					{% endif %}

				{% endfor %}
				{% if next is defined %}
				<a class="jscroll-next ajax ajaxy-page" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
				{% endif %}

				{% if last is defined and current != last %}
				<a class="ajax ajaxy-page" href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
				{% endif %}
            </div>
{% endif %}
