{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post %}
<section class="sub-remen">
	<div class="menu-tab clearfix">
		<h1 to='#today-hots' class="mt-on"><a href="#">今日热门</a></h1>
		<h1 to='#one-week-hots'><a href="#">一周热门</a></h1>
	</div>
	<ul id='today-hots'>
		{% for post in hotsOneDay %}
		<li class="clearfix"><p class="remen-num">{{ loop.index }}.</p>{{ link_post(post) }}</li>
		{% endfor %}
	</ul>
	<ul id="one-week-hots" style="display: none;">
		{% for post in hotsTenOneDay %}
		<li class="clearfix"><p class="remen-num">{{ loop.index }}.</p>{{ link_post(post) }}</li>
		{% endfor %}
	</ul>
</section>
