{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post %}
<section class="shendu">
	<h1 class="menu-c"><a href="{{ path('inside') }}">深度阅读</a></h1>
	<ul>
		{% for post in insides %}
		<li>{{ link_post(post) }}</li>
		{% endfor %}
	</ul>
</section>