{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, link_topic, path_topic %}
<section class="zhuanti">
	<h1 class="menu-c"><a href="{{ path('topics') }}">最新专题</a></h1>
	{% for topic in topicsTop %}
	<div class="zhuanti-head">
		<a {{ path_topic(topic) }}>
			<img src="{{ asset(topic.topicBannerWebPath)|imagine_filter('widen_400')  }}" alt="{{ topic.title }}" />
		</a>
		<h1>{{ link_topic(topic, 10) }}</h1>
	</div>
	{% endfor %}
	<ul class="left">
		{% for topic in topicsLeft %}
		<li>{{ link_topic(topic) }}</li>
		{% endfor %}
	</ul>
	<ul class="right">
		{% for topic in topicsRight %}
		<li>{{ link_topic(topic, 12) }}</li>
		{% endfor %}
	</ul>
	<div class="clear"></div>
</section> 
