{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post %}
<section class="meiti">
	<h1 class="menu-c">其他频道最新</h1>
	<ul>
		{% for post in posts %}
		<li>{{ link_post(post) }}</li>
		{% endfor %}
	</ul>
</section>
