{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, link_fine_clumn, link_columnist %}
<section class="guandian">
	<h1 class="menu-c"><a href="{{ path('views') }}">观点 ● 专栏</a></h1>
	<ul class="gd-group">
		{% for post in viewpoints %}
		<li class="clearfix social-share">
			{%if post.author is null%}
			{% elseif post.authorCoverWebPath is defined %}
			<a {{ path_post(post) }}><img src="{{ asset(post.authorCoverWebPath~'/'~post.authorCoverPath)|imagine_filter('109x73') }}" alt="{{ post.author}}"></a>
			{% else %}
			<a {{ path_post(post) }}><img src="{{ asset(post.author.coverWebPath~'/'~post.author.coverPath)|imagine_filter('109x73') }}" alt="{{ post.author}}"></a>
			{% endif %}
			<lable class="red14">{{ link_columnist(post.author) }}</lable>
			<h1>{{ link_post(post) }}</h1>
			<p>{{ post.introduction | slice(0,60) }}...</p>
			<div class="share_block" style="display:none;"
				data-href="{{ path('news_show', {slug: post.title, id: post.id}) }}"
				{% if post.cover %}
				data-img="{{ asset(post.coverPath)|imagine_filter('252x168') }}"
				{% endif %}
				data-title="{{post.title}}"
				data-intro="{{ post.introduction }}"
				>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>
