{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_video, path_video %}
<h1 class="menu-c"><a href="{{ path('videos') }}">视 频</a></h1>
{% if video %}
<div class="video-head">
	{{ video.embedCode|raw }}
	<h1>{{ link_video(video) }}</h1>
</div>
{% endif %}
{% if videos %}
	{% for video in videos %}
	<div class="video-s">
		<a {{ path_video(video) }}><span class="video-{% if loop.index == 1 %}on{% else %}play{% endif %} png24"></span><img class="lazy" src="{{ asset(video.coverWebUrl) | imagine_filter('109x73')}}" /></a>
		<p>{{ link_video(video) }}</p>
	</div>
	{% endfor %}
{% endif %}
<div class="clear"></div>
{% stylesheets 
	'bundles/frontendweb/css/homepage_video.css' 
	filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
