{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post
 %}
<h1 class="menu-comon">热门文章</h1>
<ul class="remen-list">
	{% for post in posts %}
	<li class="clearfix"><div class="remen-num">{{ loop.index }}.</div>{{ link_post(post) }}</li>
	{% endfor %}
</ul>