{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_category, link_post, link_video, path_video, path_gallery, link_gallery, path_topic, link_topic, link_fine_clumn, path_post %}
    	<div class="l-phone-left">
				<div class="g-gao-lt-2">
					<div class="ad-wrapper width300">
						<img src="{{ asset("bundles/frontendweb/images/weixin-code2.jpg") }}">
					</div>
				</div>
            <div class="l-cnt-right-daily">
                 <div class="l-hd-title">
                    <h1>{{ link_category(categorySpirit) }}</h1>
                 </div>
                 <section>
                    <article class="l-ft-daily">
                        <header><h2>{{ link_post(headerSpirit) }}</h2></header> <div class=" clearfix daily-first"> {% if headerSpirit.cover %}
                          <a href="{{ path('news_show', {slug: headerSpirit.title, id: headerSpirit.id}) }}"><img  class="lt" src="{{ asset(headerSpirit.coverPath)|imagine_filter('171x114') }}"/></a>
						{% endif %}
                          <p>{{ headerSpirit.introduction }}</p>
                        </div>
                    </article>
					{% for row in headerSpiritRest %}
                    <article  class=" clearfix l-ft-daily-1">
                        <div class="lt">
						{% if row.cover %}
                          <a href="{{ path('news_show', {slug: row.title, id: row.id}) }}"><img  class="lt" src="{{ asset(row.coverPath)|imagine_filter('109x73') }}"/></a>
						{% endif %}
                        </div>
                        <h2>{{ link_post(row) }}</h2>
                    </article>
					{% endfor %}
                 </section>
            </div>

						<!-- 信仰问答 -->
            <div class="l-cnt-right-daily">
                 <div class="l-hd-title">
                    <h1>{{ link_category(categoryQA) }}</h1>
                 </div>
                 <section>
                    <article class="l-ft-daily">
                        <header><h2>{{ link_post(headerQA) }}</h2></header>
                        <div class=" clearfix daily-first">
						{% if headerQA.cover %}
                          <a href="{{ path('news_show', {slug: headerQA.title, id: headerQA.id}) }}"><img  class="lt" src="{{ asset(headerQA.coverPath)|imagine_filter('171x114') }}"/></a>
						{% endif %}
                          <p>{{ headerQA.introduction }}</p>
                        </div>
                    </article>
                 </section>
            </div>
						<!-- 信仰问答结束 -->
              	<div class="g-gao-lt-2">

<div class="cycle-banner-wrapper" style="height: 250px; overflow:hidden;display:none;" data-interval="5">
	<div class="ad-wrapper width300">
		<div>
			<!-- 125029：CT_INDEX_RIGHT_2 类型：固定广告位 尺寸：300x250-->
			<script type="text/javascript">
			//_acK({aid:125029,format:0,mode:1,gid:1,serverbaseurl:"afp.csbew.com/"});
			</script>
		</div>
	</div>
</div>
<div class="clear"></div>

		</div>
           <div class="lt l-right-ph-video">
            	<div class="l-cnt-right-video">
                 <div class="l-hd-title">
					 <h1><a href="{{path('videos')}}">热门视频</a></h1>
                 </div>
                 <section>
					 {% if video %}
                    <div class="l-cnt-video">
                        <div class="l-cnt-player">
						{% if video.type == 1%}
							<div id="jp_container_1" class="jp-video jp-video-360p" role="application" aria-label="media player" style="margin:0 auto;">
								<div class="jp-type-single">
									<div id="jquery_jplayer_1" class="jp-jplayer"></div>
									<div class="jp-gui">
										<div class="jp-video-play">
											<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
										</div>
										<div class="jp-interface">
											<div class="jp-progress">
												<div class="jp-seek-bar">
													<div class="jp-play-bar"></div>
												</div>
											</div>
											<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
											<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
											<div class="jp-controls-holder">
												<div class="jp-controls">
													<button class="jp-play" role="button" tabindex="0">play</button>
													<button class="jp-stop" role="button" tabindex="0">stop</button>
												</div>
												<div class="jp-volume-controls">
													<button class="jp-mute" role="button" tabindex="0">mute</button>
													<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
													<div class="jp-volume-bar">
														<div class="jp-volume-bar-value"></div>
													</div>
												</div>
												<div class="jp-toggles">
													<button class="jp-repeat" role="button" tabindex="0">repeat</button>
													<button class="jp-full-screen" role="button" tabindex="0">full screen</button>
												</div>
											</div>
											<div class="jp-details">
												<div class="jp-title" aria-label="title">&nbsp;</div>
											</div>
										</div>
									</div>
									<div class="jp-no-solution">
										<span>Update Required</span>
										To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
									</div>
								</div>
							</div>
						{%else %}
							{{ video.embedCode|raw }}
						{% endif %}
						 <h2>{{ link_video(video) }}</h2>
                    </div>
					 {% endif %}
                    <ul class=" clearfix l-cnt-list">
						{% if videos %} {% for video in videos %}
						<li {% if loop.index == 1 %}class="l-cnt-list-1" {% endif %}>
                            <div class="l-video-img">
                                <span class="l-video-icon"><a {{ path_video(video) }}></a></span>
                                <a {{ path_video(video) }}><img class="lazy" src="{{ asset(video.coverWebUrl) | imagine_filter('171x114')}}" /></a>
                            </div>
							<h2>{{link_video(video)}}</a>
                        </li>
						{% endfor %} {% endif %}
                    </ul>
                 </section>
            </div>
							<div class="g-gao-lt-2">
								<div class="" style="height: 250px; overflow:hidden;" data-interval="5">
									<div class=" ad-wrapper width300">

										<div>

				<a href="http://www.christiantimes.cn/magazine" target="_blank">
					<img src="{{ asset("bundles/frontendweb/images/banner/magazine-15-1.jpg") }}">
				</a>
										</div>
									</div>
								</div>
							</div>
           </div>
           <div class="l-right-ph-pitcures">
                <div class="l-cnt-right-video">
                   <div class="l-hd-title">
					   <h1><a href="{{ path('gallery') }}">图片集</a></h1>
                   </div>
                   <section>
                      <div class="l-cnt-video">
                          <div class="l-cnt-player">
							<a {{ path_gallery(gallery) }}>
								{% set filter_name = '484x323' %}
								{% if gallery.cover and gallery.cover.useWatermark %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								<img src="{{ asset(gallery.coverPath)|imagine_filter(filter_name) }}" alt="{{ gallery.cover.caption}}">
							</a>
                          <h2>{{ link_gallery(gallery) }}</h2>
                      </div>
                      <ul class=" clearfix l-cnt-list">
						{% for gallery in galleries %}
						<li class="{% if loop.index == 1 %}l-cnt-list-1{% else %}l-video-img{% endif %}">
                              <div class="l-video-img"> 
								<a {{ path_gallery(gallery) }}><img src="{{ asset(gallery.coverPath)|imagine_filter('252x168') }}" alt="{{ gallery.cover.caption}}"></a>
                              </div>
							  <h2>{{link_gallery(gallery)}}</h2>
                          </li>
						{% endfor %}
                      </ul>
                   </section>
              </div>
				
           </div>
           <div class="clear"></div>
        </div>
        <div class="l-phone-right">
            <div class="l-cnt-right-imgs">
                 <div class="l-hd-title">
                    <h1><a href="#">最新专题</a></h1>
                 </div>
                 <section>
				{% for topic in dataTopics.topicsTop %}
                    <div class="l-cnt-imgs-wp">
                        <div class="l-cnt-imgs">
							<a {{ path_topic(topic) }}>
								<img src="{{ asset(topic.topicBannerWebPath)|imagine_filter('widen_400')  }}" alt="{{ topic.title }}" />
							</a>
                        </div>
						<h2>{{ link_topic(topic, 20) }}</h2>
                    </div>
					{% endfor %}
                    <ul class="l-ar-list l-ar-list-zhuan">
						{% for topic in dataTopics.topicsList %}
						<li>{{ link_topic(topic) }}</li>
						{% endfor %}
                    </ul>
                 </section>
            </div>
            <div class="clear"></div>
            <div class="l-cnt-right-imgs">
                 <div class="l-hd-title">
                    <h1>{{ link_fine_clumn(broadCast.categoryBroadcast) }}</h1>
                 </div>
                 <section>
                     <ul class="l-ar-list l-ar-list-zhuan">
						{% for post in broadCast.broadcasts %}
						<li>{{ link_post(post) }}</li>
						{% endfor %}
                    </ul>
                 </section>
            </div>
            <div class="clear"></div>
            <div  id="slideTxtBox" class="slideTxtBox-1 l-cnt-right-news">
                 <div class="hd l-cnt-news">
                    <ul class="bod clearfix l-cnt-news-tab1">
                        <li class="lt l-on-tab">今日热门</li>
						<li class="lt">一周热门</li>
                    </ul>
                 </div>
                 <div class="bd l-cnt-ar">
                     <ul class="l-news-list">
						{% for post in hots %}
						<li class="clearfix">
							<a {{path_post(post)}}>
								{% if post.cover %}
								<div class="rt"><img  class="lt" src="{{ asset(post.coverPath)|imagine_filter('90x60') }}"/></div>
								{% endif %}
								<h3>{{post.title}}</h3>
							</a>
						</li>
						{% endfor %}
                      </ul>
                     <ul class="l-news-list">
						{% for post in hotsWeek %}
						<li class="clearfix">
							<a {{path_post(post)}}>
								{% if post.cover %}
								<div class="rt"><img  class="lt" src="{{ asset(post.coverPath)|imagine_filter('90x60') }}"/></div>
								{% endif %}
								<h3>{{post.title}}</h3>
							</a>
						</li>
						{% endfor %}
                      </ul>
                 </div>
            </div>
            <div class="g-gao-lt-2" style="display:none;">
				{# include 'FrontendWebBundle:Common:rightAdBottom.html.twig' #}
				{# include 'FrontendWebBundle:Common:rightAdBottomGoogle.html.twig' #}
			</div>
        </div>
