{% from 'FrontendWebBundle:Macros:misc.html.twig' import
		link_gallery, path_gallery
 %}
<section class="video-film">
	<h1 class="menu-c"><a href="{{ path('gallery') }}">图片集</a></h1>
	<div class="video-head">
		<a {{ path_gallery(gallery) }}>
			{% set filter_name = '484x323' %}
			{% if gallery.cover and gallery.cover.useWatermark %}
				{% set filter_name = '484x323_watermark' %}
			{% endif %}
			<img src="{{ asset(gallery.coverPath)|imagine_filter(filter_name) }}" alt="{{ gallery.cover.caption}}">
		</a>
		<h1>{{ link_gallery(gallery) }}</h1>
	</div>
	{% for gallery in galleries %}
	<div class="video-s">
		<a {{ path_gallery(gallery) }}><img src="{{ asset(gallery.coverPath)|imagine_filter('252x168') }}" alt="{{ gallery.cover.caption}}"></a>
		<p>{{ link_gallery(gallery) }}</p>
	</div>
	{% endfor %}
	<div class="clear"></div>
</section>
