{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, link_fine_clumn %}
<section class="meiti">
	<h1 class="menu-c">{{ link_fine_clumn(mediaFocus) }}</h1>
	<ul>
		{% for post in categorymediaFocus %}
		<li>{{ link_post(post) }}</li>
		{% endfor %}
	</ul>
</section>