    <aside class="con-right right">
    	<div class="bn-aside mt25">
			{{ render(controller('FrontendWebBundle:Common:rightAd')) }}
        </div>

		<div class="part-l">
			<section class="video">
				{{ render(controller('FrontendWebBundle:Common:rightVideo')) }}
			</section>
		</div>
		<div class="part-r">
			<section class="remen">
				{{ render(controller('FrontendWebBundle:Common:rightHotNews')) }}
			</section>
		</div>
		<div class="clear"></div>
    	<div class="bn-aside">
			{{ include ('FrontendWebBundle:Common:rightGoogle.html.twig')}}
        </div>
    </aside>
