<!-- 61174870：CT 文章右侧底部广告 类型：固定 尺寸：300x250-->
<script type="text/javascript">//<![CDATA[
ac_as_id = "mm_116831168_14568587_61174870";
ac_format = 1;
ac_mode = 1;
ac_group_id = 1;
ac_server_base_url = "afpeng.alimama.com/";
//]]></script>
<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>
