<a href="http://gospeltimes.oss-cn-hangzhou.aliyuncs.com/books/Matthew1.pdf?spm=0.0.0.0.UCqrov&amp;file=Matthew1.pdf " target="_blank">
	<img src="{{ asset('assets/images/banner/yandu1.jpg') }}">
</a>
<a style="margin-top: 10px; display: block;" href="http://gospeltimes.oss-cn-hangzhou.aliyuncs.com/books/Matthew2.pdf?spm=0.0.0.0.UCqrov&amp;file=Matthew2.pdf" target="_blank">
	<img src="{{ asset('assets/images/banner/yandu2.jpg') }}">
</a>
<a style="margin-top: 10px; display: block;" href="http://gospeltimes.oss-cn-hangzhou.aliyuncs.com/books/word-to-flesh.pdf?spm=0.0.0.0.UCqrov&amp;file=word-to-flesh.pdf" target="_blank">
	<img src="{{ asset('assets/images/banner/yandu3.jpg') }}">
</a>
<a style="margin-top: 10px; margin-bottom:10px; display: block;" href="http://fungclass.fhl.net/index_s.html" target="_blank">
	<img src="{{ asset('assets/images/banner/kebanner.jpg') }}">
</a>