{% extends "::base.html.twig" %}
{% block title %}{{ about.title }} - {% endblock %}
{% block meta_description %}{{ about.description }}{% endblock %}
{% block mainStyle %}
{% stylesheets 
	'bundles/frontendweb/aboutus/css/base.css' 
	'bundles/frontendweb/aboutus/css/style.css' 
	'bundles/frontendweb/aboutus/css/mediaquary.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block header %}
<div class="wrap">
	<div class="header clearfix">
    	<div class="logo"><a href="http://www.christiantimes.cn"><img src="{{ asset("bundles/frontendweb/aboutus/images/logo.jpg") }}"></a></div>
        <div class="nav-mobile"><a href="#"></a></div>
        <div class="nav clearfix">
        	<ul>
			{% for row in abouts %}
            	<li><a class="{% if row.id == about.id %}offer{% endif %}" href="{{ path('about', {id:row.id, slug:row.title|slugfy}) }}">{{ row.title }}</a></li>
			{% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}



{% block footer %}
	<div class="bottom">
      <div class="content">
      	 <div class="content-left">
            <a href="http://www.christiantimes.cn"><img class="png" src="{{ asset("bundles/frontendweb/aboutus/images/logo2.png") }}"></a>
         </div>
         <div class="content-right">
         	<div class="bottom-nav">
                <ul>
				{% for row in abouts %}
					<li><a  href="{{ path('about', {id:row.id, slug:row.title|slugfy}) }}">{{ row.title }}</a></li>
				{% endfor %}
                </ul>
            </div>
            <p>Copyright@2001-2012 Christian Times. All Rights Reserved. 京ICP备 07014451号 - 6 京公网安备110102003886-3号</p>
         </div>
      </div>
    </div>
</div>
{% endblock %}

{% block javascripts_1 %}
{% javascripts 
'@FrontendWebBundle/Resources/public/js/lib/jquery-1.8.1.min.js' 
'@FrontendWebBundle/Resources/public/js/lib/plugins.js' 
'bundles/frontendweb/aboutus/js/custom.js' 
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}