<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>奉献流程说明</title>
		<style>
			*{ padding:0; margin:0;}
			body{ background:#999;}
			img{border:none; vertical-align:top; text-align:center;display: block; margin: 0 auto;}
		</style>
	</head>
	<body>
		<img src="{{ asset("bundles/frontendweb/images/choose-sum.jpg") }}" alt="选择金额" />
		<img src="{{ asset("bundles/frontendweb/images/have-apay.jpg") }}" alt="若您有一个支付宝账户" />
		<img src="{{ asset("bundles/frontendweb/images/no-apay.jpg") }}" alt="若您没有支付宝账户" />
	</body>
</html>
