{% extends 'FrontendWebBundle:About:layout.about.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category %}
{% block subbody %}
	<div class="body-img"><img src="{{ asset("bundles/frontendweb/aboutus/images/img-about.jpg") }}" alt=""></div>
    <div class="about-content">
    	<div class="to-top"><img src="{{ asset("bundles/frontendweb/aboutus/images/top.png") }}" alt="到顶部" width="40" height="1298"></div>
    	<div class="ac-group clearfix">
        	<h2 class="acg-title">
            	<p>福音时报</p>
                事工发展史
            </h2>
            <div class="acg-text"> 
            	<p>"福音时报"（原名"福音时代"）网站立足圣经真理，全面关注与及时提供今日世界的基督教资讯和福音性信息。自2006年9月底正式上线以来，一直努力收集来自各领域的福音性信息，免费提供给广大弟兄姐妹。同时，为更好地满足受众的需求，2007年—2009年间网站进行了两次改版，2008年12月份"福音时代"正式更名为"福音时报"。</p>
                <input type="button" class="bt-w" value="查看全文">
            </div>
        </div>
        <div class="ac-group clearfix">
        	<h2 class="acg-title">
            	<p>福音时报</p>
                异象
            </h2>
            <div class="acg-text"> 
            	<p>福音时报希望借助网络这一利器传播福音。据2010年1月，中国互联网络信息中心（CNNIC）最新发布的《第25次中国互联网络发展状况统计报告》显示，截至2009年12月，我国网民规模已达 3.84亿，再创历史新高；较2008年底增长8600万人，年增长率为28.9%；互联网普及率进一步提升，达到28.9%。可见，互联网已成为当今时代完成主的大使命的必要工具。</p>
                <input type="button" class="bt-w" value="查看全文">
            </div>
        </div>
        <div class="ac-group clearfix">
        	<h2 class="acg-title">
            	<p>网络事工的</p>
                意义
            </h2>
            <div class="acg-text"> 
            	<p>互联网因成本低、传播快、可应用的领域广、覆盖面大、亲和力强等特点，成为了当今时代信息传播的主流工具。就中国而言，网民一直保持着高速增长之势。2009年已达到3.84亿人，普及率达到28.9%。</p>
                <input type="button" class="bt-w" value="查看全文">
            </div>
        </div>
        <div class="ac-group clearfix">
        	<h2 class="acg-title">
            	<p>我们的</p>
                信仰宣告
            </h2>
            <div class="acg-text"> 
            	<p>我信上帝，全能的父，创造天地的主；我信我主耶稣基督，上帝的独生子；因圣灵感孕，由童贞女马利亚所生；在本丢彼拉多手下受难，被钉于十字架，受死，埋葬；降在阴间，第三天从死人中复活；升天，坐在全能父上帝的右边；将来必从那里降临，审判活人死人。我信圣灵；我信圣而公之教会；我信圣徒相通；我信罪得赦免；我信身体复活；我信永生。阿们！</p>
                <input type="button" class="bt-w" value="查看全文">
            </div>
        </div>
    </div>
{% endblock %}