{# 需要一个用户可以进行定期奉献的功能，需要有相关的用户系统进行管理，用户可以自由的取消或者修改约定奉献的金额 #}
{% extends 'FrontendWebBundle:About:layout.about.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category %}
{% block body %}
<div class="banner"><img src="{{ asset("bundles/frontendweb/aboutus/images/banner1.jpg") }}"></div>
<div class="clear"></div>
	
		<div class="Para-one">
		<p class="desc">{{ letter.content|striptags|raw|slice(0, 200)}}...</p>
		<div class="content-full" style="display: none;">{{ letter.content|raw}}</div>
		</div>
	<input type="button" class="more" value="更多" style="display:block; float:right;">
    <div class="clear"></div>
	<br/>
	<br/>
    <div class="amount" style="display: none;">
		{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice" style="
color: blue;
padding: 10px;
font-size: 1.2em;">
			{{ flashMessage }}
		</div>
	{% endfor %}
				<form name=alipayment action="{{ path('gospel_alipay_api') }}" method=post target="_blank">
      <p class="money">奉献金额</p><br>
      <ul class="money-bt">
			<li>
				<input type="radio" name="WIDtotal_fee[]" value="10" />￥10
			</li>
			<li>
				<input type="radio" name="WIDtotal_fee[]" value="20" />￥20
			</li>
			<li>
				<input type="radio" name="WIDtotal_fee[]" checked="1" value="50" />￥50
			</li>
			<li>
				<input type="radio" name="WIDtotal_fee[]" value="100" />￥100
			</li>
			<li>
				<input type="radio" name="WIDtotal_fee[]" value="200" />￥200
			</li>
			<li>
				<input type="radio" name="WIDtotal_fee[]" value="300" />￥300
			</li>
			<li>
				<input type="radio" name="WIDtotal_fee[]" value="500" />￥500
			</li>
			<li>
				<input type="radio" name="WIDtotal_fee[]" value="" />
				￥<input type="text" value="其他" class="dn-other">
			</li>
		</ul>
      <div class="clear"></div>
          <div class="bt">
            <input type="button" class="bt-donate" data-src="{{ path('gospel_alipay_api') }}" value="网上银行">
			{# <input type="button" class="bt-donate" data-src="{{ path('gospel_alipay_api') }}" value="信用卡"> #}
            <input type="button" class="bt-donate" value="支付宝">
			<a style="color:#cc6666" href="{{ path('donationHelp') }}" target="_blank">点击查看奉献流程</a>
			{# <input type="button" class="bt-donate" value="Paypal"> #}
          </div>
          <div class="clear"></div>
				</form>
	</div>
	{{ bank.content|raw }}
{% endblock %}

{% block javascripts_1 %}
{{ parent() }}
<script type="text/javascript">
	$(document).ready(function() {
			$('.dn-other').focus(function() {
				$(this).prev().attr('checked', 'checked');
				$(this).val('');
				});
			$('.dn-other').change(function() {
				$(this).prev().val($(this).val());
				});

			// donate form submit
			$(".bt-donate").click(function(e) {
				e.preventDefault();
				$(this).parents('form').attr('action', $(this).attr('data-src'));
				$(this).parents('form').submit();
				});
		$('.more').toggle(function(){ 
			$(this).prev().find('.desc').slideUp();
			$(this).prev().find('.content-full').slideDown();
			$(this).val('收起');
			}, function() { 
			$(this).prev().find('.desc').slideDown();
			$(this).prev().find('.content-full').slideUp();
			$(this).val('更多');

			$("html, body").animate({ scrollTop: $(this).prev().position().top+"px" });
			})
	});
</script>
{% endblock %}

