{% extends 'FrontendWebBundle:About:layout.about.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category,link_columnist %}
{% block title %}
{{ about.title }} - 
{% endblock %}
{% block body %}
    <div class="banner"><img src="{{ asset("bundles/frontendweb/aboutus/images/banner3.jpg") }}"></div>
    <div class="contact">
		{{ about.content|raw }}
    </div>
{% endblock %}
