{% extends 'FrontendWebBundle:About:layout.about.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category %}
{% block body %}
<div class="banner"><img src="{{ asset("bundles/frontendweb/aboutus/images/banner4.jpg") }}"></div>
<div class="Paragraph">
{{ support.content|raw }}
</div>
{% endblock %}
