{% extends 'FrontendWebBundle:About:layout.about.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category %}
{% block body %}
<div class="banner"><img src="{{ asset("bundles/frontendweb/aboutus/images/banner2.jpg") }}"></div>
<div class="Paragraph">
	<div class="Para-left">
		<div class="Para-one">
			<h2>{{ vision.title }}</h2>
			{{ vision.content|raw }}
		</div>
		<div class="Para-one">
			<h2>{{ mission.title }}</h2>
			{{ mission.content|raw }}
		</div>
		<div class="Para-one">
			<h2>{{ purpose.title }}：</h2>
			<p class="desc">{{ purpose.description|nl2br }}</p>
			<div class="content-full" style="display: none;">{{ purpose.content|raw }}</div>
		</div>
		<input type="button" class="more" value="更多">
	</div>
	<div class="Para-right">
		<div class="Para-one">
			<h2>{{ confession.title }}：</h2>
			<p class="desc">{{ confession.description|nl2br }}</p>
			<div class="content-full" style="display: none;">{{ confession.content|raw }}</div>
		</div>
		<input type="button" class="more" value="更多">
	</div> 
</div>
<div class="clear"></div>
{% endblock %}

{% block javascripts_1 %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
		$('.more').toggle(function(){ 
			$(this).prev().find('.desc').slideUp();
			$(this).prev().find('.content-full').slideDown();
			$(this).val('收起');
			}, function() { 
			$(this).prev().find('.desc').slideDown();
			$(this).prev().find('.content-full').slideUp();
			$(this).val('更多');

			$("html, body").animate({ scrollTop: $(this).prev().position().top+"px" });
			})
		});
</script>
{% endblock %}
