{% extends 'FrontendWebBundle:About:layout.about.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category %}
{% block body %}
    <div class="banner"><img src="{{ asset("bundles/frontendweb/aboutus/images/banner5.jpg") }}"></div>
    <div class="sub">
        <div class="sub-one">
		{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice" style="
color: blue;
padding: 10px;
font-size: 1.2em;">
			{{ flashMessage }}
		</div>
	{% endfor %}
		<p>
			{{ about.content|raw }}
		</p>
        </div>
        <div class="submission">
            <h1>投稿</h1>
			{{ form_start(form) }}
            {{ form_errors(form) }}
            <ul>
                <li class="clearfix"><label class="con-title">{{ form_label(form.title) }}：</label>{{ form_widget(form.title) }}</li>
                <li class="clearfix"><label class="con-title">{{ form_label(form.content) }}：</label>{{ form_widget(form.content, {'attr': {'class': 'wr-area'}}) }}</li>
                <li class="clearfix"><label class="con-title">{{ form_label(form.cover) }}：</label>{{ form_widget(form.cover) }}</li>
            	<li class="clearfix"><label class="con-title">{{ form_label(form.name) }}：</label>{{ form_widget(form.name) }}</li>
                <li class="clearfix"><label class="con-title">{{ form_label(form.email) }}：</label>{{ form_widget(form.email) }}</li>
                <li class="clearfix"><label class="con-title">{{ form_label(form.contact) }}：</label>{{ form_widget(form.contact) }}<span>非必填项</span></li>
                <li class="clearfix"><label class="con-title">{{ form_label(form.captcha) }}:</label><div class="yanzhengma">{{ form_widget(form.captcha) }}</div></li>
                <li>
					<input type="submit" class="bt-w" value="提交投稿" />
				</li>
            </ul>
			<div class="hidden"> {{ form_rest(form) }} </div>
			{{ form_end(form) }}
        </div>
    <div class="clear"></div> 
</div>
{% endblock %}
