{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import backBtn %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ contact.title }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>留言内容</th>
                <td>{{ contact.content }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ contact.createdAt|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>

{{ backBtn('gospel_contact_home') }}
{% endblock %}
