{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, link_category %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_section, link_region,
link_columnist, path_columnist
 %}

{% block title %}
专栏 - 
{% endblock %}

{% block body %}
<div class="constrain">
	<!--guide-->
    <div class="guide clearfix">
    	<h1 class="guide-section"><a href="{{ path('topics') }}">专 栏</a></h1>
        <div class="guide-links">
        	<a href="{{ path('home') }}">首页</a> > 专栏
        </div>
    </div>
    <div class="clear"></div>
	<div class="con-left left">
    	<div class="cl-two left">
			{% if headline is defined %}
        	<section class="clt-top">
				{% if headline.cover %}
                <a {{ path_post(headline) }}><img class="lazy" data-original="{{ asset(headline.coverPath)|imagine_filter('340x241') }}" alt="{{ headline.cover.caption}}"></a>
				{% endif %}
                <h1>{{ link_post(headline) }}</h1>
                <p>{{ headline.introduction }}</p>
                <ul>
					{% for post in headline.related %}
					{% if loop.index < 4 %}
                    <li>{{ link_post(post) }}</li>
					{% endif %}
					{% endfor %}
                </ul>
            </section>
			{% endif %}
            <section class="one-colum">
                <h1 class="menu-comon-w mlink">{{ link_category(categoryEditor) }}</h1>
                <ul class="towc-list-b">
					{% for post in postEditor %}
						{% if loop.index == 1 %}
                    		<li style="border: none; margin-top: 0; padding-top: 0;">
								<article class="tc-h clearfix">
									<header>
										<h1>{{ link_post(post) }}</h1>
									</header>
									{% if post.cover %}
									<a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('156x99') }}" alt="{{ post.cover.caption}}"></a>
									{% endif %}
										<p>{{ post.introduction|slice(0, 40) }}</p>
								</article>
							</li>
						{% else %}
                    		<li>{{ link_post(post) }}</li>
						{% endif %}
					{% endfor %}
                </ul>
            </section>
            <section class="one-colum">
                <h1 class="menu-comon-w mlink">{{ link_category(categoryInterview) }}</h1>
				{% for post in postInterview %}
                <article class="tc-h clearfix bb-m">
                    <header>
                        <h1>{{ link_post(post) }}</h1>
                    </header>
					{% if post.cover %}
                    <a {{ path_post(post) }}><img class="lazy" class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('156x99') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <p>{{ post.introduction|slice(0, 60)}}</p>
                </article>
				{% endfor %}
            </section>
        </div>
    	<div class="cl-two right">
        	 <section class="one-colum">
                <h1 class="menu-comon-w mlink">{{ link_category(category) }}</h1>
				{% for post in headlines %}
                <article class="tc-h clearfix bb-m">
                    <header>
                        <h1>{{ link_post(post) }}</h1>
                    </header>
						<p>{{ post.introduction|slice(0, 60) }}...</p>
                </article>
				{% endfor %}
            </section>
            <section class="one-colum">
                <h1 class="menu-comon-w mlink"><a>专栏作家</a></h1>
                <ul class="author clearfix">
					{% for columnist in columnists %}
                	<li>
					{% if columnist.coverPath %}
						<a {{ path_columnist(columnist) }}><img data-original="{{ asset(columnist.coverWebUrl) | imagine_filter('68x68')}}" /></a>
						
					{% endif %}
						<p>{{ link_columnist(columnist) }}</p></li>
					{% endfor %}
                </ul>
            </section>
            <section class="one-colum">
                <h1 class="menu-comon-w mlink">{{ link_category(categoryBlog) }}</h1>
				{% for post in postBlog %}
                <article class="tc-h clearfix bb-m">
                    <header>
                        <h1>{{ link_post(post) }}</h1>
                    </header>
						<p>{{ post.introduction|slice(0, 60) }}</p>
                </article>
				{% endfor %}
            </section>
        </div>
        <div class="clear"></div>
    </div>
	{{ render(controller('FrontendWebBundle:Common:rightSiderbar')) }}
    <div class="clear"></div>
</div>
{% endblock %}
