{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, link_category, path_category %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_section, link_region %}

{% block title %}
{{ category.title }}频道 - 
{% endblock %}

{% block body %}
<div class="constrain">
	<div class="con-lm left">
    	<h1 class="section-title">{{ title }}</h1>
        <nav class="sub-nav">
        	<ul>
            	<li class="sn-on">全 部</li>
				{% for row in category.children %}
                <li>{{ link_category(row) }}</li>
				{% endfor %}
            </ul>
        </nav>
    	<div class="con-l">
        	<section class="topnews-two">
				{% for post in top %}
            	<article class="top-headline">
                	<header>
						{% if post.cover %}
                    	<figure>
							<a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('484x323') }}" alt="{{ post.cover.caption}}"></a>
                        </figure>
						{% endif %}
                        <h1>{{ link_post(post) }}</h1>
                    </header>
                    <p>{{ post.introduction|slice(0, 120) }}...</p>
                </article>
				{% endfor %}
				{% for post in topRest %}
                <div class="ttwo-s {% if loop.index == 1 %}left{% else %}right{% endif %}">
					{% if post.cover %}
					<a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('252x168') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <h2>{{ link_post(post) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
        </div>
        <div class="con-m">
        	<section class="day-headline">
				{% for post in headlines %}
                <article class="dh-group">
                    <header><h1>{{ link_post(post) }}</h1></header>
                    <p>{{ post.introduction|slice(0, 80) }}...</p>
                </article>
				{% endfor %}
            </section>
        </div>
        <div class="clear"></div>
        <div class="section-bottom">
        	<ul class="section-list">
				{% for post in pagination %}
            	<li class="clearfix">
					{% if post.cover %}
					<a {{ path_post(post) }}><img class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('220x147') }}" alt="{{ post.title }}"></a>
					{% endif %}
                    <h2><a {{ path_category(post.category) }}>【{{ post.category }}】</a></h2>
					<h1>{{ link_post(post) }}</h1>
					<p>{{ post.introduction }}</p>
                    <p class="sl-at"><span>{{ post.author}} {{ post.writer }}</span> {{ post.publishedAt | date("Y年m月d日 H时i分s秒") }}</p>
                </li>
				{% endfor %}
            </ul>
            <div class="page clearfix">
				{{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <aside class="con-r right">
    	<div class="bn-aside">
				<div class="cycle-banner-wrapper" data-interval="5" style="height: 250px;">
						<div class="ad-wrapper width300">
							<img src="{{ asset("bundles/frontendweb/images/weixin-code.jpg") }}">
						</div>
				</div>
        </div>
				<div class="g-gao-lt-2">
						<div class="ad-wrapper width300">
							<div>

				<a href="http://www.christiantimes.cn/magazine" target="_blank">
					<img src="{{ asset("bundles/frontendweb/images/banner/magazine-15-1.jpg") }}">
				</a>
										</div>
						</div>
				</div>
		{{ render(controller('FrontendWebBundle:Common:rightHot')) }}
        <div class="clear"></div>
        <div class="pad-lside">
			{{ render(controller('FrontendWebBundle:Common:rightOtherSectionNewest', {excludeCategory: category})) }}
        </div>
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightTopics')) }}
        </div>
        <div class="clear"></div>
        <div class="pad-lside">
        	<section class="video-film">
				{{ render(controller('FrontendWebBundle:Common:rightVideo')) }}
            </section> 
        </div>
    	<div class="bn-aside">
					<div class="ad-wrapper width300">
							<!-- 125225：CT_SECTION_RIGHT_2 类型：固定广告位 尺寸：300x250-->
							<script type="text/javascript">
							_acK({aid:125225,format:0,mode:1,gid:1,serverbaseurl:"afp.csbew.com/"});
							</script>
					</div>
        </div>
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightGallery')) }}
        </div>
        <div class="clear"></div>
        <div class="bn-aside-b">
			<!-- 广告位：section-right-C3 -->
			{# include 'FrontendWebBundle:Common:googleAd-300x250.html.twig' #}
<!-- 61174870：CT 文章右侧底部广告 类型：固定 尺寸：300x250-->
<script type="text/javascript">//<![CDATA[
ac_as_id = "mm_116831168_14568587_61174870";
ac_format = 1;
ac_mode = 1;
ac_group_id = 1;
ac_server_base_url = "afpeng.alimama.com/";
//]]></script>
<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>
        </div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}
