{% extends 'FrontendWebBundle::layout.html.twig' %}
{% block body %}
<script type="text/javascript">
	setTimeout(function() {window.location.replace("{{ path('home') }}");}, 2000);
</script>
<div class="constrain mt25">
    <h1>错误</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
</div>
{% endblock %}