{% extends '::backend.html.twig' %}
{% form_theme form 'GospelCoreBundle:Macros:misc.html.twig' %}

{% block header %}
<h1 class="page-title">添加联系方式</h1>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('gospel_crm_index') }}">联系方式列表</a></li>
{% endblock %}

{% block body -%}

	<div class="region region-content">
		<div class="block block-system" id="block-content">
			<div class="content">
            {{ form_errors(form) }}
	  {{ form_start(form) }}
					<div class="btn-toolbar subhead" id="toolbar">
						<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="btn btn-success"><a  id="" name="op" href="{{ path('gospel_crm_index') }}" class="button form-submit">返回</a>
						</div>
					</div>
					<ul id="myTabs" class="nav nav-tabs">
						<li><a href="#post-details" data-toggle="tab">联系方式内容</a></li>
						<li><a href="#post-options" data-toggle="tab">选项</a></li>
					</ul>

					<div id="myTabsContent" class="form-horizontal">
						<div id="post-details" class="tab-content active">
							<br/>
							{% from 'GospelCoreBundle:Macros:misc.html.twig' import styleFormRow %}
							{{ styleFormRow(form.title) }}
							{{ styleFormRow(form.area) }}
                            <div class="control-group">
								<div class="controls">
                                  {% if form.vars.value.coverPath %}
                                  <img src="{{ asset(form.vars.value.coverWebPath~'/'~form.vars.value.coverPath) | imagine_filter('thumb_120x90') }}" />
                                  {% endif %}
								</div>
                            </div>
							{{ styleFormRow(form.cover) }}
                                  
							{{ styleFormRow(form.url) }}
							{{ styleFormRow(form.gender) }}
							{{ styleFormRow(form.content) }}
							{{ styleFormRow(form.email) }}
							{{ styleFormRow(form.phone) }}
							{{ styleFormRow(form.address) }}
						</div>
								<div id="post-options" class="tab-content">
									<br />
								</div>
		{{ form_rest(form) }}
							</div>
		{{ form_end(form) }}
						</div>
					</div>
				</div>




{% endblock %}

{% from 'GospelCoreBundle:Macros:misc.html.twig' import rteCss, rteJs %}
{% block stylesheets %}
	{{ parent() }}
	{{ rteCss() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ rteJs("gospel_crm_content") }}
{% endblock %}
