{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import editNbackBtn %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ crm.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ crm.title }}</td>
            </tr>
            <tr>
                <th>性别</th>
                <td>{% if crm.gender == 'f' %}女{% elseif crm.gender == 'm' %}男{% endif %}
				</td>
            </tr>
            <tr>
                <th>地区</th>
                <td>{{ crm.area }}
				</td>
            </tr>
            <tr>
                <th>图片</th>
                <td>
					{% if crm.coverPath %}
						<img src="{{ asset(crm.coverWebUrl) | imagine_filter('widen_400')}}" />
					{% endif %}
				</td>
            </tr>
            <tr>
                <th>内容</th>
                <td>{{ crm.content|raw }}
				</td>
            </tr>
            <tr>
                <th>URL</th>
                <td>{{ crm.url }}
				</td>
            </tr>
            <tr>
                <th>电话</th>
                <td>{{ crm.phone }}
				</td>
            </tr>
            <tr>
                <th>邮箱</th>
                <td>{{ crm.email }}
				</td>
            </tr>
            <tr>
                <th>地址</th>
                <td>{{ crm.address }}
				</td>
            </tr>
            <tr>
                <th>上次修改时间</th>
                <td>{{ crm.updatedAt|date('Y-m-d H:m:s') }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ crm.createAt|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>

{{ editNbackBtn('gospel_crm_update', 'gospel_crm_index', crm) }}
{% endblock %}
