{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
	<div class="welcome">
        {{ form_widget(child) }}
        {{ form_label(child) }}
	</div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}
