{% extends '::backend.html.twig' %}
{% form_theme form 'GospelCoreBundle:Macros:misc.html.twig' %}

{% block header %}
<h1 class="page-title">添加视频</h1>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('gospel_video_index') }}">视频列表</a></li>
{% endblock %}

{% block body -%}

	<div class="region region-content">
		<div class="block block-system" id="block-content">
			<div class="content">
            {{ form_errors(form) }}
{{ errors }}
	  {{ form_start(form) }}
					<div class="btn-toolbar subhead" id="toolbar">
						<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="btn btn-success"><a  id="" name="op" href="{{ path('gospel_video_index') }}" class="button form-submit">返回</a>
						</div>
					</div>
					<ul id="myTabs" class="nav nav-tabs">
						<li><a href="#post-details" data-toggle="tab">视频内容</a></li>
						<li><a href="#post-options" data-toggle="tab">发布选项</a></li>
						<li><a href="#post-seo" data-toggle="tab">SEO(搜索引擎优化)</a></li>
					</ul>

					<div id="myTabsContent" class="form-horizontal">
						<div id="post-details" class="tab-content active">
							<br/>
							{% from 'GospelCoreBundle:Macros:misc.html.twig' import styleFormRow %}
							{{ styleFormRow(form.title) }}
							<div class="control-group">
								{{ form_label(form.category) }}
								<div class="controls">
									{{ form_widget(form.category) }}
								</div>
							</div>
                            <div class="control-group">
								<div class="controls">
                                  {% if form.vars.value.coverPath %}
                                  <img src="{{ asset(form.vars.value.coverWebPath~'/'~form.vars.value.coverPath) | imagine_filter('thumb_120x90') }}" />
                                  {% endif %}
								</div>
                            </div>
							{{ styleFormRow(form.cover) }}
							{{ styleFormRow(form.author) }}
							{{ styleFormRow(form.comefrom) }}
							{{ styleFormRow(form.type) }}
                                  
                            <div class="video-content" {% if form.vars.value.type == 1 %}style="display:block;"{% else %}style="display:none;"{% endif %} id="form-video">
							{{ styleFormRow(form.video) }}
                            </div>
                            <div class="video-content" {% if form.vars.value.type == 1 %}style="display:none;"{% endif %} id="form-url">
							{{ styleFormRow(form.url) }}
                            </div>
							{{ styleFormRow(form.embedCode) }}
							{{ styleFormRow(form.content) }}
							{{ styleFormRow(form.relatedVideos) }}
							{{ styleFormRow(form.tags) }}
							{{ styleFormRow(form.tagsCommaString) }}
						</div>
								<div id="post-options" class="tab-content">
									<br />
									{{ styleFormRow(form.commentStatus) }}
									{{ styleFormRow(form.promotionStatus) }}
									{{ styleFormRow(form.editorRecommemd) }}
									{{ styleFormRow(form.status) }}
									{{ styleFormRow(form.publishedAt) }}
									{{ styleFormRow(form.stopPublish) }}
									{{ styleFormRow(form.stopPublishedAt) }}
								</div>
								<div id="post-seo" class="tab-content">
									<br />
									{{ styleFormRow(form.alias) }}
									{{ styleFormRow(form.metaKeywords) }}
									{{ styleFormRow(form.metaDescription) }}
		{{ form_rest(form) }}
								</div>
							</div>
		{{ form_end(form) }}
						</div>
					</div>
				</div>


{% include 'GospelCoreBundle:Video:search.html.twig' with {'form': form2} %}


{% endblock %}

{% from 'GospelCoreBundle:Macros:misc.html.twig' import rteCss, rteJs %}
{% block stylesheets %}
	{{ parent() }}
	{{ rteCss() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ rteJs("gospel_video_content") }}
{% endblock %}
