{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import editNbackBtn %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ video.title }}</td>
            </tr>
            <tr>
                <th>相关视频</th>
                <td>
					<ul>
					{% for related in video.related %}
						<li><a href="{{ path('gospel_video_show', {id:related.id}) }}" target="_blank">{{ related.title }}</a></li>
					{% endfor %}
					</ul>
					</td>
            </tr>
            <tr>
                <th>上次修改时间</th>
                <td>{{ video.updatedAt|date('Y-m-d H:m:s') }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ video.createAt|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>

{{ editNbackBtn('gospel_video_update', 'gospel_video_index', video) }}
{% endblock %}