{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category,
link_category
 %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets 
	'bundles/frontendweb/css/link.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body %}
<div class="constrain">
	<!--guide-->
    <div class="guide clearfix">
        <div class="guide-links">
        	<a href="{{ path('home') }}">首页</a> > 友情链接
        </div>
    </div>
    <div class="clear"></div>
    <div class="site-links">
            <ul class="clearfix">
				{% for link in links %}
            	<li><a href="{{ link.url }}" target="_blank">
					{% if file_exists(link.coverPath) %}
						<img class="lazy" data-original="{{ asset(link.coverWebUrl) | imagine_filter('88x31')}}" alt="{{ link.title }}" />
					{% else %}
						{{ link.title }}
					{% endif %}
					</a></li>
				{% endfor %}
            </ul>
    </div>
</div>
{% endblock %}