<!doctype html>
<html>
<head>
<meta charset="utf-8">
		{% stylesheets 
	'bundles/frontendweb/js/lib/lightbox/jquery.fancybox.css' 
filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
<link rel="stylesheet" href="http://dreamsky.github.io/main/blog/common/init.css">
		{% javascripts 
'@FrontendWebBundle/Resources/public/js/lib/jquery-1.8.1.min.js' 
'@FrontendWebBundle/Resources/public/js/lib/lightbox/jquery.fancybox.js' 
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        /*
         *  Simple image gallery. Uses default settings
         */

        $('.fancybox').fancybox({
        
            autoDimensions: false
            });
    });
</script>
<title>伯得利手表</title>
</head>

<style>
* {margin:0px; padding:0px; }
body{ font-family:"微软雅黑";}
img{ border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
.infor{ width:300px; height:30px; outline-style: none; margin-bottom:20px; padding:0 15px 0 15px; float:right; font-size:14px;}
.buy{ background:#d83845;  width:62px; height:35px; border:none; border-radius:5px; color:#fff; font-size:16px; cursor:pointer;}
.buy:hover{ background:#333; transition:0.6s;}
.wrap{ margin:0 auto; width:450px; padding:25px; background:#fff; border:1px solid #F9F9F9;}
.wrap span{ float:left;}
.wrap p{ margin-bottom:40px;} 
.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;}
.fancybox-custom .fancybox-skin { box-shadow: 0 0 50px #222;}
.contact{ font-family:"微软雅黑"; }
.center{ margin:0 auto; width:800px; background:#fff;}
</style> 
<body>
   <div  class="center">
			<div  style=" font-size: 15px; " class="">{{msg}}</div>
	<img src="{{ asset("bundles/frontendweb/images/bodeli/bn1.jpg") }}">
	<img src="{{ asset("bundles/frontendweb/images/bodeli/bn2.jpg") }}">
	<img src="{{ asset("bundles/frontendweb/images/bodeli/bn3.jpg") }}">
      <a id="inline" class="fancybox" data-fancybox-group="button" href="#contact">
		  <img id="div2" src="{{ asset("bundles/frontendweb/images/bodeli/bn4.jpg") }}"></a>
   </div>
   <div id="contact" class="ccx" style="display:none; width:500px; height:305px;">
      <div class="ccxx_" style=" position:relative;">
		  <div class="wrap"><p style="font-size:18px;">伯得利手表订购单</p>
				<form name=alipayment action="{{ path('gospel_client_pay') }}" method=post target="_blank">
							<div class="clearfix"><span>订购人姓名</span><input name="name" type="text" required  class="infor"></div>
							<div class="clearfix"><span>联系地址</span><input name="address" type="text" required class="infor"></div>
							<div class="clearfix"><span>电话号码</span><input name="phone" type="text" required class="infor" ></div>
							<div><a href=""><input type="submit" value="支付" class="buy"></a></div>
					<input id="price" type="hidden" name="price" value="980" />
					<input id="return_url" type="hidden" name="return_url" value="{{ path('gospel_client_bodeli') }}" />
					<input id="title" type="hidden" name="title" value="伯得利手表" />
				</form>
		  </div>
</div>
   </div>
</body>
</html>

