{% form_theme form 'GospelCoreBundle:Form:fields_newsletter.html.twig' %}

<style type="text/css">
.h1{ font-size:36px; font-weight:bold; color:#e71413; margin:0 auto; width:34%; padding-bottom:30px; text-align:center;}
.holeline{ height:7px; background:#c01110; margin-bottom:20px;}
.check_box{ margin:0 auto; width:62%;}
.check_boxout{ border:1px solid #eddbdb; padding-bottom:20px; padding-top:20px; margin-left:10px; margin-right:10px; background:#FAF5F5;}
.welcome{ padding:0px 9px 0px 9px; font-size:18px; color:#e71413; opacity:0.8; float:left;}
#zixun{ margin-bottom:10px;}
.welcome a{ text-decoration:none; color:#ce3d3d;}

.h3{ font-size:24px; font-weight:bold; margin:0 auto; padding-top:10px; width:17%; color:#e71413; opacity:0.8; text-align:center;}
.jianjie{ padding:0px 9px 10px 9px; font-size:18px; color:#e71413; opacity:0.8;}
.shinline{ height:2px; background:#c01110; margin-bottom:20px; opacity:0.3;}
#shinline{ margin-top:20px; margin-bottom:10px;}

.more{ color:#e71413; opacity:0.8; text-decoration:none; font-size:18px;}
.morediv{ margin:0 auto; width:17%; text-align:center;}
.welcomeand{ padding:20px 9px 2px 9px; margin:0 auto; width:52%;}
.queque{ margin-right:135px;}
#queren{ height:44px; width:148px; background:none; border:1px solid #e71413; font-family:"微软雅黑"; font-size:18px; color:#e71413; cursor:pointer;}

</style>
<div class="whole">
	<div class="wholeword">
		<h1 class="h1">
			欢迎订阅基督时报
		</h1>
		<div class="holeline"></div>
		{{ form_start(form, {attr: {
			id: 'subscriberForm'
		}}) }}
		<div class="check_boxout">
			<div class="check_box">
				{% for flashMessage in app.session.flashbag.get('success') %}
				<div class="messages--status flash-notice">
					{{ flashMessage|raw }}
				</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('error') %}
				<div class="messages--status flash-notice">
					{{ flashMessage|raw }}
				</div>
				{% endfor %}
				{{ form_errors(form) }}
				<div class="hide hidden">
				{{ form_widget(form.email) }}
				{{ form_widget(form.subscribed_time)}}
				</div>
				{{ form_widget(form.categories)}}
				<input type="hidden" name="redirect" value="{{ redirect }}" />
				{{ form_rest(form) }}
			</div>
			<div class="clear"></div>
		</div>
		<div class="welcomeand">
			<input type="submit" value="确认订阅" name="queren" id="queren" class="queque querenSubmit" />
			<input type="button" value="取消" name="quxiao" id="queren" ng-click="closeThisDialog('Some value')"/>
		</div>
		{{ form_end(form) }}
		<div class="shinline" id="shinline"></div>
		<h3 class="h3">
			关于基督时报
		</h3>
		<p class="jianjie">
守望，记录，见证，传播
守望这个时代，通过网络发出号角一样的声音；记录神的历史，见证神在社会各个领域的作为，传播耶稣基督的好消息；让耶和华的知识充满遍地，如水充满洋海一般；使教会与教会，信徒与信徒，教会与社会和睦相处。
从信仰的角度来看，上帝从来没有放弃人类，圣灵今天依然工作，我们希望能够记录神的历史，见证神的作为，荣耀上帝之名。从时代发展的角度看：互联网是这个时代的双刃剑，我们希望很好的使用互联网，让网络成为传福音的美好工具；这个时代的信息如洪水一般，需要守望者的出现……
		</p>
		<div class="shinline"></div>
		<div class="morediv">
			<a href="{{ path('about', {id:1, slug:'关于我们'}) }}" class="more" target="_blank">
				更多关于基督时报
			</a>
		</div>
	</div>
</div>

