<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>首尔·“圣洁的城”信仰体验之旅 </title>

{% stylesheets 
'bundles/frontendweb/js/lib/lightbox/jquery.fancybox.css' 
filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% javascripts 
'@FrontendWebBundle/Resources/public/js/lib/jquery-1.8.1.min.js' 
'@FrontendWebBundle/Resources/public/js/lib/lightbox/jquery.fancybox.js' 
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
$(document).ready(function () {

		$('.number-only').keypress(function(e) {
			if(isNaN(this.value+""+String.fromCharCode(e.charCode))) return false;
			})
		.on("cut copy paste",function(e){
			e.preventDefault();
			});

		$('.fancybox').fancybox({
			autoDimensions: false
		});

		/**
		 * 计算总共费用
		 */
		function calTotal() {
			// 总计费用
			var total = 0;
			// 组团类型
			var type = $('input[name=type]:checked').val(); 
			// 人数
			var count = $("#count").val();
			var unit;
			var title = '首尔·“圣洁的城”信仰体验之旅 - ';
			switch(type) {
				case 'vip': 
					unit = 32900;
					title = '2_6人同行：共' + count + '人';
					break;
				default:
					unit = 4999;
					title = '40人同行：共' + count + '人';

			}

			total = unit * count;
			$("#total").html(total);

			$("#price").val(total);
			$("#title").val(title);
		}

		$("#count, input[name=type]").change(function() {
			calTotal();
		});


		});
</script>
<style type="text/css">
.type{ padding-left: 113px; margin-bottom: 20px; }
.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}


</style>

<style>
* {margin:0px; padding:0px; }
.body{ font-family:"微软雅黑"; opacity:0.5; }
img{ border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
.infor{ width:300px; height:30px; outline-style: none; margin-bottom:20px; padding:0 15px 0 15px; float:right; font-size:14px;}
.radio{ width: 20px;  }
.buy{ background:#da2c52;  width:62px; height:35px; border:none; border-radius:5px; color:#fff; font-size:16px; cursor:pointer;}
.buy:hover{ background:#333; transition:0.6s;}
.wrap{ margin:0 auto; width:450px; padding:25px; background:#fff; border:1px solid #999;}
.wrap span{ float:left;}
.wrap p{ margin-bottom:40px;} 
.clearfix:after {
	content: "";
	visibility: hidden;
	display: block;
	font-size: 0;
	clear: both;
	height: 0;
}

.center{ margin:0 auto; width:900px;}
</style>
</head>
<style>
* {margin: 0px;padding: 0px;}
img{border: 0;vertical-align: middle;margin: 0px;padding: 0px;}
.auto{ width:1080px; margin: 0 auto;}
.lt{float: left;}
.clearfix:after {
	content: "";
	visibility: hidden;
	display: block;
	font-size: 0;
	clear: both;
	height: 0;
}
.center{margin: 0 auto;}
</style>
<body>

<div class="content">
	<div class="auto">
		<div  style=" font-size: 15px; width: 300px; margin: 0 auto; " class="">{{msg}}</div>
		<div class="clearfix ">
			<img src="{{ asset("bundles/frontendweb/images/travel/head-1.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/head-2.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/head-3.jpg") }}">  
		</div>
		<div class="clearfix ">
			<img src="{{ asset("bundles/frontendweb/images/travel/cnt-1.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/cnt-2.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/cnt-3.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/cnt-4.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/cnt-5.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/cnt-6.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/cnt-7.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/cnt-8.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/cnt-9.jpg") }}">
			<img src="{{ asset("bundles/frontendweb/images/travel/cnt-10.jpg") }}">
		</div> 
	</div>
</div>

<a id="inline" data-price="219" data-title="三件套餐219元"  class="fancybox" href="#contact"><img id="div1" src="{{ asset("bundles/frontendweb/images/travel/bn6.jpg") }}"></a>
<div id="contact" class="ccx" style="display:none; width: 530px; height: 500px;">
	<form id="travel-form" name=alipayment action="{{ path('gospel_client_pay') }}" method=post target="_blank">
		<div class="ccxx_" style=" position:relative;">
			<div class="wrap"><p>首尔·“圣洁的城”信仰体验之旅订单</p>
				<div class="clearfix"><span>订单金额</span>
					<span style="padding-left: 50px; margin-bottom: 10px;">
						<strong style="font-size: 1.5em;">￥</strong><strong id="total" style="font-size: 1.5em;">4999</strong>
					</span>
				</div>
				<div class="clearfix"><span>姓名</span><input name="name" type="text" required  class="infor"></div>
				<div class="clearfix"><span>电话</span><input name="phone" type="text" required class="infor" ></div>
				<div class="clearfix"><span>类型</span>
					<div class="type">
							<div style="display: none;" class="clearfix"><span>联系地址</span><input name="address" type="text" value="none" class="infor"></div>
						<input name="type" type="radio" required value="group" class="radio"  checked />
						<label for="type">40人同行</label>
						<br/>

						<input name="type" type="radio" required value="vip" class="radio" /> 
						<label for="type">2~6人同行</label>
					</div>
				</div>
				<div class="clearfix"><span>人数</span>
					<input id="count" name="count" class="infor number-only" type=number value=1 />
				</div>
				<div><a href=""><input type="submit" value="支付宝" class="buy"></a></div>
			</div>
		</div>
		<input id="return_url" type="hidden" name="return_url" value="{{ path('travel_seoul') }}" />
		<input id="price" type="hidden" name="price" value="0.1" />
		<input id="title" type="hidden" name="title" value="40人同行：共1人" />
	</form>
</div>

</body>
</html>
