@charset "utf-8";
/* CSS Document */


body{ font-family:"微软雅黑";}
.whole{ width:850px; margin:0 auto; margin-top:10px; margin-bottom:10px; background:#f5f5f5;}
.book1{ background:#e81413; padding:10px 40px 10px 40px;}
.book1 p{ font-size:14px; color:#FFF;}

.book2{ background:#990100; margin-top:2px; padding:60px 20px 100px 40px;}
.logo{ float:left; color:#FFF;}
#logo{ margin-left:80px; margin-right:90px;}
.logo h1{ font-size:24px; font-weight:bold;}
.logo p{ font-size:16px; float:left; padding-top:10px; padding-right:5px;}
#p{ padding-top:10px; font-size:12px;}
.logo a{ color:#FFF; font-size:12px;}
.share{ float:right; margin-left:5px; padding-top:5px; *margin-right:80px;}
.zhuanfa{ padding-left:10px; border-left:1px solid #FFF; margin-left:10px;}

.book3{ background:url(../img/nav_backg.png) repeat-x;}
.book3 ul{ margin-left:40px; padding-bottom:50px;}
.book3 ul li{ float:left; font-size:18px; border-right:1px solid rgba(255,255,255,0.5); padding:12px 15px 13px 15px;}
#li{ border-left:1px solid rgba(255,255,255,0.5);}
.book3 ul a{ color:#FFF; text-decoration:none;}

.book4{ border-bottom:10px solid rgba(153,1,0,0.5); *height:386px;}
.book4nei{ padding:20px 40px 20px 40px;}
.b4nei_img{ float:left;}
.b4nei_word{ float:right; width:38%;}
#nounderline{ color:#303030; text-decoration:none;}
.b4nei_word h2{ font-size:30px; font-weight:bold; line-height:35px; margin-top:10px;}
.b4nei_word p{ font-size:14px; margin-top:30px;}

.book5{ padding:20px 40px 20px 40px; border-bottom:2px solid #fde7e7; *height:183px;}
.b5_nei{ float:left; width:48%;}
.b5_neiimg{ float:left;}
.b5_word{ float:right; width:39%; height:141px;}
.b5_word a{ color:#303030;}
.b5_word h3{ font-size:14px; font-weight:bold; line-height:18px;}
.nei_h{ height:50%; width:100%; overflow:hidden; text-overflow:ellipsis;}
.nei_p{ height:48%; width:100%; overflow:hidden; text-overflow:ellipsis;}
.b5_word p{ margin-top:5px;}
#b5_nei{ margin-left:30px;}
#book5{ border-bottom:10px solid rgba(153,1,0,0.5);}

.b6_l{ float:left;}
.book6{ padding:20px 40px 20px 40px; *height:1255px;}
.b6_img{ position:relative; width:460px; margin-bottom:35px;}
.b6_img h4{ font-size:18px; font-weight:bold; margin-top:20px; color:#e87c13;}
#movebutton{ position:absolute; top:125px; left:195px;}

.b6_r{ float:right; width:300px;}
.hothead{ padding:20px 10px 20px 10px; background:#f7f7f7; border-bottom:1px solid #eeeeee; border-top:1px solid #eeeeee;}
.hothead li a{ font-size:14px; color:#e87c13; line-height:16px; text-decoration:none; float:right; width:260px;}
.hothead li{ margin-bottom:5px; height:40px;}
.hothead img{ padding:6px 5px 2px 2px; float:left;}
.hothead li span{ font-weight:bold; color:#606060;}
.adver{ margin-top:10px;}

.footer{ background:url(../img/footerbackg.png) repeat-x; padding:40px; *height:150px;}
.footerlogo{ float:left;}
.webinfo{ float:right; color:#fff; opacity:0.9; width:292px; padding-top:15px;}
.webinfo p{ float:right; font-size:12px;}