{% extends '::backend.html.twig' %}
{%block header %}<h1 class="page-title">批量管理</h1>{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body -%}
	<form action="">
		<label>文章关键词</label><input type="text" name="keyword"  />
	</form>

{% endblock %}

select id, `status` from gospel_post where title like '%习近平%' or introduction like '%习近平%' or content like '%习近平%';
update gospel_post set `status` = 0 where title like '%习近平%' or introduction like '%习近平%' or content like '%习近平%';
update gospel_post set `status` = 0 where title like '%李克强%' or introduction like '%李克强%' or content like '%李克强%';