{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{% block body %}
<div class="constrain">
	<!--guide-->
    <div class="guide clearfix">
    	<h1 class="guide-section">登录</h1>
    </div>
    <div class="clear"></div>
	{{ include( 'GospelSecurityBundle:Security:login.raw.twig' ) }}
    <div class="clear"></div>
</div>
{% endblock %}