{% if error %}
	<div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
	<label for="username">用户名:</label>
	<input type="text" id="username" name="_username" value="{{ last_username }}" />

	<label for="password">密码:</label>
	<input type="password" id="password" name="_password" />

    <label for="remember_me">保持登录</label>
	<input type="checkbox" id="remember_me" name="_remember_me" checked />

	{#
	the redirect path on success
	<input type="hidden" name="_target_path" value="/account" />
	#}
	<button type="submit" id="submit" name="submit">登 录</button>
</form>