{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category,
link_category
 %}
<?xml version="1.0" encoding="UTF-8"?><?xml-stylesheet type='text/xsl' href='http://163.dynamic.feedsportal.com/xsl/eng/rss.xsl'?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:taxo="http://purl.org/rss/1.0/modules/taxonomy/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" version="2.0">
	<channel>
		<title>{{ category.title }}新闻-福音时报-基督教资讯门户网站</title>
		<link>{{ link_category(category) }}</link>
		<description>中国基督教资讯门户网站，提供基督教最新信息。网站内容涵盖教会、事工、神学、家庭、文化、商业等各个领域。网站以圣经真理为基础，明辨福音，传扬基督教文化。</description>
		<pubDate>{{ now }}</pubDate>
		<lastBuildDate>{{ now }}</lastBuildDate>
		{% for post in posts %}
		<item>
			<title>{{ post.title }}</title>
			<link>{{ link_post(post) }}</link>
			<description>{{ post.introduction }}</description>
			<pubDate>{{ post.createAt|date('r') }}</pubDate>
			<guid isPermaLink="false">{{ link_post(post) }}</guid>
		</item>
		{% endfor %}
	</channel>
</rss>
