{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category,
link_category
 %}
{% block body %}
<div class="constrain">
	<!--guide-->
    <div class="guide clearfix">
    	<h1 class="guide-section"><a href="{{ path('rss') }}">RSS订阅</a></h1>
        <div class="guide-links">
        	<a href="{{ path('home') }}">首页</a> > RSS订阅
        </div>
    </div>
    <div class="clear"></div>
	{% for block in blockData %}
    <section class="tow-colum {% if loop.index % 2 %}left{% else %}right{% endif %}">
        <h1 class="menu-comon-w mlink">
			{{ link_category(block.category) }}
        	<div class="rss-bts">
            	<a style="background:none;padding:0;" href="{{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank"><input type="button" class="xml" value="XML"></a>
				<input type="button" class="rss-share" value="分享到+">                
				<dl class="rss-booking">
				<dd>
				<a href="http://reader.youdao.com/b.do?keyfrom=gospeltimes.cn&amp;url={{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="有道">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/icon_subshot02_youdao.gif" width="50" height="14" alt="有道">
				</a>
				</dd>
				<dd>
				<a href="http://fusion.google.com/add?feedurl={{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="google">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/icon_subshot02_google.gif" width="50" height="14" alt="google">
				</a>
				</dd>
				<dd>
				<a href="http://www.netvibes.com/subscribe.php?url={{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="netvibes">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/icon_subshot02_netvibes.gif" width="50" height="14" alt="netvibes">
				</a>
				</dd>
				<dd>
				<a href="http://www.bloglines.com/sub/{{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="bloglines">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/icon_subshot02_bloglines.gif" width="50" height="14" alt="bloglines">
				</a>
				</dd>
				<dd>
				<a href="http://www.newsgator.com/ngs/subscriber/subfext.aspx?url={{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="newsgator">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/icon_subshot02_newsgator.gif" width="50" height="14" alt="newsgator">
				</a>
				</dd>
				<dd>
				<a href="http://add.my.yahoo.com/rss?url={{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="yahoo">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/icon_subshot02_yahoo.gif" width="50" height="14" alt="yahoo">
				</a>
				</dd>
				<dd>
				<a href="http://www.xianguo.com/subscribe.php?url={{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="鲜果">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/icon_subshot02_xianguo.gif" width="50" height="14" alt="鲜果">
				</a>
				</dd>
				<dd>
				<a href="http://www.zhuaxia.com/add_channel.php?url={{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="抓虾">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/icon_subshot02_zhuaxia.gif" width="50" height="14" alt="抓虾">
				</a>
				</dd>
				<dd>
				<a href="http://mail.qq.com/cgi-bin/feed?u={{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="qq">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/icon_subshot02_qq.gif" width="50" height="14" alt="qq">
				</a>
				</dd>
				<dd>
				<a href="http://www.rojo.com/add-subscription?resource={{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="rojo">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/icon_subshot02_rojo.gif" width="50" height="14" alt="rojo">
				</a>
				</dd>
				<dd>
				<a href="http://my.msn.com/addtomymsn.armx?id=rss&amp;ut={{ url('rss_xml', {category_id:block.category.id}) }}" target="_blank" title="msn">
				<img src="http://img1.cache.netease.com/cnews/css09/rss100121/msn.jpg" width="44" height="14" alt="msn">
				</a>
				</dd>
				</dl>

            </div>
        </h1>
        <ul class="towc-list">
			{% for post in block.data %}
			<li class="tc-b">{{ link_post(post) }}</li>
			{% endfor %}
        </ul>
    </section>
	{% if loop.index % 2 == 0 %}<div class="clear"></div>{% endif %}
	{% endfor %}
    <div class="clear"></div>
</div>
{% endblock %}
