				<div class="cycle-banner-wrapper" data-interval="5" style="height: 250px;">
					<div class="cycle-banner">
						<div class="ad-wrapper width300">
							<a href="/travel/hanyou.html"><img src="{{ asset('bundles/frontendweb/images/korea-travel.jpg') }}" /></a>
						</div>
						<div class="ad-wrapper width300" style="display: none;">
							<a href="/travel/hanyou.html"><img src="{{ asset('bundles/frontendweb/images/hongkong.jpg') }}" /></a>
						</div>
					</div>
				</div>
