{% extends '::baseNew.html.twig' %}
{% block stylesheets %}
{{parent()}}
{% stylesheets 
	'bundles/frontendweb/css/sub.css' 
	'bundles/frontendweb/css/mediaquery.css' 
	'bundles/frontendweb/js/lib/lightbox/jquery.fancybox.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
	<link rel="stylesheet" href="/bundles/frontendweb/js/lib/lightbox/jquery.fancybox.css" />
{% endblock %}
