<!doctype html>
<html>
	<head>
		<title>{% block title %}基督时报::网站后台::{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% block stylesheets %}

{% stylesheets 
	'bundles/backendcore/css/system.module.css' 
	'bundles/backendcore/css/normalize.css' 
	'bundles/backendcore/css/system.theme.css' 
	'bundles/backendcore/css/system.admin.css' 
	'bundles/frontendweb/bootstrap/css/bootstrap.css' 
	'@BackendCoreBundle/Resources/public/misc/dropbutton/dropbutton.css' 
	'@BackendCoreBundle/Resources/public/misc/dropbutton/dropbutton.theme.css' 

	'bundles/backendcore/seven/jquery.ui.theme.css' 

	'bundles/backendcore/css/shortcut.theme.css' 
	'bundles/gospelcore/css/ui/smoothness/jquery-ui-1.10.3.custom.min.css' 
	'bundles/backendcore/css/tour.module.css' 

	'bundles/backendcore/css/contextual.toolbar.css' 
	'bundles/backendcore/css/toolbar.menu.css' 
	'bundles/backendcore/css/toolbar.module.css' 
	'bundles/backendcore/css/toolbar.theme.css' 
	'bundles/backendcore/css/toolbar.icons.css' 
	'bundles/backendcore/css/user.module.css' 
	'bundles/backendcore/seven/style.css' 
	'bundles/backendcore/css/gospel.css' 
	'bundles/gospelcore/css/select2.css' 
filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
		<style media="screen">
		</style>



	</head>
	<body class="html front logged-in one-sidebar sidebar-first page-node" data-views-page-contextual-id="views_ui:admin/structure/views/view:frontpage:location=page&amp;name=frontpage&amp;display_id=page_1">
		<div id="skip-link">
			<a href="#main-content" class="visually-hidden focusable">
				跳转到主要内容
			</a>
		</div>
		<div class="region region-page-top">
			<div id="overlay-disable-message" class="clearfix">
				<h3 class="visually-hidden">叠加图层(管理页面)选项</h3>
				<a href="" id="overlay-profile-link" class="overlay-exclude visually-hidden">
					如果你访问本网站管理页面有问题，请禁用您的个人资料页上的重叠。</a>
				<a href="" id="overlay-dismiss-message" class="overlay-exclude visually-hidden">
					忽略此消息。</a>

			</div>
			<nav id="toolbar-administration" class="toolbar" role="navigation">
				<div id="toolbar-bar" class="bar clearfix" data-offset-top="">
					<h2 class="visually-hidden">
						Toolbar items</h2>
					<div class="tab">
						<a href="{{ path('home') }}" target="_blank" title="主页" class="icon icon-home active">
							首页</a>
					</div>
					<div class="tab">
						<a href="" title="Admin menu" class="icon icon-menu" id="toolbar-tab-toolbar-tray" data-toolbar-tray="toolbar-tray" aria-owns="toolbar-tray" role="button" aria-pressed="false">
							菜单</a>
					</div>
					<div class="tab">
						<a href="" title="快捷方式" class="icon icon-shortcut" id="toolbar-tab-toolbar-tray--2" data-toolbar-tray="toolbar-tray--2" aria-owns="toolbar-tray--2" role="button" aria-pressed="false">
							快捷方式</a>
					</div>
					<div class="hidden contextual-toolbar-tab tab">
						<button class="icon icon-edit" role="button" aria-pressed="false">
							编辑</button>

					</div>
					<div class="tour-toolbar-tab hidden tab" id="toolbar-tab-tour">
						<button class="icon icon-help" role="button" aria-pressed="false">
							Tour</button>

					</div>
					<div class="tab">
						<a href="" title="我的帐户" class="icon icon-user" id="toolbar-tab-toolbar-tray--3" data-toolbar-tray="toolbar-tray--3" aria-owns="toolbar-tray--3" role="button" aria-pressed="false">
							{{ app.user.username }}</a>
					</div>
				</div>
				<div id="toolbar-tray" data-toolbar-tray="toolbar-tray" aria-owned-by="toolbar-tab-toolbar-tray" class="tray">
					<div class="lining clearfix">
						<h3 class="visually-hidden">
							Administration menu</h3>
						<div class="toolbar-menu-administration">
							<ul class="menu clearfix">
								<li class="first collapsed">
									<a href="{{ path('backend_structure', {type: 'admin-content'}) }}" id="toolbar-link-admin-content" class="icon icon-内容">
										内容</a>
								</li>

								{% if is_granted("ROLE_ADMIN") %}
								<li class="collapsed">
									<a href="{{ path('backend_structure', {type: 'admin-structure'}) }}" id="toolbar-link-admin-structure" class="icon icon-structure">
										结构</a>
								</li>
								{% endif %}

								{% if is_granted("ROLE_ADMIN") %}
								<li class="collapsed">
									<a href="{{ path('backend_structure', {type: 'admin-newsletter'}) }}" id="toolbar-link-admin-structure" class="icon icon-structure">
										新闻邮件</a>
								</li>
								{% endif %}

								{% if is_granted("ROLE_ADMIN") %}
								<li class="leaf">
									<a href="" id="toolbar-link-admin-appearance" class="icon icon-appearance">
										外观</a>
								</li>
								{% endif %}

								{#<li class="leaf"><a href="/d8/admin/modules" id="toolbar-link-admin-modules" class="icon icon-extend">Extend</a></li>#}
								{% if is_granted("ROLE_USER_ADMIN") %}
								<li class="leaf">
									<a href="{{ path('backend_structure', {type: 'admin-people'}) }}" id="toolbar-link-admin-people" class="icon icon-people">
										用户</a>
								</li>
								{% endif %}

								{% if is_granted("ROLE_ADMIN") %}
								<li class="collapsed">
									<a href="{{ path('backend_structure', {type: 'admin-config'}) }}" id="toolbar-link-admin-config" class="icon icon-configuration">
										配置</a>
								</li>
								{% endif %}

								{% if is_granted("ROLE_ADMIN") %}
								<li class="collapsed">
									<a href="{{ path('backend_structure', {type: 'admin-reports'}) }}" id="toolbar-link-admin-reports" class="icon icon-reports">
										报告</a>
								</li>
								{% endif %}

								<li class="last leaf">
									<a href="" id="toolbar-link-admin-help" class="icon icon-help">
										帮助</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div id="toolbar-tray--2" data-toolbar-tray="toolbar-tray--2" aria-owned-by="toolbar-tab-toolbar-tray--2" class="tray">
					<div class="lining clearfix">
						<h3 class="visually-hidden">
							User-defined shortcuts</h3>
						<ul class="menu clearfix">
							<li class="first leaf">
								<a href="">
									添加内容</a>
							</li>

							<li class="leaf">
								<a href="">
									All content</a>
							</li>

							<li class="last leaf"></li>
						</ul>
					</div>
				</div>
				<div id="toolbar-tray--3" data-toolbar-tray="toolbar-tray--3" aria-owned-by="toolbar-tab-toolbar-tray--3" class="tray">
					<div class="lining clearfix">
						<h3 class="visually-hidden">
							User account actions</h3>
						<ul class="menu">
							<li class="account odd first">
								<a href="" title="用户帐户">
									View profile</a>
							</li>
							<li class="account-edit even">
								<a href="" title="Edit user account">
									Edit profile</a>
							</li>
							<li class="logout odd last">
								<a href="{{ path('logout') }}">
									登出</a>
							</li>
						</ul></div></div></nav>
		</div>
		<div id="central-content">
			<header id="branding" class="clearfix" role="navigation">
				<nav class="breadcrumb" role="navigation">
					<h2 class="visually-hidden">你在这里</h2>
					<ol>
						<li><a href="{{ path('home') }}">首页</a></li>
						<li><a href="{{ path('backend') }}">管理</a></li>
					  {% block breadcrumb %}
					  {% endblock %}
						</ol>
					</nav>
				{% block header %}
					<h1 class="page-title">当前位置</h1>
				{% endblock %}
          	{% block tabs %}
			{% endblock %}
				</header>
				<div id="page">
					<div class="tabs-secondary clearfix" role="navigation"></div>

					<main id="content" class="clearfix" role="main">
					{% for flashMessage in app.session.flashbag.get('success') %}
							<div class="messages--status flash-notice">
							{{ flashMessage|raw }}
								</div>
					{% endfor %}
					{% for flashMessage in app.session.flashbag.get('error') %}
							<div class="messages--status flash-notice">
							{{ flashMessage|raw }}
								</div>
					{% endfor %}
								<div class="visually-hidden"><a id="main-content"></a></div>
								<div id="console" class="clearfix"></div>
								<div class="region region-content">
									<div class="block block-system" id="block-content">


										<div class="content">
{% block body %}
{% endblock %}
											</div>
										</div>

									</div>

								</main>

								<footer id="footer" role="contentinfo">

								</footer>

							</div>
						</div>
						<!--[if lte IE 8]>
{% javascripts 
'@BackendCoreBundle/Resources/public/misc/html5.js' 
%}
							<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
						<![endif]-->

			{% block javascripts %}
{% javascripts 
'@BackendCoreBundle/Resources/public/js/settings.js' 
'@BackendCoreBundle/Resources/public/misc/modernizr/modernizr.min.js' 
'@BackendCoreBundle/Resources/public/misc/domready/ready.min.js' 
'@BackendCoreBundle/Resources/public/misc/jquery.js' 
'@BackendCoreBundle/Resources/public/misc/underscore/underscore.js' 
'@BackendCoreBundle/Resources/public/misc/backbone/backbone.js' 
'@BackendCoreBundle/Resources/public/misc/jquery.once.js' 
'@BackendCoreBundle/Resources/public/misc/drupal.js' 
'@BackendCoreBundle/Resources/public/misc/ui/ui/jquery.ui.js' 
'@GospelCoreBundle/Resources/public/js/select2/select2.js' 
'@GospelCoreBundle/Resources/public/js/jquery.form.min.js' 

'@FrontendWebBundle/Resources/public/bootstrap/js/bootstrap.js' 

'@BackendCoreBundle/Resources/public/misc/debounce.js' 
'@BackendCoreBundle/Resources/public/misc/displace.js' 
'@BackendCoreBundle/Resources/public/misc/sticky.js' 

'@BackendCoreBundle/Resources/public/js/toolbar.menu.js' 
'@BackendCoreBundle/Resources/public/js/toolbar.js' 

%}
						<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
						<script type="text/javascript">
							Drupal.toolbar.setSubtrees({{ render(controller('BackendCoreBundle:Dashboard:backendMenu')) }});
							</script>
{% javascripts 
'@BackendCoreBundle/Resources/public/js/gospel.general.js' 
%}
							<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
		{% endblock %}

						</body>
					</html>
