{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_province, link_section %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>{% block title %}{% endblock %}基督时报—基督教资讯平台</title>
<meta name="description" content="{% block meta_description %}{% endblock %} 基督教资讯网，提供基督教最新信息，网站内容涵盖教会、事工、神学、家庭、文化、商业、生活等领域，网站主要报道基督徒及基督教组织在社会各个领域的服务，基督时报希望成为守望这个时代的媒体，通过网络发出号角一样的声音，记录神的历史，见证神的作为，传播耶稣基督的好消息，让耶和华的知识充满遍地，如水充满洋海一般"/>
<meta name="Keywords" content="{% block meta_keywords %}{% endblock %} 基督教 基督教新闻 基督教资讯 基督教讲道 基督教讲道视频 基督教视频 基督教歌曲 基督教电影 基督教舞蹈 圣诞节 复活节 信仰 圣经 耶稣 牧师 基督化家庭 福音 基督 基督教赞美 得救 成圣 创世纪 挪亚方舟 巴别塔 寇绍恩牧师 寇绍恩恩典365  2012天歌唱起来 宣教士 教会小组牧养 基督教婚姻观 基督教讲道 基督徒艺人姚晨 基督徒艺人蔡少芬张晋 摩西十诫 复活节的由来 圣诞节的由来 复活节朗诵 布道家力克胡哲 力克胡哲的妻子 基督教讲道视频于宏洁 基督徒婚恋讲道 基督徒两性交往 基督徒艺人蔡少芬天天向上 基督徒林书豪  耶稣受难记 基督徒艺人吕丽萍  基督徒艺人孙海英 鲁豫有约基督徒黄绮珊  基督教祷告  信仰是什么  林书豪台湾布道会 基督教天堂地狱见证"/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% block canonical%}
{% endblock %}

{% block mainStyle %}
{% stylesheets 
	'bundles/frontendweb/css/base-new.css' 
	'bundles/frontendweb/css/common-new.css' 
	'bundles/frontendweb/css/l-index-common.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block stylesheets %}

{% stylesheets 
	'bundles/frontendweb/css/l-index-mediaquary.css' 
	'bundles/frontendweb/css/ngDialog.min.css' 
	'bundles/frontendweb/css/ngDialog-theme-default.min.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}


{% javascripts 
'@FrontendWebBundle/Resources/public/js/lib/jquery-1.8.1.min.js' 
'@FrontendWebBundle/Resources/public/js/lib/jquery.alertWindow.min.js' 
'@FrontendWebBundle/Resources/public/js/lib/angular.min.js' 
'@FrontendWebBundle/Resources/public/js/lib/angular-cookies.min.js' 
'@FrontendWebBundle/Resources/public/js/lib/ngDialog.min.js' 
'@FrontendWebBundle/Resources/public/js/ng-gospel.js' 
%}

{% if "now"|date("m/d") == "12/13" %}
<style type="text/css">
	*{
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    filter: grayscale(100%);
}
</style> 
{% endif %}

    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<!--[if lt IE 7]>
	{% javascripts '@FrontendWebBundle/Resources/public/js/lib/PNG.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
		PNG.fix('.png');
	</script>
<![endif]-->
<!--[if lt IE 9]>
	{% javascripts '@FrontendWebBundle/Resources/public/js/lib/IE9.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
<![endif]-->
<!--[if lt IE 10]> 
	{% javascripts '@FrontendWebBundle/Resources/public/js/lib/PIE.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
<![endif]--> 
{% javascripts 
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<!--公用文件-->

<!-- AFP两段式代码-公用代码 -->
<!--<script type="text/javascript" src="http://s.csbew.com/k.js"></script>-->

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?70422aeb044d7f1b2f695a63acf3e5e8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body ng-app="gospelApp">
<div ng-controller="GospelController">
{% block header %}
{{ render(controller('FrontendWebBundle:Common:headerNew' , {section: app.request.get('section'), province: app.request.get('province_id'), category_id: app.request.get('category_id'), is_news: app.request.get('id')})) }}
{% endblock %}
 {% block body %}
 
 {% endblock %}
{% block footer %}
{{ render(controller('FrontendWebBundle:Common:footerNew' , {section: app.request.get('section')})) }}
{% endblock %}
{% block javascripts_1 %}
{% javascripts 
'@FrontendWebBundle/Resources/public/js/lib/jquery-ui.js' 
'@FrontendWebBundle/Resources/public/js/lib/jquery.SuperSlide.2.1.1.js' 
'@FrontendWebBundle/Resources/public/js/lib/jquery.cycle.all.js' 
'@FrontendWebBundle/Resources/public/js/lib/jquery.lazyload.js' 
'@FrontendWebBundle/Resources/public/js/social-share.js' 
'@FrontendWebBundle/Resources/public/js/custom-new.js' 
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block javascripts_2 %}
{% endblock %}
{% block javascripts_3 %}
{% endblock %}
{% block script_bottom %}
{% endblock %}
{% include '::analytics.html.twig' %}
<script type="text/javascript">
	jQuery("#slideTxtBox").slide({delayTime:0 });
	jQuery("#slideTxtBox2").slide({delayTime:0 });
</script>
</div>
</body>
</html>
