{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import backBtn %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ submission.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ submission.title }}</td>
            </tr>
            <tr>
                <th>联系方式</th>
                <td>{{ submission.contact }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ submission.email }}</td>
            </tr>
			{% if submission.image %}
            <tr>
                <th>图片</th>
                <td>
					<img src="{{ asset(submission.coverPath) | imagine_filter('thumb_120x90')}}" />
					<a href="{{ asset(submission.coverPath) }}">下载</a>
				</td>
            </tr>
			{% endif %}
            <tr>
                <th>投稿内容</th>
                <td>{{ submission.content | nl2br }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ submission.createdAt|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>

{{ backBtn('gospel_submission_home') }}
{% endblock %}
