{% extends '::backend.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block header %}
<h1 class="page-title">添加用户</h1>
{% endblock %}
{% block breadcrumb %}
	<li><a href="{{ path('gospel_user') }}">用户</a></li>
{% endblock %}
{% block body -%}

    
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix"></div>
                          <div class="region region-content">
    <div class="block block-system" id="block-content">
  
    
  <div class="content">
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form, { 'attr': {'class': 'table table-bordered'} }) }}
        <div class="form-actions form-wrapper" id="edit-actions">
			<input type="submit" id="edit-submit" name="op" value="保存" class="button button-primary form-submit">
<a  id="" name="op" value="保存" href="{{ path('gospel_user') }}" class="button button-primary form-submit">返回</a>
		</div>
    </form>
  </div>
</div>

  </div>


    <footer id="footer" role="contentinfo">
      
    </footer>


{% endblock %}