{% extends '::backend.html.twig' %}

{%block header %}<h1 class="page-title">用户</h1>{% endblock %}
{% block tabs %}
{{ include('GospelUserBundle:Include:tab.html.twig') }}
{% endblock %}
{% block body -%}
<ul class="action-links">
          <li><a class="button button-action" href="{{ path('gospel_user_new') }}">添加用户</a></li>
        </ul>
<table id="edit-entities" class="sticky-enabled responsive-enabled tabledrag-processed tableresponsive-processed tableheader-processed sticky-table">
	<thead><tr><th>用户名</th><th>用户组</th><th>邮箱</th><th>是否激活</th><th>操作</th></tr></thead>
	<tbody>
	{% for entity in users %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.username }}</td>
				<td>{{ entity.email }}</td>
				<td>{% for group in entity.groups %}{{ group.name }}  {% endfor %}</td>
				<td>{% if entity.isActive %}是{% else %}否{% endif %}</td>
				<td>
								<form onsubmit="return confirm('确定要删除用户: {{ entity.username }}？');" style="display: inline;" method="post" action="{{ path('gospel_user_delete', {id: entity.id}) }}">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							操作
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_user_show', {id: entity.id}) }}">查看</a></li>
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_user_update', {id: entity.id}) }}">编辑</a></li>
							<li class="edit odd first dropbutton-action">
        						<a class="submit-closest-form" href="#">删除</a>
								</li>
						</ul>
					</div>
    <input type="hidden" value="DELETE" name="_method">
</form>
				</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
	{% if users.haveToPaginate()|default(false) %}
	{{ pagerfanta(users, 'twitter_bootstrap_translated', options|default({})) }}
	{% endif %}
{% endblock %}