{% extends '::backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="{{ path('gospel_user') }}">用户</a></li>
{% endblock %}

{% block body -%}
  <div class="content">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>用户名</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>邮箱</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>用户组</th>
				<td>{% for group in user.groups %}{{ group.name }}  {% endfor %}</td>
            </tr>
            <tr>
                <th>是否激活</th>
				<td>{% if user.isActive %}是{% else %}否{% endif %}</td>
            </tr>
        </tbody>
    </table>
  </div>
<div class="form-actions form-wrapper" id="edit-actions">
<a  id="" name="op" href="{{ path('gospel_user_update', {id: user.id}) }}" class="button button-primary form-submit">修改</a>
<a  id="" name="op" href="{{ path('gospel_user') }}" class="button button-primary form-submit">返回</a>
</div>

{% endblock %}