@charset "utf-8";
/* CSS Document */
.bt-search, .dh-group li, .top-list li, .shendu li, .gonggao li, .meiti li, .a-related li, .a-top li{ background:url(../images/sicon.png) no-repeat;}
body{line-height:1.25em;}
.constrain{ max-width:1180px; margin:0 auto; padding:0 15px;}
.con-lm{ width:66.1%; padding-right:1.7%; border-right:1px solid #ccc;}
.con-l{ width:58.97%; float:left;}
.con-m{ width:38.46%; float:right;}
.con-r{ width:30.42%;}
#site-header{ margin-bottom:20px;}
.header-top{ height:25px; background:#f6f7f9; border-bottom:1px solid #d3d7da;}
.header-top a{ color:#181818; font-size:0.8125em; line-height:25px; display:block; height:25px;}
.ht-l a{ float:left; padding:0 15px; border-right:1px solid #d3d7da;}
.ht-l a:first-child{border-left:1px solid #d3d7da;}
.ht-versions{border-left:1px solid #d3d7da; padding-left:15px;border-right:1px solid #d3d7da;}
.ht-r a{ float:left;}
.ht-r s{ float:left; line-height:25px; text-decoration:none; padding:0 2px;}
.ht-ocity{ background:#e4e8ef; padding:0 7px 0 10px;}
a.ht-ocity:hover{ text-decoration:none;}
a.ht-sign{ float:right; padding:0 15px; border-left:1px solid #d3d7da;}
.header-bottom{ text-align:center; position:relative; padding:23px 0 10px 0;}
.header-bottom img{ display:block; margin:0 auto; padding-bottom:5px;}
.header-bottom p{ color:#999;}
.hb-share{ position:absolute; top:13px; left:0;}
.search-t{ position:absolute; top:15px; right:0;}
.bt-search{ float:right; background-color:#cccccc; background-position:13px 5px; width:40px; height:27px; border:none;}
.bt-search:hover{ background-color:#dadada;}
.bt-search:active{ background-color:#d1d1d1;}
.form-search{ border:1px solid #dfdfdf; height:25px; line-height:25px; padding-left:12px; width:186px; color:#999; float:right;}
.site-nav{ width:100%; display:table; border-top:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc; height:38px; line-height:38px;}
.site-nav ul{ width:100%; display:table;}
.site-nav li{ display:table-cell; text-align:center; font-family:"微软雅黑"; font-weight:900; font-size:0.9375em; border-left:1px solid #bcbcbc;*float:left;*padding:0 10px;}
.site-nav li:last-child{border-right:1px solid #bcbcbc;}
.site-nav li a, .nav-drop li a{ color:#181818;}
.site-nav li a:hover, .nav-drop li a:hover{ color:#d90000; text-decoration:none;}
.site-nav li a.on{color:#d90000;}
.nd-whole{ display:none;}
.nav-drop{ float:right; background:#f6f7f9; border:1px solid #bcbcbc; border-top:none;height:38px; line-height:38px; padding:0 15px;}
.nav-drop li{ float:left;font-family:"微软雅黑"; font-weight:900; font-size:0.9375em; padding:0 20px;}
.nav-drop-pad{background:#f6f7f9; border:1px solid #bcbcbc; border-top:none; padding:10px 0; display:none;}
.nav-drop-pad li{ display:inline-block; padding:0px 15px 10px 15px;}
.nd-search{ float:left; padding:0 15px 10px 15px;}
.nd-search input{ float:left;}
.nd-search .form-search{ width:124px;}
.nd-sign{ float:left; margin-left:15px; margin-bottom:10px; height:27px; line-height:27px; background:#e4e8ef; padding:0 15px; border:none;}
.nd-sign:hover{ background:#dadfe6;}
.nd-sign:active{ background:#d3d7df;}

.ht-city{ position:relative; z-index:10;}
.ht-city.city-on .other-version, .city-pad-drop.city-on .other-version, .city-pad.city-on .other-version{ display:block;}
.other-version{ background:#f6f7f9; width:78px;z-index:10; position:absolute; right:-1px; top:25px; display:none; text-align:left; border:1px solid #ccc; border-bottom:3px solid #ccc;}
.other-version .close{background-position:200px -412px; cursor:pointer;}
.other-version li{ display:block; border-bottom:1px solid #ccc; text-align:center; }
.other-version li a{ float:none;font-size:0.875em;height:30px; line-height:30px;}

.topnews-two{ margin-bottom:1em;}
.top-headline{ margin-bottom:1.3em;}
.top-headline p{ color:#666; line-height:1.5em;}
.ttwo-s{ width:47.82%;}
.ttwo-s h2, .tthree-s h2{padding:0.5em 0 0.4em 0;}
.dh-group{ padding:0 10px; margin-bottom:35px;}
.dh-group p{ color:#666; padding:10px 0;}
.dh-group li{ margin-bottom:5px; background-position:-238px 8px; padding-left:15px;}
.c-church .dh-group{ margin-bottom:10px;}
.dh-group img{ margin-bottom:10px;}
.top-list{ border-top:1px solid #ccc; padding:30px 0;}
.top-list li{background-position:-238px 8px; padding-left:15px; margin-bottom:10px;}
.bn-l{ margin-bottom:20px;}
.colum-th{width:31.538%; padding-right:2.69%; float:left; margin-bottom:20px;}
.colum-th.cth-last{ padding-right:0;}
.cth-normal li{ border-top:1px solid #ccc; padding:5px 0;}
.cth-normal li:first-child{ border-top:none; font-size:0.875em; padding-bottom:10px;}
.version-special li{border-top:1px solid #ccc; padding:10px 0;}
.version-special li:first-child{border-top:none; font-size:0.9375em; padding-bottom:10px; padding-top:0;}
.version-special h1{ margin-top:10px;}
.tthree-s{ width:30.43%; float:left; padding-right:4.347%;}
.tthree-s:nth-child(3n+2){ padding-right:0;}
.special{ background:#f6f7f9; padding-bottom:20px;}
h2.menu-s{ font-size:0.9375em;}
.s-group{ background:#fff; margin:0 10px 20px 10px;}
.s-group img{ float:right; padding-right:10px; padding-bottom:20px;}
.s-group p{ padding:3px 10px 20px 10px; line-height:1.5em;}
.s-group:last-child{ margin-bottom:0;}
.version-title{ background:url(../images/bg-line.gif) repeat-x 0 15px; text-align:center; margin:20px 0 10px 0;}
.version-title span{background:#fff; padding:0 20px;}
.shendu, .gonggao, .meiti{ margin-bottom:30px;}
.shendu li, .gonggao li, .meiti li, .a-top li{background-position:-238px 8px; padding-left:15px; margin-bottom:10px;}
.bn-aside, .bn-aside-b{ background:#f6f7f9; padding-top:26px; padding-bottom:26px; text-align:center; margin-bottom:20px;}
.video-film, .zhuanti, .guandian, .remen, .sub-remen, .diqu-list, .a-photonews{margin-bottom:25px;}
.video-head h1{ margin:10px 0 20px 0;}
.video-s{ width:30.36%; float:left; padding-right:4.456%;}
.video-s:nth-child(3n+2){ padding-right:0;}
.video-s p{ margin-top:5px;}
.zhuanti-head{ border-bottom:1px solid #ccc; margin-bottom:10px;}
.zhuanti-head h1{ margin:10px 0;}
.zhuanti ul{ width:47.91%;}
.zhuanti li{ margin-top:8px;}
.gd-group li{ padding-bottom:15px; border-bottom:1px solid #ccc; margin-bottom:15px;}
.gd-group li:last-child{ border-bottom:none; padding-bottom:0px; margin-bottom:0px;}
.gd-group img{ float:right; margin:0 0 15px 15px;}
.gd-group h1{ margin:5px 0 10px 0;}
.gd-group p{ color:#666;}
.remen-num{ float:left; width:25px; font-size:1em; font-weight:bold; color:#dc0000; margin-bottom:10px;}
.remen li, .sub-remen li{ border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:10px;}
.remen li:last-child, .sub-remen li:last-child{ border-bottom:none; margin-bottom:0px;}
#bottom{ margin-top:50px; padding-bottom:20px;}
.bn-bottom{ border-top:1px solid #ccc; text-align:center; padding:10px 0; border-bottom:3px solid #00297b;}
.b-menu{ border-bottom:1px solid #ccc; height:40px; line-height:40px;width: 100%;display: table;}
.b-menu li{display: table-cell;text-align: center;font-size: 0.875em;}
.logo-b{ float:left; margin-top:20px;}
.copyright{ float:right; text-align:right;margin-top:15px; font-size:0.75em;}

/*公用*/
.menu-c{border-bottom:1px solid #666; height:35px; line-height:35px; margin-bottom:10px; color:#0f0f0f;}
.menu-c a, .menu-m a, h2.menu-s a, .sub-nav a, .section-list h2 a, .zhuanti-list h2 a{color:#000;}
.menu-m{border-bottom:1px solid #666; height:35px; line-height:35px; margin-bottom:10px; color:#0f0f0f; padding-left:10px; background:#fff;}
.menu-s{border-bottom:1px solid #666; height:35px; line-height:35px; margin-bottom:10px; text-align:center;}
.menu-m a:hover, .menu-c a:hover, .menu-s a:hover, .zhuanti-list h2 a:hover{ color:#dc0000; text-decoration:none;}
.top-headline img, .version-special img, .video-film img, .zhuanti img, .zt-topnews img{max-width:100%; width:100%; height:auto;}
.red14, .red14 a{ font-size:0.875em; color:#dc0000;}
.header-bottom p, .form-search, .dh-group p, .video-s p, .zhuanti li, .gd-group p, .section-list p, .section-list-special p, .zt-group p{font-size:0.8125em; line-height:18px;}
h1.menu-c, h1.menu-m, .menu-tab h1{ font-size:1em;}
.top-headline h1, .sub-topnews h1, .a-header h1, .zt-topnews h1{ font-size:1.5em; padding:0.5em 0 0.4em 0;}
.dh-group h1, .version-title h1, .section-list h1, .section-list-special h1, .zuojia-info h1, .a-style-smallimg h2, .a-style-bigimg h2, .zhuanti-list h1{ font-size:1.125em;}
.top-headline p, .dh-group li, .top-list li, .s-group p, .version-special li, .shendu li, .zhuanti-head h1, .gd-group h1, .remen li, .sub-remen li, .meiti li, .gonggao li, .sub-nav li, .section-list h2, .section-list-special h2, .sub-topnews p, .zt-group p.zhuanlan-name, .zuojia-list p, .zuojia-info p, .bt-print, .shengming h1, .a-related li, .a-top li, .diqu-list li, .zt-topnews p, .zhuanti-list h2{ font-size:0.875em;}
.ttwo-s h2, .dh-group h2, .tthree-s h2, .version-special h1, .video-head h1, .zt-group h1, .a-top h2{ font-size:15px; line-height:1.25em;}
.cth-normal li, .ah-sub, .captive, .shengming p, .a-photonews li, .zhuanti-list p{ font-size:0.75em; line-height:1.5em;}
h1.section-title{ font-size:1.625em;}
