/*文章页图片滚动*/
.asb-img .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-direction-nav li a {position:absolute; top:37%; width:76px; height:86px; background:url(../images/icons.png) no-repeat; cursor:pointer; z-index:100; font-size:0; text-indent:-9999;}
.flex-direction-nav li .next {right:0; background-position:0 -232px;}
.flex-direction-nav li .prev {left:0; background-position:0 -319px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/*文章页图片滚动 Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -25px; text-align: center; z-index:100;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 10px; height: 10px; display: block; background:url(../images/bg_control_nav.png) no-repeat 0 0; background-size:10px 30px; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -10px;}
.flex-control-nav li a.active {background-position: 0 -20px; cursor: default;}
