@charset "utf-8";
/* CSS Document */
.sub-head-bn{ background:#f6f7f9; border-bottom:1px solid #ccc; text-align:center; padding:15px 0;}
.sub-nav{ width:100%; font-family:"微软雅黑"; font-weight:900; margin:10px 0 20px 0; background:url(../images/bg-subnav.gif) repeat-x top;}
.sub-nav li{ display:inline-block; padding:9px 20px 9px 20px; *float:left;}
.sub-nav li a:hover{ color:#d90000; text-decoration:none;}
.sn-on{ background:#cc0000; color:#fff;}
.section-bottom{ border-top:1px solid #666; padding-top:20px; margin-top:20px;}
.section-list li, .section-list-special li{ border-bottom:1px solid #ccc; margin-bottom:20px;}
.section-list li img{ float:right; padding:0 0 20px 20px;}
.section-list-special li img{ float:left; padding:0 20px 20px 0;}
.section-list p, .section-list-special p{ color:#666; margin-top:10px;}
.section-list p.sl-at, .section-list-special p.sl-at{ color:#999;padding-bottom:20px;}
.section-list p span, .section-list-special p span{ padding-right:15px;}
.section-list h2 a:hover{ color:#dc0000; text-decoration:none;}
.read-more{width: 100%;display: inline-block;height: 38px;line-height:38px;vertical-align: middle;text-decoration: none;color: #cc0000;background-color: #F8F8F8;
background-image: linear-gradient(to bottom, #fff 0px, #f3f3f3 100%);border: 1px solid #ccc;font-size:0.875em;text-align: center;margin: 10px 0;-moz-border-radius:10px/20px;-webkit-border-radius:10px/20px;border-radius: 3px/3px; margin-bottom:40px;}
.page { font-family:"微软雅黑"; padding-top:20px; margin-bottom:40px;}
.page a{ display:block; height:30px; line-height:30px; border:1px solid #ccc; text-align:center; padding:0 0.7em; float:left; margin-right:10px; font-size:1em; color:#181818;}
.page a:hover{ border:1px solid #cc0000; text-decoration:none;}
.page .on{ background:#cc0000; border-color:#cc0000; color:#fff;}
.page span{ float:left; margin-right:10px; line-height:38px;}
.menu-tab{ margin-bottom:10px; color:#000; background:url(../images/bg-line.gif) repeat-x bottom;}
.menu-tab h1{ float:left; padding:8px 15px;}
.mt-on{ border:1px solid #666; border-bottom:none; padding-bottom:1px; background:#fff;}
.sub-topnews img{ width:48%; padding-right:20px; float:left;}
.sub-topnews p{ color:#666; padding-top:5px; line-height:24px;}
.zt-group img{ float:left; padding-right:20px; padding-bottom:20px;}
.zt-group p{ color:#666; padding-top:5px;}
.zt-group h1{ padding:7px 0 20px 0;}
.zhuanlan-tuijian{ margin-bottom:15px;}
.zuojia-list li{ float:left; width:28.13%; padding-right:7.799%; padding-bottom:17px;*padding-right:7%;}
.zuojia-list li:nth-child(3n){ padding-right:0;}
.zuojia-list p{ text-align:center; padding-top:5px;}
.zuojia-info{ position:relative; float:right; width:30.4%; padding-left:1.65%; padding-top:50px;}
.zuojia-bg{ position:absolute; left:-1.5px; top:100px;}
.zj-photo{ background:#f6f6f6; width:140px; padding:7px; margin:0 auto;}
.zj-photo img{ border:1px solid #fff;}
.zuojia-info h1{ text-align:center; padding:10px 0;color:#071c45;}
.zuojia-info p{ color:#666; line-height:24px;}
.article{}
.ah-sub{ color:#666;}
.ah-sub span{ padding-right:20px;}
.bt-print{ float:left; width:90px; padding-left:15px; height:35px; line-height:35px; border:none; font-weight:900; background:#ececec url(../images/icons.png) no-repeat 55px 6px; text-align:left; font-family:"微软雅黑"; margin-right:15px;}
.a-header{ margin-bottom:25px;}
.a-header h1{color:#071c45;}
.ah-share{ padding-top:5px;}
.ah-icons{ margin-top:10px;}
.ass-img{ float:left; margin-right:20px; clear:left; width:220px; margin-bottom:20px;}
.a-image-s{ position:relative;}
.image-zoom{ width:41px; height:41px; background:url(../images/icons.png) no-repeat 0 -40px; position:absolute; bottom:10px; right:10px;}
.image-zoom a{ display:block; width:100%; height:100%;}
.captive{ background:#f6f6f6; border-bottom:3px solid #ccc; padding:10px 15px; text-align:left;}
.a-style-smallimg{ padding-bottom:0px;}
.a-style-smallimg p{ font-size:1em; line-height:1.625; padding:0 0 30px 240px;}
.a-style-smallimg h2{ padding-left:240px; padding-bottom:10px;color:#071c45;}
.a-style-bigimg{ padding-right:80px;}
.asb-img{ position:relative; margin-bottom:30px;}
.a-style-bigimg h2{padding-bottom:10px;color:#071c45;}
.asb-img-ie6{width:620px;}
.asb-img-ie6 li{ margin-bottom:20px;}
.asbi-group{ float:left; width:100%;}
.asbi-group li{ text-align:center; background:#222;}
.asb-next, .asb-prev{ position:absolute; top:170px; width:76px; height:86px; background:url(../images/icons.png) no-repeat; cursor:pointer; z-index:100;}
.asb-next{ right:0; background-position:0 -232px;}
.asb-prev{ left:0; background-position:0 -319px;}
.a-style-bigimg p{font-size:1em; line-height:1.625; padding-bottom:30px;}
/*文章页图片滚动*/
.asb-img .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-direction-nav li a {position:absolute; top:37%; width:76px; height:86px; background:url(../images/icons.png) no-repeat; cursor:pointer; z-index:100; font-size:0; text-indent:-9999;}
.flex-direction-nav li .next {right:0; background-position:0 -82px;}
.flex-direction-nav li .prev {left:0; background-position:0 -169px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
/*文章页图片滚动 Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -25px; text-align: center; z-index:100; display:none;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 10px; height: 10px; display: block; background:url(../images/bg_control_nav.png) no-repeat 0 0; background-size:10px 30px; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -10px;}
.flex-control-nav li a.active {background-position: 0 -20px; cursor: default;}
.page ul, .page ol{ list-style:none;}

.ass-share{ background:#f6f7f9; border-bottom:1px solid #ccc; padding:10px; margin-top:2.5em;}
.shengming{ border:1px solid #ccc; background:#f6f7f9; margin:1em 0 ; padding:1em 1em 0.5em 1em;}
.shengming h1{ margin-bottom:0.5em;}
.shengming p{ margin-bottom:0.5em;}
.a-related{ width:48%; float:left; margin-bottom:20px;}
.a-related li{background-position:0px -29px; padding-left:15px; margin-bottom:10px;}
.a-top{ width:48%; float:right; margin-bottom:20px;}
.a-top h2{ padding:0.3em 0 1em 0;}
.dianping{ margin:15px 0;}
.a-photonews li{ width:23.076%; padding-right:2.564%; float:left;}
.a-photonews li:last-child{ padding-right:0;}
.a-photonews p{ padding:8px 0;}
.diqu-list li{margin-bottom:10px;}
.zt-topnews{ border-bottom:1px solid #666; padding-bottom:25px; margin-bottom:10px;}
.zt-topnews p{ color:#666; line-height:24px;}
.zhuanti-list li{ border-bottom:1px solid #ccc; margin-bottom:10px;}
.zhuanti-list li img{ float:left; padding:0 20px 20px 0px; width:38.46%;}
.zhuanti-list p{ color:#666; margin-bottom:10px;}
.zhuanti-list p.sl-at{ color:#999;padding-bottom:10px;}
.zhuanti-list p span{ padding-right:15px;}
.zhuanti-list h2{ float:left; padding:8px 10px 10px 0; margin-bottom:7px;}
.zhuanti-list h1{ line-height:20px; padding:7px 0;}







