{# 根据新闻entity打印相关链接, print the href tag for the post (or news) #}
{% macro link_post(post) %}
{% if post.id is defined %}
{% if post.alias is defined and post.alias %}
{% set alias = post.alias %}
{% elseif post.title %}
{% set alias = post.title %}
{% else %}
{% set alias = 'show'  %}
{% endif %}
<a href="{{ path('news_show', {slug: alias|slugfy, id: post.id}) }}" target="_blank">{{ post.title }}</a>
{% endif %}
{% endmacro %}

{% macro link_section(name, section, current = 0) %}
<a href="{{ path('section', {section: section}) }}" {% if current == 1 %}class="on"{% endif %} target="_blank">{{ name }}</a>
{% endmacro %}


{% macro path_post(post) %}
{% if post.alias %}
{% set alias = post.alias %}
{% else %}
{% set alias = post.title %}
{% endif %}
href="{{ path('news_show', {slug: alias|slugfy, id: post.id}) }}" target="_blank"
{% endmacro %}

{% macro link_gallery(entity) %}
{% if entity.alias %}
{% set alias = entity.alias %}
{% else %}
{% set alias = entity.title %}
{% endif %}
<a href="{{ path('gallery_show', {slug: alias|slugfy, id: entity.id}) }}" target="_blank">{{ entity.title }}</a>
{% endmacro %}

{% macro path_gallery(entity) %}
{% if entity.alias %}
{% set alias = entity.alias %}
{% else %}
{% set alias = entity.title %}
{% endif %}
href="{{ path('gallery_show', {slug: alias|slugfy, id: entity.id}) }}" target="_blank"
{% endmacro %}

{% macro link_christmas(post) %}
{% if post.alias %}
{% set alias = post.alias %}
{% else %}
{% set alias = post.title %}
{% endif %}
<a href="{{ path('christmas_show', {slug: alias|slugfy, id: post.id}) }}" target="_blank">{{ post.title }}</a>
{% endmacro %}

{% macro path_christmas(post) %}
{% if post.alias %}
{% set alias = post.alias %}
{% else %}
{% set alias = post.title %}
{% endif %}
href="{{ path('christmas_show', {slug: alias|slugfy, id: post.id}) }}" target="_blank"
{% endmacro %}

{% macro path_preview(post) %}
{% if post.alias %}
{% set alias = post.alias %}
{% else %}
{% set alias = post.title %}
{% endif %}
href="{{ path('news_preview', {slug: alias|slugfy, id: post.id}) }}" target="_blank"
{% endmacro %}

{# breadcrumb #}
{% macro path_categories(paths, type = 'Category') %}
	<a href="{{ path('home') }}">首页</a> 
	{% for key, path in paths %}
		{% if type == 'CategoryOther' %}
		> <a href="{{ path('category', {slug: path.title|slugfy, id: path.id, other: 1}) }}">{{ path.title }}</a>
		{% else %}
		> <a href="{{ path('category', {slug: path.title|slugfy, id: path.id}) }}">{{ path.title }}</a>
		{% endif %}
	{% endfor %}
{% endmacro %}

{# 链接分类 #}
{% macro link_category(category, other = 0) %}
	{% if category %}
		{% if other == 1 %}
		<a href="{{ path('category', {slug: category.title|slugfy, category_id: category.id, other: 1}) }}">{{ category.title }}</a>
		{% else %}
		<a href="{{ path('category', {slug: category.title|slugfy, category_id: category.id}) }}">{{ category.title }}</a>
		{% endif %}
	{% endif %}
{% endmacro %}
{% macro path_category(category, other = 0) %}
	{% if category %}
		{% if other == 1 %}
		href="{{ path('category', {slug: category.title|slugfy, category_id: category.id, other: 1}) }}"
		{% else %}
		href="{{ path('category', {slug: category.title|slugfy, category_id: category.id}) }}"
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro link_region(region) %}
	<a href="{{ path('region', {slug: region.title|slugfy, id: region.id}) }}">{{ region.title }}</a>
{% endmacro %}

{# 专题的macro #}
{% macro link_topic(topic, cut = null) %}
	{% if topic.link|slice(0, 4) == 'http' %}
	<a href="{{ topic.link }}" target="_blank">{% if cut %}{{ topic.title|slice(0, cut) }}{% else %}{{ topic.title }}{% endif %}</a>
	{% else %}
	<a href="{{ path('topic', {slug: topic.title|slugfy, id: topic.id}) }}">{% if cut %}{{ topic.title|slice(0, cut) }}{% else %}{{ topic.title }}{% endif %}</a>
	{% endif %}
{% endmacro %}
{% macro path_topic(topic) %}
	{% if topic.link|slice(0, 4) == 'http' %}
	href="{{topic.link}}" target="_blank"
	{% else %}
	href="{{ path('topic', {slug: topic.title|slugfy, id: topic.id}) }}"
	{% endif %}
{% endmacro %}

{# 专题分类列表 #}
{% macro link_topic_category(entity) %}
	<a href="{{ path('topics', {slug: entity.title|slugfy, category_id: entity.id}) }}">{{ entity.title }}</a>
{% endmacro %}

{# viedo 的macro #}
{% macro link_video(video, cut = null) %}
	<a href="{{ path('video', {slug: video.title|slugfy, id: video.id}) }}" target="_blank">{% if cut %}{{ video.title|slice(0, cut) }}{% else %}{{ video.title }}{% endif %}</a>
{% endmacro %}
{% macro path_video(video) %}
	href="{{ path('video', {slug: video.title|slugfy, id: video.id}) }}"
{% endmacro %}

{% macro link_video_category(entity) %}
	<a href="{{ path('video_category', {slug: entity.title|slugfy, id: entity.id}) }}">{{ entity.title }}</a>
{% endmacro %}

{% macro path_columnist(entity) %}
	href="{{ path('columnist', {slug: entity.title|slugfy, id: entity.id}) }}"
{% endmacro %}

{% macro link_columnist(entity) %}
	<a href="{{ path('columnist', {slug: entity.title|slugfy, id: entity.id}) }}">{{ entity.title }}</a>
{% endmacro %}

{% macro link_author(name) %}
	<a href="{{ path('author', {name: name|slugfy}) }}">{{ name }}</a>
{% endmacro %}

{% macro link_province(entity) %}
	<a href="{{ path('province', {slug: entity.title|slugfy, province_id: entity.id}) }}">{{ entity.title }}</a>
{% endmacro %}
{% macro path_province(entity) %}
	{% if entity %}
	href="{{ path('province', {slug: entity.title|slugfy, province: entity.id}) }}"
	{% endif %}
{% endmacro %}

{% macro link_province_category(province, category) %}
	<a href="{{ path('province_category', {slug: province.title~'-'~category.title|slugfy, province_id: province.id,
	category_id: category.id
}) }}">{{ category.title }}</a>
{% endmacro %}
{% macro path_province_category(province, category) %}
	href="{{ path('province_category', {slug: province.title~'-'~category.title|slugfy, province_id: province.id,
	category_id: category.id
}) }}"
{% endmacro %}

{% macro link_fine_clumn(entity) %}
{% if entity.id is defined %}
<a href="{{ path('fine_column_category', {id: entity.id, slug: entity.title|slugfy}) }}" target="_blank">{{ entity.title }}</a>
{% endif %}
{% endmacro %}

{% macro link_region(entity) %}
{% if entity.id is defined %}
<a href="{{ path('region', {id: entity.id, slug: entity.title|slugfy}) }}" target="_blank">{{ entity.title }}</a>
{% endif %}
{% endmacro %}

{% macro link_columnist(entity) %}
{% if entity.id is defined %}
<a href="{{ path('columnist', {id: entity.id, slug: entity.title|slugfy}) }}" target="_blank">{{ entity.title }}</a>
{% endif %}
{% endmacro %}

{% macro path_columnist(entity) %}
{% if entity.id is defined %}
 href="{{ path('columnist', {id: entity.id, slug: entity.title|slugfy}) }}" target="_blank"
{% endif %}
{% endmacro %}

{# viedo 的macro #}
{% macro link_gallery(gallery, cut = null) %}
	<a href="{{ path('gallery_show', {slug: gallery.title|slugfy, id: gallery.id}) }}" target="_blank">{% if cut %}{{ gallery.title|slice(0, cut) }}{% else %}{{ gallery.title }}{% endif %}</a>
{% endmacro %}
{% macro path_gallery(gallery) %}
	href="{{ path('gallery_show', {slug: gallery.title|slugfy, id: gallery.id}) }}"
{% endmacro %}

{% macro link_gallery_category(entity) %}
	<a href="{{ path('gallery_category', {slug: entity.title|slugfy, category_id: entity.id}) }}">{{ entity.title }}</a>
{% endmacro %}
