{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, link_category, path_category, link_video, path_video  %}

{% block title %}
{{ special.title }} - 
{% endblock %}

{% block stylesheets %}

{% stylesheets 
	'bundles/frontendweb/css/common-sub.css' 
	'bundles/frontendweb/css/2013christmas.css' 
	'bundles/frontendweb/css/mediaquery.css' 
	'bundles/frontendweb/js/lib/lightbox/jquery.fancybox.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
<div class="constrain mt25">
  <div class="bn-christmas">
			<img src="{{ asset(special.bannerWebPath~'/'~special.banner)  }}" />
  </div>
  <div class="constrain-left">
  	<div class="tittle-up">
		{% if headline %}
    	<div class="up-left">
			{% if headline.cover %}
			<a {{ path_post(headline) }}><img src="{{ asset(headline.coverPath)|imagine_filter('340x241') }}" alt="{{ headline.cover.caption}}"></a>
			{% endif %}
        	<h1>{{ link_post(headline) }}</h1>
            <p>{{ headline.introduction }}</p>
        </div>	
		{% endif %}
        <div class="up-right">
			{% for post in subheadline %}
        	<div class="{% if loop.index == 1 %}article-up{% else %}article1{% endif %}">
            	<h2>{{ link_post(post) }}</h2>
                <p>{{ post.introduction }}</p>
            </div>
			{% endfor %}
        </div>	
    </div>
    <div class="clear"></div>
    <section class="tow-colum left">
        <h1 class="menu-comon-w mlink">{{ link_category(categoryData.category1.category, 1) }}</h1>
		<article class="tc-h clearfix">
		{% if categoryData.category1.post %}
		<header>
			<h1>{{ link_post(categoryData.category1.post) }}</h1>
		</header>
		{% endif %}
		</article>
        <ul class="towc-list-b">

			{% for post in categoryData.category1.posts %}
				<li>{{ link_post(post) }}</li>
			{% endfor %}
        </ul>
    </section>
    <div class="tittle-sub">
		<a {{ path_category(categoryData.category2.category, 1) }}><img src="{{ asset('assets/images/banner/pic-sub.jpg') }}"></a>
		{% if categoryData.category2.post.id is defined %}
        <div class="article-in">
			<h2>{{ link_post(categoryData.category2.post) }}</h2>
			<p>{{ categoryData.category2.post.introduction }}...</p>
			<ul class="towc-list-b">
				{% for post in categoryData.category2.posts %}
				<li>{{ link_post(post) }}</li>
				{% endfor %}
			</ul>
        </div>
		{% endif %}
    </div>
    <div class="clear"></div>
    <div class="bianji">
    	<h1 class="menu-comon"><a >编辑推荐</a></h1>
    	 	<ul class="clearfix">
				{% for post in editors %}
				{% if post.cover %}
				<li>
					{% if post.cover %}
					<a {{ path_post(post)}}>
						<img class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('160x113') }}" alt="{{ post.cover.caption }}">
					</a>
					{% endif %}
                  <p>{{ link_post(post)}}</p>
				</li>
				{% endif %}
				{% endfor %}
            </ul>
    </div>
    <section class="tow-colum left">
        	<h1 class="menu-comon-w mlink">{{ link_category(categoryData.category3.category, 1) }}</h1>
            <article class="tc-h clearfix">
				{% if categoryData.category3.post %}
            	<header>
                    <h1>{{ link_post(categoryData.category3.post) }}</h1>
                </header>
				
				{% if categoryData.category3.post.cover %}
                <a {{ path_post(categoryData.category3.post)}}>
					<img class="lazy" data-original="{{ asset(categoryData.category3.post.coverPath)|imagine_filter('141x94') }}" alt="{{ categoryData.category3.post.cover.caption }}">
				</a>
				{% endif %}
                <p>{{ categoryData.category3.post.introduction }} </p>
				{% endif %}
            </article>
            <ul class="towc-list-b">
				{% for post in categoryData.category3.posts %}
            	<li>{{ link_post(post) }}</li>
				{% endfor %}
            </ul>
        </section>
    <section class="tow-colum right">
        	<h1 class="menu-comon-w mlink">{{ link_category(categoryData.category4.category, 1) }}</h1>
			{% if categoryData.category4.post %}
            <article class="tc-h clearfix">
            	<header>
                    <h1>{{ link_post(categoryData.category4.post) }}</h1>
                </header>
				
				{% if categoryData.category4.post.cover %}
                <a {{ path_post(categoryData.category4.post)}}>
					<img class="lazy" data-original="{{ asset(categoryData.category4.post.coverPath)|imagine_filter('141x94') }}" alt="{{ categoryData.category4.post.cover.caption }}">
				</a>
				{% endif %}
                <p>{{ categoryData.category4.post.introduction }} </p>
            </article>
			{% endif %}
            <ul class="towc-list-b">
				{% for post in categoryData.category4.posts %}
            	<li>{{ link_post(post) }}</li>
				{% endfor %}
            </ul>
        </section>
  </div>
  <div class="constrain-right">
  	<div class="read">
    	<a {{ path_post(interpretation) }}><img src="{{ asset('assets/images/banner/jiedu.jpg') }}"/></a>
        <div class="wenzi"><p>{{ interpretation.introduction }}...</p>
    	<p><a class="xiangxi" {{ path_post(interpretation) }}>查看详细》</a></p></div>
        <ul class="jieqi">
			{% for post in categoryData.category5.posts %}
			<li><a {{ path_post(post) }}>{{ post.alias }}</a></li>
			{% endfor %}
        </ul>
    </div>
    <section class="video">
        	<h1 class="menu-comon"><a {{ path_video(video) }}>视 频</a></h1>
        	<article class="v-headline">
            	<header>
			<embed width="100%" wmode="opaque" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="{{ video.url|raw }}">
                    <h2>{{ link_video(video) }}</h2>
                </header>
				<h2>{{ link_video(video) }}</h2>
				<p>{{ video.content|striptags|slice(0, 50)}}...</p>
            </article>
        </section>
        <div class="clear"></div>
    <div class="arrangement">
    	<h1 class="menu-comon mlink-bg">{{ link_category(categoryData.category6.category, 1) }}</h1>
        <ul>
			{% for post in categoryData.category6.posts %}
			<li>{{ link_post(post) }}</li>
			{% endfor %}
        </ul>
    </div>
		<div class="weibo">
			<iframe width="100%" height="280" class="share_self" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=0&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1680691397&verifier=03e36e47&colors=f6f6f6,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
		</div>
  </div>
    <div class="clear"></div>
</div>
{% endblock %}
