{% set baseUrl = app.request.scheme ~'://' ~ app.request.httpHost %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
{% block title %}<title>基督时报新闻邮件</title>{% endblock %}
</head>

<body>
<style> td, th, tr { padding: 0; border: none; border-bottom: none; border-right: none; }
table {font-size: 1em; margin: 0; border: none; border-right: none; border:bottom: none;}
</style>
<div  style="background:#f7f9fa; font-family:simhei;">
	<table width="672" style="background-color:#fff; margin:0 auto; border:1px solid #e9e9e9;font-family:lucida Grande,Verdana,Microsoft YaHei;" border="0" cellspacing="0" cellpadding="0">
		<tbody>
		<tr id="header">
			<td align="center"><table width="660" style="background-color:#fff; margin-top:20px;" border="0" cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
						<td align="center"><table width="613" border="0" cellpadding="0" cellspacing="0" class="mwidth310" style="background-color: #fff;">
								<tbody>
								<tr>
									<td width="291" align="center" class="mwidth310"><a href="{{ url('home')}}" target="_blank"><img style="margin-left:45px; border:0;" src="{{ baseUrl }}/bundles/frontendweb/images/newsletter/logo.jpg" ></a></td>
									<td width="15" class="mhide"></td>
									<td width="289" class="mhide"><table width="247" style="background-color:#fff;" border="0" cellpadding="0" cellspacing="0">
											<tbody>
											<tr>
												<td width="106"><span style="text-decoration:none; color:#666;">{{ "now"|date("Y") }}/{{ "now"|date("m") }}第<span style="color:blue;">{{ issueNo }}</span>期</span></td>
												<td width="30"><a href="http://t.qq.com/fuyinshibao" target="_blank"><img style="border:0;" src="http://www.jidunet.cn/img/weibo.gif"/></a></td>
												<td width="37"><a href="" target="_blank"><img style="border:0;" src="http://www.jidunet.cn/img/weixin.gif"/></a></td>
												<td width="74">
													<a href=""><span style="text-decoration:none; color:#666;"><a style="color:#999; font-size:14px;" href="*|UNSUB|*">取消订阅</a></span></a>
												</td>
											</tr>
											</tbody>
									</table></td>
									<td width="18" class="mhide"></td>
								</tr>
								</tbody>
						</table></td>
					</tr>
					</tbody>
			</table></td>
		</tr>
		<tr id="menu">
			<td align="center">
				<table class="mwidth320" style="" border="0" cellpadding="0" cellspacing="0">
					<tbody>
					<tr>
						<td align="center">
							<table  align="center" width="620" height="45" style="margin-top:10px;margin-bottom:20px;background:#2c4062" border="0" cellspacing="0" cellpadding="0">
								<tbody>
								<tr border="0" cellspacing="0" cellpadding="0">	
									{% for menu in menus %}
									<td align="center"><a style="font-size:15px;font-weight:600;color:#fff;text-decoration: none;" href="{{ baseUrl ~ path('section', {section: menu.slug}) }}">{{ menu.name }}</a></td>
									{% endfor %}
									<td align="center"><a style="font-size:15px;font-weight:600;color:#fff;text-decoration: none;" href="{{ baseUrl ~ path('topics') }}">专题</a></td>
								</tr>
								</tbody>
							</table>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<div class="clear" style="clear:both;"></div>
		{% block content %}
		{% endblock %}
<tr>
	<td align="center">
        <table width="660" style=" margin-bottom:15px;" border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td align="center"><table style="" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td align="center"><table width="660px" style=" border:1px solid #f7f7f7; border-left:none; border-right:none; background:#fafafa;" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													<td width="300" border="0" style="margin-right:20px; padding-left:19px; padding-top:19px; padding-bottom:19px; margin:0;">
														<a href="http://shop109191459.taobao.com/"><img style="border:0;" src="{{ baseUrl ~ asset("bundles/frontendweb/images/nasale.gif") }}"/></a>
														</a>
													</td>
													<td width="300" border="0" style="margin-right:20px; padding-top:19px; padding-bottom:19px; margin:0;">
													<a href="http://fuyinshidai.com/church-show.html"><img style="border:0;" src="{{ baseUrl ~ asset("bundles/frontendweb/images/church.jpg") }}"/></a>
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table></td>
				</tr>
			</tbody>
        </table>
	</td>
</tr>
<tr id="footer">
	<td align="center"><table width="660" style="" border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td align="center"><table width="660" style="" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td></td>
									<td><p style="color:#666; font-size:14px; float:right;">京ICP备07014451号-3 | 京公网安备11010502025428 © 基督时报版权所有</p></td>
								</tr>
								<tr>
									<td height="20"></td>
								</tr>
							</tbody>
						</table></td>
				</tr>
			</tbody>
        </table></td>
</tr>
		</tbody>
	</table>
</div>
</body>
</html>
