{% set baseUrl = app.request.scheme ~'://' ~ app.request.httpHost %}
{% extends 'GospelNewsletterBundle:Template:newsletter.layout.html.twig' %}
{% block title %}<title>基督时报{{ "now"|date("Y年m月d日") }}最新资讯</title>{% endblock %}

{% block content %}
			<tr>
				<td align="center">
					<table width="620" style="border-bottom:1px solid #f2f2f2; padding-bottom:20px;" border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td align="center"><table class="mwidth300" style="" border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td align="center"><table width="620px" class="mwidth262" style="" border="0" cellpadding="0" cellspacing="0">
														<tbody>
															<tr>
																{% for row in headlines %}
																{% set filter_name = '460x336_watermark' %}
																<td width="300" border="0">
																	<a style="text-decoration:none; color:#000;" data-href-{{ loop.index }} href="{{ baseUrl ~ path('news_show', {slug: row.title, id: row.id}) }}">

																		{% if row.cover %}
																		<img style=" {% if loop.index == 1 %}margin-right:20px;{% endif %} border:0; margin-top:20px;" width="300" height="200" alt="{{ row.cover.caption}}" data-img-{{loop.index}} src="{{ baseUrl ~ asset(row.coverPath)|imagine_filter(filter_name) }}" />
																		{% endif %}
																		<h1 cellspacing="0" style="margin-bottom:5px; width:300px; font-size:16px; line-height:22px; color:#333; font-weight:bold; height:44px;overflow:hidden;" data-title-{{loop.index}}>{{ row.title }}</h1>
																	</a>
																	<p style="font-size:12px; margin:0; width:300px; color:#666; line-height:20px; height:60px; overflow:hidden;"data-desc-{{loop.index}}>{{ row.introduction }}</p>
																</td>
																{% endfor %}
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td align="center">
					<table width="620" style="" border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td align="center"><table border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td align="center"><table width="620px"  style="margin-bottom:20px;" border="0" cellpadding="0" cellspacing="0">
														<tbody>
															<tr><h1 style="color:#333; font-size:16px; float:left; border-left:3px solid #2c4062; padding-left:10px;" >精彩资讯</h1></tr>
											<tr>
												{% for row in newslist1 %}
												<td width="150" border="0" style="{% if loop.index != 4 %}padding-right:20px;{% endif %} margin:0;">
													<a style="text-decoration:none; color:#000;" href="{{ baseUrl ~ path('news_show', {slug: row.title, id: row.id}) }}">
														{% if row.cover %}
														<img style="border:0;" src="{{ baseUrl ~ asset(row.coverPath)|imagine_filter('150x99') }}"/>
														{% endif %}
														<h1 cellspacing="0" style="font-size:12px; margin-bottom:5px; color:#333; font-weight:bold; line-height:18px;height:36px;overflow:hidden;">{{ row.title }}</h1>
													</a>
												</td>
												{% endfor %}
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table></td>
            </tr>
		</tbody>
	</table>
</td>
</tr>
<tr>
	<td align="center">
        <table width="620" style=" margin-bottom:20px;" border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td align="center"><table style="" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td align="center"><table width="620px"  style="" border="0" cellpadding="0" cellspacing="0">
											<tbody>
												<tr>
													{% for row in newslist2 %}
													<td width="150" border="0" style="{% if loop.index != 4 %}padding-right:20px;{% endif %} margin:0;">
														<a style="text-decoration:none; color:#000;" href="{{ baseUrl ~ path('news_show', {slug: 'title', id: row.id}) }}">
															{% if row.cover %}
															<img style="border:0;" src="{{ baseUrl ~ asset(row.coverPath)|imagine_filter('150x99') }}"/>
															{% endif %}
															<h1 cellspacing="0" style="font-size:12px; margin-bottom:5px; color:#333; font-weight:bold; line-height:18px;height:36px;overflow:hidden;">{{ row.title }}</h1>
														</a>
													</td>
													{% endfor %}
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table></td>
				</tr>
			</tbody>
        </table>
	</td>
</tr>
{% endblock %}
