{% extends '::backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="{{ path('gospel_newsletter_template_index') }}">分类</a></li>
{% endblock %}

{% block body -%}
  <div class="content">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newsletter_template.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ newsletter_template.title }}</td>
            </tr>
            <tr>
                <th>内容</th>
                <td>{{ newsletter_template.body|raw }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ newsletter_template.createdTime|date('Y-m-d H:m:s') }}</td>
            </tr>
            <tr>
                <th>开始发送时间</th>
                <td>{{ newsletter_template.scheduledTime|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>
  </div>
<div class="form-actions form-wrapper" id="edit-actions">
<a  id="" name="op" href="{{ path('gospel_newsletter_template_update', {id: newsletter_template.id}) }}" class="button button-primary form-submit">修改</a>
<a  id="" name="op" href="{{ path('gospel_newsletter_template_index') }}" class="button form-submit">返回</a>
</div>

{% endblock %}
