{% set baseUrl = app.request.scheme ~'://' ~ app.request.httpHost %}
{% extends 'GospelNewsletterBundle:Template:newsletter.layout.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_topic, path_topic %}
{% block title %}
<title>基督时报一周话题{{ "now"|date("Y年m月d日") }}</title>
{% endblock %}

{% block content %}

				<tr align="center"><td><a href="{{ baseUrl ~ path('topic', {id: topic.id, slug: topic.title|slugfy }) }}"><img style="border:0; width:630px;" src="{{ baseUrl ~ asset(topic.topicBannerWebPath)  }}" width="630"/></a></td></tr>
			<tr>
				<td align="center">
					<table width="630" style=" margin-top:12px;" border="0" cellpadding="0" cellspacing="0">
						<tbody>
						<tr>
							<td align="left"><table style="" border="0" cellpadding="0" cellspacing="0" >
									<tbody>
									<tr>
										<td border="0" cellpadding="0" cellspacing="0"><span style="color:#fff; background:#cc0000; font-size:16px; padding:3px 8px; margin-right:20px;">第{{ topic.id }}期</span></td>
										<td border="0" cellpadding="0" cellspacing="0"><p style="color:#333; font-size:18px; float:left; font-weight:bold; margin:0; ">{{ topic.title }}</p></td>
									</tr>
									</tbody>
							</table></td>
						</tr>
						<div class="clear" style="clear:both;"></div>
						</tbody>
					</table>
				</td>
			</tr>
			<tr id="duanluo">
				<td align="center">
					<table border="0" cellpadding="0" cellspacing="0" width="630"> 
						<tbody>
						<tr><div style="text-align:left; width:580px; padding:18px 24px; border:1px solid #e9e9e9;  font-size:14px; color:#333; line-height:24px; margin-top:12px;" >{{ topic.content|raw }}</div></tr>
						</tbody>
					</table>
				</td>
			</tr>
			{% for row in topic.posts %}
			<tr>
				<td align="center">
					<table width="630" align="center" style="background:url({{ baseUrl ~ asset("bundles/frontendweb/images/line-bt.gif") }}) repeat-x bottom; padding-bottom:15px; margin-bottom:15px;" border="0" cellpadding="0" cellspacing="0">
						<tbody>
						<tr>
							<td><table style=" " border="0" cellpadding="0" cellspacing="0">
									<tbody>
									<tr>
										<td align="center"><table style=" margin-bottom:15px;padding-bottom:15px;" border="0" cellpadding="0" cellspacing="0">
												<tbody>
												<tr>
													<td border="0">
														<a target="_blank" style="text-decoration:none; color:#000;" href="{{ baseUrl ~ path('news_show', {slug: row.post.title, id: row.post.id}) }}">
															<h1 cellspacing="0" style="font-size:18px; overflow:hidden; line-height:22px; color:#333; font-weight:bold; text-align:left;">{{ row.post.title }}</h1>
														</a>
														<p style="font-size:14px; margin:0; height:63px; overflow:hidden;  color:#333; line-height:22px; text-align:left; margin-right:30px;">{{ row.post.introduction }}</p>
													</td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
									</tbody>
							</table></td>
							<td border="0">
								{% if row.post.cover %}
								<a target="_blank" href="{{ baseUrl ~ path('news_show', {slug: row.post.title, id: row.post.id}) }}">
									<img style="border:0;" src="{{ baseUrl ~ asset(row.post.coverPath)|imagine_filter('150x99') }}"/>
								</a>
								{% endif %}
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			{% endfor %}
{% endblock %}
