{% extends '::backend.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block header %}
{% endblock %}
{% block breadcrumb %}
	<li><a href="{{ path('gospel_newsletter_template_index') }}">分类</a></li>
{% endblock %}
{% block body -%}

    
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix"></div>
                          <div class="region region-content">
    <div class="block block-system" id="block-content">
  
    
  <div class="content">
	  {{ form_start(form) }}
	  <table class="table table-hover table-bordered">
    {{ form_rest(form) }}
	  </table>


        <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="button button-primary form-submit"><a  id="" name="op" href="{{ path('gospel_newsletter_template_index') }}" class="button form-submit">返回</a></div>
{{ form_end(form) }}
  </div>
  预览：
  <hr/>
	  {{ newsletterTemplate.body|raw }}
</div>

  </div>


    <footer id="footer" role="contentinfo">
      
    </footer>


{% endblock %}
