@charset "utf-8";
/* CSS Document */
.bn-christmas{ width:100%;}
.constrain-left{ width:63.636363%; float:left; margin-top:1.75rem;}
.tittle-up{float:left;}
.up-left{ width:48.5714%; float:left;}
.up-left img{ width:100%; }
.up-left h1{ margin-top:17px;}
.up-left a{ color:#181818;}
.up-left p{ line-height:24px; margin-top:7px;}
.up-right{ width:48.5714%; float:right; }
.article-up { margin-bottom:35px;}
.article-up a{ color:#181818;}
.article1 { margin-bottom:35px;}
.article-up h2{ color:#181818; margin-top:10px;}
.article-up p{ color:#666; font-family:宋体; margin-top:9px;}
.article1 h2{ color:#181818; margin-top:10px;}
.article1 p{ color:#666; font-family:宋体; margin-top:9px;}
.article1 a{ color:#181818;}
.tow-colum{ margin-top:36px; width:48.5714%;}
.tittle-sub{ width:48.5714%; margin-top:36px; float:right; }
.towc-list-b li a{ line-height:21px; color:#036; font-family:宋体; font-weight:100;}
.tittle-sub p{ color:#666; line-height:18px;}
.article-in{ width:91.7647%; margin-left:15px;}
.article-in a{color:#181818;}
.constrain-right{ width:34.5454%; float:right; margin-top:1.75rem;}
.towc-list-b a{ line-height:12px;}
.tittle-sub p{ margin-top:12px;}
.tittle-sub h2{ margin-top:6px;}
.bianji li{float:left; width:22.8581%; margin-right:2.855%;}
.bianji li p{ font-size:15px; font-size:0.9375rem; font-family:微软雅黑; font-weight:bold; }
.bianji li p{ margin-top:16px;}
.bianji li a{ color:#181818; }
.bianji li:last-child{ margin-right:0;}
.tc-h clearfix img{ width:125px;}
.tc-h clearfix  a{ width:58.8235%;}
.towc-list-b li{ line-height:21px;}
.read p{ color:#666; width:89.4736%; margin-left:20px; margin-right:20px; margin-bottom:10px; }
.read{ background-color:#f6f6f6; padding-bottom:80px; margin-bottom:20px;}
.read img{ margin-top:16px; margin-bottom:16px; margin-left:20px;}
.wenzi{ background:url(../images/bg.gif) repeat-x bottom; padding-bottom:10px;}
.xiangxi{ color:#C00; margin-top:20px;}
.jieqi{ margin-top:10px;}
.jieqi li{ font-weight:bold;  font-family:微软雅黑; float:left; padding: 0 15px;
line-height: 30px; text-align:center;}
.jieqi li a{ color:#cc0000;}
.video1 h2{ margin-top:16px; margin-bottom:16px;}
.arrangement{ margin-top:20px; background:#F6F6F6; padding-bottom:30px;}
.arrangement li { padding-bottom:10px; line-height:24px; font-family:宋体; background:url(../images/bgs.gif) no-repeat; background-position:14px -264px; padding-left:35px;}
.arrangement li a{ color:#036;}
.weibo{ margin-top:20px;}



/*字体*/
.up-left h1{ font-size:24px; font-size:1.5rem;}
.up-left p, .towc-list-b a, .arrangement li { font-size:14px; font-size:0.875rem; }
.article-up p, .article1 p, .tittle-sub p, .read p, .xiangxi, .video1 p{  font-size:13px; font-size:0.8125rem;}
.article-up h2{ font-size:18px; font-size:1.125rem;}
.article1 h2, .tow-colum h1, .tittle-sub h2, .jieqi li, .video1 h2{ font-size:15px; font-size:0.9375rem;}
.bianji img{ max-width: 100%; width: 100%; height: auto;}
.tittle-sub img{ max-width: 100%; width: 100%; height: auto;}
