@charset "utf-8";
/* CSS Document */
body{line-height:1.25em;}
.constrain{ max-width:1180px; margin:0 auto; padding:0 15px;}
.con-lm{ width:66.1%; padding-right:1.7%; border-right:1px solid #ccc;}
.con-l{ width:58.97%; float:left;}
.con-m{ width:38.46%; float:right;}
.con-r{ width:30.42%;}

.topnews-two{ margin-bottom:1em;}
.top-headline{ margin-bottom:1.3em;}
.top-headline p{ color:#666; line-height:1.5em;}
.ttwo-s{ width:47.82%;}
.ttwo-s h2, .tthree-s h2{padding:0.5em 0 0.4em 0;}
.dh-group{ padding:0 10px; margin-bottom:35px;}
.dh-group p{ color:#666; padding:10px 0;}
.dh-group li{ margin-bottom:5px; background-position:-238px 8px; padding-left:15px;}
.c-church .dh-group{ margin-bottom:10px;}
.dh-group img{ margin-bottom:10px;}
.top-list{ border-top:1px solid #ccc; padding:30px 0;}
.top-list li{background-position:-238px 8px; padding-left:15px; margin-bottom:10px;}
.bn-l{ margin-bottom:20px; text-align: center; background: #f6f7f9; padding: 10px 0;}
.colum-th > li{width:31.538%; padding-right:2.69%; float:left; margin-bottom:20px;}
.colum-th li:nth-child(3n){ padding-right:0;}
.colum-th li:nth-child(3n+1){ clear:both;}
.cth-normal li{ border-top:1px solid #ccc; padding:5px 0;}
.cth-normal li:first-child{ border-top:none; font-size:0.875em; padding-bottom:10px;}
.version-special li{border-top:1px solid #ccc; padding:10px 0;}
.version-special li:first-child{border-top:none; font-size:0.9375em; padding-bottom:10px; padding-top:0;}
.version-special h1{ margin-top:10px;}
.tthree-s{ width:30.43%; float:left; padding-right:4.347%;}
.tthree-s:nth-child(3n+2){ padding-right:0;}
.special{ background:#f6f7f9; padding-bottom:20px; margin-bottom:20px;}
h2.menu-s{ font-size:0.9375em;}
.s-group{ background:#fff; margin:0 10px 20px 10px;}
.s-group img{ float:right; padding-right:10px; padding-bottom:20px;}
.s-group p{ padding:3px 10px 20px 10px; line-height:1.5em;}
.s-group:last-child{ margin-bottom:0;}
.version-title{ background:url(../images/bg-line.gif) repeat-x 0 15px; text-align:center; margin:20px 0 10px 0;}
.version-title span{background:#fff; padding:0 20px;}
.shendu, .gonggao, .meiti{ margin-bottom:30px;}
.shendu li, .gonggao li, .meiti li, .a-top li{background-position:-238px 8px; padding-left:15px; margin-bottom:10px;}
.bn-aside, .bn-aside-b{ background:#f6f7f9; padding-top:13px; padding-bottom:13px; text-align:center; margin-bottom:10px;}
.video-film, .zhuanti, .guandian, .remen, .sub-remen, .diqu-list, .a-photonews{margin-bottom:25px;}
.video-head h1{ margin:10px 0 20px 0;}
.video-s{ width:30.36%; float:left; padding-right:4.456%;}
.video-s:nth-child(3n+2){ padding-right:0;}
.video-s p{ margin-top:5px;}
.zhuanti-head{ border-bottom:1px solid #ccc; margin-bottom:10px;}
.zhuanti-head h1{ margin:10px 0;}
.zhuanti ul{ width:47.91%;}
.zhuanti li{ margin-top:8px;}
.gd-group li{ padding-bottom:15px; border-bottom:1px solid #ccc; margin-bottom:15px;}
.gd-group li:last-child{ border-bottom:none; padding-bottom:0px; margin-bottom:0px;}
.gd-group img{ float:right; margin:0 0 15px 15px;}
.gd-group h1{ margin:5px 0 10px 0;}
.gd-group p{ color:#666;}
.remen-num{ float:left; width:25px; font-size:1em; font-weight:bold; color:#dc0000; margin-bottom:10px;}
.remen li, .sub-remen li{ border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:10px;}
.remen li:last-child, .sub-remen li:last-child{ border-bottom:none; margin-bottom:0px;}
#bottom{ margin-top:50px; padding-bottom:20px;}
.bn-bottom{ border-top:1px solid #ccc; text-align:center; padding:10px 0; border-bottom:3px solid #00297b;}
.b-menu{ border-bottom:1px solid #ccc; height:40px; line-height:40px;width: 100%;display: table;}
.b-menu li{display: table-cell;text-align: center;font-size: 0.875em;}
.logo-b{ float:left; margin-top:20px;}
.copyright{ float:right; text-align:right;margin-top:15px; font-size:0.75em;}

/*公用*/
.bn-l img{max-width:100%; height:auto;}
.red14, .red14 a{ font-size:0.875em; color:#dc0000;}
.header-bottom p, .form-search, .dh-group p, .video-s p, .zhuanti li, .gd-group p, .section-list p, .section-list-special p, .zt-group p{font-size:0.8125em; line-height:18px;}
h1.menu-c, h1.menu-m, .menu-tab h1{ font-size:1em; padding-bottom:10px;}
.top-headline h1, .sub-topnews h1, .a-header h1, .zt-topnews h1{ font-size:1.5em; padding:0.5em 0 0.4em 0;}
.dh-group h1, .version-title h1, .section-list h1, .section-list-special h1, .zuojia-info h1, .a-style-smallimg h2, .a-style-bigimg h2, .zhuanti-list h1{ font-size:1.125em;}
.top-headline p, .dh-group li, .top-list li, .s-group p, .version-special li, .shendu li, .zhuanti-head h1, .gd-group h1, .remen li, .sub-remen li, .meiti li, .gonggao li, .sub-nav li, .section-list h2, .section-list-special h2, .sub-topnews p, .zt-group p.zhuanlan-name, .zuojia-list p, .zuojia-info p, .bt-print, .shengming h1, .a-related li, .a-top li, .diqu-list li, .zt-topnews p, .zhuanti-list h2{ font-size:0.875em;}
.ttwo-s h2, .dh-group h2, .tthree-s h2, .version-special h1, .video-head h1, .zt-group h1, .a-top h2{ font-size:15px; line-height:1.25em;}
.cth-normal li, .ah-sub, .captive, .shengming p, .a-photonews li, .zhuanti-list p{ font-size:0.75em; line-height:1.5em;}
h1.section-title{ font-size:1.625em;}

.commonuse{ max-width:650px; border-top:13px solid #2c4062; background:#fff; margin:0 auto;}
.ngdialog-open .ngdialog.ngdialog-theme-default .ngdialog-content { background: none;width:45%; }
.ngdialog-open .ngdialog.ngdialog-theme-default .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 100px;
  top: 43px;
  background: url(/bundles/frontendweb/images/closegray.png) no-repeat;
  width: 32px;
  height: 32px;
  transition: background-image 0.5s ease-in-out;
}
.common_in{ padding:5.6%;}
.d1 h1{ font-size:36px; color:#2c4062; font-weight:bold; margin-bottom:40px;text-align: center;}

.checkon form{ font-size:18px; font-weight:bold; color:#000000;}
.checkon p{ font-size:14px; line-height:20px; padding-top:7px; padding-left:20px;}
.checkon{ margin-bottom:24px; float:left; width:50%;}

.input_e_{ border:none; background:#eeeeee; font-size:12px; font-family:"微软雅黑"; padding-right:2.4%; padding-left:2.4%; width:45%; height:37px; float:left; margin-right:14px;}
.input_b{ height:39px; border:none; width:25%; background:#2c4062; color:#fff; font-size:18px; font-family:"微软雅黑"; cursor:pointer;}
.d3 p{ font-size:12px; color:#868686; padding-top:12px;}
