@charset "utf-8";
/* CSS Document */
h1.guide-section{ color:#cc0000; font-size:1.25em;}
.guide-section a{color:#cc0000;}

.guide{ height:50px;}
.guide-section{ float:left; line-height:50px;}
.guide-links{ float:right; text-align:right; line-height:50px;}
.sec-top{ margin-bottom:30px;}
.st-img{ width:48.57%; float:left;}
.st-texts{ width:48.57%; float:right;}
.st-texts h1{ margin-top:0;}
.st-texts ul, .clt-top ul{ margin-top:0.7em;}
.st-texts li, .clt-top li{ line-height:1.3; padding:5px 0 4px 20px; background-position:0 -198px;}
.tow-colum{ width:48.57%; margin-bottom:40px;}
.tc-h h1{ margin-bottom:0.7em;}
.tc-h img, .ztd-a img{ float:left; padding-right:1em;}
.tc-h p{color:#666;font-weight: normal;font-family: simsun;}
.towc-list-b li{ border-top:1px solid #ccc; padding-top:0.9em; margin-top:0.9em; font-weight:900; font-family:"微软雅黑";}
.towc-list li{border-bottom:1px solid #ccc; padding-bottom:0.6em; margin-bottom:0.6em;}
.towc-list li:last-child{ border-bottom:none;padding-bottom:0;}
.cl-two{ width:48.57%;}
.clt-top{ margin-bottom:30px;}
.one-colum{ width:100%; margin-bottom:30px;}
.bb-m{ border-bottom:1px solid #ccc; padding-bottom:0.7em; margin-bottom:0.7em;}
.bb-m:last-child{ border-bottom:none;}
.author li{ width:20%; margin-right:6.5%; float:left; text-align:center; margin-bottom:0.7em;}
.author li:nth-child(4n){ margin-right:0;}
.author img{ margin-bottom:0.3em;}
.zhuanti-num, .zhuanti-num-r, .zhuanti-num-d{ background:#cc0000; width:140px; height:20px; line-height:20px; color:#fff; text-align:center; font-size:0.9375em; font-family:"微软雅黑"; font-weight:900;}
.zl-top { margin-bottom:0.9em;}
.zl-top header{ float:left; margin-right:1em; width:140px;}
.zl-top h1, .ztd-a h1{font-size:16px; font-size:1rem; padding-top:8px;}
.zhuanti-num-r{ margin:0 0 0 156px;}
.zl-top p, .ztd-a p{ color:#666; margin-top:0.7em;}
.zhuanti-list{ border-top:1px solid #ccc; padding-top:30px;}
.page { font-family:"微软雅黑"; padding-top:30px;}
.page .on, .page a{ display:block; height:38px; line-height:38px; border:1px solid #ccc; text-align:center; padding:0 0.7em; float:left; margin-right:10px; font-size:1.18em; font-weight:900; color:#181818;}
.page a:hover{ border:1px solid #cc0000; text-decoration:none;}
.page .on{ background:#cc0000; border-color:#cc0000; color:#fff;}
.page span{ float:left; margin-right:10px; line-height:38px;}
.zd-title{ margin-top:1.5em; height:50px;}
.zd-summary{ border:1px solid #ccc; padding:25px 20px 20px 20px; margin-bottom:1.5em;}
.zd-summary p{ margin-bottom:1.3em;}
.ztd-a{ padding-bottom:0.7em; border-bottom:1px solid #ccc; margin-bottom:0.7em;}
.zhuanti-num-d{margin-top:3px; margin-right:15px; float:left;}
.lanmu{ padding-top:20px; border-top:3px solid #ccc;}
.rss-bts{ position:absolute; right:0; top:3px;}
.rss-bts input{ height:30px; padding:0 15px; margin-left:10px;color:#fff; font-family:"微软雅黑"; font-weight:900; border:none;}
.xml{ background:#ff4f14; }
.xml:hover{ background:#ed470f;}
.rss-share{background:#cc0000;}
.rss-share:hover{ background:#b71818;}

.other-topic{ margin-top:30px;}

.article{ border-top:3px solid #ccc;}
.ah-sub{ color:#666;}
.ah-sub span{ padding-right:20px;}
.bt-print{ float:left; width:90px; padding-left:15px; height:35px; line-height:35px; border:none; font-weight:900; background:#ececec url(../images/icons.png) no-repeat 55px -143px; text-align:left; font-family:"微软雅黑"; margin-right:15px;}
.a-header{ margin-bottom:25px;}
.ah-share{ margin-top:5px;}
.ah-icons{ }
.bt-print{ margin-top:5px;}
.ass-img{ float:left; margin-right:20px; clear:left; width:220px; margin-bottom:20px;}
.a-image-s{ position:relative;}
.image-zoom{ width:41px; height:41px; background:url(../images/icons.png) no-repeat 0 -190px; position:absolute; bottom:10px; right:10px;}
.image-zoom a{ display:block; width:100%; height:100%;}
.captive{ background:#f6f6f6; border-bottom:3px solid #ccc; padding:10px 15px;}
.a-style-smallimg{ padding-bottom:0px;}
.a-style-smallimg p{ font-size:1em; line-height:1.625; padding:0 0 30px 80px;}
.a-style-smallimg h2{ padding-left:80px;}
.ar-title{ border-top:1px solid #ccc;height:32px; padding-top:10px;}
.ar-top{ margin-bottom:1em;}
.ar-top img{ float:left; margin-right:15px;}
.ar-top p{ color:#666; margin-top:0.7em;}
.ar-list li{ font-weight:900; line-height:1.5; margin-bottom:0.3em; background-position:0 -10px; padding-left:1em;font-family:"微软雅黑";}
.ass-share{ background:#f6f6f6; border-bottom:3px solid #ccc; padding:10px; margin-top:2.5em;}
.shengming{ border:1px solid #ccc; background:#f6f6f6; margin:1em 0 ; padding:1em 1em 0.5em 1em;}
.shengming h1{ margin-bottom:0.5em;}
.shengming p{ margin-bottom:1em;}
.a-style-bigimg{ padding-right:80px;}
.asb-img{ position:relative; margin-bottom:30px; max-width:620px; background:#f9f9f9;}
asb-img ul{ width:100%;}
.asb-img-ie6{width:620px;}
.asb-img-ie6 li{ margin-bottom:20px;}
.asbi-group{ float:left;}
.asb-next, .asb-prev{ position:absolute; top:170px; width:76px; height:86px; background:url(../images/icons.png) no-repeat; cursor:pointer; z-index:100;}
.asb-next{ right:0; background-position:0 -232px;}
.asb-prev{ left:0; background-position:0 -319px;}
.a-style-bigimg p{font-size:1em; line-height:1.625; padding-bottom:30px;}
.stv-head{ width:54.285%; float:left;}
.stv-img{position:relative; margin-bottom:0.5em;}
.play-video{ position:absolute; bottom:20px; left:20px; width:86px; height:86px; background:url(../images/icons.png) no-repeat 0 -406px;}
.play-video a, .play-video-s a{ display:block; width:100%; height:100%;}
.st-video{ width:45.715%; float:left;}
.st-video li{ float:left; width:43.75%; padding-left:6.25%; line-height:1.4; margin-bottom:1.2em;}
.st-video li:nth-child(3n){ clear:both;}
.st-video p, .vc-detail p{ margin-top:0.4em;}
.recommend-video{ margin-bottom:30px;}
.play-video-s{ position:absolute; bottom:10px; left:10px; width:61px; height:61px; background:url(../images/icons.png) no-repeat 0 -491px;}
.rv-h{width:54.285%; float:left;}
.rvh-img{ float:left; width:180px; position:relative; margin-right:15px;}
.rv-h p{ color:#666; margin-top:0.5em;}
.vc-menu{ width:8.14%; border-left:3px solid #ccc; float:left; padding-top:15px;}
.vc-menu li{ text-align:center; padding:1em 0; border-top:1px solid #ccc; font-weight:900;font-family:"微软雅黑";}
li.vcm-current{ background:#cc0000; color:#fff; border-top:1px solid #cc0000;}
li.vcm-current a{ color: #fff;}
.vc-detail{ width:88.57%; float:right; border-top:3px solid #ccc; padding-top:15px;}
.vc-detail li{ width:22.58%; float:left; margin-right:3.22%; line-height:1.2; margin-bottom:1.5em;}
.vc-detail li:nth-child(4n){ margin-right:0;}
.vc-detail li:nth-child(4n+1){ clear:both;}
.most-video ul{ padding:0 15px;}
.most-video li{ line-height:1.5; margin:0.7em 0; font-weight:900;font-family:"微软雅黑"; position:relative;}
.mv-first{ border-bottom:1px solid #ccc;}
.mv-first img{ float:right; margin-left:0.5em;}
.mv-first p{ padding:1em 0 0 1.8em;}
.vr-num{ position:absolute; left:0; top:0.45em;color:#cc0000; font-size:1.5em;}
.most-video li.mv-first{ margin-top:0;}
.red-num{color:#cc0000; }
.video-detail h1{ margin-top:0;}
.video-detail p{ padding:1em 0;}
.vr-list li{ width:22.85%; padding-right:2.85%; float:left; margin-bottom:1em;}
.vr-list li:nth-child(4n){ padding-right:0;}
.vr-list li:nth-child(4n+1){ clear:left;}
.vr-list h2{ margin:0.6em 0;}
.video-related{ margin:2em 0;}
/*文章页图片滚动*/
.asb-img .slides > li {display: none; text-align:center;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-direction-nav li a {position:absolute; top:37%; width:76px; height:86px; background:url(../images/icons.png) no-repeat; cursor:pointer; z-index:100; font-size:0; text-indent:-9999;}
.flex-direction-nav li .next {right:0; background-position:0 -232px;}
.flex-direction-nav li .prev {left:0; background-position:0 -319px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
/*文章页图片滚动 Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -25px; text-align: center; z-index:100; display:none;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 10px; height: 10px; display: block; background:url(../images/bg_control_nav.png) no-repeat 0 0; background-size:10px 30px; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -10px;}
.flex-control-nav li a.active {background-position: 0 -20px; cursor: default;}
.page ul, .page ol{ list-style:none;}

.site-map, .site-links{ border-top:3px solid #cccccc;}
.map-manu{ margin-bottom:20px;}
.map-manu li{ float:left; padding:7px 20px;color:#333; font-weight:bold; margin-right:15px; background:#f6f6f6;}
.map-manu li:hover {cursor: pointer;}
.map-manu li.current{ background:#ff4f14;color:#fff;}
.map-group{ margin-bottom:30px;}
h1.mg-title{ font-family:"微软雅黑";font-size: 1em;}
.menu-map{ color:#cc0000; padding-top:13px;}
.menu-map a{background-position:right -375px;padding-right:45px;}
.menu-map a:hover{color:#990000; text-decoration:none;}
.map-group ul{ margin-top:10px;}
.map-group li{ float:left; padding-right:25px; line-height:1.5em;}
.site-links{ padding-top:15px;}
.site-links ul{ margin-bottom:20px;}
.site-links li{ float:left; padding:10px 15px 5px 0;}

.bn-qiye-sub{ margin-top:20px;}
.bn-qiye-sub li{ width:17.1428%; padding-right:3.57%; float:left; text-align:center;}
.bn-qiye-sub li:last-child{ padding-right:0;}
.bn-qiye-sub li img{ margin-bottom:5px;}
.bn-qiye-sub a {color: #333;}
.zd-img{background: #333; text-align: center;}
.mb30{ margin-bottom:30px;}
.lang-switcher {background: #cc0000;
color: white;
border: 1px solid #ccc;
padding: 3px;
}
