/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */

* {margin:0px; padding:0px;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }
ol, ul { list-style: none; }
a { text-decoration: none; color:#071c45;}
a:hover { text-decoration: underline; }
.left { float:left; }
.right { float:right; }
.clear { clear:both; }
.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
}
.table { display: table; }
.tablerow { display: table-row; }
.tablecell { display: table-cell; *display:inline; *vertical-align: top; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
font-weight:900;
line-height:1.3;
font-family:"Microsoft YaHei",Helvetica, sans-serif; 
}
h1 { font-size: 2em; margin: 0.67em 0; }
h2 { font-size: 1.5em; margin: 0.83em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.75em; margin: 2.33em 0; }

input,textarea{font-family:simsun, Helvetica, sans-serif; font-size:0.8125em;}

input:-moz-placeholder { color: #999; }
::-webkit-input-placeholder { color:#999; }
/*-----------------------------------*/

.black_overlay {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }
.video-film embed,.video-film object,.video-film iframe {width: 100%;height: auto;}

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; max-width:100%;}

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: middle; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */







/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@charset "utf-8";
/* CSS Document */
/* nav-start */
.bod{ font-weight:700;}
.auto{margin:0 auto;max-width:1220px; padding:0 20px;}
.title{border-bottom:2px solid #333; margin-bottom:15px;}
.lt{ float:left;}
.rt{ float:right;}
.pr{ position:relative;}
.pa{ position:absolute;}
body a{ color:#333;}
.l-header-top-wapper{ background:#2c4062; border-top:5px solid #181f29;}
.l-header-bottom-wapper{background:#f3f3f3 url(../images/head-bt.gif) repeat-x bottom; margin-bottom:21px;}
.l-header-lt a{ display:block; float:left}
.l-header-lt{ margin-top:18px;}
.l-header-lt .l-scripture{ margin-left:22px;color:#b4b4b4; margin-top:4px;}
.l-header-content{ height:80px;}
.l-header-rt{ margin-top:21px; height:31px;line-height:31px;}
.l-header-rt .region{display:inline-block; position:relative;}
.region-more{ position:absolute; top:30px; left:-10px;border: 1px solid hsl(0, 0%, 80%);border-bottom: 3px solid hsl(0, 0%, 80%); z-index:60;}
.region-more ul{width: 78px;z-index: 10;background: hsl(220, 20%, 97%);}
.region-more ul li{ height: 30px;line-height: 30px; text-align:center;border-bottom: 1px solid hsl(0, 0%, 80%);}
a.ht-ocity:hover{ text-decoration:none;}
.l-header-rt .region i{position: relative;top:-3px;border: solid 1px hsla(0, 0%, 0%, 0);border-width: 5px 3px 0;_border-color: #000;_filter: chroma(color=black);border-top-color: #cccccc;display: inline-block;margin-right: 2px;margin-left: 0px;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;}
.l-header-rt .region:hover i{transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);}
.l-two-jish { padding:8px 0px 9px 8px; border-radius:5px; background-color:#26374f; margin-right:13px;}
.l-two-jish .jidunet-rt{ border-right:1px solid #254269;padding-right:10px;}
.l-header-bottom{ height:48px; line-height:48px;}
.l-nav-list{ display:table; width:68%;}
.l-nav-list li{ height:48px; line-height:48px; display:table-cell; text-align:center; background:url(../images/nav-line.gif) no-repeat;background-position: right 18px;}
.l-nav-list li:last-child{ background:none;}
.l-nav-list li:first-child a{padding-left:0px;}
.l-nav-list li:last-child a{padding-right:0px; background:none; }
.l-fenxiang a{ display:inline-block;}
.l-fenxiang i{ width:26px; height:26px; display:block;margin-left: -1px;}
.l-fenxiang .weixin{ background:url(../images/weixin2.png) no-repeat;}
.l-fenxiang .qq{ background:url(../images/qzoon.png) no-repeat;}
.l-fenxiang .xinlang{ background: url(../images/sina1.png) no-repeat;}
.l-fenxiang a:hover .xinlang{ background: url(../images/sina2.png) no-repeat;}
.l-fenxiang a:hover .qq{ background: url(../images/qzoon2.png) no-repeat;}
.l-fenxiang a:hover .weixin{ background: url(../images/weixin1.png) no-repeat;}
.l-fenxiang a:hover .weixin,.l-fenxiang a:hover .qq,.l-fenxiang a:hover .xinlang,.l-fenxiang .xinlang,.l-fenxiang .qq,.l-fenxiang .weixin{-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;}
.l-fenxiang {height: 32px;}
.l-nav-search{ margin-top:9px;}
.form-search,.bt-search,.l-search-kuang{ height:28px;}
.l-search-kuang{ margin-right:10px; height:32px;}
.bt-search{ height:32px; width:43px; background:#999; border:none; color:#FFF; font-size:12px;}
.form-search{ border:2px solid #999; width:186px;padding-left: 10px;padding-right: 10px;}
.around-infor-cot li,.l-around-infor-list li{ float:left;}
.l-nav-phone,.l-header-bottom .l-ph-more{ display:none;}
.l-nav-show{ background: hsl(0, 0%, 99%);transition:all 0s ease 0s; -moz-transition:all 0s ease 0s; -webkit-transition:all 0s ease 0s;}
.l-nav-show li{ float:left;padding: 10px 15px 10px;}
.l-fenxiang-2 i{margin-right: 8px;}
.l-fenxiang-2{margin-top: 2px;}
/* nav-end */
/* content-star */
.l-first-ar h1{ line-height:1.21;}
.l-cnt-wapper-left{ width:820px;width:67.2%;}
.l-cnt-wapper-left .l-cnt-one{width:320px;width:39%; margin-right:20px; margin-right:2.5%;}
.l-cnt-one p{ line-height:1.667;}
.l-ar-list li{ padding-left:18px;background:url(../images/cicle.png) no-repeat 0px 7px;padding-bottom:15px;}
.l-ar-list-zhuan{ margin-top:18px;}
.l-ar-list-zhuan li{padding-bottom:12px;}
.l-first-ar h1{ margin-bottom:16px;}
.l-ar-two h1{margin-bottom:16px;padding-top:18px;}
.l-cnt-two{ width:58.5%;float:right;}
.l-cnt-one{ float:left;}
.l-cnt-one article p{ margin-bottom:13px;}
.l-bj-title{ background: url(../images/light-tltle.gif) repeat-x top;}
.l-lt-entry{border-top:1px solid #e2e2e2;}
.l-pd-20{ padding:20px 0px;}
.l-top{padding: 20px 0px 0px 0;}
.l-top h1,.l-top p{ margin-bottom:18px;}
.l-duan-p p{color:#666;margin-bottom:13px;}
.l-img-wai img{ margin-bottom:20px;}
.l-img-rt img{  margin:0 0 0 20px;}
.l-hd-title{ padding:28px 0 13px 0; margin-bottom:18px; background:url(../images/title-line.gif) repeat-x bottom;}
.l-around-list,.l-shendu-inner li{ width:31.5%; margin-right:2.72%; float:left;}
.l-around-infor-list .l-around-list:nth-child(3n),.l-shendu-inner li:nth-child(3n){margin-right:0%;}
.l-around-infor-list .l-around-list:nth-child(3n+1),.l-shendu-inner li:nth-child(3n+1){clear:both;}
.l-read-book{ margin-right:3%;}
.l-small-title{padding:10px 0 13px 0;}
.l-read-book-img img{ margin-right:20px;}
.l-zhuan-lan img{ margin:0 20px 20px 0;}
.l-zhuan-lan .l-name{padding:6px 0;}
.l-information{ display:table; width:100%; line-height:48px; height:48px; text-align:center;}
.l-information li{ display: table-cell; background:#f5f5f5; cursor:pointer;}
.l-in-title{ background:none; border-bottom:2px solid #434343; margin-bottom:0;}
.l-information .on{background:#434343; color:rgba(255,255,255,1);}
.l-cot-channel-rt{ margin-top:20px;}
.l-cot-channel-lt h1{ margin-top:18px;}
.l-list-six-img img{margin:0 20px 20px 0px;}
.around-infor-cot h2{padding:18px 0px; border-bottom:1px solid #e2e2e2;}
.around-infor-cot-2{ font-weight:400; margin-bottom:16px;}
.around-infor-cot-3{margin-bottom:0px;}
.l-around-list h1{padding-bottom:20px;}
.l-around-list-2 h1{ background: url(../images/light-tltle.gif) repeat-x bottom; }
.around-infor-cot li:last-child h2{ border-bottom:none;}
.l-cnt-wapper-right{ width:29%;}
.l-cnt-video h2,.l-ft-daily{ padding-bottom:20px; background:url(../images/light-tltle.gif) repeat-x bottom;}
.l-cnt-video h2,.l-ft-daily-1{margin-top:20px;}
.l-ft-daily-1 h2{ font-weight:600;}
.l-cnt-video .l-cnt-list h2 {background: none;margin-bottom: 0;margin-top: 0;font-size: 0.875em;}
.daily-first img,.l-ft-daily-1 img{margin:0 20px 0px 0px;}
.l-cnt-list li{ float:left; width:47%;}
.l-cnt-list-1{ margin-right:6%;}
.l-right-ph-pitcures{ clear:both;}
.l-video-img img{ margin:15px 0;}
.l-video-img{ position:relative;}
.l-cnt-list h2{ margin-bottom:28px;}
.l-cnt-imgs-wp h2{ padding:13px 15px;background:url(../images/light-tltle.gif) repeat-x bottom;}
.l-video-icon{ width:32px; height:32px; background: url(../images/l-video-icon.png) no-repeat; position:absolute; right:20px; bottom:35px;}
.l-cnt-news { line-height:39px; height:39px; padding:0 37px; background:#f4f4f4; border-top:2px solid #dddddd;border-bottom:1px solid #e2e2e2;}
.l-news-list li h3{font-weight:300;}
.l-news-list li img{margin-left:20px;}
.l-cnt-news-tab1 li{width: 49%;
text-align: center;}
.l-zhuan-lan p{ margin-top:5px;}
/*.l-on-tab{ background:#fff; border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;border-bottom:1px solid #fff;}*/
.l-cnt-right-news{border:1px solid #e2e2e2;margin-top:16px; margin-bottom:30px;}
.l-cnt-ar{padding:20px 20px 0 20px;}
.l-cnt-ar li{ margin-bottom:20px;}
.l-wonder-wapper{ background:#616978; padding-bottom:36px; padding-top:20px;margin-top: 35px;}
.l-wonder-inner h1{ margin-bottom:15px;}
.l-wonder-inner ul li{ float:left; width:18.8%; margin-right:1.5%; min-height:243px; background:#fff;}
.l-wonder-inner ul li:last-child{margin-right:0%;}
.l-wonder-inner ul h3{ padding:18px; background:#fff; clear:both;}
/*footer-start*/
.b-menu{ border-bottom:1px solid #ccc; height:50px;line-height:50px;width: 100%;display: table;}
.b-menu li{display:table-cell;text-align: center;font-size: 0.875em;}
.logo-b{ float:left; margin:20px 0;}
.copyright{ float:right;text-align:right;margin-top:15px; font-size:0.75em;}
.logo-b p{ margin-top:10px; margin-bottom:6px;}
/*footer-end*/
/*广告代码-start*/
.cycle-banner-wrapper {padding-left: 25px;}
.g-gao-lt-1,.g-gao-lt-2{ background:#f6f7f9;text-align:center;}
.ad-wrapper {    display: block;  margin: 0 auto;}
.width675 {width: 675px;}
.width300 {width: 300px;}
.g-gao-lt-1{ padding:30px 0px; margin-top:10px;}
.g-gao-lt-2{padding:27px 0px;}
.l-cnt-right-daily{margin-bottom: 20px;}
/*广告代码-end*/
.l-width-48{width:48.5%;}
.l-cot-channel,.l-depth-list h2{ margin-bottom:13px;}
.l-read-book h2{margin-bottom:16px;}
.l-ft-daily h2,.l-wapper-book,.l-depth-list img{margin-bottom:18px;}
.l-depth-list h3{margin-bottom:20px; font-weight:500;}
.l-duan-p p,.l-read-book p{line-height:1.667;}
.l-hd-title h1 a{color:#021c45;}
/*切换css */
.slideTxtBox-1 .hd ul li.on{background:#fff; border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;border-bottom:1px solid #fff;}
.slideTxtBox2 .hd ul li.on{}
/*切换css-end*/
.l-cnt-news-tab1 li{transition:all 0s ease 0s; -moz-transition:all 0s ease 0s; -webkit-transition:all 0s ease 0s;}
/*公用代码-start*/
.l-cnt-imgs-wp h2,.l-news-list li h3,.l-ft-daily-1 h2,.daily-first p,.l-list-six-img h2,.l-zhuan-lan h2,.l-read-book h2{ line-height:1.5;}
.l-wonder-inner h1,.l-information .on a{ color:rgba(255,255,255,1);}
.region-more ul li a,.logo-b p,.l-information,.l-depth-list h2 a,.l-cnt-two a,.l-lt-entry h1 a,.l-ar-list li a,.l-ar-two h1 a,.l-first-ar h1 a,.l-nav-list a{ color:#333;}
.daily-first p,.l-cot-channel-lt p,.l-zhuan-lan .l-name,.l-read-book p,.l-cnt-one article p,.l-zhuan-lan p{ color:#666;}
.l-header-rt a{ color:#ccc;}
.l-cnt-news-tab1,.l-video-icon,.l-header-rt .region{ cursor:pointer;}
.l-cnt-wapper,.l-header-bottom-wapper{font-family:"Microsoft YaHei","微软雅黑", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;}
.logo-b p,.daily-first p,.l-zhuan-lan span,.l-read-book p,.l-duan-p p,.l-cnt-one article p,.l-scripture,.l-zhuan-lan p{font-size:0.75em;}
.l-wonder-inner ul h3,.l-news-list h3,.l-cnt-list h2,.l-ft-daily-1 h2,.around-infor-cot h2,.l-cot-channel-lt p,.l-list-six-img h2,.l-zhuan-lan h2,.l-ar-list li,.l-header-rt a{font-size:0.875em;}
.l-cnt-video h2,.l-around-list h1,.l-information a,.l-lt-entry h1{font-size:1em;}
.l-depth-list h3,.l-cnt-news-tab1,.l-cnt-imgs-wp h2,.l-ft-daily h2,.l-top h1,.l-nav-list a{font-size:1em;}
.l-read-book h2{font-size:1.125em;}
.l-wonder-inner h1,.l-depth-list h2,.l-hd-title h1,.l-ar-two h1{font-size:1.25em;}
.l-first-ar h1{font-size:1.5em;font-size:24px;}
.l-cnt-one .l-first-ar h1{font-size:1.375em;}
.l-depth-list img,.l-wonder-inner img,.around-infor-cot img,.l-img-wai img{width:100%; max-width:100%; height:auto;}
#slideTxtBox2 .l-list-six-img h2 {min-height: 6em;}
