/*
friend links css file
友情链接css文件
*/
/* 
    Created on : Jan 23, 2014, 11:00:19 AM
    Author     : Zhili He <zhili850702@gmail.com, http://zhilihe.com/>
*/


.site-map, .site-links{ border-top:3px solid #cccccc;}
.map-manu{ margin-bottom:20px;}
.map-manu li{ float:left; padding:7px 20px;color:#333; font-weight:bold; margin-right:15px; background:#f6f6f6;}
.map-manu li:hover {cursor: pointer;}
.map-manu li.current{ background:#ff4f14;color:#fff;}
.map-group{ margin-bottom:30px;}
h1.mg-title{ font-family:"微软雅黑";font-size: 1em;}
.menu-map{ color:#cc0000; padding-top:13px;}
.menu-map a{background-position:right -375px;padding-right:45px;}
.menu-map a:hover{color:#990000; text-decoration:none;}
.map-group ul{ margin-top:10px;}
.map-group li{ float:left; padding-right:25px; line-height:1.5em;}
.site-links{ padding-top:15px;}
.site-links ul{ margin-bottom:20px;}
.site-links li{ float:left; padding:10px 15px 5px 0;}
