@charset "utf-8";
/* CSS Document */
@media screen and (max-width:880px){
.con-lm{ width:100%; padding-right:0; border-right:none;}
.con-l{ width:53%;}
.con-m{ width:43%;}
.con-r{ width:100%;}
.bn-aside, .pad-lside{ float:left; width:48%;}
.shendu, .pad-rside, .sub-remen, .diqu-list{ float:right; width:48%;}
.zuojia-bg{ display:none;}
.zuojia-info{ width:100%; padding:20px 0 0 0;}
.form-search{ width:140px;}
}
@media screen and (max-width:780px){
/*homepage*/
.ht-r span, .search-t, .site-nav .pad-none, .hb-share{display:none;}
.ht-versions{border-left:none;}
.nav-drop{display:none;}
.nav-drop-pad{ display:block;}

.a-style-smallimg p, .a-style-smallimg h2{ padding-left:0;}

/*.video{ width:48.57%; margin-top:30px; float:right;}
.mingren{ width:48.57%; float:right;}
.update{ width:48.57%;margin-right:2.85%;float:left;}
.menu-comon{padding-left:0px;}
.mlink-bg a{ background-position:right -375px;}
.gonggao li{ background-position:0 -199px;}
.zhuanti ul, .v-headline, .video ul, .gonggao ul, .update-list, .mingren-list{ padding-left:0; padding-right:0;}
#site-header{ }
#pad-header{ display:block;}
.share-b{ float:left; margin-top:20px;}*/
/*article*/

/*font-size*/
/*.shendu h1, h1.menu-comon, h1.menu-comon-w{font-size:1em;}
.tn-headline li, .topnews-side li, .remen-list li, .update-list li, .tc-list li.tc-b, .menu-bottom li, .tn-list li, .towc-list .tc-b, .clt-top li, .author, .zd-summary, .gonggao li{ font-size:1em;}
.zhuanti h2, .v-headline h2, .mingren-list h2, .ec-list h2, .special-h h1, .special-list h2, .special-list-t h2, .tc-list h2, .menu-bottom h1, .towc-list-b li, .towc-list h2, .tc-h h1, .ar-top h2, .ar-list li, .vr-list h2{ font-size:1em;}*/


@media screen and (max-width:620px){
/*header*/
.con-l, .con-m{ width:100%;}
.colum-th > li{ width:100%; padding-right:0;}

.section-bottom{ margin-top:0;}
.sub-topnews{ margin-bottom:20px;}
.bn-aside, .pad-lside, .shendu, .pad-rside, .sub-remen, .a-related, .a-top, .diqu-list{ width:100%;}
.dh-group, .menu-m{ padding:0;}
.sub-topnews{ padding-bottom:10px;}
.sub-topnews img{ width:100%; padding-bottom:20px;}
.a-photonews li{ width:48.716%;}
.a-photonews li:nth-child(2n){ padding-right:0;}
.a-style-bigimg{ padding-right:0;}
.flex-direction-nav li .next, .flex-direction-nav li .prev{ display:none;}
.flex-control-nav{ display:block;}
.asb-img{ margin-bottom:40px;}
.a-style-bigimg p{ padding-bottom:20px;}

/*.ph-l{ width:250px;}
.logo-pad{margin-right:10px; width:170px;}
.ph-l .city-site a{ padding-right:0;}
.phd-nav{ padding-left:18px;}
.phd-nav li{ padding-left:0; padding-right:30px;}
.only-pad{ display:none;}
.phd-search{ padding:0 18px 0px 18px; width:auto; clear:both; float:none;}
.form-search-phd{ width:73%;}
.phd-bts{ clear:both;}
.phd-bts input{ margin-left:18px;margin-top:10px;}*/
/*contents*/
/*.con-l-left, .st-img, .st-texts, .tow-colum{ width:100%;}
.con-l-main{ width:100%;}
.con-right{ display:none;}
.editor-recomend, .special, .three-colum{ width:100%;}
.tn-mid p, .topnews-side p, .tn-headline p, .st-texts p, .clt-top p{ font-size: 0.8125em; line-height: 1.5; color:#666;}
.menu-comon, .menu-comon-w{ border-top:3px solid #181818;}
.bn-bottom{ border-top:3px solid #cc0000;}
.menu-bottom{ padding-bottom:15px;}
.menu-bottom li:first-child{ display:none;}
.menu-bottom li{ font-weight:900; font-family:"微软雅黑"; padding:0 20px 0 0; line-height:1; margin-top:15px; height:auto;}
.ec-list li{ width:47%; padding-right:6%; margin-bottom:10px;}
.ec-list li:nth-child(2n){ padding-right:0;}
*//*subpage*/
/*.st-img{ margin-bottom:0.7em;}
.guide-links{ display:none;}
.cl-two{ width:100%;}
.page{ display:none;}
.zhuanti-num-d{ float:none; margin-bottom:0em;}
.zd-title{ margin:1em 0;}
.vc-menu{ width:10%}
.vc-detail{ width:88%;}
.vc-detail li{ width:31%; margin-right:3.5%;}
.vc-detail li:nth-child(4n){ margin-right:3.5%;}
.vc-detail li:nth-child(3n){ margin-right:0;}
.stv-head{width:100%;}
.st-video{ width:100%;}
.st-video li{ padding-left:12.5%;}
.st-video li:nth-child(2n-1){ padding-left:0;}
.stv-head{ margin-bottom:1em;}
.rv-h{ width:100%; margin-bottom:1em;}
.vr-list li{ width:47%; padding-right:6%; margin-bottom:10px;}
.vr-list li:nth-child(2n){ padding-right:0;}
.a-style-bigimg{ padding-right:0;}
.flex-direction-nav li .next, .flex-direction-nav li .prev{ display:none;}
.flex-control-nav{ display:block;}
.asb-img{ margin-bottom:40px;}
.a-style-bigimg p{ padding-bottom:20px;}
*/
}

@media screen and (max-width:450px){
.nd-search{ float:none;}
.b-menu li{ display:inline-block; padding-right:15px;}
.copyright{ float:left;}
.section-list li img{ float:none; padding-left:0;}
.section-list-special li img{ float:none; padding-left:0;}
.ass-img{ float:none;}
.zhuanti-list li img{ width:100%; padding:0 0 10px 0;}
.zhuanti-list h2{ float:left; padding:8px 10px 0px 0; margin-bottom:0; }
.zhuanti-list h1{ line-height:20px; padding:7px 0 17px 0;}
.topnews-two{ margin-bottom:2em;}
.dh-group h1{ font-size:1em;}
.logo-diqu img{ height:90%;}
}

@media screen and (max-width:340px){
/*header*/
.ht-l{ display:none;}
.section-list p span{ display:block;}
.zt-group img{ width:30%; padding-right:10px;}

/*.city-pad{ display:none;}
.city-pad-drop{ display:block; color:#fff; padding:10px 0 0px 18px; font-size:0.875em;}
.city-pad-drop a{color:#fff;}
.ph-l{ width:180px;}
.phd-bts input{ width:50px;}
.bt-rss{ background:#ff4f14; text-align:center; padding-left:0;}
.form-search-phd{ width:62%;}
.logo-b{ width:auto;}
.phd-nav li:nth-child(5n){ padding-right:0;}
*//*subpage*/
/*.rss-bts input{ height:30px; padding:0 5px; margin-left:10px;color:#fff; font-family:"微软雅黑"; font-weight:900; border:none;}
.vc-menu{ width:20%; border-left-color:#181818;}
.vc-menu li{ border-top-color:#181818;}
.vc-detail{ width:75%;}
.vc-detail li{ width:48%; margin-right:3.5%;}
.vc-detail li:nth-child(3n){ margin-right:3.5%;}
.vc-detail li:nth-child(2n){ margin-right:0;}
.vc-detail{ border-top-color:#181818;}*/
/*article*/
.ahs-time{ display:block; margin-top:0.5em;}
.bt-print{ display:none;}
.ah-share{ display:none;}
.ass-share{ display:none;}
.share-b{ display:none;}
.ass-img{ float:none;}
}
@media screen and (max-width:280px){
	.header-bottom img{height:90%;}
}
@media screen and (max-width:240px){
.constrain-h{ width:240px;}
.constrain{ width:210px;}
}