@charset "utf-8";
/* CSS Document */
@media screen and (max-width:1140px){
	.wrap{ padding:0 20px;}
	}
@media screen and (max-width:880px){
.article-left{ width:100%; margin-bottom:30px;}
.article-right{ width:100%; float:none;}
.huise{ width:50%; float:left;}
.top{ width:45%; float:right; margin-top:300px;}
.article-right{ margin-top:-100px;}	
.more{ margin-top:30px;}
.bottom{ margin-top:30px; display:none; }
.bottom.bt-pad{ display:block;}	
}
@media screen and (max-width:620px){
	.huise{ width:100%;}
	.top{width:100%;margin-top:0px;}
	}
@media screen and (max-width:480px){
	.dianji{ width:100%; padding-left:0;}
	.wenzi, .nav{ display:none;}
	.nav-mobile{ display:block; margin-top:30px;}
	.sub-tittle img{ width:100%;}
	.duanluo{width:100%; margin-top:20px;}
	.huise li{ padding-right:15px;}
	.jingwen, .jianyao{ margin-top:20px;}
	
	}
@media screen and (max-width:260px){
	.wrap{ width:220px; padding:0 10px; }
	}