@charset "utf-8";
/* CSS Document */
.wrap{ max-width:1100px; margin:0 auto;}
.jingwen{ color:#666; margin-top:38px; width:100%;  ont-family:simhei;}
.banner{  width:100%; margin-top:29px;}
.gaishu{ width:88.5937%; color:#333; line-height:24px;float:right;  border-left:#f0f0f0 2px solid; padding-left:20px; padding-bottom:10px;}
.gaishu p{ margin-bottom:14px;}
.article-left{ width:58.1818%; float:left;}
.jianyao{ margin-top:49px; border-bottom:#f0f0f0 2px solid; margin-bottom: 38px;}
.wenzi{ float:left; margin-top:20px;}
.nav{ background:#f9f9f9; height:49px;}
.nav ul{ display:table; width:100%;}
.nav li{ display: table-cell; text-align:center; line-height:49px; }
.nav li a{ color:#666;}
.nav li a:hover{ text-decoration:none;}
.nav .on{ background:url(../images/bottom-icon.gif) no-repeat bottom center; }
.nav .on a{ color:#cc0000;}
.sub h1 a:hover{ text-decoration:none; color:#990000;}
.sub{ border-bottom:#f0f0f0 1px solid; padding-bottom:20px; margin-bottom:22px; }
.last-sub{ padding-bottom:20px; margin-bottom:22px;}
.last-sub a{ color:#333; text-decoration:none;}
.sub h1 a:hover{ text-decoration:none; color:#990000;}
.last-sub h1 a:hover{ text-decoration:none; color:#990000;}
.sub a{ color:#333; text-decoration:none;}
.article{ margin-top:30px;}
.author{color:#cccccc; margin-top:12px;}
.duanluo{}
.sub-tittle img{ width:32.5%; float:left; margin-right:32px;}
.article h1{ color:#333; font-weight:bold; font-family:微软雅黑; margin-bottom:26px;}
.wenzhang{ line-height:24px;}
.wenzhang a:hover{ text-decoration:none;}
.more{ text-align:center; background:url(../images/more-line.gif); border:#f0f0f0 1px solid; padding-bottom:6px; padding-top:6px; cursor:pointer;}
.bottom{ background:#f3f3f3; margin-top:57px; text-align:center; padding:0 15px; }
.bottom p{ font-size:14px; font-size:0.875rem; color:#999; font-family:宋体; padding-top:26px; padding-bottom:26px; margin-bottom:150px;}
.bottom.bt-pad{ display:none;}
.article-right{ margin-top:49px; width:38.1818%; float:right;  position: relative;}
.huise{background:#f9f9f9; padding-bottom:20px; margin-bottom:20px; }
.huise li{ padding-bottom:16px; padding-left:30px; padding-right:30px;  margin-left:22px; font-size:14px; font-size:0.875rem; font-family:宋体; line-height:22px; color:#666; background:url(../images/jiantou.gif) no-repeat; background-position:0 8px; margin-left:20px; }
.huise h1{ margin-left:4.7619%; float:left;}
.huise li a{ color:#666;}
.dianji img{ float:left; margin-left:7.619%; padding-top:5px;}
.dianji{ width:56.9047%; padding-top:20px; margin-bottom:30px; padding-bottom:8px; padding-left:32px;  border-bottom:#e3e3e3 1px solid; background:url(../images/beijing.gif) no-repeat right; background-position:200px 27px;  }
.top{ margin-top:30px; border-top:#f0f0f0 1px solid; text-align:center;}
.top img{ margin-top:30px; margin-bottom:20px;}
.top a{ color:#999999;}
.wangzhan span{ padding:0 8px; color:#999;}
.nav-mobile { background:#f9f9f9; display:none;}
.nav-mobile li{ float:left; padding:0 20px; height:49px; line-height:49px; }
.nav-mobile li a{ color:#666;}
.nav-mobile  .on{ background:url(../images/bottom-icon.gif) no-repeat bottom center; }
.nav-mobile  .on a{ color:#cc0000;}


/*字体等公用代码*/
.jingwen{ font-size:13px; font-size:0.8125rrem; }
.gaishu, .wenzhang{ font-size:14px; font-size:0.875rem; font-family:宋体; color:#333;}
.article h1, .huise h1{ font-size:22px; font-size:1.375rem; }
.author{ font-size:12px; font-family:宋体; color:#cccccc; margin-top:14px;}
.nav{ font-size:16px; font-size:1rem; color:#666;}
.more{ color:#999; font-size:14px; font-size:0.875rem; font-family:宋体;}
