{% extends '::backend.html.twig' %}
{% form_theme form 'GospelCoreBundle:Macros:misc.html.twig' %}

{% block header %}
<h1 class="page-title">添加特刊</h1>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('gospel_special_index') }}">特刊列表</a></li>
{% endblock %}

{% block body -%}

	<div class="region region-content">
		<div class="block block-system" id="block-content">
			<div class="content">
            {{ form_errors(form) }}
	  {{ form_start(form) }}
					<div class="btn-toolbar subhead" id="toolbar">
						<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="btn btn-success"><a  id="" name="op" href="{{ path('gospel_special_index') }}" class="button form-submit">返回</a>
						</div>
					</div>
					<ul id="myTabs" class="nav nav-tabs">

						<li><a href="#post-details" data-toggle="tab">专题内容</a></li>
						<li><a href="#post-options" data-toggle="tab">发布选项</a></li>
						<li><a href="#post-seo" data-toggle="tab">SEO(搜索引擎优化)</a></li>
					</ul>

					<div id="myTabsContent" class="form-horizontal">
						<div id="post-details" class="tab-content active">
							<br/>
							{% from 'GospelCoreBundle:Macros:misc.html.twig' import styleFormRow %}
							{{ styleFormRow(form.title) }}
							{{ styleFormRow(form.description) }}
                            <div class="control-group">
								<div class="controls">
                                  {% if form.vars.value.banner %}
                                  <img src="{{ asset(form.vars.value.bannerWebPath~'/'~form.vars.value.banner)  | imagine_filter('widen_700') }}" />
                                  {% endif %}
								</div>
                            </div>
							{{ styleFormRow(form.file) }}
							{{ styleFormRow(form.template) }}
							{{ styleFormRow(form.headline) }}
							{{ styleFormRow(form.subheadline) }}
							{{ styleFormRow(form.category1) }}
							{{ styleFormRow(form.category2) }}
							{{ styleFormRow(form.category3) }}
							{{ styleFormRow(form.category4) }}
							{{ styleFormRow(form.category5) }}
							{{ styleFormRow(form.category6) }}
							{{ styleFormRow(form.recommend) }}
							{{ styleFormRow(form.interpretation) }}
							{{ styleFormRow(form.video) }}
                                  
						</div>
								<div id="post-options" class="tab-content">
									<br />
									{{ styleFormRow(form.status) }}
									{{ styleFormRow(form.publishedAt) }}
									{{ styleFormRow(form.stopPublish) }}
									{{ styleFormRow(form.stopPublishedAt) }}
								</div>
								<div id="post-seo" class="tab-content">
									<br />
									{{ styleFormRow(form.alias) }}
									{{ styleFormRow(form.metaKeywords) }}
									{{ styleFormRow(form.metaDescription) }}
		{{ form_rest(form) }}
								</div>
							</div>
		{{ form_end(form) }}
						</div>
					</div>
				</div>




{% endblock %}

{% from 'GospelCoreBundle:Macros:misc.html.twig' import rteCss, rteJs %}
{% block stylesheets %}
	{{ parent() }}
	{{ rteCss() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
