<table id="edit-entities" class="sticky-enabled responsive-enabled tabledrag-processed tableresponsive-processed tableheader-processed sticky-table">
	<thead><tr><th>ID</th><th>标题</th><th></th><th></th><th></th></tr></thead>
	<tbody>
	{% for entity in videos %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.id }}</td>
				<td>{{ entity.title }}</td>
				<td></td>
				<td></td>
				<td>
					<button class="btn-link setRelatedVideos" data="[{{ entity.id }}]{{ entity.title }}">添加</button>
				</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% if videos.haveToPaginate()|default(false) %}
{{ pagerfanta(videos, 'twitter_bootstrap_translated', options|default({})) }}
{% endif %}
