* {margin: 0px;padding: 0px;}
img{border: 0;vertical-align: middle;margin: 0px;padding: 0px;}
.auto-1{ width:1080px; margin: 0 auto;}
.auto-2{ width:750px; margin: 0 auto;
width:750px; margin: 0 auto;
-webkit-box-shadow: 0px 2px 4px #efefef;
    -moz-box-shadow: 0px 2px 4px #efefef;
    -o-box-shadow: 0px 2px 4px #efefef;
}
.auto-2,.auto-1{
	-webkit-box-shadow: 0px 2px 4px #efefef;
    -moz-box-shadow: 0px 2px 4px #efefef;
    -o-box-shadow: 0px 2px 4px #efefef;
}
.lt{float: left;
}
.lt{float: left;}
.clearfix:after {
content: "";
visibility: hidden;
display: block;
font-size: 0;
clear: both;
height: 0;
}

.content-child{background: #f4f4f4;}
.center{margin: 0 auto;}
.printfoot{padding-right: 20px; padding-left:20px;background:#f7f2f5;}
.pt-title{text-align: center;padding-top: 30px; padding-bottom: 30px;}
.pt-four li{    list-style: none; float: left;margin-bottom: 30px; margin-right: 28px;}
.pt-four li:last-child{margin-right: 0px;}
.pt-four  h1{font-weight: 500; margin-top:15px; font-size: 20px; font-family: "Microsoft Yahei";}
.pt-four  h1 a{color: #000;text-decoration: none;}

body,input,button{font:normal 14px "Microsoft Yahei";margin:0;padding:0}
.odform-tit{font-weight:normal;font-size:30px;color:#595757;line-height:40px;text-align:center;border-bottom:1px solid #c9cacb;margin:0;padding:40px;}
.odform-tit img{height:40px;vertical-align:middle;margin-right:15px}
.odform{padding:20px; margin: 0 auto;max-width:400px;}
.input-group{margin-bottom:5%;position:relative}
.input-group label{padding:2% 0;position:absolute;color:#595757}
.input-group input{margin-left:5em;padding: 15px;background:#efeff0;border:0;border-radius:5px;color:#595757;width:75%}
.odform button{-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
 background:#37c7ff;cursor: pointer; color:#fff;text-align:center;border:0;border-radius:10px;padding:3%;width:100%;font-size:16px}
.odform button:hover{background:#1dafe7;}