{% extends '::backend.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block header %}
<h1 class="page-title">修改分类 —— {{ area.title }}</h1>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('gospel_area_index') }}">分类</a></li>
{% endblock %}
{% block body -%}


	<div class="region region-content">
		<div class="block block-system" id="block-content">


			<div class="content">
	  {{ form_start(form) }}
					<table class="table table-hover table-bordered">
    {{ form_row(form.title) }}
    {{ form_row(form.parent) }}
    {{ form_rest(form) }}
						</table>


						<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="button button-primary form-submit"><a  id="" name="op" href="{{ path('gospel_area_index') }}" class="button form-submit">返回</a></div>
{{ form_end(form) }}
						</div>
					</div>

				</div>


				<footer id="footer" role="contentinfo">

				</footer>


{% endblock %}