{% extends '::backend.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block header %}
<h1 class="page-title">修改分类 —— {{ category.title }}</h1>
{% endblock %}
{% block breadcrumb %}
	<li><a href="{{ path('gospel_category_index') }}">分类</a></li>
{% endblock %}
{% block body -%}

    
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix"></div>
                          <div class="region region-content">
    <div class="block block-system" id="block-content">
  
    
  <div class="content">
	  {{ form_start(form) }}
	  <table class="table table-hover table-bordered">
    {{ form_row(form.title) }}
    {{ form_row(form.parent) }}
   	<tr> 
			  <td>{{ form_label(form.file) }}</td>
			  <td>

				  {% if form.vars.value.path %}
				  <img src="{{ asset(form.vars.value.webPath) | imagine_filter('thumb_120x90') }}" />
				  <br/>
					{{ form_widget(form.deleteImage) }}删除图片
				  <br/>
				  <hr/>
				  <br/>
				  {% endif %}
{{ form_widget(form.file) }}
			  </td>
  </tr>
    {{ form_rest(form) }}
	  </table>


        <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="button button-primary form-submit"><a  id="" name="op" href="{{ path('gospel_category_index') }}" class="button form-submit">返回</a></div>
{{ form_end(form) }}
  </div>
</div>

  </div>


    <footer id="footer" role="contentinfo">
      
    </footer>


{% endblock %}