@charset "UTF-8";
/* CSS Document */


body{ font-family:'simhei'; color:#666; font-size:16px;}

.wrap{ width:1000px; margin:0 auto; padding-top:50px; padding-bottom:300px; border-top:5px solid #333;}
.wrap-left{ width:470px; float:left;} 
.wrap-left img{ border:1px solid #eee;}
.wrap-right{ width:420px; float:right;} 
.but2{ width:80px; margin-right:30px; height:40px; background:#999; margin-top:40px; border:none; color:#FFF; font-size:14px;} 
.but2:hover{ background:#666; }
.clear{ clear:both; }
.submit{ margin-top:100px;}
.submit li{ margin-bottom:35px;}
.kuang{ width:240px; float:right; height:30px; padding:0 10px;  color:#666;}
.bt3{ float:right; margin-right:0;}
.bt3:hover{ background:#666;} 
p {margin: 5px 0; padding: 5px 0;}
