<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	{% javascripts 
		'@GospelCoreBundle/Resources/public/ueditor/dialogs/internal.js' 
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% stylesheets 
		'bundles/gospelcore/ueditor/dialogs/background/background.css' 
	filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
</head>
<body>
    <div id="bg_container" class="wrapper">
        <div id="tabHeads" class="tabhead">
            <span class="focus" tabsrc="normal"><var id="lang_background_normal"></var></span>
            <span class="" tabsrc="imgManager"><var id="lang_background_local"></var></span>
        </div>
        <div id="tabBodys" class="tabbody">
            <div id="normal" class="panel">
                <fieldset  class="bgarea">
                    <legend><var id="lang_background_set"></var></legend>
                    <div class="content">
                        <div>
                            <input class="iptradio" type="radio" name="t" value="none" checked="checked" onclick="net(this)"><label><var id="lang_background_none"></var></label>
                        </div>
                        <div class="wrapcolor">
                            <div class="color">
                                <input class="iptradio" type="radio" name="t" value="color" onclick="net(this)"><label><var id="lang_background_color"></var>:</label>
                            </div>
                            <div id="colorPicker"></div>
                            <div class="clear"></div>
                        </div>
                        <div class="wrapcolor pl">
                            <label><var id="lang_background_netimg"></var>:</label><input class="txt" type="text" id="url">
                        </div>
                        <div id="alignment" class="alignment">
                            <var id="lang_background_align"></var>:<select id="repeatType" onchange="selectAlign(this)">
                                <option value="center"></option>
                                <option value="repeat-x"></option>
                                <option value="repeat-y"></option>
                                <option value="repeat"></option>
                                <option value="self"></option>
                            </select>
                        </div>
                        <div id="custom" >
                            <var id="lang_background_position"></var>:x:<input type="text" size="1" id="x" maxlength="4" value="0">px&nbsp;&nbsp;y:<input type="text" size="1" id="y" maxlength="4" value="0">px
                        </div>
                    </div>
                </fieldset>

            </div>
            <div id="imgManager" class="panel">
                <div id="imageList" style=""></div>
            </div>
        </div>
    </div>
	{% javascripts 
		'@GospelCoreBundle/Resources/public/ueditor/dialogs/background/background.js' 
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
</body>
</html>

