<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>帮助</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	{% javascripts 
		'@GospelCoreBundle/Resources/public/ueditor/dialogs/internal.js' 
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
    <link rel="stylesheet" type="text/css" href="help.css">
	{% stylesheets 
		'bundles/gospelcore/ueditor/dialogs/help/help.css' 
	filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
</head>
<body>
<div class="wrapper" id="helptab">
    <div id="tabHeads" class="tabhead">
        <span class="focus" tabsrc="about"><var id="lang_input_about"></var></span>
        <span tabsrc="shortcuts"><var id="lang_input_shortcuts"></var></span>
    </div>
    <div id="tabBodys" class="tabbody">
        <div id="about" class="panel">
            <h1>UEditor</h1>
            <p id="version"></p>
            <p><var id="lang_input_introduction"></var></p>
        </div>
        <div id="shortcuts" class="panel">
            <table>
                <thead>
                <tr>
                    <td><var id="lang_Txt_shortcuts"></var></td>
                    <td><var id="lang_Txt_func"></var></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ctrl+b</td>
                    <td><var id="lang_Txt_bold"></var></td>
                </tr>
                <tr>
                    <td>ctrl+c</td>
                    <td><var id="lang_Txt_copy"></var></td>
                </tr>
                <tr>
                    <td>ctrl+x</td>
                    <td><var id="lang_Txt_cut"></var></td>
                </tr>
                <tr>
                    <td>ctrl+v</td>
                    <td><var id="lang_Txt_Paste"></var></td>
                </tr>
                <tr>
                    <td>ctrl+y</td>
                    <td><var id="lang_Txt_undo"></var></td>
                </tr>
                <tr>
                    <td>ctrl+z</td>
                    <td><var id="lang_Txt_redo"></var></td>
                </tr>
                <tr>
                    <td>ctrl+i</td>
                    <td><var id="lang_Txt_italic"></var></td>
                </tr>
                <tr>
                    <td>ctrl+u</td>
                    <td><var id="lang_Txt_underline"></var></td>
                </tr>
                <tr>
                    <td>ctrl+a</td>
                    <td><var id="lang_Txt_selectAll"></var></td>
                </tr>
                <tr>
                    <td>shift+enter</td>
                    <td><var id="lang_Txt_visualEnter"></var></td>
                </tr>
                <tr>
                    <td>alt+z</td>
                    <td><var id="lang_Txt_fullscreen"></var></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="help.js"></script>
</body>
</html>