{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import editNbackBtn %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_gallery, path_gallery, path_preview %}
{% block body -%}
开始ID：<input type="text" id="start-id" value="0" />
<input type="button" value="start" id="starting" />
<div id="msg">

</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="http://gospeltimes.dev/app_dev.php/js/01e7bfb_jquery_4.js"></script>
<script type="text/javascript">
(function($) {
	$('#starting').click(function() {

		var start_id = $('#start-id').val();
		ajaxCall(start_id);
	})

	function ajaxCall(start) {
		$('#msg').html("Processing start id from:"+start+"<br/>");
		$.ajax({
			url: '{{ path('gospel_gallery_load') }}?start='+start,
			dataType: 'json'
		}).done(function (result) {
			$('#msg').html(result.msg);
			if (result.continue) {
				ajaxCall(result.start_id + 10);
			} else {
				$('#msg').html('导入结束');
			}

		})
	}

}(jQuery));
</script>
{% endblock %}
