{% extends '::backend.html.twig' %}
{% form_theme form 'GospelCoreBundle:Macros:misc.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_gallery, path_gallery, path_preview %}

{% block header %}
<h1 class="page-title">添加图片集</h1>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('gospel_gallery_index') }}">图片集列表</a></li>
{% endblock %}

{% block body -%}

	<div class="region region-content">
		<div class="block block-system" id="block-content">
			<div class="content">
	  {{ form_start(form) }}
					<div class="btn-toolbar subhead" id="toolbar">
						<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="btn btn-success">
						{% if gallery.slug is defined %}
						<a target="_blank"  id="" name="op" {{ path_preview(gallery) }}class="button form-submit">预览</a>
						{% endif %}
							<a  id="" name="op" href="{{ path('gospel_gallery_index') }}" class="button form-submit">返回</a>
						</div>
					</div>
					<ul id="myTabs" class="nav nav-tabs">
						<li><a href="#gallery-details" data-toggle="tab">图片集内容</a></li>
						<li><a href="#gallery-image" data-toggle="tab">图片</a></li>
						<li><a href="#gallery-options" data-toggle="tab">发布选项</a></li>
						<li><a href="#gallery-seo" data-toggle="tab">SEO(搜索引擎优化)</a></li>
					</ul>

					<div id="myTabsContent" class="form-horizontal">
						<div id="gallery-details" class="tab-content active">
							<br/>
							{% from 'GospelCoreBundle:Macros:misc.html.twig' import styleFormRow, inlineFormRow %}
							{{ styleFormRow(form.title) }}
							{{ styleFormRow(form.categoryGallery) }}
							{{ styleFormRow(form.description) }}
							{{ styleFormRow(form.relatedGalleries) }}
						</div>
								<div id="gallery-options" class="tab-content">
									{% if form.status is defined %}
									{{ inlineFormRow(form.status) }}
									{% endif %}
									{% if form.promotionStatus is defined %}
									{{ inlineFormRow(form.promotionStatus) }}
									{% endif %}
									{% if form.publishedAt is defined %}
									{{ styleFormRow(form.publishedAt) }}
									{% endif %}
									{% if form.stopPublish is defined %}
									{{ inlineFormRow(form.stopPublish) }}
									{% endif %}
									{% if form.stopPublishedAt is defined %}
									{{ styleFormRow(form.stopPublishedAt) }}
									{% endif %}
									{% if form.commentStatus is defined %}
									{{ styleFormRow(form.commentStatus) }}
									{% endif %}
								</div>
								<div id="gallery-seo" class="tab-content">
									<br />
									{{ styleFormRow(form.alias) }}
									{{ styleFormRow(form.metaKeywords) }}
									{{ styleFormRow(form.metaDescription) }}
		{{ form_rest(form) }}
								</div>
							</div>
		{{ form_end(form) }}
						</div>
					</div>
				</div>
		<div id="gallery-image" class="tab-content">
			<br />
			<form id="fileupload" action="" method="POST" enctype="multipart/form-data">
				<h3>请先上传图片后然后保存图片集</h3>
				<!-- Redirect browsers with JavaScript disabled to the origin page -->
				<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
				<div class="row fileupload-buttonbar">
					<div class="col-lg-7">
						<!-- The fileinput-button span is used to style the file input field as button -->
						<span class="btn btn-success fileinput-button">
							<i class="glyphicon glyphicon-plus"></i>
							<span>添加图片...</span>
							<input type="file" name="files[]" multiple>
						</span>
						<button type="submit" class="btn btn-primary start">
							<i class="glyphicon glyphicon-upload"></i>
							<span>开始上传</span>
						</button>
						<button type="reset" class="btn btn-warning cancel">
							<i class="glyphicon glyphicon-ban-circle"></i>
							<span>取消上传</span>
						</button>
						<button type="button" class="btn btn-danger delete">
							<i class="glyphicon glyphicon-trash"></i>
							<span>删除</span>
						</button>
						<input type="checkbox" class="toggle">
						<!-- The loading indicator is shown during file processing -->
						<span class="fileupload-loading"></span>
					</div>
					<!-- The global progress information -->
					<div class="col-lg-5 fileupload-progress fade">
						<!-- The global progress bar -->
						<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar progress-bar-success" style="width:0%;"></div>
						</div>
						<!-- The extended global progress information -->
						<div class="progress-extended">&nbsp;</div>
					</div>
				</div>
				<!-- The table listing the files available for upload/download -->
				<table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
			</form>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
							{# 当上传图片的时候的模板 #}
<input type="hidden" id="update-image-path" value="{{ path('gospel_gallery_image_update') }}" />
{% verbatim %}
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
			<textarea type="text" name="caption" placeholder="图片说明" ></textarea>
        </td>
        <td>
			设为封面图片：<input type="radio" name="isCover[]" />
        </td>
        <td>
			使用水印：<input type="checkbox" name="useWatermark" />
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
            {% if (!o.files.error) { %}
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            {% } %}
        </td>
        <td>
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>开始</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>取消</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
	<input type="hidden" class="image-id" value="{%=file.id%}" />
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
                {% if (file.thumbnailUrl) { %}
			<textarea type="text" class="update-image" name="setCaption" placeholder="图片说明" >{%=file.caption%}</textarea>
                {% } %}
        </td>
        <td>
			设为封面图片：<input class="update-image" type="radio" name="setIsCover" {% if (file.isCover){ %}checked{%}%}/>
        </td>
        <td>
			使用水印：<input class="update-image" type="checkbox" name="setUseWatermark" {% if (file.useWatermark){ %}checked{%}%} />
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>删除</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endverbatim %}
		</div>


{% include 'GospelCoreBundle:Gallery:search.html.twig' with {'form': form2} %}


{% endblock %}

{% from 'GospelCoreBundle:Macros:misc.html.twig' import rteCss, rteJs %}
	{# 载入富文本编辑器相关的css文件 #}
{% block stylesheets %}
	{{ parent() }}
	{{ rteCss() }}
{% stylesheets 
	'bundles/gospelcore/css/blueimp-gallery.min.css' 
	'bundles/gospelcore/fileupload/css/jquery.fileupload.css' 
	'bundles/gospelcore/fileupload/css/jquery.fileupload-ui.css' 
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<noscript>
{% stylesheets 'bundles/gospelcore/fileupload/css/jquery.fileupload-noscript.css' 
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</noscript>
<noscript>
<link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css">
{% stylesheets 'bundles/gospelcore/fileupload/css/jquery.fileupload-ui-noscript.css' 
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</noscript>
{% endblock %}

	{# 载入富文本编辑器相关的js文件 #}
{% block javascripts %}
	{{ parent() }}
	{{ rteJs("gospel_gallery_content") }}
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
{% javascripts 
'@GospelCoreBundle/Resources/public/js/jquery.min.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/vendor/jquery.ui.widget.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/tmpl.min.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/load-image.min.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/canvas-to-blob.min.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/bootstrap.min.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.blueimp-gallery.min.js' 
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.iframe-transport.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-process.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-image.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-audio.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-video.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-validate.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-ui.js' 
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
$(function () {
    'use strict';

    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
        // Uncomment the following to send cross-domain cookies:
        //xhrFields: {withCredentials: true},
        url: '{{ path('gospel_gallery_file_upload', {id: temp_id}) }}'
    });

    // Enable iframe cross-domain access via redirect option:
    $('#fileupload').fileupload(
        'option',
        'redirect',
        window.location.href.replace(
            /\/[^\/]*$/,
            '/cors/result.html?%s'
        )
    );

    // Load existing files:
    $('#fileupload').addClass('fileupload-processing');
		$.ajax({
			// Uncomment the following to send cross-domain cookies:
			//xhrFields: {withCredentials: true},
			url: $('#fileupload').fileupload('option', 'url'),
			dataType: 'json',
			context: $('#fileupload')[0]
		}).always(function () {
			$(this).removeClass('fileupload-processing');
		}).done(function (result) {
			$(this).fileupload('option', 'done')
			.call(this, null, {result: result});
	});
	
});
</script>
<script type='text/javascript'>
	$(document).ready(function() {
		// 当修改图片的相关属性的时候，修改数据库
		$(document).on("change",".update-image",function(e){
			var that = this;
			// image id
			var image_id = $(this).closest('tr').find('.image-id').val();
			var type = $(this).attr('type');
			if (type == 'checkbox') {
				if ($(this).is(":checked"))
				{
					var value = 1;
				} else {
					var value = 0;
				}
			}  else if (type == 'radio') {
				if ($(this).val() == "on")
				{
					var value = 1;
				} else {
					var value = 0;
				}
			} else {
				var value = $(this).val();
			}
			var name = $(this).attr('name');
			var url = $('#update-image-path').val();

			// Ajax request to update image
			// console.log('changed, ajax request');
			$.ajax({
				url: url,
				dataType: 'json',
				data: {id: image_id, name: name, value: value},
				context: document.body
			}).always(function() {})
			.done(function(result) {
				if (result.success) {
					var ele = $('<p style="color:green;">更新成功</p>');
					$(that).after(ele);
					setTimeout(function(){ele.remove()}, 700);
				}
			});
 		});
	});
</script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
{% javascripts 
'@GospelCoreBundle/Resources/public/fileupload/js/cors/jquery.xdr-transport.js' 
%}
				<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<![endif]-->
{% endblock %}
