{% extends '::backend.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_gallery, path_gallery, path_preview %}
{%block header %}<h1 class="page-title">图片集管理</h1>{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body -%}
<ul class="action-links">
          <li><a class="button button-action" href="{{ path('gospel_gallery_new') }}">添加图片集</a></li>
        </ul>
		<form name="" action="" method="get">
							<label for="gospel_gallery[id]">ID</label><input type="text" name="gospel_gallery[id]" value="" size="20" class="inputBox1">
							<select name="type">
								<option value="title">标题</option>
								<option value="author">作者</option>
								<option value="comefrom">来源</option>
								<option value="introduction">简介</option>
								<option value="content">内容</option>
							</select>
							<input type="text" name="keywords" value="" size="20" class="inputBox1">
									{% if form.status is defined %}
									{{ form_row(form.status) }}
									{% endif %}
							<div><input type="submit" name="search" value="筛选" class="btn btn-info"></div>
							<br/>
				<div id="related-content"></div>
		</form>
<table id="edit-entities" class="sticky-enabled responsive-enabled tabledrag-processed tableresponsive-processed tableheader-processed sticky-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>图片</th>
			<th>标题</th>
			<th>分类</th>
			<th>作者</th>
			<th>审核</th>
			<th>点击量</th>
			<th>发布日期</th>
			<th>操作</th>
		</tr></thead>
	<tbody>
	{% for entity in galleries %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.id }}</td>
				<td>
					{% if entity.coverPath %}
						<img src="{{ asset(entity.coverPath) | imagine_filter('thumb_120x90')}}" />
					{% endif %}
				</td>
				<td><a href="{{ path('gospel_gallery_update', {id: entity.id}) }}">{{ entity.title }}</a></td>
				<td>
				{{ entity.categoryGallery }}
				</td>
				<td>{% if entity.author is defined %}{{ entity.author }} - {% endif %}</td>
				<td>{% if entity.status == 1 %}是{% else %}否{% endif %}</td>
				<td>{{ entity.hits }}</td>
				<td>{{ entity.publishedAt|date('Y-m-d H:m:s') }}</td>
				<td>
								<form onsubmit="return confirm('确定要删除: {{ entity.title }}？');" style="display: inline;" method="post" action="{{ path('gospel_gallery_delete', {id: entity.id}) }}">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							操作
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_gallery_show', {id: entity.id}) }}">查看</a></li>
							<li class="edit odd first dropbutton-action"><a {{ path_preview(entity) }}>预览</a></li>
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_gallery_update', {id: entity.id}) }}">编辑</a></li>
							{% if is_granted('ROLE_POST_DELETE') %}
							<li class="edit odd first dropbutton-action">
        						<a class="submit-closest-form" href="#">删除</a>
							</li>
							{% endif %}
						</ul>
					</div>
    <input type="hidden" value="DELETE" name="_method">
</form>
				</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% if galleries.haveToPaginate()|default(false) %}
{{ pagerfanta(galleries, 'twitter_bootstrap_translated', options|default({})) }}
{% endif %}
{% endblock %}