<div id="dialog-form" title="搜索图片集添加到相关图片集">
	<div id="wrapper">
		<form id="searchForm" name="form1" action="" method="get">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody> <tr>
						<td width="95%" height="30">
							<input type="text" name="keywords" value="" size="20" class="inputBox1">
							<select name="type">
								<option value="title">标题</option>
								<option value="author">作者</option>
								<option value="comefrom">来源</option>
								<option value="introduction">简介</option>
								<option value="content">内容</option>
							</select>
						</td>
				<td width="5%"></td>
				</tr>
				</tbody></table>
							<div><input type="submit" name="search" value="查看" class="btn btn-info"></div>
							<br/>
				<div id="related-content"></div>
		</form>
	</div>
</div>
<input type="hidden" id="search-uri" value="{{ path('gospel_gallery_searchform') }}" />
