{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import editNbackBtn %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_gallery, path_gallery, path_preview %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gallery.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ gallery.title }}</td>
            </tr>
            <tr>
                <th>相关图片集</th>
                <td>
					<ul>
					{% for related in gallery.related %}
						<li><a href="{{ path('gospel_gallery_show', {id:related.id}) }}" target="_blank">{{ related.title }}</a></li>
					{% endfor %}
					</ul>
					</td>
            </tr>
            <tr>
                <th>上次修改时间</th>
                <td>{{ gallery.updatedAt|date('Y-m-d H:m:s') }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ gallery.createAt|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>

<div class="form-actions form-wrapper" id="edit-actions">
<a target="_blank"  id="" name="op" {{ path_preview(gallery) }}class="button form-submit">预览</a>
{{ editNbackBtn('gospel_gallery_update', 'gospel_gallery_index', gallery) }}
</div>
{% endblock %}