* {margin: 0px;padding: 0px;}
img{border: 0;vertical-align: middle;margin: 0px;padding: 0px;}
.auto{width:1200px; margin: 0 auto;}
.lt{float: left;}
.clearfix:after {
content: "";
visibility: hidden;
display: block;
font-size: 0;
clear: both;
height: 0;
}
.center{margin: 0 auto;}
/*默认样式，主要是position:fixed实现屏幕绝对定位*/
.ie-hidden{ display: block;display: none\9; }
#gotoTop{ z-index:99;width: 40px;height: 40px;overflow: hidden; background:url(../images/icon/to-top.gif) no-repeat;display:none;position:fixed;bottom: 80px;
right: 120px;cursor:pointer;margin-top:-50px;margin-left:520px;text-align:center;}
#gotoTop{_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px")}
#gotoTop:hover{background-position: 0 -40px;-webkit-transition: 0.5s;}


.content{ background:#ededed;}
.auto{background:#fff;}

body,input,button{font:normal 14px "Microsoft Yahei";margin:0;padding:0}
.odform-tit{font-weight:normal;font-size:30px;color:#595757;line-height:40px;text-align:center;border-bottom:1px solid #c9cacb;margin:0;padding:40px;}
.odform-tit img{height:40px;vertical-align:middle;margin-right:15px}
.odform{padding:20px; margin: 0 auto;max-width:400px;}
.input-group{margin-bottom:5%;position:relative}
.input-group label{padding:2% 0;position:absolute;color:#595757}
.input-group input{margin-left:5em;padding: 15px;background:#efeff0;border:0;border-radius:5px;color:#595757;width:75%}
.odform button{-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
 background:#37c7ff;cursor: pointer; color:#fff;text-align:center;border:0;border-radius:10px;padding:3%;width:100%;font-size:16px}
.odform button:hover{background:#1dafe7;}