@charset "utf-8";
/* CSS Document */
header{ z-index:200; background:#fdfdfd; position:relative;}
.top{ background-color:#fafafa; border-bottom:1px solid #e8e8e8; height:40px;}
.logo{ float:left; font-size:0; background:url(../images/logo.png) no-repeat; height:28px; width:108px; display:block; margin:7px 0 0 20px;}
.logo a{display: block;width: 100%;height: 100%;}
.top h2{ float:right; height:40px; line-height:40px; padding:0 20px; border-left:1px solid #e8e8e8; letter-spacing:1.5px;}
.top h2 a:hover{}
.constrain{ max-width:1024px; margin:0 auto;}
.page-title{ font-weight:normal; letter-spacing:1.5px; height:73px; line-height:73px; float:left;}
.nav-mobile{ float:right; margin-top:15px; display:none;}
.nav-mobile a{ width:40px; height:40px; display:block; background:url(../images/arrow.png) no-repeat 18px -62px;}
.nav-mobile a:hover{ background-position:18px -103px;}
nav{ float:right;}
nav li{ float:left; padding-left:20px;}
nav li.on{padding-top:35px;}
nav li a{ display:block;padding-top:35px;}
.top h2 a, nav li a, .bt-w, .bt-nav li a, .nav-mobile a, .bt-donate, .bt-dn-l, .bt-w-l{transition:0.5s; -moz-transition:0.5s; -webkit-transition:0.5s; -o-transition:0.5s;}
.top h2 a:hover, nav li a:hover, .bt-nav li a:hover{ color:#cc6666; text-decoration:none;}
.about-content{ padding:0 40px; position:relative;}
.body-img{ background:#f2f2f2; position:relative; z-index:100; text-align:center;}
.ac-group{ padding-top:30px; padding-bottom:20px;}
.acg-title{ float:left; width:48.9406%; font-weight:normal; line-height:1.1;}
.acg-text{ float:right; width:48.9406%;}
.acg-text p{ line-height:1.7;}
.bt-w, .bt-w-l{ height:38px; line-height:30px; border:1px solid #ccc; background:#fdfdfd url(../images/arrow.png) no-repeat; background-position:115px 10px; padding-left:40px; width:158px; text-align:left; font-weight:900;-moz-border-radius:10px/20px; -webkit-border-radius:10px/20px; border-radius:3px/3px; margin-top:20px;}
.bt-w:hover, .bt-w-l:hover{ background-color:#999; background-position:115px -23px; border:1px solid #999; color:#fff;}
.bt-w-l{ width:190px;background-position:145px 10px;}
.bt-w-l:hover{ width:190px;background-position:145px -23px;}
#bottom{ margin-top:70px; padding-bottom:70px;}
.b-top .left{ width:48.9406%; border-top:1px solid #ccc; margin-top:20px;}
.bt-nav{ width:38.9406%; background:#f2f2f2;-moz-border-radius:10px/20px; -webkit-border-radius:10px/20px; border-radius:3px/3px; float:right; display:table; padding:0 5%;}
.bt-nav li{ display:table-cell; text-align:center; height:40px; line-height:40px;}
.logo-bt{float:left; font-size:0; background:url(../images/logo.png) no-repeat; height:28px; width:108px; display:block;}
.copyright{ float:right; width:48.9406%; text-align:center; margin-top:12px;}
.ttop-bg{ position:absolute; left:36.715%; top:1px; z-index:100;}
.to-top{ position:fixed; top:-948px; left:40%; width:40px; height:1298px; cursor:pointer;}
.sub-left .to-top{left:20.45%;}
.to-top.donate{ position:fixed; top:-948px; left:43.4%; width:40px; height:1298px; cursor:pointer;}

.sub-left{ float:left; width:47.0703%;}
.sub-right{ float:right; width:49.0234%;}
.contact-group{ border-top:1px solid #ccc; padding:10px 40px 50px 0;}
.contact-group h1{ font-weight:normal; padding-bottom:25px;}
.contact-group p{ margin-bottom:10px; line-height:1.7;}
.contact-group p label{ font-weight:900;}
.contact-group li{ margin-bottom:10px;}
.con-title{ float:left; width:21.645%;}
.con-form{ float:left; width:38.961%; margin-right:5px;}
.con-area{ width:75%; float:left; height:100px;}
.yanzhengma{ float:left; width:75%;}
.yanzhengma input{ margin-top:10px;}
.write-group{border-top:1px solid #ccc; padding:25px 40px 5px 0;}
.write-group p{ margin-bottom:25px; line-height:1.7;}
.wr-area{ width:75%; float:left; height:300px;}
.dn-l{ background:#f2f2f2; padding:0 40px 40px 40px; margin-top:20px;}
.dn-group{ padding:30px 0;}
.dn-group h1, .dnr-group h1{ font-weight:normal; margin-bottom:15px;}
.dn-group li{ float:left; padding-right:25px; margin-bottom:10px;}
.dn-other{ width:70px;}
.bt-donate, .bt-dn-l{height:38px; line-height:30px; border:1px solid #666; background:#666 url(../images/arrow.png) no-repeat; background-position:115px -23px; padding-left:40px; width:158px; text-align:left; font-weight:900;-moz-border-radius:10px/20px; -webkit-border-radius:10px/20px; border-radius:3px/3px; margin-top:10px; color:#fff; font-weight:bold; float:left; margin-right:10px;}
.bt-donate:hover, .bt-dn-l:hover{ background-color:#999; border-color:#999;}
.border-t{ border-top:1px solid #ccc;}
.dng-g{ line-height:1.8; margin-bottom:30px;}
.dng-gs{ line-height:1.5;}
.bt-dn-l{ width:190px; margin-top:0px; background-position:145px -23px;}
.dnr-group{ border-top:1px solid #ccc; padding-top:20px;}
.dnr-group > p{ margin-bottom:25px; line-height:1.7;}
.dnrg-form{ background:#f2f2f2;}
.dnrg-td{ padding:15px 20px;}
.dnrg-td h2{ float:left; width:14.0692%; line-height:1.7;}
.dnrg-con{ float:right;width:85.8%;}
.dnrg-con p{ margin-bottom:10px;}

/*字体*/
.copyright, .contact-group span, .dng-gs{ font-size:12px; font-size:1.2rem;}
.top h2, nav li, .acg-text p, .bt-w, .bt-nav li, .contact-group, .write-group, .dn-group li, .bt-donate, .dng-g, .bt-dn-l, .dnr-group, .dnrg-td h2, .bt-w-l{font-size:14px; font-size:1.4rem;}
.dng-g h2, .dnr-group h2{font-size:15px; font-size:1.5rem;}
.acg-title p, .dn-group h1, .dnr-group h1{ font-size:18px; font-size:1.8rem;}
.contact-group h1{ font-size:24px; font-size:2.4rem;}
.page-title, .acg-title {font-size:30px; font-size:3.0rem;}
.special-c, nav li{ color:#cc6666;}
nav li a, .bt-w, .bt-nav li, .bt-w-l{ color:#4c4c4c;}
.acg-text p, .con-gray{ color:#666;}
.acg-title p, .copyright, .contact-group span{ color:#999;}
.hide {display: none;}