@charset "utf-8";
/* CSS Document */
@media screen and (max-width:1440px){
	.contact-group, .contact-group2, .contact-group3{ width:50%;}
	
}
@media screen and (max-width:1020px){
	.wrap{ padding-left:20px; padding-right:20px;}
	.dot{ display:none;}

}
@media screen and (max-width:980px){
	.nav li{ line-height:65px; float:left; line-height:75px; margin-right:27px;}
	.nav li a.offer{ line-height:65px; color:#ff0033; background:url(../images/line.gif) no-repeat bottom center; padding-bottom:27px; }
	.nav{ float:right;}
	.bt-donate { margin-right:8px; }
	.content-right{ width:80%;}
	.content p{ padding-right:0%;}
	.con-title { width:100%;}
	.con-form{ width:38.961%;}
}
@media screen and (max-width:940px){
	}

@media screen and (max-width:880px){
	.wrap{ margin:0 auto; position:relative; }
	.nav li{ line-height:65px; float:left; line-height:75px; margin-right:27px;}
	.money-bt li{ padding-right:13px;}
	.bt-donate{ margin-right:8px;  width:138px;}
	.dot{ display:none;}
	.banner img { margin-bottom:0px;}
	.amount{ margin-top:50px;}
	.sub{ margin-top:50px;}
	.Paragraph{ margin-top:40px;}
	.contact-group{ margin-top:40px;} 
	.content-right{ width:70%;}
	.content p{ padding-right:0%;}
	.contact-group, .contact-group2, .contact-group3{ width:50%;}

}
@media screen and (max-width:780px){
	.submission{ width:100%; padding-right:0;}
	.sub-one{ padding-left:0; width:100%;}

}

@media screen and (max-width:680px){
	.nav li{ margin-right:20px;}
	.bank-nongye1, .bank-nongye3{ border-right:none;}
	.content-right{ width:65%;}
	.contact-group, .contact-group2, .contact-group3{ width:100%;}
	.submission{ width:100%; padding-right:0;}
	.sub-one{ margin-left:0; width:100%;}
 
}
@media screen and (max-width:650px){
	.header{ position:relative;}
	.nav-mobile{display:block; position:relative;}
	.nav li{ width:92px; height:28px; line-height:28px; text-align:center; float:none; background: rgba(0,0,0,0.6); margin-bottom:1px; }
	.nav{ margin-right:0;  position:absolute; top:55px; right:0; display:none;} 
	.nav li a{ color:#FFF;}
	.nav li a.offer{ color:#ff0033; line-height:28px; background:none; padding-bottom:0; }
	.header img{ margin-bottom:10px;}
	.nav-mobile{ margin-top:30px;}
	.dnrg-con { width:100%;}
	.letter { width:100%; margin-left:0;}
	}

@media screen and (max-width:620px){
	.bt li{ padding-right:37px;}
	.bt{ margin-top:40px; }
	.money-bt li{margin-right:8px;}
	.bt{ margin:0 auto;}
	.dot{ display:none;}
	.bank-nongye1, .bank-nongye3{ float:left; padding-top:40px; padding-bottom:50px; width:35.7142%; padding-left:14.2857%; }
	.bank-nongye2, .bank-nongye4{ margin-right:6%;}
	.Para-right{ width:100%;  padding-left:0; padding-right:0; margin:0 auto; float:none; }
	.Para-left{ width:100%; float:none; padding-left:0; padding-right:0; margin:0 auto; margin-bottom:40px; }
	.Para-one{ padding:0 2%;}
]	.submission{ width:100%; margin:0 auto;}
	.Paragraph{ margin-top:0;}
	.bottom{ background:none;}
	.Paragraph{ margin-top:40px;}
	.bottom-nav{ display:none;}
	.sub-one{ width:90%;}
	.content-right{ width:100%;}
	.content p{  padding-right:6.1224%; width:85%;}
	.png{ display:none;}
	.header img{ margin-bottom:10px;}
	.content p{ padding-right:0; width:100%; margin-top:-20px;} 
	.Para-one{ padding:0;}
	.sub-one{ width:100%;}
	.submission{ width:100%;}

}
@media screen and (max-width:500px){

}
@media screen and (max-width:480px){
	.bank-nongye1{ width:70%; float:none;} 
	.bank-nongye2, .bank-nongye4 { width:70%; float:none; margin-right:0; padding-left:14.28%;} 
	.bank-nongye3 { width:70%; float:none;}
	.dnrg-td h2{ width:6%;}
	.bottom{ padding-bottom:50px;}
	.bank-two{  border-top:none;}
	.Paragraph{ margin:0;}
	.Para-left, .Para-right{ padding:0; float:none;}
	.bottom-nav{ float:right; margin-left:30px;}
	.bottom-nav{ display:none;}
	.Paragraph{ margin-top:40px;}
	.png{ display:none;}
	.sub-one{ width:90%;}
	.dnrg-td h2{ width:100%;}
	.bank-nongye2, .bank-nongye4{ padding-top:0px;}
	.bank-nongye2{ padding-bottom:0;}
	.bank-nongye1, .bank-nongye2, .bank-nongye3, .bank-nongye4{ width:100%; padding-left:0;}

	.dnrg-td2 h2{ width:100%;}
	.amount{ width:100%;}

}
@media screen and (max-width:320px){
	.bottom-nav{ width:100%; margin:0 auto; margin-top:20px; margin-left:2%;}
	.Paragraph{ margin-top:40px;}
	.bank-nongye1, .bank-nongye2, .bank-nongye3, .bank-nongye4{ width:100%; padding-left:0;}
	.shebei{ padding-left:5px; padding-right:5px;}
	.amount{ width:100%;}
}

@media screen and (max-width:240px){
	.amount{ margin-top:30px; width:100%;}
	.bank-nongye1, .bank-nongye2, .bank-nongye3, .bank-nongye4{ width:100%; padding-left:0;}
	.bank-nongye2, .bank-nongye4{ padding-top:0px;}
	.bank-nongye2{ padding-bottom:0;}
	.money-bt li{ margin-right:2.5833%;}
	.content { margin-top:40px;}
	.header img{ width:100%; margin-bottom:0;}
	.Paragraph, .contact{ margin-top:0px;}
	.Paragraph{ margin-top:40px;}
	.shebei{ padding-left:5px; padding-right:5px;}
	.dnrg-con, .dnrg-td h2, .dnrg-td2 h2 { width:100%;}
}	