@charset "utf-8";
/* CSS Document */
body{ font-family:微软雅黑; font-size:14px;}
.wrap{ max-width:980px; *width:980px; margin:0 auto; position:relative;}
.header{ border-top:solid 5px #333;}
.logo{ float:left; margin-top:20px;}
.banner img{ margin-bottom:34px; width:100%;}
.nav ul{ float:right;}
.nav li{ float:left; line-height:75px; margin-right:35px;}
.nav a{ text-decoration:none; }
.nav a:hover{ color:#f0013a;}
.nav li .offer{ color:#ff0033; line-height:75px; background:url(../images/line.gif) no-repeat bottom center; padding-bottom:27px; }
a.offer{ color:#ff0033;}
.money-bt li .dn-other{ height:20px; width:100px;}
.money-bt li{ padding-bottom:10px; margin-right:0px;}
.amount li{ float:left; padding-right:25px;}
.amount{ width:72.4489%; margin:0 auto; margin-bottom:30px;}
.bt{ float:left; margin-top:22px;}
.bt-donate{ margin-bottom:20px; padding-right:15px; height:43px; line-height:43px; width:140px;  border:none; font-family:微软雅黑; margin-right:34px; 
background:#999 url(../images/arrow.png) no-repeat; background-position:113px; cursor:pointer;}
.bt-donate:hover{ color:#FFF; background:#ff0033 url(../images/arrow.png) no-repeat; background-position:113px;}
.dot{ position:absolute; left:480px; bottom:-8px;}
.bank-nongye1, .bank-nongye3{ word-wrap:break-word; float:left; border-right:#ccc 1px dotted; padding-top:40px; padding-bottom:50px; width:35.7142%; padding-left:14.2857%; }
.bank-nongye1{ position:relative;}
.bank-nongye2, .bank-nongye4{ word-wrap:break-word; float:right; padding-bottom:50px; padding-top:40px; width:35.7142%; margin-right:8.4%;}
.shebei{ background:url(../images/bg.gif); border-top:#d5d5d5 1px solid; text-align:center; font-weight:bold;  padding-top:40px;}
.bank-one{ margin-top:20px; border-top:#d5d5d5 1px solid;}
.bank-two{ border-top:#ccc 1px dotted;}
.dnr-group{ border-top:1px solid #ccc; padding-top:20px;}
.dnr-group > p{ margin-bottom:25px; line-height:1.7;}
.dnrg-form{ background:url(../images/bg.gif); padding-bottom:60px;}
.dnrg-td{ padding-top:20px; padding-bottom:20px; border-bottom:#ccc 1px dotted; width:70%; margin:0 auto;}
.dnrg-td2{ padding-top:20px; padding-bottom:20px;  width:70%; margin:0 auto;}

.dnrg-td h2{ font-weight:bold;  float:left; width:14.0692%; line-height:1.7;} 
.dnrg-td2 h2{ font-weight:bold;  float:left; width:14.0692%; line-height:1.7;} 

.dnrg-con{ float:right;width:85.8%;}
.dnrg-con p{ margin-bottom:10px;}
.letter{ width:87.7551%; margin-left:6.1224%; margin-top:40px;}
.letter h2{ font-weight:bold;}
.letter p {margin-bottom:23px; line-height:24px;}
.bottom{ margin-top:52px; border-top:#d5d5d5 1px solid; height:136px; background:url(../images/bg.gif); margin-bottom:150px;}
.bottom-nav li{ float:left; padding-right:14px;}
.content p{ margin-top:10px;}
.bottom-nav a:hover{ color:#f0013a;}
.bottom-nav{ float:right; margin-right:6.1224%;}
.content { margin-top:40px;}
.content-left{ float:left; margin-left:6.1224%;}
.content-right{ float:right; width:82%;}
.bottom-nav a{text-decoration:none;}
.content p{ float:right; padding-right:6.1224%; margin:0 auto; margin-top:10px;}
.Para-left{  width:44.8979%; float:left; padding-left:6.1224%;  }
.Para-right{ width:37.1428%; float:right; padding-right:6.1224%;  }
.Para-one{ margin-bottom:20px;}
.Para-one p{line-height:22px;}
.Para-one h2{ font-weight:600; padding-bottom:10px;}
.Para-right p{ margin-bottom:20px;}
.more{padding-right:15px; color:#FFF; height:31px; line-height:31px; width:93px;  border:none;  font-family:微软雅黑; background:#999 url(../images/more.png) no-repeat; background-position:66px; }
.more:hover{ background:#F03 url(../images/more.png) no-repeat; background-position:66px; }

.sub-one{ padding-left:6.1224%; float:left; width:44.8979%; }
.sub-one p{ margin-bottom:20px; line-height:22px;}


.contact{ padding-left:2%;}
.contact-group{ margin-bottom:40px;  border-bottom:#ccc 1px dotted; padding-bottom:20px; margin:0 auto;}
.contact-group2{ margin-bottom:40px;  border-bottom:#ccc 1px dotted; padding-bottom:20px; margin:0 auto; margin-top:30px;}
.contact-group p, .contact-group2 p, .contact-group3 p{ word-wrap:break-word;}
.contact-group3{ margin-bottom:40px; padding-bottom:20px; margin:0 auto; margin-top:30px;}
.contact-group p{ line-height:22px; padding-bottom:15px;}
.contact-group2 p, .contact-group3 p{ line-height:22px; padding-bottom:15px;}
.con-title{ float:left; width:22.645%;}
.con-form{ float:left; width:38.961%; margin-right:5px;}
.wr-area{ width:75%; float:left; height:300px;}
.con-form{ float:left; width:38.961%; margin-right:5px;}
.bt-w{ height:31px; line-height:31px; width:93px;  border:none; font-family:微软雅黑; background-position:66px; background:#999; color:#fff; }
.bt-w:hover{  background-position:66px; background:#F03; color:#FFF; }

.yanzhengma{ float:left; width:75%;}
.submission{ width:37.1428%; float:right; padding-right:5.53%;}
.submission li{ margin-top:10px;}
.submission h1{font-weight:bold; }

.page-title{ float:right; margin-top:15px; display:none;}
.nav-mobile{transition:0.5s; -moz-transition:0.5s; -webkit-transition:0.5s; -o-transition:0.5s; float:right; margin-top:26px; display:none;}
.nav-mobile a{ width:31px; height:15px; display:block; background:url(../images/caidan.png) no-repeat;}
.nav-mobile a:hover{ background:url(../images/caidan-new.png) no-repeat; }




/*字体*/
.nav li, .money, .money-bt li, .dn-other, .amount li, .dnrg-td h2, .dnrg-td2 h2, .bt-w, .contact-group, .contact-group2 p, .contact-group3 p, .more, .letter h2, .shebei, .con-title{font-size:16px; font-size:1rem;}
.bt-donate, .Para-right h1, .Para-one h2, .submission h1{ font-size:18px; font-size:1.125rem;}
.content p{ font-size:12px;}
.money{font-weight:bold;}
.money, .nav a, .dnrg-td h2, .Para-one h2, .letter h2, .letter p, .Para-right h1, .contact-group p, .shebei{ color:#333;}
.bank-nongye1, .bank-nongye3, .bank-nongye2, .bank-nongye4, .dnrg-con p, .bottom-nav a, .content p, .Para-one p{ color:#666;}
.bt-donate, .bt-w, .bt-donate:hover{ color:#fff;}
