{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import editNbackBtn %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ broadcast.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ broadcast.title }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ broadcast.publishedAt|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>

{{ editNbackBtn('gospel_broadcast_update', 'gospel_broadcast_home', broadcast) }}
{% endblock %}
