{% extends '::backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="{{ path('gospel_area_category_index') }}">分类</a></li>
{% endblock %}

{% block body -%}
  <div class="content">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ areaCategory.id }}</td>
            </tr>
            <tr>
                <th>名称</th>
                <td>{{ areaCategory.title }}</td>
            </tr>
        </tbody>
    </table>
  </div>
<div class="form-actions form-wrapper" id="edit-actions">
<a  id="" name="op" href="{{ path('gospel_area_category_update', {id: areaCategory.id}) }}" class="button button-primary form-submit">修改</a>
<a  id="" name="op" href="{{ path('gospel_area_category_index') }}" class="button form-submit">返回</a>
</div>

{% endblock %}