{% extends '::backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="{{ path('gospel_category_index') }}">分类</a></li>
{% endblock %}

{% block body -%}
  <div class="content">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>名称</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>上级分类</th>
                <td>{{ category.parent }}</td>
            </tr>
		  {% if category.path %}
            <tr>
                <th>图片</th>
                <td> 
					{% if category.path %}
					<img src="{{ asset(category.webPath) | imagine_filter('thumb_120x90') }}" /> </td>
					{% endif %}
            </tr>
		  {% endif %}
			<tr>
			</tr>
            <tr>
                <th>描述</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>排序</th>
                <td>{{ category.sortOrder }}</td>
            </tr>
            <tr>
                <th>是否激活</th>
				<td>{% if category.isActive %}是{% else %}否{% endif %}</td>
            </tr>
        </tbody>
    </table>
  </div>
<div class="form-actions form-wrapper" id="edit-actions">
<a  id="" name="op" href="{{ path('gospel_category_update', {id: category.id}) }}" class="button button-primary form-submit">修改</a>
<a  id="" name="op" href="{{ path('gospel_category_index') }}" class="button form-submit">返回</a>
</div>

{% endblock %}