{% extends '::backend.html.twig' %}
{%block header %}<h1 class="page-title">圣诞产品订单列表</h1>{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body -%}
	<style>.right { 
 color: green;   
}
.wrong {
 color: red;   
}</style>
<table id="edit-entities" class="sticky-enabled responsive-enabled tabledrag-processed tableresponsive-processed tableheader-processed sticky-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>产品名称</th>
			<th>价格</th>
			<th>姓名</th>
			<th>地址</th>
			<th>电话</th>
			<th>支付状态</th>
			<th>创建日期</th>
		</tr></thead>
	<tbody>
	{% for entity in orderItems %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.id }}</td>
				<td>{{ entity.title }}</td>
				<td>￥{{ entity.price }}</td>
				<td>{{ entity.name }}</td>
				<td>{{ entity.address }}</td>
				<td>{{ entity.phone }}</td>
				<td>{% if entity.status == 1 %}<p class='right'>&#10004;已支付</p>{% else %}<p class='wrong'>&#10006;未支付</p>{% endif %}</td>
				<td>{{ entity.created|date('Y-m-d H:m:s') }}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% if orderItems.haveToPaginate()|default(false) %}
{{ pagerfanta(orderItems, 'twitter_bootstrap_translated', options|default({})) }}
{% endif %}
{% endblock %}
