{% extends '::backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="{{ path('gospel_group') }}">用户组: {{ group.name }}</a></li>
{% endblock %}

{% block body -%}
  <div class="content">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ group.id }}</td>
            </tr>
            <tr>
                <th>用户组</th>
				<td>{{ group.name }}</td>
            </tr>
        </tbody>
    </table>
  </div>
<div class="form-actions form-wrapper" id="edit-actions">
<a  id="" name="op" href="{{ path('gospel_group_update', {id: group.id}) }}" class="button button-primary form-submit">修改</a>
<a  id="" name="op" href="{{ path('gospel_group') }}" class="button form-submit">返回</a>
</div>

{% endblock %}