/**
 * Generic elements.
 */
dl dd,
dl dl {
  margin-right: 20px;
}
ul,
.block ul,
.item-list ul {
  margin: 0.25em 1.5em 0.25em 0;
}
ol {
  margin: 0.25em 2em 0.25em 0;
}

/**
 * Skip link.
 */
#skip-link {
  right: 50%;
  margin-right: -5.25em;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  padding: 1px 10px 2px 10px;
}

/**
 * Branding.
 */
#branding {
  padding: 20px 20px 0 20px;
}

/**
 * Help.
 */
#help div.more-help-link {
  text-align: left;
}

/**
 * Page title.
 */
#branding h1.page-title {
  float: right;
}

/**
 * Tabs.
 */
ul.primary li,
ul.primary li a:link,
ul.primary li a.active {
  float: right;
}
ul.primary,
ul.secondary {
  float: left;
}
ul.secondary li {
 float: none;
}
ul.primary {
 padding-top: 0;
}

/**
 * Page layout.
 */
ul.links li,
ul.inline li {
  padding-left: 1em;
  padding-right: 0;
}
.admin-list li a {
  background: url(images/list-item-rtl.png) no-repeat right 11px;
  padding: 9px 39px 9px 9px;
}

/**
 * Tables.
 */
table th.active a {
  padding: 0 0 0 25px;
}
table th.active img {
  left: 3px;
  right: auto;
}
/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
tr td:last-child {
  border-left: 1px solid #bebfb9;
  border-right: none;
}

/* Filter */
ul.tips li {
  margin: 0.25em 1.5em 0.25em 0;
}
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 0;
  margin-right: 1.5em;
}

/* Update options. */
div.admin-options label,
div.admin-options div.form-item {
  margin-left: 10px;
  margin-right: 0;
  float: right;
}

/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: right;
}
body.in-maintenance #content {
  float: left;
  padding-left: 20px;
  padding-right: 0;
}
ol.task-list {
  margin-right: 0;
}
ol.task-list li {
  padding: 0.5em 20px 0.5em 1em;
}
ol.task-list li.active {
  background: transparent url(images/task-item-rtl.png) no-repeat right 50%;
  padding: 0.5em 20px 0.5em 1em;
}

/* Overlay theming */
.overlay #branding .breadcrumb {
  float: right;
}
.overlay ul.secondary {
  margin: -1.4em 0 0.3em 0;
}

/* Recent content block */
#block-node-recent .more-link {
  padding: 0 0 5px 5px;
}

/**
 * Improve spacing of cancel link.
 */
#edit-cancel {
  margin-right: 10px;
}

/**
 * Views styling
 */
 /* @group Forms */

.views-admin .form-submit,
.views-admin a.button {
  margin-left: 0;
}

/* @end */

/* @group Lists */

.views-admin .links li {
  padding-left: 0;
}

/* @end */

/* @group Attachments */

.views-displays .secondary {
  text-align: right;
}

/* @end */

/* @group Attachment details tabs */

.views-display-top ul.secondary {
  float: right;
}

.views-displays .secondary .action-list  li:first-child {
  border-radius: 7px 0 0 0;
}

/* @end */


/**
 * Node Add/Edit Page Layout
 */

/* Narrow screens */
/*.overlay .layout-region-secondary {
    box-shadow: inset -0.15em 0.3em .5em rgba(0, 0, 0, .1);
}*/
/* Wide screens */
@media only screen and (min-width: 780px) {
  .overlay [id="edit-additional-settings"] {
    box-shadow: inset -3px 3px 5px rgba(0, 0, 0, .15);
  }
}
