/**
 * Generic elements.
 */
body {
  color: #000;
  background: #fff;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
a,
.link {
  color: #0074bd;
  text-decoration: none;
}
a:hover,
.link:hover {
  text-decoration: underline;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}
summary,
legend {
  font-weight: bold;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 10px 0;
}
h1 {
  font-size: 1.538em;
}
h2 {
  font-size: 1.385em;
}
h3 {
  font-size: 1.231em;
}
h4 {
  font-size: 1.154em;
}
h5,
h6 {
  font-size: 1.077em;
}
p {
  margin: 1em 0;
}
dl {
  margin: 0 0 20px;
}
dl dd,
dl dl {
  margin-left: 20px; /* LTR */
  margin-bottom: 10px;
}
blockquote {
  margin: 1em 40px;
}
address {
  font-style: italic;
}
u,
ins {
  text-decoration: underline;
}
s,
strike,
del {
  text-decoration: line-through;
}
big {
  font-size: larger;
}
small {
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
nobr {
  white-space: nowrap;
}
abbr,
acronym {
  border-bottom: dotted 1px;
}
ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 0em; /* LTR */
}
.item-list .pager li {
  padding: 0.5em;
}
.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(../../backendcore/misc/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(../../backendcore/misc/menu-expanded.png);
  list-style-type:circle;
}
quote,
code {
  margin: .5em 0;
}
code,
pre,
kbd {
  font-size: 1.231em;
}
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

/**
 * Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%; /* LTR */
  margin-left: -5.25em; /* LTR */
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: inline-block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px; /* LTR */
  text-decoration: none;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}

/**
 * Branding.
 */
#branding {
  overflow: hidden;
  padding: 20px 20px 0 20px; /* LTR */
  position: relative;
  background-color: #e0e0d8;
}
.breadcrumb {
}

/**
 * Help.
 */
#help {
  font-size: 0.923em;
}
#help p {
  margin: 0 0 10px;
}
#help div.more-help-link {
  text-align: right; /* LTR */
}

/**
 * Page title.
 */
#page-title {
  background: #333;
  padding-top: 20px;
}
#branding h1.page-title {
  color: #000;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.385em;
  font-weight: normal;
  float: left; /* LTR */
}

/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}

/**
 * Tabs.
 */
ul.primary {
  float: right; /* LTR */
  border-bottom: none;
  text-transform: uppercase;
  font-size: 0.923em;
  margin: 0;
  padding-top: 0;
}
ul.primary li {
  float: left; /* LTR */
  list-style: none;
  height: 2.60em;
  margin: 0 2px;
}
ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  display: block;
  float: left; /* LTR */
  padding: 0.615em 18px;
  background-color: #a6a7a2;
  color: #000;
  font-weight: bold;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #a6a7a2;
  border-radius: 8px 8px 0 0;
}
ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  background-color: #fff;
  border-color: #c9cac4;
}
ul.primary li a:hover {
  color: #fff;
}
ul.primary li.active a:hover {
  color: #000;
}
.tabs-secondary {
  clear: both;
}
ul.secondary {
  float: right; /* LTR */
  font-size: 0.923em;
  padding: 0 3px 5px;
  line-height: 1.385em;
  overflow: hidden;
  background-color: #fff;
}
ul.secondary li {
  margin: 0 5px;
  float: none; /* LTR */
}
ul.secondary li a {
  background-color: #ddd;
  color: #000;
  display: inline-block;
}
ul.secondary li a,
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  padding: 2px 10px;
  border-radius: 7px;
}
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  color: #fff;
  background: #666;
}
#content {
  clear: left;
}
@media screen and (max-width:56.538em) { /* 735px */
  .touch #branding {
    padding-right: 0;
    position: relative;
  }
  .touch ul.primary {
    clear: both;
    float: none;
    margin-bottom: -3px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    padding-right: 40px;
  }
  .touch #branding:after {
    background-image: -moz-linear-gradient(360deg, rgba(224, 224, 216, 0), #E0E0D8 80%);
    background-image: -o-linear-gradient(360deg, rgba(224, 224, 216, 0), #E0E0D8  80%);
    background-image: -webkit-linear-gradient(360deg, rgba(224, 224, 216, 0), #E0E0D8 80%);
    background-image: linear-gradient(360deg, rgba(224, 224, 216, 0), #E0E0D8 80%);
    content: ' ';
    display: block;
    float: right;
    height: 40px;
    width: 80px;
    position: relative;
    right: 0;
    top: -40px;
    margin-bottom: -40px;
  }
  .touch ul.primary li {
    float: none;
    white-space: nowrap;
  }
  .touch ul.primary li a:link,
  .touch ul.primary li a.active,
  .touch ul.primary li a:active,
  .touch ul.primary li a:visited,
  .touch ul.primary li a:hover,
  .touch ul.primary li.active a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
  }
}

/**
 * Page layout.
 */
#page {
  background: #fff;
  color: #333;
  margin-left: 0.8125em;
  margin-right: 0.8125em;
  padding: 20px 0 40px 0;
  position: relative;
}
@media screen and (min-width:28.125em) { /* 450px */
  #page {
    margin-left: 1.25em;
    margin-right: 1.25em;
  }
}
@media screen and (min-width:45em) { /* 720px */
  #page {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}
ul.links li,
ul.inline li {
  padding-right: 1em; /* LTR */
}
ul.inline li {
  display: inline;
}
.admin-list {
  margin: 0;
  padding: 0;
}
.admin-list li {
  position: relative;
  border-top: 1px solid #ccc;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
  padding: 0;
}
.admin-list.compact li {
  border: none;
}
.admin-list li a {
  background: url(images/list-item.png) no-repeat 9px 11px; /* LTR */
  display: block;
  padding: 9px 9px 9px 39px; /* LTR */
  min-height: 0;
}
.admin-list.compact li a {
  background-image:  none;
  padding: 2px 19px;
}
.admin-list li a:hover,
.admin-list li a:focus,
.admin-list li a:active {
  text-decoration: none;
}
.admin-list li a:hover .label,
.admin-list li a:focus .label,
.admin-list li a:active .label {
  text-decoration: underline;
}
div.submitted {
  color: #898989;
}

/**
 * Tables.
 */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border-right: 1px solid #bebfb9;
  border-bottom: 1px solid #bebfb9;
}
table td,
table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}
tr.even,
tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
  background: #f3f4ee;
}
tr.odd {
  background: #fff;
}
tr.drag {
  background: #fe7;
}
tr.drag-previous {
  background: #ffb;
}
table th {
  text-transform: uppercase;
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  padding: 3px 10px;
}
table th.active {
  background: #bdbeb9;
}
table th a {
  display: block;
  position: relative;
}
table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px; /* LTR */
}
/**
 * Force browsers to calculate the width of a 'select all' TH element.
 */
table th.select-all {
  width: 1px;
}
table td.active {
  background: #e9e9dd;
}
table tr.odd td.active {
  background: #f3f4ee;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}

table.system-status-report tr {
  border-top: 1px solid #ccc;
  border-left: 1px solid #bebfb9;
  border-bottom: inherit;
}
table.system-status-report tr:first-child {
  border-top: 1px solid #bebfb9;
}
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}

/**
 * Responsive tables.
 */
@media screen and (max-width: 37.5em) { /* 600px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}
@media screen and (max-width: 60em) { /* 920px */
  th.priority-low,
  td.priority-low {
    display: none;
  }
}

/**
 * Collapsible details.
 */
details {
  line-height: 1.295em;
}
details summary {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/**
 * Form elements.
 */
.form-item {
  margin: 1em 0;
}
.form-type-checkbox {
  padding: 0;
}
.form-item label {
  margin: 0;
  padding: 0;
}
.form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}
.form-item label.option input {
  vertical-align: middle;
}
.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-tel,
.form-disabled input.form-email,
.form-disabled input.form-url,
.form-disabled input.form-search,
.form-disabled input.form-number,
.form-disabled input.form-color,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

/* Filter */
.filter-wrapper {
  font-size: 0.923em;
}
ul.tips,
div.description,
.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}
ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em; /* LTR */
}
.button {
  cursor: pointer;
  padding: 4px 17px;
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background-color: #e4e4e4;
  border-radius: 20px;
  text-decoration: none;
}
.button:focus,
.button:hover {
  background-color: #c0c0c0;
  border: 1px solid #bebebe;
  border-left-color: #afafaf;
  border-right-color: #afafaf;
  border-bottom-color: #9b9b9b;
  color: #2e2e2e;
  text-decoration: none;
}
.button:active {
  background-color: #565656;
  border: 1px solid #333;
  border-left-color: #222;
  border-right-color: #222;
  border-bottom-color: #111;
  color: #fff;
  text-decoration: none;
  text-shadow: #222 0 -1px 0;
}
.button-primary {
  background-color: #9dcae7;
  border: 1px solid #8eB7cd;
  border-bottom-color: #7691a2;
  color: #133B54;
}
.button-primary:focus,
.button-primary:hover {
  background-color: #73b3dd;
  border: 1px solid #6ea3bf;
  border-bottom-color: #4680a0;
}
.button-primary:active {
  background-color: #3981b1;
  border: 1px solid #36647c;
  border-bottom-color: #284657;
}
.button-disabled,
.button-disabled:active,
.button[disabled],
.button[disabled]:active {
  background-color: #eee;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
textarea.form-textarea,
select.form-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  max-width: 100%;
}
input.form-text:focus,
input.form-tel:focus,
input.form-email:focus,
input.form-url:focus,
input.form-search:focus,
input.form-number:focus,
input.form-color:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
  border-color: rgba(0, 116, 189, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(220, 220, 220, 0.4);
  outline-color: rgba(0, 116, 189, 0.5);
}
.js input.form-autocomplete {
  background-position: 100% 4px;
}
.js input.throbbing {
  background-position: 100% -16px;
}
.button-action {
  background: #1078d4;
  background-image: -webkit-linear-gradient(top, #419ff1, #1076d5);
  background-image: -moz-linear-gradient(top, #419ff1, #1076d5);
  background-image: -o-linear-gradient(top, #419ff1, #1076d5);
  background-image: linear-gradient(to bottom, #419ff1, #1076d5);
  border: 1px solid #0048c8;
  border-radius: .4em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4);
  color: #fff;
  font-size: 1em;
  line-height: normal;
  margin: 0;
  padding: 4px 1em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.button-action:focus,
.button-action:hover {
  background-color: #419cf1;
  background-image: -webkit-linear-gradient(top, #59abf3, #2a90ef);
  background-image: -moz-linear-gradient(top, #59abf3, #2a90ef);
  background-image: -o-linear-gradient(top, #59abf3, #2a90ef);
  background-image: linear-gradient(to bottom, #59abf3, #2a90ef);
  border: 1px solid #0048c8;
  color: #fff;
}
.button-action:active {
  background-color: #0e69be;
  background-image: -webkit-linear-gradient(top, #0e69be, #2a93ef);
  background-image: -moz-linear-gradient(top, #0e69be, #2a93ef);
  background-image: -o-linear-gradient(top, #0e69be, #2a93ef);
  background-image: -ms-linear-gradient(top, #0e69be, #2a93ef);
  background-image: linear-gradient(to bottom, #0e69be, #2a93ef);
  border: 1px solid #0048c8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .25);
}

/**
 * Improve spacing of cancel link.
 */
#edit-cancel {
  margin-left: 10px; /* LTR */
}

/**
 * Improve form element usability on narrow devices.
 */
@media screen and (max-width: 600px) {
  #page {
    margin: 0 10px;
  }
  input.form-autocomplete,
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  textarea.form-textarea,
  .form-select {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
  }
  input.form-number {
    width: auto;
  }
  input.form-autocomplete,
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  textarea.form-textarea {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .form-actions input,
  .form-wrapper input[type="submit"] {
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 6px;
    width: 100%;
  }
  .form-actions input:first-child,
  .form-wrapper input[type="submit"]:first-child {
    margin-top: 0;
  }
  .exposed-filters .filters,
  .exposed-filters .form-item label,
  .exposed-filters .form-select {
    float: none;
    margin-bottom: 2px;
    width: 100%;
  }
  details summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #dblog-filter-form .form-actions {
    float: none;
    padding: 0;
  }
  #edit-cancel {
    display: block;
    margin: 10px 0 0 0;
  }
}

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

/**
 * System.
 */
@media screen and (min-width: 40em) {
  div.admin .right,
  div.admin .left {
    width: 49%;
    margin: 0;
  }
}
div.admin-panel,
div.admin-panel .body {
  padding: 0;
  clear: left;
}
div.admin-panel {
  margin: 0 0 20px;
  padding: 9px;
  background: #f8f8f8;
  border: 1px solid #ccc;
}
div.admin-panel h3 {
  font-size: 0.923em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 9px;
}

/* admin/appearance */
#system-themes-page h2 {
  font-weight: normal;
  text-transform: uppercase;
}
.theme-selector h3 {
  font-weight: normal;
}
.theme-default h3 {
  font-weight: bold;
}

/* Update options. */
div.admin-options {
  background: #f8f8f8;
  line-height: 30px;
  height: 30px;
  padding: 9px;
  border: 1px solid #ccc;
  margin: 0 0 10px;
}
div.admin-options label {
  text-transform: uppercase;
  font: 0.846em/1.875em Lucida Grande, Lucida Sans Unicode, sans-serif;
}
div.admin-options label,
div.admin-options div.form-item {
  margin-right: 10px; /* LTR */
  float: left; /* LTR */
}
div.admin-options div.form-item {
  padding: 0;
  border: 0;
}

/* Update status */
.versions table.version {
  border: none;
}

/* Maintenance theming */
body.in-maintenance #sidebar-first {
  float: left; /* LTR */
  max-width: 200px;
  width: 25%;
}
body.in-maintenance #content {
  float: right; /* LTR */
  max-width: 550px;
  clear: none;
  width: 72%;
}
body.in-maintenance #page {
  max-width: 770px;
  margin: 0 auto;
  padding-top: 2em;
  width: 90%;
}
body.in-maintenance #branding h1 {
  max-width: 770px;
  margin: 0 auto;
  float: none;
  width: 90%;
}
body.in-maintenance .form-radios .form-type-radio {
  padding: 2px 0;
}
body.in-maintenance div.form-item:after {
  content: "";
  display: none;
  clear: none;
}
body.in-maintenance .form-submit {
  display: block;
}
body.in-maintenance #logo {
  margin-bottom: 1.5em;
  max-width: 180px;
}
@media all and (max-width: 768px) {
  body.in-maintenance #sidebar-first,
  body.in-maintenance #content {
    float: none;
    max-width: none;
    width: auto;
  }
}
ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #adadad;
}
ol.task-list li.active {
  background: transparent url(images/task-item.png) no-repeat 3px 50%; /* LTR */
  padding: 0.5em 1em 0.5em 20px; /* LTR */
  color: #000;
}
ol.task-list li.done {
  background: transparent url(images/task-check.png) no-repeat 0 50%;
  color: green;
}
body.in-maintenance #branding .step-indicator {
  display: none;
}
@media all and (max-width: 768px) {
  ol.task-list,
  body.in-maintenance #logo {
    display: none;
  }
  body.in-maintenance #branding h1 {
    float: left;
    width: auto;
  }
  body.in-maintenance #branding .step-indicator {
    display: block;
    float: right;
  }
}

/* Overlay theming */
.overlay #branding {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.overlay #branding h1.page-title,
.overlay #left,
.overlay #footer {
  display: none;
}
.overlay #page {
  margin: 0;
  padding: 0 20px;
}
.overlay #branding .breadcrumb {
  float: left; /* LTR */
  position: relative;
  z-index: 10;
}
#overlay-tabs {
  bottom: -1px;
  font-size: 1.54em;
  line-height: 1.54em;
  margin: 0;
}
.overlay ul.secondary {
  background: transparent none;
  margin: -1.4em 0 0.3em 0; /* LTR */
  overflow: visible;
}
.overlay #content {
  padding: 0;
}
h1#overlay-title {
  font-weight: normal;
}

/* Shortcut theming */
.add-or-remove-shortcuts a:focus span.text,
.add-or-remove-shortcuts a:hover span.text {
  color: #fff;
  background-color: #5f605b;
  padding: 0 6px;
  border-radius: 5px;
}

/* Field UI */

#field-display-overview input.field-formatter-settings-edit {
  margin: 0;
  padding: 1px 8px;
}
#field-display-overview tr.field-formatter-settings-changed {
  background: #ffffbb;
}
#field-display-overview tr.drag {
  background: #ffee77;
}
#field-display-overview tr.field-formatter-settings-editing {
  background: #d5e9f2;
}
#field-display-overview .field-formatter-settings-edit-form .form-item {
  margin: 10px 0;
}
#field-display-overview .field-formatter-settings-edit-form .form-submit {
  margin-bottom: 0;
}

/* Modules page */
#system-modules fieldset {
  border: 0;
  border-top: 1px solid #ccc;
}
#system-modules .fieldset-wrapper {
  padding: 0;
}
#system-modules table,
#locale-translation-status-form table {
  border: 0;
}
#system-modules tr.even,
#system-modules tr.odd,
#locale-translation-status-form tr.even,
#locale-translation-status-form tr.odd {
  background: #f3f4ee;
  border: 0;
  border-bottom: 10px solid #fff;
}
#system-modules tr td:last-child,
#locale-translation-status-form tr td:last-child {
  border: 0;
}
#system-modules table th,
#locale-translation-status-form table th {
  border: 0;
  border-bottom: 10px solid #fff;
}
#system-modules .sticky-header th,
#locale-translation-status-form .sticky-header th {
  border: 0;
}
/* Recent content block */
#block-node-recent table,
#block-node-recent tr {
  border: none;
}
#block-node-recent .more-link {
  padding: 0 5px 5px 0; /* LTR */
}

/* Dropbutton */
.js .dropbutton-widget {
  background-color: #fff;
  background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), #e7e7e7);
  background-image: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0), #e7e7e7);
  background-image: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), #e7e7e7);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #e7e7e7);
  border-radius: 5px;
}
.js .dropbutton-widget:hover {
  background-color: #f0f0f0;
  border-color: #b8b8b8;
}
.js .dropbutton-multiple.open .dropbutton-widget:hover {
  background-color: #fff;
}
.dropbutton-content li:first-child > * {
  text-overflow: ellipsis;
}
.dropbutton-multiple.open .dropbutton-content li:first-child > * {
  text-overflow: clip;
}

.js .form-actions .dropbutton-widget:focus,
.js .form-actions .dropbutton-widget:hover {
  background-color: #73b3dd;
  border: 1px solid #6ea3bf;
  border-bottom-color: #4680a0;
}
.js .form-actions .dropbutton-widget:active {
  background-color: #3981b1;
  border: 1px solid #36647c;
  border-bottom-color: #284657;
}
.js .form-actions .dropbutton-multiple.open .dropbutton-widget:hover {
  background-color: #9dcae7;
}
.js .form-actions .dropbutton-multiple.open .dropbutton-action:hover {
  background-color: #73b3dd;
}

/* Disable overlay message */
#overlay-disable-message {
  background-color: #addafc;
}
#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}
#overlay-disable-message a:focus,
#overlay-disable-message a:active {
  outline: none;
  text-decoration: underline;
}
.overlay-disable-message-focused a {
  padding: 0.4em 0.6em;
}
.overlay-disable-message-focused #overlay-dismiss-message {
  background-color: #59a0d8;
  color: #fff;
  border-radius: 8px;
}

/**
 * Views styling
 */

/* @group Forms */

/**
 * Seven positions the summary absolutely, but does not have a way to ignore
 * details without a summary so we make one up.
 *
 * @todo Neither a fieldset without legend nor a details without summary is
 *   valid HTML markup in any way. Refactor Views UI to not produce such invalid
 *   markup.
 */
details.fieldset-no-legend {
  padding-top: 0;
}

/**
 * Being extra safe here and scoping this to the add view wizard form (where
 * a layout problem occurs for the Display format details if we don't fix its
 * padding), but it's probably safe to just let it apply everywhere.
 */
#views-ui-add-form details details .details-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.views-display-tab details.box-padding .details-wrapper {
  padding: 0;
}

.views-admin .form-item label.option,
#views-ui-preview-form .form-item label.option {
  font-size: 1em;
}

.views-admin input.form-submit,
.views-ui-dialog input.form-submit,
.views-admin a.button,
.views-ui-dialog a.button {
  margin-bottom: 0;
  margin-right: 0; /* LTR */
  margin-top: 0;
}

/* Override for a button on the edit display screen */
#edit-displays-preview-controls .form-submit {
  display: inline-block;
  margin-right: 1em;
}

.form-radios > .form-item {
  margin-top: 3px;
}

/* @group Dependent options
 */

/* This is necessary to supercede the Seven .form-item
 * reset declaration that sets the margin to zero.
 */
.form-item-options-expose-required,
.form-item-options-expose-label,
.form-item-options-expose-description {
  margin-left: 1.5em;
}

.views-admin-dependent .form-item .form-item,
.views-admin-dependent .form-type-checkboxes,
.views-admin-dependent .form-type-radios,
.views-admin-dependent .form-item .form-item,
.form-item-options-expose-required,
.form-item-options-expose-label,
.form-item-options-expose-description {
  margin-bottom: 6px;
  margin-top: 6px;
}

.views-admin-dependent .form-type-radio,
.views-admin-dependent .form-radios .form-item {
  margin-bottom: 2px;
  margin-top: 2px;
}

/* @end */

/* @group Lists */

.views-admin ul.secondary,
.views-admin .item-list ul {
  margin: 0;
  padding: 0;
}

.views-displays ul.secondary li a,
.views-displays ul.secondary li.active a,
.views-displays ul.secondary li.active a.active {
  padding: 2px 7px 3px;
}

.views-displays ul.secondary li a {
  color: #0074bd;
}

.views-displays ul.secondary li.active a,
.views-displays ul.secondary li.active a.active {
  border: 1px solid transparent;
}

.views-admin .links li {
  padding-right: 0; /* LTR */
}

.views-admin .button .links li {
  padding-right: 12px; /* LTR */
}

.views-display-top ul.secondary {
  background-color: transparent;
  float: left
}

.views-display-top .secondary .action-list li {
  float: none;
  margin: 0;
}

/* @end */

/* @group Tables */

.views-ui-rearrange-filter-form table td,
.views-ui-rearrange-filter-form table th {
  vertical-align: top;
}

/* @end */

/* @group Attachment details */

#edit-display-settings-title {
  color: #008BCB;
}

/* @end */

/* @group Attachment details tabs
 *
 * The tabs that switch between sections
 */

.views-displays .secondary {
 text-align: left; /* LTR */
}

.views-admin .icon.add {
  background-position: center 3px;
}

.views-displays .secondary a:hover > .icon.add {
  background-position: center -25px;
}

.views-displays .secondary .open > a {
  border-radius: 7px 7px 0 0;
}

.views-displays .secondary .open > a:hover {
  background-color: #f1f1f1;
  color: #008BCB;
}

.views-displays .secondary .action-list  li:first-child {
  border-radius: 0 7px 0 0;
}

.views-displays .secondary .action-list  li:last-child {
  border-radius: 0 0 7px 7px;
}

.views-displays .secondary .action-list input.form-submit {
  color: #008bcb;
}

/* @end */

/* @group Attachment buckets
 *
 * These are the individual "buckets," or boxes, inside the display settings area
 */

.views-ui-display-tab-bucket h3 {
  font-size: 12px;
  text-transform: uppercase;
}

.views-ui-display-tab-bucket .links {
  padding: 2px 6px 4px;
}

.views-ui-display-tab-bucket .links li + li {
  margin-left: 3px;
}

/* @end */

/* @group Rearrange filter criteria */

#views-ui-rearrange-filter-form .action-links {
  margin: 0;
  padding: 0;
}

#views-ui-rearrange-filter-form table {
  border: medium none;
}

#views-ui-rearrange-filter-form [id^="views-row"] {
  border: medium none;
}

#views-ui-rearrange-filter-form tr td:last-child {
  border-right: medium none;
}

#views-ui-rearrange-filter-form .filter-group-operator-row {
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}

#views-ui-rearrange-filter-form tr.drag td {
  background-color: #FFEE77 !important;
}

#views-ui-rearrange-filter-form tr.drag-previous td {
  background-color: #FFFFBB !important;
}

/* @end */

/* @group Live preview elements */

.views-query-info pre {
  margin-bottom: 0;
  margin-top: 0;
}

/* @group Query info table */

.views-query-info table {
  border-radius: 7px;
  -webkit-border-horizontal-spacing: 1px;
  -webkit-border-vertical-spacing: 1px;
}

.views-query-info table tr td:last-child {
  /* Fixes a Seven style that bleeds down into this table unnecessarily */
  border-right: 0 none;
}

/* @end */

/* @end */

/* @group Add view */

.form-item-page-create,
.form-item-block-create {
  margin-top: 13px;
}

/* @end */

/* @group Modal dialog box
 *
 * The contents of the popup dialog on the views edit form.
 */

.views-ui-dialog .ui-dialog-titlebar-close {
  box-shadow: none;
  border-color: #cccccc;
  right: -27px;
  top: -1px;
}

.views-ui-dialog details:not(.collapsed) {
  padding-top: 1.5em;
}

.filterable-option .form-item.form-type-checkbox {
  /* This selector is aggressive because Seven's reset for .form-items is aggressive. */
  padding-bottom: 4px;
  padding-left: 4px;
  padding-top: 4px;
}

/* @end */

/**
 * Entity meta settings.
 */
.entity-meta {
  background-color: #ececec;
  border-bottom: 0;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  border-top: 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
  margin-top: 0;
  padding-top: 0;
}
.entity-meta-header,
.entity-meta details {
  background-color: #f7f7f7;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}
.entity-meta-header {
  padding: 1em 1.5em;
}
.entity-meta-header .form-item {
  margin: .25em 0;
}
.entity-meta-header .published {
  font-size: 1.231em;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}
.entity-meta-header .changed {
  font-style: italic; /* As-designed, but really: why is this italic? */
}
.entity-meta details {
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ffffff;
  margin: 0;
}
.entity-meta details[open] {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .125), transparent 4px);
  background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, .125), transparent 4px);
  background-image:      -o-linear-gradient(top, rgba(0, 0, 0, .125), transparent 4px);
  background-image:         linear-gradient(to bottom, rgba(0, 0, 0, .125), transparent 4px);
  border-top-width: 0;
  padding-top: 1px;
}
.entity-meta details[open] + [open] {
  background-image: none;
  border-top-width: 1px;
  padding-top: 0;
}
.entity-meta details > .details-wrapper {
  padding-top: 0;
}
.entity-meta details > summary {
  padding: 0.85em 1.25em;
  text-shadow: 0 1px 0 white;
}
.entity-meta details .summary {
 display: none; /* Hide JS summaries. @todo Rethink summaries. */
}
.overlay .layout-region-node-footer {
  padding-bottom: .5em;
}

/**
 * Widescreen
 *
 * Both of the following media queries must *exactly* match what is in
 * node.module.css. This is rather crazy.
 *
 * @todo Figure out how to reduce media query duplication across files
 *       and modules. Layout styles only allowed in themes?
 */
@media
  screen and (min-width: 780px),
  (orientation: landscape) and (min-device-height: 780px) {

  [class*="page-node-add-"] #page,
  .page-node-edit #page {
    padding-top: 0;
    margin-right: 0;
  }

  [class*="page-node-add-"] #console,
  .page-node-edit #console {
    margin-right: 2.5em;
  }

  .layout-node-form {
    overflow: hidden;
    position: relative;
  }
  /**
   * Draw a bottom border on the meta settings region
   * @todo Better ideas welcome.
   */
  .layout-node-form:before {
    content: '';
    display: block;
    height: 0;
    width: 34.9%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 1px solid #bfbfbf;
  }

  .layout-region-node-secondary {
    /**
     * 1. Applies the Position Is Everything technique for equal-height columns;
     *    @see http://www.positioniseverything.net/articles/onetruelayout/equalheight
     * 2. When animating the height of elements within this region, prevent
     *    vertical jittering of elements further down in the document flow.
     */
    margin-bottom: -999em; /* 1 */
    padding-bottom: 999em; /* 1 */
    display: table; /* 2 */

    background-color: #f7f7f7;
    border-left: 1px solid #bfbfbf;
  }

  .entity-meta {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff;
  }
  .entity-meta-header {
    border-top: 0;
  }

  /* Additional overlay theming */

  /**
   * These are terrible selectors.
   * @todo Add a proper class to the overlay for this page.
   */
  .overlay[class*="page-node-add-"] #overlay-content,
  .overlay.page-node-edit #overlay-content {
    padding: 0;
  }
  .overlay[class*="page-node-add-"] #page,
  .overlay.page-node-edit #page {
    padding: 0;
  }
  .overlay[class*="page-node-add-"] #branding,
  .overlay.page-node-edit #branding {
    padding-left: 2em;
    padding-right: 2em;
  }
  .overlay[class*="page-node-add-"] #console,
  .overlay.page-node-edit #console {
    margin: 0 2em;
  }
  .overlay[class*="page-node-add-"] .messages,
  .overlay.page-node-edit .messages {
    margin-bottom: 1em;
  }
  .overlay .layout-node-form {
    border-top: 1px solid #bfbfbf;
  }
  .overlay .layout-node-form:before {
    display: none;
  }
  .overlay .layout-region-node-main,
  .overlay .layout-region-node-footer {
    padding-left: 2em;
  }
  .overlay .layout-region-node-footer {
    padding-bottom: 1.5em;
  }
}
@media
  screen and (max-width: 1020px),
  (orientation: landscape) and (max-device-height: 1020px) {

  .toolbar-vertical .layout-region-node-secondary {
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
  }
  .toolbar-vertical .layout-region-node-secondary {
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
  }
  .toolbar-vertical .layout-node-form:after {
    display: none;
  }
}


/**
 * Node form dropbuttons.
 */
.form-actions .dropbutton-wrapper li a,
.form-actions .dropbutton-wrapper input {
  padding: 5px 17px 6px 17px;
  margin-bottom: 0em;
  border: medium;
  border-radius: 0;
  background: none;
}
.form-actions .dropbutton-wrapper input:hover {
  background: none;
  border: none;
}
/* Delete button */
.form-actions .button-danger {
  color: #c72100;
  background: none;
  border: none;
  float: right;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.form-actions .button-danger:hover,
.form-actions .button-danger:focus {
  color: #ff2a00;
  background: none;
  border: none;
  text-decoration: underline;
}
.form-actions .button-danger:active {
  color: #ff2a00;
  background: none;
  border: none;
  text-decoration: underline;
}

/**
 * Form edit action theming
 */
.js .form-actions .dropbutton-widget {
  background-color: #50a0e9;
  background-image: -moz-linear-gradient(-90deg, #50a0e9, #4481dc);
  background-image: -o-linear-gradient(-90deg, #50a0e9, #4481dc);
  background-image: -webkit-linear-gradient(-90deg, #50a0e9, #4481dc);
  background-image: linear-gradient(180deg, #50a0e9, #4481dc);
  border-radius: 3px;
  border: 1px solid #3974ae;
}
.js .form-actions .dropbutton-widget .dropbutton li {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-top-left-radius: 3px;
}
.js .form-actions .dropbutton-widget .dropbutton .dropbutton-toggle {
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  top: 1px;
}
.js .form-actions .dropbutton-widget .dropbutton .secondary-action {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-top-left-radius: 0px;
}
.js .form-actions .dropbutton-widget .button {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(31, 83, 131, 0.8);
}
.js .form-actions .dropbutton-multiple.open .dropbutton-action:hover {
  background-color: #50a0e9;
}
.control-group {
  margin-bottom: 10px;
}

legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal #gospel_video_type label {
  float: none;
  width: 50px;
  padding-top: 5px;
  text-align: left;
}
[for="gospel_video_type_placeholder"], #gospel_video_type_placeholder {display: none;}

.form-horizontal label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}

.form-horizontal .controls:first-child {
  *padding-left: 180px;
}

.form-horizontal .help-block {
  margin-bottom: 0;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
  margin-top: 10px;
}

.form-horizontal .form-actions {
  padding-left: 180px;
}
.tab-content {display: none;}
.tab-content.active {display: block;}