{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, link_category %}
{% block body %}
<div class="constrain">
	<!--guide-->
    <div class="guide clearfix">
    	<h1 class="guide-section">{{ name }}</h1>
		<div class="guide-links">
				<a href="{{ path('home') }}">首页</a> 
		&gt; {{ name }}
	
        </div>
    </div>
    <div class="clear"></div>
	<div class="zd-img">
	  	  <img src="{{ banner }}">
	</div>
	<br/>
	<div class="con-left left">
    	<div class="cl-two left">
			{% if headline is defined %}
        	<section class="clt-top">
				{% if headline.cover %}
                <a {{ path_post(headline) }}><img class="lazy" data-original="{{ asset(headline.coverPath)|imagine_filter('340x241') }}" alt="{{ headline.cover.caption}}"></a>
				{% endif %}
                <h1>{{ link_post(headline) }}</h1>
                <p>{{ headline.introduction }}</p>
            </section>
			{% endif %}
            <section class="one-colum">
                <h1 class="menu-comon-w mlink">{{ link_category(category1) }}</h1>
				{% for post in category1Post %}
				<article class="tc-h clearfix bb-m">
					<header>
						<h1>{{ link_post(post) }}</h1>
					</header>
					{% if post.cover %}
					<a {{ path_post(post) }}><img class="lazy" class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('156x99') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
					<p>{{ post.introduction|slice(0, 60)}}</p>
				</article>
				{% endfor %}
            </section>
        </div>
    	<div class="cl-two right">
            <section class="one-colum">
                <h1 class="menu-comon-w mlink">{{ link_category(category2) }}</h1>
				{% for post in category2Post %}
                <article class="tc-h clearfix bb-m">
                    <header>
                        <h1>{{ link_post(post) }}</h1>
                    </header>
						<p>{{ post.introduction|slice(0, 60) }}</p>
                </article>
				{% endfor %}
            </section>
        </div>
        <div class="clear"></div>
		<section class="editor-recomend">
		<h1 class="menu-comon-w">{{ link_category(category_pic) }}</h1>
		<ul class="ec-list clearfix">
			{% for post in posts_pic %}
			{% if post.cover %}
			<li><a {{ path_post(post)}}><img class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('160x113') }}" alt=""></a><h2>{{ link_post(post)}}</h2></li>
			{% endif %}
			{% endfor %}
		</ul>
		</section>
    </div>
	<aside class="con-right right">
        <section class="video">
			<h1 class="menu-comon mlink-bg"><a {{ path_post(about) }}>教会简介</a></h1>
{% if about %}
			<article class="v-headline">
				{% if about.cover %}
                <a {{ path_post(about) }}><img class="lazy" data-original="{{ asset(about.coverPath)|imagine_filter('340x241') }}" alt="{{ about.cover.caption}}"></a>
				{% endif %}

				<h2>{{ link_post(about) }}</h2>
				<p>{{ about.introduction}}</p>
				<br/>
				<p align="right"><a style="color: #333;" {{ path_post(about) }}>更多.......</a></p>
			</article>
{% endif %}
        </section>
    	<div class="bn-aside">
			{% if banner1 is defined %}
			<a target="_blank" href="{{ banner1.link }}"><img src="{{ banner1.src }}" /></a>
			{% endif %}
			{% if banner2 is defined %}
			<a style="margin-top:10px; display:block;" target="_blank" href="{{ banner2.link }}"><img src="{{ banner2.src }}" /></a>
			{% endif %}
        </div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}
