{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import rteCss, rteJs %}
{% block header %}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('gospel_newsletter_index') }}">分类</a></li>
{% endblock %}
{% block body -%}


<div class="visually-hidden"><a id="main-content"></a></div>
<div id="console" class="clearfix"></div>
<div class="region region-content">
	<div class="block block-system" id="block-content">


		<div class="content">
			{{ form_start(form) }}
			<table class="table table-hover table-bordered">
				{{ form_rest(form) }}
			</table>


			<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="button button-primary form-submit"><a  id="" name="op" href="{{ path('gospel_newsletter_index') }}" class="button form-submit">返回</a></div>
			{{ form_end(form) }}
		</div>
	</div>

</div>
<input type="hidden" id="category-news" value="{{ categoryNews.id }}" />
<input type="hidden" id="newsletter-template" value="{{ path('gospel_newsletter_template') }}" />
<input type="hidden" id="newsletter-news-update" value="{{ path('gospel_newsletter_template_news_update') }}" />
<input type="hidden" id="loading" value="{{ asset('bundles/frontendweb/images/loading.gif') }}" />
{% include 'GospelNewsletterBundle:Newsletter:search.html.twig' with {'form': searchForm} %}


<footer id="footer" role="contentinfo">

</footer>


{% endblock %}
{# 载入富文本编辑器相关的js文件 #}
{% block stylesheets %}
{{ parent() }}
{{ rteCss() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ rteJs("gospel_newsletter_body") }}

{% javascripts 
'@BackendCoreBundle/Resources/public/js/newsletter.js' 
%}
						<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
