{% extends '::backend.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block header %}
<h1 class="page-title">无效邮件删除</h1>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('gospel_newsletter_index') }}">邮件列表</a></li>
{% endblock %}

{% block body -%}
	<div class="well">
	在 mailchimp 后台选择 Lists => 选中其中发送的一个campaign => 进入该campaign报告 => 选择下拉菜单"Activity" => 点击"Bounced" ＝>　进入Bounced页面点击"Export"导出CSV文件
	</div>
	<hr/>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

	<hr/>
	<h3>删除无效邮件：</h3>
	{% if emails %}
		<ol>
		{% for email in emails %}
			<li>{{ email.email }}</li>
		{% endfor %}
		</ol>
	{% endif %}
{% endblock %}