{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import pagination %}


{%block header %}<h1 class="page-title">Newsletter分类管理</h1>{% endblock %}
{% block tabs %}
{% endblock %}
{% block body -%}
<ul class="action-links">
	<li><a class="button button-action" href="{{ path('gospel_newsletter_index') }}">返回</a></li>
</ul>

<div class="well">
	{{ message|raw }}
</div>
{% endblock %}


