{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import pagination %}


{%block header %}<h1 class="page-title">Newsletter分类管理</h1>{% endblock %}
{% block tabs %}
{% endblock %}
{% block body -%}
<ul class="action-links">
	<li><a class="button button-action" href="{{ path('gospel_newsletter_new') }}">添加订阅内容</a></li>
</ul>
<table id="edit-entities" class="sticky-enabled table table-bordered table-hover ">
	<thead><tr><th>ID</th><th>名称</th><th>创建时间</th><th>发送时间</th><th>操作</th></tr></thead>
	<tbody>
	{% for entity in newsletters %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.id }}</td>
				<td>{{ entity.title }}</td>
				<td>{{ entity.createdTime|date('Y-m-d H:m:s') }}</td>
				<td>{{ entity.scheduledTime|date('Y-m-d H:m:s') }}</td>
				<td>
								<form onsubmit="return confirm('确定要删除: {{ entity.title }}？');" style="display: inline;" method="post" action="{{ path('gospel_newsletter_delete', {id: entity.id}) }}">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							操作
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_newsletter_show', {id: entity.id}) }}">查看</a></li>
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_newsletter_update', {id: entity.id}) }}">编辑</a></li>
							<li class="edit odd first dropbutton-action"><a target="_blank" onclick="var email = prompt('请出入测试邮箱'); location.href = '{{ path('gospel_newsletter_send_test', {id: entity.id}) }}?email='+email; return false" href="#">发送测试邮件</a></li>
							<li class="edit odd first dropbutton-action"><a target="_blank" onclick="return confirm('确定发送？');" href="{{ path('gospel_newsletter_send', {id: entity.id}) }}">发送</a></li>
							<li class="edit odd first dropbutton-action">
        						<a class="submit-closest-form" href="#">删除</a>
								</li>
						</ul>
					</div>
    <input type="hidden" value="DELETE" name="_method">
</form>
				</td>
			</tr>
	{% endfor %}
	</tbody>
</table>
{% if newsletters.haveToPaginate()|default(false) %}
{{ pagerfanta(newsletters, 'twitter_bootstrap_translated', options|default({})) }}
{% endif %}
{% endblock %}

