{% extends '::backend.html.twig' %}
{%block header %}<h1 class="page-title">Newsletter发送</h1>{% endblock %}
{% block body %}
<h2>发送邮件到以下地址：</h2>
<ol>
	{% for subscriber in subscribers %}
		<li>{{ subscriber.email }}</li>
	{% endfor %}
</ol>
{% endblock %}