{% extends '::backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="{{ path('gospel_newsletter_index') }}">分类</a></li>
{% endblock %}

{% block body -%}
  <div class="content">
<div class="form-actions form-wrapper" id="edit-actions">
<a  id="" name="op" href="{{ path('gospel_newsletter_update', {id: newsletter.id}) }}" class="button button-primary form-submit">修改</a>
<a  id="" name="op" href="{{ path('gospel_newsletter_index') }}" class="button form-submit">返回</a>
<a class="button button-primary form-submit" target="_blank" onclick="var email = prompt('请出入测试邮箱'); location.href = '{{ path('gospel_newsletter_send_test', {id: newsletter.id}) }}?email='+email; return false" href="#">发送测试邮件</a>
<a class="button button-primary form-submit" target="_blank" onclick="return confirm('确定发送？');" href="{{ path('gospel_newsletter_send', {id: newsletter.id}) }}">发送</a>
</div>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newsletter.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ newsletter.title }}</td>
            </tr>
            <tr>
                <th>内容</th>
                <td>{{ newsletter.body|raw }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ newsletter.createdTime|date('Y-m-d H:m:s') }}</td>
            </tr>
            <tr>
                <th>开始发送时间</th>
                <td>{{ newsletter.scheduledTime|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>
  </div>
<div class="form-actions form-wrapper" id="edit-actions">
<a  id="" name="op" href="{{ path('gospel_newsletter_update', {id: newsletter.id}) }}" class="button button-primary form-submit">修改</a>
<a  id="" name="op" href="{{ path('gospel_newsletter_index') }}" class="button form-submit">返回</a>
<a class="button button-primary form-submit" target="_blank" onclick="var email = prompt('请出入测试邮箱'); location.href = '{{ path('gospel_newsletter_send_test', {id: newsletter.id}) }}?email='+email; return false" href="#">发送测试邮件</a>
<a class="button button-primary form-submit" target="_blank" onclick="return confirm('确定发送？');" href="{{ path('gospel_newsletter_send', {id: newsletter.id}) }}">发送</a>
</div>

{% endblock %}
