{% extends '::backend.html.twig' %}
{% block body -%}
	<h1>动态更新订阅用户分类</h1>
	开始ID：<input type="text" id="start-id" value="0" /><br/>
每次更新个数：<input type="text" id="limit" value="10" /><br/>
<input type="button" value="start" id="starting" />
<div id="msg">

</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
(function($) {
	$('#starting').click(function() {

		var start_id = $('#start-id').val();
		var limit = parseInt($('#limit').val());
		ajaxCall(start_id, limit);
	})

	function ajaxCall(offset, limit) {
		$.ajax({
			url: '{{ path('gospel_newsletter_update_subscriber') }}?offset='+offset+'&limit='+limit,
			dataType: 'json'
		}).done(function (result) {
			if (result.continue) {
				ajaxCall(result.offset + limit, limit);
				$('#msg').html('Processing start id from:'+offset+'/'+result.total+"; "+result.msg+"<br/>");
			} else {
				$('#msg').html('导入结束');
			}

		})
	}

}(jQuery));
</script>
{% endblock %}
