{% extends '::backend.html.twig' %}
{%block header %}<h1 class="page-title">视频标签管理</h1>{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body -%}
<ul class="action-links">
          <li><a class="button button-action" href="{{ path('gospel_videotag_new') }}">添加视频标签</a></li>
        </ul>
<table id="edit-entities" class="sticky-enabled responsive-enabled tabledrag-processed tableresponsive-processed tableheader-processed sticky-table">
	<thead><tr><th>ID</th><th>标题</th><th></th><th></th><th></th></tr></thead>
	<tbody>
	{% for entity in videotags %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.id }}</td>
				<td>{{ entity.name }}</td>
				<td></td>
				<td></td>
				<td>
								<form onsubmit="return confirm('确定要删除: {{ entity.name }}？');" style="display: inline;" method="post" action="{{ path('gospel_videotag_delete', {id: entity.id}) }}">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							操作
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_videotag_show', {id: entity.id}) }}">查看</a></li>
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_videotag_update', {id: entity.id}) }}">编辑</a></li>
							<li class="edit odd first dropbutton-action">
        						<a class="submit-closest-form" href="#">删除</a>
								</li>
						</ul>
					</div>
    <input type="hidden" value="DELETE" name="_method">
</form>
				</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% endblock %}