{% extends '::backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="{{ path('gospel_videotag_index') }}">视频标签</a></li>
{% endblock %}

{% block body -%}
  <div class="content">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ videotag.id }}</td>
            </tr>
            <tr>
                <th>名称</th>
                <td>{{ videotag.name }}</td>
            </tr>
        </tbody>
    </table>
  </div>
<div class="form-actions form-wrapper" id="edit-actions">
<a  id="" name="op" href="{{ path('gospel_videotag_update', {id: videotag.id}) }}" class="button button-primary form-submit">修改</a>
<a  id="" name="op" href="{{ path('gospel_videotag_index') }}" class="button form-submit">返回</a>
</div>

{% endblock %}