<?xml version="1.0" encoding="UTF-8"?>
<Channels>
	<channel>
		<id>10000</id>
		<name>首页</name>
	</channel>
	<channel>
		<id>999</id>
		<name>深读</name>
	</channel>
	{% for category in categories %}
	{% if category.id != 140%}
	<channel>
		<id>{{ category.id }}</id>
		<name>{{ category.title }}</name>
	</channel>
	{% endif %}
	{% endfor %}
	<channel>
		<id>100000</id>
		<name>专题</name>
	</channel>
</Channels>