<?xml version="1.0" encoding="UTF-8"?>
<Channels>
	<channel>
		<id>10000</id>
		<name>头条</name>
	</channel>
	{% for menu in categories %}
	{% if menu.id != 140%}
	<channel>
		<id>{{ menu.id }}</id>
		<name>{{ menu.title }}</name>
	</channel>
	{% endif %}
	{% endfor %}
	<channel>
		<id>100000</id>
		<name>专题</name>
	</channel>
</Channels>