{# 
新闻列表
首页url
http://www.gospeltimes.cn/app/channels/10000/news
#}
<?xml version="1.0" encoding="UTF-8"?>
<NewsSet>
	{% for news in newsSet %}
	<news>
		<id>{{ news.id }}</id>
		<createdTime>{{ news.createAt.timestamp }}</createdTime>
		<title>{{ news.title }}</title>
		<author>{{ news.author }} {{ news.writer }}</author>
		<from>{{ news.comefrom }}</from>
		<synopsis>{{ news.introduction }}</synopsis>
		{% if news.cover %}
		<Figures>
			{% for image in news.images %}
			{% set filter_name = 'widen_700' %}
			{% if image.useWatermark %}
				{% set filter_name = 'widen_700_watermark' %}
			{% endif %}
			<figure>
				<figureid>{{ image.id }}</figureid>
				<description>{{ image.caption }}</description>
				<url>http://{{ host }}{{ asset(news.imagePath ~ image.name)|imagine_filter('widen_220') }}</url>
			</figure>
			{% endfor %}
		</Figures>
		{% endif %}
	</news>
	{% endfor %}
</NewsSet>
