<?xml version="1.0" encoding="UTF-8"?>
{% if type == 'figures' %}
<Figures>
	{% if news.images %}
	{% for image in news.images %}
	{% set filter_name = 'widen_700' %}
	{% if image.useWatermark %}
		{% set filter_name = 'widen_700_watermark' %}
	{% endif %}
	<figure>
		<figureid>{{ image.id }}</figureid>
		<description>{{ image.caption }}</description>
		<url>http://{{ host }}{{ asset(news.imagePath ~ image.name)|imagine_filter('widen_700_watermark') }}</url>
	</figure>
	{% endfor %}
	{% endif %}
</Figures>
{% endif %}

{% if type == 'content' %}
<Content>
	<body>{{ news.content }}</body>
</Content>
{% endif %}

{% if type == 'relatedNews' %}
<NewsSet>
	{% for news in news.related %}
	<news>
		<id>{{ news.id }}</id>
		<createdTime>{{ news.createAt.timestamp }}</createdTime>
		<title>{{ news.title }}</title>
		<author>{{ news.author }} {{ news.writer }}</author>
		<from>{{ news.comefrom }}</from>
		<synopsis>{{ news.introduction }}</synopsis>
		{% if news.cover %}
		<Figures>
			{% for image in news.images %}
			{% set filter_name = 'widen_700' %}
			{% if image.useWatermark %}
				{% set filter_name = 'widen_700_watermark' %}
			{% endif %}
			<figure>
				<figureid>{{ image.id }}</figureid>
				<description>{{ image.caption }}</description>
				<url>http://{{ host }}{{ asset(news.imagePath ~ image.name)|imagine_filter('widen_220') }}</url>
			</figure>
			{% endfor %}
		</Figures>
		{% endif %}
	</news>
	{% endfor %}
</NewsSet>
{% endif %}

{% if type == 'prev' or type == 'next' %}
<NewsSet>
	{% if news.id is defined %}
	<news>
		<id>{{ news.id }}</id>
		<createdTime>{{ news.createAt.timestamp }}</createdTime>
		<title>{{ news.title }}</title>
		<author>{{ news.author }} {{ news.writer }}</author>
		<from>{{ news.comefrom }}</from>
		<synopsis>{{ news.introduction }}</synopsis>
		{% if news.cover %}
		<Figures>
			{% for image in news.images %}
			{% set filter_name = 'widen_700' %}
			{% if image.useWatermark %}
				{% set filter_name = 'widen_700_watermark' %}
			{% endif %}
			<figure>
				<figureid>{{ image.id }}</figureid>
				<description>{{ image.caption }}</description>
				<url>http://{{ host }}{{ asset(news.imagePath ~ image.name)|imagine_filter('widen_220') }}</url>
			</figure>
			{% endfor %}
		</Figures>
		{% endif %}
	</news>
	{% endif %}
</NewsSet>
{% endif %}
