<!doctype html>
<html>
<head>
<title>{{ news.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link href="{{ asset('css/appShowStyle.css') }}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<header id="m-heda"><a href="#"><img src="{{ asset('assets/images/church/logo.png') }}"  width="205" height="38"></a></header>
<section class="article">
    <div class="a-header">
        <h1>{{ news.title }}</h1>
        <div class="ah-sub"><span>{{ news.author }}</span><span class="ahs-time">{{ news.createAt|date('Y年m月d日 H:m') }}</span></div>
    </div>
		{% if news.cover %}
		{% for image in news.images %}
				{% if file_exists(news.imagePath ~ image.name) %}
				{% set filter_name = 'widen_700' %}
				{% if image.useWatermark %}
					{% set filter_name = 'widen_700_watermark' %}
				{% endif %}
			<div class="a-img">
				<img src="{{ asset(news.imagePath ~ image.name)|imagine_filter('widen_220') }}" alt="{{ image.caption }}">
				<div class="captive">{{ image.caption }}</div>    
			</div>
		{% endif %}
		{% endfor %}
	{% endif %}
    {{ news.content|raw }}
    <div class="gray-text">随时随地关注教会动态</div>
    <div class="dl-bt"><a href="http://dl.91rb.com/bd8b40b4d3949423d41bd56d1d91f9f3/android/soft/2014/2/27/af979338926f4f5b8a13abf1a1a5eb97/cn.gospeltimes.news_1_1.0_635289261529730536.apk"><img src="{{ asset('assets/images/church/app-icon.png') }}" width="38" />下载福音时报客户端</a></div>
</section>
</body>
</html>