<?xml version="1.0" encoding="UTF-8"?>
<Topics>
	{% for topic in topics %}
	<topic>
		<id>{{ topic.id }}</id>
		<createdTime>{{ topic.createAt.timestamp }}</createdTime>
		<title>{{ topic.title }}</title>
		<synopsis>{{ topic.content }}</synopsis>
		{% if topic.topicBannerWebPath %}
		<Figures>
			<figure>
				<figureid>{{ topic.id }}</figureid>
				<description>{{ topic.title }}</description>
				<url>http://{{ host }}{{ asset(topic.topicBannerWebPath) | imagine_filter('widen_320')}}</url>
			</figure>
		</Figures>
		{% endif %}
	</topic>
	{% endfor %}
</Topics>
