{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_topic, path_topic, path_categories, path_category, 
link_topic, link_topic_category,
path_topic
%}
{% block title %}
专题 - 
{% endblock %}
{% block body %}
<div class="constrain">
	<div class="con-lm left">
    	<h1 class="section-title">最新专题</h1>
        <nav class="sub-nav">
        	<ul>
				{% if category_id %}
            	<li><a href="{{ path('topics') }}">全 部</a></li>
				{% else %}
            	<li class="sn-on">全 部</li>
				{% endif %}
				{% for row in categories %}
				{% if row.id == category_id %}
                <li class="sn-on">{{ row }}</li>
				{% else %}
                <li>{{ link_topic_category(row) }}</li>
				{% endif %}
				{% endfor %}
            </ul>
        </nav>
        <article class="zt-topnews">
			{% if topicFirst.topicBannerPath %}
            <header>
                <figure>
					<a {{ path_topic(topicFirst) }}>
							<img src="{{ asset(topicFirst.topicBannerWebPath) | imagine_filter('widen_780')}}" alt="{{ topicFirst.title }}" />
					</a>
                </figure>
            </header>
			{% endif %}
            <h1>{{ link_topic(topicFirst) }}</h1>
            <p>{{ topicFirst.content|raw|striptags|slice(0, 100) }}...</p>
        </article>
        <div class="clear"></div>
        <div class="zhuanti-bottom">
        	<ul class="zhuanti-list">
				{% for topic in topicsRest %}
            	<li class="clearfix">
                	<h2><a href="{{ path('topics', {slug: topic.category.title|slugfy, category_id: topic.category.id}) }}">【{{ topic.category }}】</a></h2>
                    <h1>{{ link_topic(topic) }}</h1>
					<h6>发布时间：{{ topic.publishedAt|date('Y.m.d') }}</h6>
                    <div class="clear"></div>
					<a {{ path_topic(topic) }}>
							<img class="lazy" data-original="{{ asset(topic.topicBannerWebPath) | imagine_filter('widen_320')}}" alt="{{ topic.title }}" />
					</a>
            		<p>{{ topic.content|raw|striptags|slice(0, 80) }}...</p>
                    <p class="sl-at"{{ topic.createAt|date('Y年m月d日 H:m')}}></p>
                </li>
				{% endfor %}
            </ul>
            <div class="page clearfix">
			{{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <aside class="con-r right">
		{{ render(controller('FrontendWebBundle:Common:rightHot')) }}
    	<div class="bn-aside">
		{{ include ('FrontendWebBundle:Common:rightGoogle2.html.twig') }}
        </div>
        <div class="clear"></div>
        <div class="pad-lside">
        	<section class="video-film">
				{{ render(controller('FrontendWebBundle:Common:rightVideo')) }}
            </section> 
        </div>
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightGallery')) }}
        </div>
        <div class="clear"></div>
        <div class="bn-aside-b">
            <!--<img src="{{ asset('bundles/frontendweb/images/ad-r.jpg') }}">-->
        </div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}
