{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_topic, path_topic, path_categories, path_category, 
link_topic,
path_topic, path_post, link_post
%}
{% block title %}
专题: {{ topic.title }} - 
{% endblock %}
{% block meta_description %}{{ topic.content|striptags }}{% endblock %}
{% block body %}
<header id="site-header">
	<div class="constrain">
        <div class="sub-head-bn topic">
		  {% if topic.topicBannerPath %}
		  <img src="{{ asset(topic.topicBannerWebPath)  }}" />
		  {% endif %}
        </div>
    </div>
</header>
<div class="constrain">
	<div class="con-lm left">
		<h1 class="section-title"><a href="{{ path('topics') }}">专题</a> - {{ link_topic(topic) }}</h1>
		<hr/>
        <article class="zt-topnews">
            <p>{{ topic.content|raw }}</p>
        </article>
        <div class="clear"></div>
        <div class="zhuanti-bottom">
        	<ul class="zhuanti-list">
			{% for tpost in posts %}
            	<li class="clearfix">
                    <h2><a {{ path_category(tpost.post.category) }}>【{{ tpost.post.category }}】</a></h2>
                    <h1>{{ link_post(tpost.post) }}</h1>
                    <div class="clear"></div>
					{% if tpost.post.cover %}
                    <a {{ path_post(tpost.post) }}><img class="lazy" data-original="{{ asset(tpost.post.coverPath)|imagine_filter('220x147') }}" alt="{{ tpost.post.title }}"></a>
							
					{% endif %}
            		<p>{{ tpost.post.introduction }}</p>
                    <p class="sl-at"{{ tpost.post.createAt|date('Y年m月d日 H:m')}}></p>
                </li>
			{% endfor %}
            </ul>
        </div>
    </div>
    <aside class="con-r right">
		{{ render(controller('FrontendWebBundle:Common:rightHot')) }}
    	<div class="bn-aside">
		{{ include ('FrontendWebBundle:Common:rightGoogle2.html.twig') }}
        </div>
        <div class="clear"></div>
        <div class="pad-lside">
        	<section class="video-film">
				{{ render(controller('FrontendWebBundle:Common:rightVideo')) }}
            </section> 
        </div>
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightGallery')) }}
        </div>
        <div class="clear"></div>
        <div class="bn-aside-b">
        	<!--<img src="{{ asset('bundles/frontendweb/images/ad-r.jpg') }}">-->
        </div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}
