{% extends 'FrontendWebBundle:Layout:video.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_gallery, path_gallery, link_gallery_category %}

{% block body %}
<div class="vp-r">
    <nav class="vp-nav">
        <h1 class="vpn-title">图片集</h1>
        <ul>
			{% if category.id is not defined %}
            <li class="on">全 部</li>
			{% else %}
            <li><a href="{{ path('gallery') }}">全 部</a></li>
			{% endif %}
			{% for row in categories %}
			{% if category.id is defined and row.id == category.id %}
            <li class="on">{{ row.title }}</li>
			{% else %}
            <li>{{ link_gallery_category(row) }}</li>
			{% endif %}
			{% endfor %}
        </ul>
        <div class="vp-search clearfix">
            <input type="text" value="搜索" class="vp-s-form">
            <input type="button" class="vp-s-bt">
        </div>
        <p>© 基督时报版权所有<br>
        京ICP备 07从014451号 - 6 京公网安备110102003886-3号
        </p>
    </nav>
	<section class="vp-top">
    	<ul class="clearfix">
			{% for entity in entityTops %}
        	<li>
            	<div class="vt-img"><span class="icon-pplay"><a {{ path_gallery(entity) }}></a></span><a {{ path_gallery(entity) }}></a></span><a {{ path_gallery(entity) }}>
						<img src="{{ asset(entity.coverPath) | imagine_filter('380x284')}}" alt="{{ entity.title }}" />
					</a></div>
                <div class="vt-text"><h1>{{ link_gallery(entity) }}</h1><p>{{ entity.createAt|date('Y年m月d日 H:m')}}</p></div>
            </li>
			{% endfor %}
        </ul>
    </section>
    <section class="vp-list">
        <ul class="clearfix">
			{% for entity in entityRest %}
        	<li>
            	<div class="vl-img"><a {{ path_gallery(entity) }}>
						<img src="{{ asset(entity.coverPath) | imagine_filter('165x110')}}" alt="{{ entity.title }}" />
						</a></div>
                <div class="vl-text"><h1>{{ link_gallery(entity) }}</h1><p>{{ entity.createAt|date('Y年m月d日')}}</p></div>
            </li>
			{% endfor %}
        </ul>
    </section>
    <div class="page clearfix">
		{{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
