{% extends 'FrontendWebBundle:Layout:video.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_gallery, path_gallery, link_gallery_category %}
{% block title %}
{{ gallery.title }} - {{parent()}}
{% endblock %}
{% block body %}
	<div class="vdetail-r">
		<nav class="vdetail-nav">
			<h1 class="sermon-title"><a href="{{ path('gallery') }}">图片集</a></h1>
			<ul>
				{% if category.id is not defined %}
					<li class="on">全 部</li>
					{% else %}
					<li><a href="{{ path('gallery') }}">全 部</a></li>
					{% endif %}
					{% for row in categories %}
						{% if category.id is defined and row.id == category.id %}
						<li class="on">{{ link_gallery_category(row) }}</li>
						{% else %}
						<li>{{ link_gallery_category(row) }}</li>
						{% endif %}
					{% endfor %}
			</ul>
			<div class="vp-search clearfix">
				<input type="text" value="搜索" class="vdetail-s-form">
				<input type="button" class="vp-s-bt">
			</div>
			<p>© 基督时报版权所有<br>
				京ICP备 07从014451号 - 6 京公网安备110102003886-3号
			</p>
		</nav>
			<h1 style="text-align: center; margin-bottom: 20px;">{{ gallery.title }}</h1>
		{% if gallery.coverPath %}
			<div class="a-style-bigimg">
				<div class="asb-img clearfix">
					<!-- Slides Container -->
					<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 800px;
						 height: 600px; background: #191919; overflow: hidden;">

						<!-- Loading Screen -->
						<div u="loading" style="position: absolute; top: 0px; left: 0px;">
							<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
								 background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
							</div>
							<div style="position: absolute; display: block; background: url({{ asset('bundles/frontendweb/images/loading-slider.gif') }}) no-repeat center center;
								 top: 0px; left: 0px;width: 100%;height:100%;">
							</div>
						</div>

						<!-- Slides Container -->
						<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 800px; height: 500px; overflow: hidden;">
							{% if gallery.cover %}
								{% for image in images %}
									{% if file_exists(gallery.imagePath ~ image.name) %}
										{% set filter_name = '800' %}
										{% if image.useWatermark %}
											{% set filter_name = '800_watermark' %}
										{% endif %}
										<div>
											<img u="image" width="{{ image.width }}" style="height:{{ image.height }}px!important; top: {{ image.top }}px!important;" src="{{ asset(gallery.imagePath ~ image.name)|imagine_filter(filter_name) }}" alt="{{ image.caption }}">
							<div u=caption t="*" class="captionBlack"  style="position:absolute; color:#fff; left:0px; top: 93%; width:100%; height:30;"> 
								{{ image.caption }}
							</div>
											<img u="thumb" src="{{ asset(gallery.imagePath ~ image.name)|imagine_filter('72x72') }}" alt="{{ image.caption }}">
										</div>
									{% endif %}
								{% endfor %}
							{% endif %}
						</div>

						<!-- Arrow Navigator Skin Begin -->
						<!-- Arrow Left -->
						<span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 50%; left: 8px;">
						</span>
						<!-- Arrow Right -->
						<span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 50%; right: 8px">
						</span>
						<!-- Arrow Navigator Skin End -->

						<!-- Thumbnail Navigator Skin Begin -->
						<div u="thumbnavigator" class="jssort01" style="position: absolute; width: 800px; height: 100px; left:0px; bottom: 0px;">
							<div u="slides" style="cursor: move;">
								<div u="prototype" class="p" style="position: absolute; width: 72px; height: 72px; top: 0; left: 0;">
									<div class=w><thumbnailtemplate style=" width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate></div>
									<div class=c>
									</div>
								</div>
							</div>
							<!-- Thumbnail Item Skin End -->
						</div>
					</div>
				</div>
				<!--文章页图片滚动-ie6 版本-->
				<!--<div class="asb-img-ie6 clearfix">
					  <ul>
				{% for image in gallery.images %}
					{% if file_exists(gallery.imagePath ~ image.name) %}
					  <li>
						{% set filter_name = '800' %}
						{% if image.useWatermark %}
							{% set filter_name = '800_watermark' %}
						{% endif %}
					  <img src="{{ asset(gallery.imagePath ~ image.name)|imagine_filter(filter_name) }}" alt="{{ image.caption }}">
                      <div class="captive">
						  <h1 class="cp-number"><span>{{ loop.index }}</span> / {{ gallery.images|length }}</h1>
						{{ image.caption }}
                      </div>
                  </li>
					{% endif %}
				{% endfor %}
              </ul>
        </div> -->
			</div>
			<div class="a-style-bigimg">
				{{ gallery.description }}
			</div>
			<div class="ah-share">
				<div class="bdsharebuttonbox" data-tag="share_1">
					<a class="bds_mshare" data-cmd="mshare"></a>
					<a class="bds_qzone" data-cmd="qzone" href="#"></a>
					<a class="bds_tsina" data-cmd="tsina"></a>
					<a class="bds_weixin" data-cmd="weixin"></a>
					<a class="bds_renren" data-cmd="renren"></a>
					<a class="bds_tqq" data-cmd="tqq"></a>
					<a class="bds_more" data-cmd="more">更多</a>
					<a class="bds_count" data-cmd="count"></a>
				</div>
			</div>
		{% endif %}
		<section class="vp-list">
			{% set length = gallery.related|length %}
			<div class="menu-tab clearfix">
				{% if length > 0 %}
					<h1 target="#related-gallries" class="mt-on">相关图片集</h1>
				{% endif %}
				<h1 target="#recommend-gallries" >推荐图片集</h1>
			</div>
			<ul class="clearfix hover-tab" id="related-gallries">
				{% for entity in gallery.related %}
					<li>
						<div class="vl-img"><a {{ path_gallery(entity) }}>
								<img src="{{ asset(entity.coverPath) | imagine_filter('165x110')}}" alt="{{ entity.title }}" />
							</a></div>
						<div class="vl-text"><h1>{{ link_gallery(entity) }}</h1><p>{{ entity.createAt|date('Y年m月d日 H:m')}}</p></div>
					</li>
				{% endfor %}
			</ul>
			<ul class="clearfix hover-tab" id="recommend-gallries" {% if length > 0  %}style="display:none;"{% endif %}>
				{% for entity in recommend %}
					<li>
						<div class="vl-img"><a {{ path_gallery(entity) }}>
								<img src="{{ asset(entity.coverPath) | imagine_filter('165x110')}}" alt="{{ entity.title }}" />
							</a></div>
						<div class="vl-text"><h1>{{ link_gallery(entity) }}</h1><p>{{ entity.createAt|date('Y年m月d日 H:m')}}</p></div>
					</li>
				{% endfor %}
			</ul>
		</section>
		<section class="review">
			<div class="menu-tab clearfix">
				<!-- UY BEGIN -->
				<div id="uyan_frame"></div>
				<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1841510"></script>
				<!-- UY END -->
			</div>
		</section>
	</div>
{% endblock %}

{% block javascripts_1 %}
	{{ parent() }}
	{% javascripts 
'@FrontendWebBundle/Resources/public/js/lib/jssor-slider/js/jssor.core.js' 
'@FrontendWebBundle/Resources/public/js/lib/jssor-slider/js/jssor.utils.js' 
'@FrontendWebBundle/Resources/public/js/lib/jssor-slider/js/jssor.slider.js' 
'@FrontendWebBundle/Resources/public/js/ctimes.gallery.js' 
	%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
		jQuery(document).ready(function($) {

			var jssor_slider1 = new $JssorSlider$("slider1_container", {});
		});
	</script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
	'bundles/frontendweb/css/slider.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<!-- Arrow Navigator Skin Begin -->
	<style>
		/* jssor slider arrow navigator skin 05 css */
		/*
		.jssora05l              (normal)
		.jssora05r              (normal)
		.jssora05l:hover        (normal mouseover)
		.jssora05r:hover        (normal mouseover)
		.jssora05ldn            (mousedown)
		.jssora05rdn            (mousedown)
		*/
		.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
		{
			position: absolute;
			cursor: pointer;
			display: block;
			background: url({{ asset('bundles/frontendweb/images/a17.png') }}) no-repeat;
			overflow:hidden;
		}
		.jssora05l { background-position: -10px -40px; }
		.jssora05r { background-position: -70px -40px; }
		.jssora05l:hover { background-position: -130px -40px; }
		.jssora05r:hover { background-position: -190px -40px; }
		.jssora05ldn { background-position: -250px -40px; }
		.jssora05rdn { background-position: -310px -40px; }
	</style>
	<!-- Thumbnail Item Skin Begin -->
	<style>
		/* jssor slider thumbnail navigator skin 01 css */
		/*
		.jssort01 .p           (normal)
		.jssort01 .p:hover     (normal mouseover)
		.jssort01 .pav           (active)
		.jssort01 .pav:hover     (active mouseover)
		.jssort01 .pdn           (mousedown)
		*/
		.jssort01 .w {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}

		.jssort01 .c {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 68px;
			height: 68px;
			border: #000 2px solid;
		}

		.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
			background: url({{ asset('bundles/frontendweb/images/t01.png') }}) center center;
			border-width: 0px;
			top: 2px;
			left: 2px;
			width: 68px;
			height: 68px;
		}

		.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
			top: 0px;
			left: 0px;
			width: 70px;
			height: 70px;
			border: #fff 1px solid;
		}
	</style>
{% endblock %}
{% block script_bottom %}
<script>
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86326610.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script>
	window._bd_share_config = {
		common : {
		},
		share : [{
			"bdSize" : 32
		}],
		slide : [{	   
			bdImg : 0,
			bdPos : "right",
			bdTop : 100
		}],
		image : [{
			viewType : 'list',
			viewPos : 'top',
			viewColor : 'black',
			viewSize : '16',
			viewList : ['qzone','tsina','huaban','tqq','renren']
		}],
		selectShare : [{
			"bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
		}]
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86326610.js?cdnversion='+~(-new Date()/36e5)];
</script>
{% endblock %}
