{% extends 'FrontendWebBundle::layout.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, link_category,
	path_category, link_fine_clumn, link_province, link_region,
		link_region, link_topic, path_topic, link_gallery, path_gallery
 %}
{% block body %}
<div class="constrain">
	<div class="con-lm left">
		<div class="con-l">
			<section class="topnews-two">
				<h1 class="menu-c">{{link_category(categoryChurch)}} ● <a href="{{ path('category', {slug: categoryChurch.title|slugfy, category_id: categoryChurch.id}) }}">事工</a></h1>
				{% if headline1Top is defined %}
				<article class="top-headline social-share">
					<header>
						{% if headline1Top.cover %}
						<figure class="">
							<a href="{{ path('news_show', {slug: headline1Top.title, id: headline1Top.id}) }}">
								{% set filter_name = '484x323' %}
								{% if headline1Top.cover.useWatermark %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								<img src="{{ asset(headline1Top.coverPath)|imagine_filter(filter_name) }}" alt="{{ headline1Top.cover.caption}}">
							</a>
                        </figure>
						{% endif %}
                        <h1>{{ link_post(headline1Top) }}</h1>
                    </header>
                    <p>{{ headline1Top.introduction|slice(0, 120) }}...</p>
					<div class="share_block" style="display:none;"
						data-href="{{ path('news_show', {slug: headline1Top.title, id: headline1Top.id}) }}"
						data-title="{{headline1Top.title}}"
						data-intro="{{ headline1Top.introduction }}"
						>
					</div>
                </article>
				{% endif %}
				{% for post in headline1Rest %}
                <div class="ttwo-s {% if loop.index == 1%}left{% else %}right{% endif %}">
					{% if post.cover %}
                    <a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('252x168') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <h2>{{ link_post(post) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
            <section class="topnews-two">
				<h1 class="menu-c">{{ link_category(categoryGlobal) }} ● <a {{ path_category(categoryGlobal) }}>资讯</a></h1>
				{% if headline2Top is defined %}
				<article class="top-headline social-share">
					<header>
						{% if headline2Top %}
						<figure class="">
							<a href="{{ path('news_show', {slug: headline2Top.title, id: headline2Top.id}) }}">
								{% set filter_name = '484x323' %}
								{% if headline2Top.cover.useWatermark is defined %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								{% if headline2Top.coverPath %}
								<img src="{{ asset(headline2Top.coverPath)|imagine_filter(filter_name) }}" alt="{{ headline2Top.cover.caption}}">
								{% endif %}
							</a>
                        </figure>
						{% endif %}
                        <h1>{{ link_post(headline2Top) }}</h1>
                    </header>
                    <p>{{ headline2Top.introduction|slice(0, 120) }}...</p>
					<div class="share_block" style="display:none;"
						data-href="{{ path('news_show', {slug: headline2Top.title, id: headline2Top.id}) }}"
						data-title="{{headline2Top.title}}"
						data-intro="{{ headline2Top.introduction }}"
						>
					</div>
                </article>
				{% endif %}
				{% for post in headline2Rest %}
                <div class="ttwo-s {% if loop.index == 1%}left{% else %}right{% endif %}">
					{% if post.cover %}
                    <a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('252x168') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <h2>{{ link_post(post) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
        </div>
        <div class="con-m">
			<section class="day-headline">
				<h1 class="menu-m">今日头条</h1>
                <article class="dh-group social-share">
                    <header><h1>{{ link_post(subHeadlineTop) }}</h1></header>
                    <p>{{ subHeadlineTop.introduction|slice(0, 80) }}...</p>
					<div class="share_block" style="display:none;"
						data-href="{{ path('news_show', {slug: subHeadlineTop.title, id: subHeadlineTop.id}) }}"
						data-title="{{subHeadlineTop.title}}"
						data-intro="{{ subHeadlineTop.introduction }}"
						>
					</div>
                    <ul>
						{% for relatedPost in subHeadlineTop.related %}
							{% if loop.index < 3 %}
						<li>{{ link_post(relatedPost) }}</li>
							{% endif %}
						{% endfor %}
                    </ul>
                </article>
				{% for post in subHeadline2 %}
                <article class="dh-group social-share">
                    <header><h1>{{ link_post(post) }}</h1></header>
                    <p>{{ post.introduction|slice(0, 80) }}...</p>
					<div class="share_block" style="display:none;"
						data-href="{{ path('news_show', {slug: post.title, id: post.id}) }}"
						{% if post.cover %}
						{% endif %}
						data-title="{{post.title}}"
						data-intro="{{ post.introduction }}"
						>
					</div>
					{% if loop.index < 2 %}
                    <ul>
						{% for relatedPost in post.related %}
							{% if loop.index < 3 %}
						<li>{{ link_post(relatedPost) }}</li>
							{% endif %}
						{% endfor %}
                    </ul>
					{% endif %}
                </article>
				{% endfor %}
                <ul class="top-list">
					{% for post in subHeadline3 %}
					<li>{{ link_post(post) }}</li>
					{% endfor %}
                </ul>
            </section>
        </div>
        <div class="clear"></div>
        <div class="bn-l">
			<!-- 广告位：index-left-c3-->
			<script>CNZZ_SLOT_RENDER('237886');</script>
		</div>
			{{ render(controller('FrontendWebBundle:Common:categoryList')) }}
        <div class="clear"></div>
        <div class="bn-l">
			<!-- 广告位：index-left-c5-->
			<script>CNZZ_SLOT_RENDER('237892');</script>
		</div>
        <div class="con-l">
			<section class="topnews-two">
				<h1 class="menu-c"><a {{ path_category(categorySociety) }}>社会 ● 关注</a></h1>
				{% if headlineSocietyTop is defined %}
				<article class="top-headline social-share">
					<header>
						{% if headlineSocietyTop.cover %}
						<figure class="">
							<a href="{{ path('news_show', {slug: headlineSocietyTop.title, id: headlineSocietyTop.id}) }}">
								{% set filter_name = '484x323' %}
								{% if headlineSocietyTop.cover.useWatermark %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								<img src="{{ asset(headlineSocietyTop.coverPath)|imagine_filter(filter_name) }}" alt="{{ headlineSocietyTop.cover.caption}}">
							</a>
                        </figure>
						{% endif %}
                        <h1>{{ link_post(headlineSocietyTop) }}</h1>
                    </header>
                    <p>{{ headlineSocietyTop.introduction|slice(0, 120) }}...</p>
					<div class="share_block" style="display:none;"
						data-href="{{ path('news_show', {slug: headlineSocietyTop.title, id: headlineSocietyTop.id}) }}"
						{% if headlineSocietyTop.cover %}
						{% endif %}
						data-title="{{headlineSocietyTop.title}}"
						data-intro="{{ headlineSocietyTop.introduction }}"
						>
					</div>
                </article>
				{% endif %}
				{% for post in headlineSocietyRest %}
                <div class="tthree-s">
					{% if post.cover %}
                    <a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('252x168') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <h2>{{ link_post(post) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
			<section class="topnews-two">
				<h1 class="menu-c">{{ link_category(categoryCulture) }} ● <a {{ path_category(categoryCulture) }}>名人</a>
				 </h1>
				{% if headline3Top.id is defined %}
				<article class="top-headline social-share">
					<header>
						{% if headline3Top.cover %}
						<figure class="">
							<a href="{{ path('news_show', {slug: headline3Top.title, id: headline3Top.id}) }}">
								{% set filter_name = '484x323' %}
								{% if headline3Top.cover and headline3Top.cover.useWatermark %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								<img src="{{ asset(headline3Top.coverPath)|imagine_filter(filter_name) }}" alt="{{ headline3Top.cover.caption}}">
							</a>
                        </figure>
						{% endif %}
                        <h1>{{ link_post(headline3Top) }}</h1>
                    </header>
                    <p>{{ headline3Top.introduction }}</p>
					<div class="share_block" style="display:none;"
						data-href="{{ path('news_show', {slug: headline3Top.title, id: headline3Top.id}) }}"
						{% if headline3Top.cover %}
						{% endif %}
						data-title="{{headline3Top.title}}"
						data-intro="{{ headline3Top.introduction }}"
						>
					</div>
                </article>
				{% endif %}
				{% for post in headline3Rest %}
                <div class="tthree-s">
					{% if post.coverPath %}
                    <a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('252x168') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <h2>{{ link_post(post) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
        </div>
        <div class="con-m">
			{{ render(controller('FrontendWebBundle:Common:fineColumn')) }}
        </div>
        <div class="clear"></div>
        <div class="bn-l">
			<!-- 广告位：index-right-c8-->
			{# include 'FrontendWebBundle:Common:googleAd-670x80.html.twig' #}
			<script>CNZZ_SLOT_RENDER('237893');</script>	
		</div>
        <div class="version-title"><h1><span>综合资讯</span></h1></div>
        <ul class="colum-th">
		{% for row in comprehensiveInfo %}
			<li>
				<h1 class="menu-c">{{ link_category(row.category) }}</h1>
				<ul class="version-special">
				{% if row.postTop %}
				{% set post = row.postTop %}
					<li>
					{% if post.cover %}
						<a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('262x175') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
						<h1>{{ link_post(post) }}</h1></li>
				{% endif %}
				{% for post in row.posts %}
					<li>{{ link_post(post) }}</li>
				{% endfor %}
				</ul>
			</li>
		{% endfor %}
        </ul>
        <div class="clear"></div>
        <div class="version-title"><h1><span>各地资讯</span></h1></div>
        <ul class="colum-th">
		{% for city in cities %}
			<li>
				<h1 class="menu-c">{{ link_province(city.city) }}</h1>
				<ul class="version-special">
				{% if city.postTop %}
				{% set post = city.postTop %}
					<li>
					{% if post.cover %}
						<a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('262x175') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
						<h1>{{ link_post(post) }}</h1></li>
				{% endif %}
				{% for post in city.posts %}
					<li>{{ link_post(post) }}</li>
				{% endfor %}
				</ul>
			</li>
		{% endfor %}
		{% for region in regions %}
			<li>
				<h1 class="menu-c">{{ link_region(region.region) }}</h1>
				<ul class="cth-normal">
				{% for post in region.posts %}
					<li>{{ link_post(post) }}</li>
				{% endfor %}
				</ul>
			</li>
		{% endfor %}
        </ul>
        <div class="clear"></div>
    </div>
    <aside class="con-r right">
		<div class="bn-aside">
			<!-- 广告位：index-right-c1-->
			<div class="cycle-banner-wrapper" data-interval="5">
				<script>CNZZ_SLOT_RENDER('237884');</script>
			</div>
		</div>
    	<div class="bn-aside mt25">
			<!-- 广告位：index－right－C10-->
			<script>CNZZ_SLOT_RENDER('323698');</script>
        </div>

		{{ render(controller('FrontendWebBundle:Common:rightInside')) }}
		<div class="bn-aside">
			{# include 'FrontendWebBundle:Common:googleAd-300x250.html.twig' #}
</script>
			<!-- 广告位：index-right－A3-->
			<script>CNZZ_SLOT_RENDER('342316');</script>
		</div>

        <div class="clear"></div>
        <div class="pad-lside">
            <section class="video-film">
				{{ render(controller('FrontendWebBundle:Common:rightVideo')) }}
            </section>    
			<section class="topnews-two">
				<h1 class="menu-c"><a href="{{ path('gallery') }}">图片集</a></h1>
				<article class="top-headline social-share">
					<header>
						<figure>
							<a {{ path_gallery(gallery) }}>
								{% set filter_name = '484x323' %}
								{% if gallery.cover and gallery.cover.useWatermark %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								<img src="{{ asset(gallery.coverPath)|imagine_filter(filter_name) }}" alt="{{ gallery.cover.caption}}">
							</a>
                        </figure>
                        <h1>{{ link_gallery(gallery) }}</h1>
						<div class="share_block" style="display:none;"
							data-href="{{ path('gallery_show', {slug: gallery.title, id: gallery.id}) }}"
							{% if gallery.cover %}
							data-img="{{ asset(gallery.coverPath)|imagine_filter('252x168') }}"
							{% endif %}
							data-title="{{gallery.title}}"
							data-intro=""
							>
						</div>
                    </header>
                </article>
				{% for gallery in galleries %}
                <div class="tthree-s">
                    <a {{ path_gallery(gallery) }}><img src="{{ asset(gallery.coverPath)|imagine_filter('252x168') }}" alt="{{ gallery.cover.caption}}"></a>
                    <h2>{{ link_gallery(gallery) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
			<div class="bn-aside-b">
				<!-- 广告位：index-right-c2-->
				{# include 'FrontendWebBundle:Common:googleAd-300x250.html.twig' #}
				<script>CNZZ_SLOT_RENDER('237888');</script>
			</div>
			{{ render(controller('FrontendWebBundle:Common:rightTopics')) }}
			{{ render(controller('FrontendWebBundle:Common:rightViewpoints')) }}
			{{ render(controller('FrontendWebBundle:Common:bibleAndManagement')) }}
        </div>
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightBroadcasts')) }}
{#			{{ render(controller('FrontendWebBundle:Common:rightMediaFocus')) }}#}
            <section class="remen">
                <h1 class="menu-c">热门新闻</h1>
                <ul>
					{% for post in hots %}
                    <li class="clearfix"><p class="remen-num">{{ loop.index }}.</p>{{ link_post(post) }}</li>
					{% endfor %}
                </ul>
            </section>
			{% include 'FrontendWebBundle:Common:rightAdBottom.html.twig' %}
			{% include 'FrontendWebBundle:Common:rightAdBottomGoogle.html.twig' %}
        </div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}
