{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_province,
	path_province, link_province_category, path_province_category,
	path_post, link_post, link_category
%}
{% block title %}
{{ province.title }}:{{ category. title }}
{% endblock %}
{% block header %}
{{ render(controller('FrontendWebBundle:Common:headerProvince' , {province: province})) }}
{% endblock %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category, 
link_province, link_province_category
%}
{% block body %}
<div class="constrain">
	<!--guide-->
    <div class="guide clearfix">
    	<h1 class="guide-section">{{ link_province(province) }} - {{ link_province_category(province, category)}}</h1>
        <div class="guide-links">
        	<a href="{{ path('home') }}">首页</a> > 地区版
    	</div>
    </div>
    <div class="clear"></div>
	<div class="con-left left">
        <section class="lanmu">
			{% for post in pagination %}
        	<article class="ztd-a clearfix">
				{% if post.cover %}
            	<header>
                    <a {{ path_post(post) }}><img class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('156x99') }}" alt=""></a>
                </header>
				{% endif %}
                <h1>{{ link_post(post) }}</h1>
                <p>{{ post.introduction }}</p>
            </article>
			{% endfor %}
			{{ knp_pagination_render(pagination) }}
        </section>
    </div>
	{{ render(controller('FrontendWebBundle:Common:rightSiderbar')) }}
    <div class="clear"></div>
</div>
{% endblock %}
