{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_province,
	path_province, link_province_category, path_province_category,
	path_post, link_post, link_category, path_category
%}
{% block title %}
{{ province.title }} - 
{% endblock %}
{% block body %}
<div class="constrain">
	<div class="con-lm left">
    	<div class="con-l">
        	<section class="topnews-two">
            	<h1 class="menu-c">{{link_category(categoryChurch)}} ● 事工</h1>
				{% if headline1Top is defined %}
            	<article class="top-headline">
                	<header>
						{% if headline1Top.cover %}
                    	<figure class="">
                        	<a href="{{ path('news_show', {slug: headline1Top.title, id: headline1Top.id}) }}">
								{% set filter_name = '484x323' %}
								{% if headline1Top.cover.useWatermark %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								<img src="{{ asset(headline1Top.coverPath)|imagine_filter(filter_name) }}" alt="{{ headline1Top.cover.caption}}">
							</a>
                        </figure>
						{% endif %}
                        <h1>{{ link_post(headline1Top) }}</h1>
                    </header>
                    <p>{{ headline1Top.introduction|slice(0, 120) }}...</p>
                </article>
				{% endif %}
				{% for post in headline1Rest %}
                <div class="ttwo-s {% if loop.index == 1%}left{% else %}right{% endif %}">
					{% if post.cover %}
                    <a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('252x168') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <h2>{{ link_post(post) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
            <section class="topnews-two">
				<h1 class="menu-c">{{ link_category(categorySociety) }} ● {{ link_category(categoryCulture) }}</a></h1>
				{% if headline2Top is defined %}
            	<article class="top-headline">
                	<header>
						{% if headline2Top %} {% if headline2Top.cover %}
                    	<figure class="">
                        	<a href="{{ path('news_show', {slug: headline2Top.title, id: headline2Top.id}) }}">
								{% set filter_name = '484x323' %}
								{% if headline2Top.cover.useWatermark %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								<img src="{{ asset(headline2Top.coverPath)|imagine_filter(filter_name) }}" alt="{{ headline2Top.cover.caption}}">
							</a>
                        </figure>
						{% endif %} {% endif %}
                        <h1>{{ link_post(headline2Top) }}</h1>
                    </header>
                    <p>{{ headline2Top.introduction|slice(0, 120) }}...</p>
                </article>
				{% endif %}
				{% for post in headline2Rest %}
                <div class="ttwo-s {% if loop.index == 1%}left{% else %}right{% endif %}">
					{% if post.cover %}
                    <a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('252x168') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <h2>{{ link_post(post) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
        </div>
        <div class="con-m">
        	<section class="c-church">
            	<h1 class="menu-m">
					<a {{ path_category(categoryChurch) }}>中国教会</a>
				</h1>
                <article class="dh-group">
                    <header>
						{% set post = chinaChurch %}
						{% if chinaChurch.cover %}
                    	<figure>
                    		<a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('484x323') }}" alt="{{ post.cover.caption}}"></a>
                        </figure>
						{% endif %}
                    	<h1>{{ link_post(post) }}</h1>
                    </header>
                    <p>{{ post.introduction|slice(0, 80) }}...</p>
                </article>
            </section>
        	<section class="day-headline">
            	<h1 class="menu-m">{{ province.title }}头条</h1>
				{% for post in headlinesTop %}
                <article class="dh-group">
                    <header><h1>{{ link_post(post) }}</h1></header>
                    <p>{{ post.introduction|slice(0, 80) }}...</p>
					{% if loop.index < 3 %}
                    <ul>
						{% for post in post.related %}
						{% if loop.index < 3 %}
                        <li>{{ link_post(post) }}</li>
						{% endif %}
						{% endfor %}
                    </ul>
					{% endif %}
                </article>
				{% endfor %}
                <ul class="top-list">
					{% for post in headlinesRest %}
                	<li>{{ link_post(post) }}</li>
					{% endfor %}
                </ul>
            </section>
        </div>
        <div class="clear"></div>
        <div class="con-l">
        	<section class="topnews-two">
            	<h1 class="menu-c"><a href="{{ path('home') }}">今日主站头版</a></h1>
            	<article class="top-headline">
                	<header>
						{% set post = mainHeadlineTop %}
						{% if post.cover %}
                    	<figure>
                        	<a href="{{ path('news_show', {slug: post.title, id: post.id}) }}">
								{% set filter_name = '484x323' %}
								{% if post.cover.useWatermark %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								<img src="{{ asset(post.coverPath)|imagine_filter(filter_name) }}" alt="{{ post.cover.caption}}">
							</a>
                        </figure>
						{% endif %}
                        <h1>{{ link_post(post) }}</h1>
                    </header>
                    <p>{{ post.introduction|slice(0, 120) }}...</p>
                </article>
				{% for post in mainHeadlineRest %}
                <div class="tthree-s">
					{% if post.cover %}
                    <a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('252x168') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <h2>{{ link_post(post) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
            <section class="topnews-two">
            	<h1 class="menu-c">{{ link_category(categoryFamily) }} ● 信仰 ● {{ link_category(categoryBusiness) }}</h1>
            	<article class="top-headline">
                	<header>
						{% set post = familyLifePostsTop %}
						{% if post.cover %}
                    	<figure>
                        	<a href="{{ path('news_show', {slug: post.title, id: post.id}) }}">
								{% set filter_name = '484x323' %}
								{% if post.cover.useWatermark %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								<img src="{{ asset(post.coverPath)|imagine_filter(filter_name) }}" alt="{{ post.cover.caption}}">
							</a>
                        </figure>
						{% endif %}
                        <h1>{{ link_post(post) }}</h1>
                    </header>
                    <p>{{ post.introduction|slice(0, 120) }}...</p>
                </article>
				{% for post in familyLifePostsRest %}
                <div class="tthree-s">
					{% if post.cover %}
                    <a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('252x168') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <h2>{{ link_post(post) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
        </div>
        <div class="con-m">
			{{ render(controller('FrontendWebBundle:Common:fineColumn')) }}
        </div>
        <div class="clear"></div>
        <div class="version-title"><h1><span>主站资讯</span></h1></div>
		{{ render(controller('FrontendWebBundle:Common:categoryList')) }}
        <div class="clear"></div>
    </div>
    <aside class="con-r right">
		{{ render(controller('FrontendWebBundle:Common:rightInside')) }}
    	<div class="bn-aside">
        	<img src="{{ asset('bundles/frontendweb/images/ad-r.jpg') }}">
        </div>
        <div class="clear"></div>
        <div class="pad-lside">
            <section class="video-film">
				{{ render(controller('FrontendWebBundle:Common:rightVideo')) }}
            </section>    
			{{ render(controller('FrontendWebBundle:Common:rightTopics')) }}
			{{ render(controller('FrontendWebBundle:Common:rightViewpoints')) }}
        </div>
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightBroadcasts')) }}
			{{ render(controller('FrontendWebBundle:Common:rightMediaFocus')) }}
			{{ render(controller('FrontendWebBundle:Common:rightHot')) }}
			{% include 'FrontendWebBundle:Common:rightAdBottom.html.twig' %}
        </div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}
