{# 省份页面的文章列表模板文件 #}

{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category, link_category,
link_section, link_fine_clumn
%}
{% block title %}
{% if category.parent.title is defined %}
{{ category.parent.title }} - 
{% endif %}
{% if category.title is defined %}
{{ category.title }} - 
{% endif %}
{% endblock %}
{% block body %}
<div class="constrain">
	<div class="con-lm left">
    	<h1 class="section-title">
			{% if province.title is defined %}
				{{ province.title }}
			{% endif %}
		</h1>
		{# only show in the first page #}
		{% if page == 1 %}
    	<div class="con-l">
        	<section class="topnews-two">
				{% if headline1Top is defined %}
            	<article class="top-headline">
                	<header>
						{% if headline1Top.cover %}
                    	<figure class="">
                        	<a href="{{ path('news_show', {slug: headline1Top.title, id: headline1Top.id}) }}">
								{% set filter_name = '484x323' %}
								{% if headline1Top.cover.useWatermark %}
									{% set filter_name = '484x323_watermark' %}
								{% endif %}
								<img src="{{ asset(headline1Top.coverPath)|imagine_filter(filter_name) }}" alt="{{ headline1Top.cover.caption}}">
							</a>
                        </figure>
						{% endif %}
                        <h1>{{ link_post(headline1Top) }}</h1>
                    </header>
                    <p>{{ headline1Top.introduction|slice(0, 120) }}...</p>
                </article>
				{% endif %}
				{% for post in headline1Rest %}
                <div class="ttwo-s {% if loop.index == 1%}left{% else %}right{% endif %}">
					{% if post.cover %}
                    <a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('252x168') }}" alt="{{ post.cover.caption}}"></a>
					{% endif %}
                    <h2>{{ link_post(post) }}</h2>
                </div>
				{% endfor %}
                <div class="clear"></div>
            </section>
        </div>
        <div class="con-m">
        	<section class="day-headline">
				{% for post in headlinesTop %}
                <article class="dh-group">
                    <header><h1>{{ link_post(post) }}</h1></header>
                    <p>{{ post.introduction|slice(0, 80) }}...</p>
					{% if loop.index < 3 %}
                    <ul>
						{% for post in post.related %}
						{% if loop.index < 3 %}
                        <li>{{ link_post(post) }}</li>
						{% endif %}
						{% endfor %}
                    </ul>
					{% endif %}
                </article>
				{% endfor %}
            </section>
        </div>
		{% endif %}
        <div class="clear"></div>
        <div class="section-bottom">
        	<ul class="section-list">
				{% for post in pagination %}
            	<li class="clearfix">
					{% if post.cover %}
					<a {{ path_post(post) }}><img class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('220x147') }}" alt="{{ post.title }}"></a>
					{% endif %}
                    <h2><a {{ path_category(post.category) }}>【{{ post.category }}】</a></h2>
					<h1>{{ link_post(post) }}</h1>
					<p>{{ post.introduction }}</p>
                    <p class="sl-at"><span>{{ post.author}} {{ post.writer }}</span> 2013年08月05日 05时25分35秒</p>
                </li>
				{% endfor %}
            </ul>
            <div class="page clearfix">
				{{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <aside class="con-r right">
		{{ render(controller('FrontendWebBundle:Common:rightHot')) }}
    	<div class="bn-aside">
        	<img src="{{ asset('bundles/frontendweb/images/ad-r.jpg') }}">
        </div>
        <div class="clear"></div>
		{% if category.id is defined %}
        <div class="pad-lside">
			{{ render(controller('FrontendWebBundle:Common:rightOtherSectionNewest', {excludeCategory: category})) }}
        </div>
		{% endif %}
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightTopics')) }}
        </div>
        <div class="clear"></div>
        <div class="pad-lside">
        	<section class="video-film">
				{{ render(controller('FrontendWebBundle:Common:rightVideo')) }}
            </section> 
        </div>
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightGallery')) }}
        </div>
        <div class="clear"></div>
        <div class="bn-aside-b">
            <img src="{{ asset('bundles/frontendweb/images/ad-r.jpg') }}">
        </div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}
