<h2 class="visually-hidden">主标签</h2>
<ul class="tabs primary">
	<li {% if app.request.attributes.get('_route') == 'gospel_user' %}class="active"{% endif %}><a href="{{ path('gospel_user') }}" {% if app.request.attributes.get('_route') == 'gospel_user' %}class="active"{% endif %}>列表</a></li>
	<li {% if app.request.attributes.get('_route') == 'gospel_group' %}class="active"{% endif %}><a href="{{ path('gospel_group') }}">用户组</a></li>
	<li {% if app.request.attributes.get('_route') == 'gospel_role' %}class="active"{% endif %}><a href="{{ path('gospel_role') }}">角色</a></li>
	<!-- <li {% if app.request.attributes.get('_route') == 'gospel_permission' %}class="active"{% endif %}><a href="#">权限</a></li> -->
</ul>