{% extends '::backend.html.twig' %}
{% block breadcrumb %}
									> <a href="{{ path('backend_structure', {type: 'admin-config'}) }}" id="toolbar-link-admin-config" class="icon icon-configuration">
										配置</a>
{% endblock %}
{%block header %}<h1 class="page-title">更新缓存</h1>{% endblock %}
{% block body %}
{{ form(form) }}
{% endblock %}
