{% extends '::backend.html.twig' %}
{% block header %}
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('gospel_newsletter_index') }}">分类</a></li>
{% endblock %}
{% block body -%}

	{% include 'GospelNewsletterBundle:Settings:modify_content.html.twig' %}
{% endblock %}
