{% if form.settings | length > 0 %}
	{% include 'GospelNewsletterBundle:Settings:modify_form.html.twig' %}
{% else %}
	{% include 'GospelNewsletterBundle:Settings:modify_form_empty.html.twig' %}
{% endif %}
