<form method="post" class="craue_config_settings_modify" {{ form_enctype(form) }}>
	{{ form_errors(form) }}

	{% for section in sections %}
		{% if section is not empty %}
			<fieldset>
				<legend>{{ section | trans({}, 'GospelNewsletterBundle') }}</legend>
		{% endif %}

		{% for setting in form.settings if setting.section.vars.value == section %}
			{{ form_row(setting.name) }}
			{{ form_row(setting.section) }}
			{{ form_row(setting.value, {
					'label': setting.name.vars.value | trans({}, 'GospelNewsletterBundle'),
				}) }}
				<br/>
		{% endfor %}

		{% if section is not empty %}
			</fieldset>
		{% endif %}
	{% endfor %}

	{{ form_rest(form) }}

	<button type="submit">{{ '提交' | trans({}, 'GospelNewsletterBundle') }}</button>
</form>
