@charset "utf-8";
/* CSS Document */
body{ background:#f9f9fa;}
.vp-login, .vp-nav li.on, .vp-s-bt, .icon-vplay, .icon-vplay-s, .pht-icon, .icon-pplay, .vdetail-nav li.on, .photos-prev p a, .photos-next p a{ background:url(../images/sicon.png) no-repeat;}
#vp-header{ background:#06142f; margin-bottom:1px; height:40px; position:relative;}
#phone-head{ display:none; position:relative;}
.logo-city{ float:left;}
.vp-logo{ float:left; padding:10px 14px 0 17px; line-height:0; *padding-top:0;}
.other-version{ display:none; z-index:100; position:absolute; background: rgba(2,11,29,0.8); top:41px; left:221px; padding:0 10px; *background:#020b1d;}
.other-version li{ float:left; padding:10px 10px;}
.other-version li a{ color:#fff;}
.vp-ocity{ float:left; background:#546078; color:#f4f4f4; padding:3px 7px; margin-top:10px;}
.vp-ocity:hover{ text-decoration:none; background:#4c5972;}
.vp-ocity:active{ text-decoration:none; background:#475268;}
.ht-ocity{ float:left;}
.nav-login{ float:right;}
.nd-whole{ border-bottom:3px solid #020b1d; width:100%; display:none;}
.nav-drop li{ float:right; padding:8px 15px; font-family:"微软雅黑";}
.vp-login{ width:42px; height:40px; background-position:0 -262px; float:right;}
.vp-login a{ display:block; width:100%; height:100%;}
.vp-login:hover{ background-position:0 -342px;}
.vp-login:active{ background-position:0 -302px;}
.ph-top{ border-top:3px solid #020b1d;}
.ph-top h1{ line-height:0; padding:10px 0 7px 18px; float:left;}
.pht-icon{ width:47px; height:38px; background-position:13px -388px; float:right;}
.pht-icon a{display:block; width:100%; height:100%;}
.pht-icon:hover{ background-color:#f2f2f2;}
.ph-bt, .ph-bt-d{ background:#020b1d; height:40px;}
.ph-bt h1, .ph-bt-d h1{ color:#fff; line-height:40px; padding-left:18px; float:left;}
.ph-bt h2, .ph-bt-d h2{ float:right; line-height:40px; padding:0 15px;}
.ph-bt h2 a, .ph-bt-d h2 a{ color:#fff;}
.ph-bt h2 a:hover, .ph-bt-d h2 a:hover{ text-decoration:none;}
.phti-drop{ background:#f2f2f2; padding-top:5px; padding-bottom:1px; display:none;}
.phti-drop ul{ border-bottom:1px solid #92969d; padding-bottom:5px; margin-bottom:1px;}
.phti-drop li{ display:inline-block; padding:5px 10px;font-family:"微软雅黑";}
.phb-drop{border-bottom:3px solid #020b1d; padding-bottom:3px; display:none;font-family:"微软雅黑";}
.phb-drop ul{ padding:5px 6px;}
.phb-drop li{display:inline-block; padding:5px 0 5px 10px;}
.phb-search{ padding-left:15px;}

.main-nav{ float:right;}
.main-nav li{ float:left; padding:0 15px; font-family:"微软雅黑"; font-weight:bold; line-height:40px;}
.main-nav li a{ color:#fff;}
.main-nav li a:hover{ text-decoration:none; color:#8395b8;}
.vp-nav{ width:220px; position:absolute; left:0; top:0}
.vpn-title{ background:#020b1d; height:65px; line-height:65px; text-align:center; color:#fff;}
.vp-nav li, .vdetail-nav li{ height:37px; line-height:37px; border-bottom:1px solid #ccc; padding-left:40px;font-family:"微软雅黑";border-right:7px solid #ccc; background-color:#fff;}
.vp-nav li a, .vdetail-nav li a{ display:block; height:100%; overflow:hidden;}
.vp-nav li.on{ border-right:none; background-position:196px -133px;background-color:#fff; font-weight:bold; color:#d30000;}
.vp-search{border-right:7px solid #ccc;border-bottom:7px solid #ccc; background-color:#fff; padding:25px 0 25px 6px;}
.vp-s-form{ float:left; height:25px; line-height:25px; border:1px solid #ccc; border-right:none; padding-left:15px; width:144px; color:#999;}
.vp-s-bt{ width:40px; height:27px; background-position:0 -181px; border:none; float:left;}
.vp-s-bt:hover{background-position:0 -208px;}
.vp-s-bt:active{background-position:0 -235px;}
.vp-nav p, .vdetail-nav p{ text-align:right; color:#666; line-height:18px; padding:15px 15px 20px 0;}
.vp-r{ position:relative; padding:27px 42px 30px 250px;}
.vp-top{ margin-bottom:25px;}
.vp-top li{ float:left; padding-right:3.797%; width:29.5358%;*padding-right:0;*margin-right:3.797%;}
.vt-img{ position:relative;}
.icon-vplay{ position:absolute; bottom:15px; right:15px; width:54px; height:54px; background-position:0 0;}
.icon-vplay a{ display:block; width:100%; height:100%;}
.vt-text{ padding:15px 10px 20px 20px; border:1px solid #ccc; border-top:none;-webkit-box-shadow: inset 0px 2px 2px 0px #ccc;-moz-box-shadow: 0px 2px 2px 0px #ccc;box-shadow: 0px 2px 2px 0px #ccc; min-height:65px;}
.vt-text p, .vl-text p{ color:#666; padding-top:5px;}
.vt-text span{ padding-right:10px;}
.menu-tab{ margin-bottom:10px; color:#000; background:url(../images/bg-line.gif) repeat-x bottom;}
.menu-tab h1{ float:left; padding:8px 15px;}
.mt-on{ border:1px solid #666; border-bottom:none; padding-bottom:1px; background:#f9f9fa;}
.vp-list li{ float:left; width:13.924%; padding-right:2.5316%; margin-bottom:20px;*padding-right:0;*margin-right:2.0%;}
.vp-list li:nth-child(6n+1) { clear: both; }
.vl-img{ position:relative;}
.icon-vplay-s{ position:absolute; bottom:8px; right:8px; width:34px; height:34px; background-position:0 -56px;}
.icon-vplay-s a{ display:block; width:100%; height:100%;}
.vl-text{ padding:15px 10px 15px 15px; border:1px solid #ccc; border-top:none; min-height:100px;}
.vl-text h1{ font-weight:normal; font-family:"宋体";}
.read-more{width: 100%;display: inline-block;height: 38px;line-height:38px;vertical-align: middle;text-decoration: none;color: #cc0000;background-color: #F8F8F8;
background-image: linear-gradient(to bottom, #fff 0px, #f3f3f3 100%);border: 1px solid #ccc;font-size:0.875em;text-align: center;margin: 10px 0;-moz-border-radius:10px/20px;-webkit-border-radius:10px/20px;border-radius: 3px/3px; margin-bottom:40px;}
.page { font-family:"微软雅黑"; padding-top:20px; margin-bottom:40px;}
.page a{ display:block; height:30px; line-height:30px; border:1px solid #ccc; text-align:center; padding:0 0.7em; float:left; margin-right:10px; font-size:1em; color:#181818;}
.page a:hover{ border:1px solid #cc0000; text-decoration:none;}
.page .on{ background:#cc0000; border-color:#cc0000; color:#fff;}
.page span{ float:left; margin-right:10px; line-height:38px;}

/*图片集*/
.icon-pplay{ position:absolute; bottom:15px; right:15px; width:37px; height:25px; background-position:0 -91px;}
.icon-pplay a{ display:block; width:100%; height:100%;}
/*讲道*/
.sermon-title{ background:#020b1d; height:65px; line-height:65px; text-align:center; color:#fff;}
.sermon-title a{ color:#fff;}
.vp-nav li.s-jiangyuan, .vdetail-nav li.s-jiangyuan{ background:#020b1d; color:#fff; border-bottom:none; height:20px; line-height:21px; font-weight:900;*line-height:20px;}
.vp-nav li.s-more, .vdetail-nav li.s-more{ padding-bottom:20px;}
.vp-nav li.s-more a, .vdetail-nav li.s-more a{ color:#d30000; }
.phb-drop li.s-more a{ color:#d30000; }
.phb-drop p{ padding:10px 20px;}
.phb-title{ background:#020b1d; color:#fff; border-bottom:none; height:20px; line-height:21px; font-weight:900; margin-left:10px; padding:0 5px;}
/*最终页*/
.vdetail-r{ position:relative;padding:27px 0px 30px 180px;}
.vdetail-nav{ width:150px;position:absolute; left:0; top:0}
.vdetail-nav li.on{ border-right:none; background-position:126px -133px;background-color:#fff; font-weight:bold; color:#d30000;}
.vdetail-s-form{ float:left; height:25px; line-height:25px; border:1px solid #ccc; border-right:none; padding-left:15px; width:74px; color:#999;}
.v-detail{ margin-bottom:30px;}
.v-detail h1{ text-align:center; margin-bottom:0.8em;}
.vd-object{ text-align:center;}
.v-detail p{ width:800px; color:#666; line-height:20px; margin:0 auto; padding-top:30px;}
.review{ padding-bottom:30px;}

.a-style-bigimg{ margin-bottom:30px;}
.asb-img{ position:relative;max-width:800px; margin:0 auto;}
.asb-img-ie6{max-width:800px;}
.asb-img-ie6 li{ margin-bottom:20px;}
.asbi-group{ float:left;}
.a-style-bigimg h2{padding-bottom:10px;color:#071c45;}
.captive{  padding:15px 10px 20px 120px; border:1px solid #ccc; border-top:none;-webkit-box-shadow: inset 0px 2px 2px 0px #ccc;-moz-box-shadow: 0px 2px 2px 0px #ccc;box-shadow: 0px 2px 2px 0px #ccc; position:relative; color:#666; line-height:20px;}
.cp-number{ position:absolute; top:10px; left:10px; font-style:italic; color:#222;}
.cp-number span{ font-size:2.25em;}
.photos-last{ position:absolute; top:0; left:0; background: rgba(2,11,29,0.8); width:100%; height:100%; *background:#020b1d;}
.photos-last a{ color:#fff;}
.photos-prev{ float:left; width:45%; text-align:right; padding-top:25%;}
.photos-next{ float:right; width:45%;padding-top:25%;}
.photos-prev p a{ background-position:right -625px; height:43px; line-height:43px; padding-right:65px; display:block; margin-bottom:10px;}
.photos-next p a{ background-position:left -688px; height:43px; line-height:43px; padding-left:65px; display:block; margin-bottom:10px;}


/*最终页图片滚动*/
.asb-img .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-direction-nav li a {position:absolute; top:37%; width:76px; height:86px; background:url(../images/sicon.png) no-repeat; cursor:pointer; z-index:100; font-size:0; text-indent:-9999;}
.flex-direction-nav li .next {right:0; background-position:0 -432px;}
.flex-direction-nav li .prev {left:0; background-position:0 -519px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
/*最终页图片滚动 Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -25px; text-align: center; z-index:100; display:none;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 10px; height: 10px; display: block; background:url(../images/bg_control_nav.png) no-repeat 0 0; background-size:10px 30px; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -10px;}
.flex-control-nav li a.active {background-position: 0 -20px; cursor: default;}
.page ul, .page ol{ list-style:none;}


/*公用*/

.vp-ocity, .vp-s-form, .vp-nav p, .vt-text p, .vl-text p, .vdetail-nav p, .v-detail p, .captive{ font-size:0.75em;}
.main-nav li, .vl-text h1, .nav-drop li, .other-version li, .phti-drop li, .phb-title{ font-size:0.875em;}
h1.vpn-title{ font-size:1.875em;}
h1.sermon-title, .v-detail h1{ font-size:1.5em;}
.vp-nav li, .vt-text h1, .menu-tab h1, .phb-drop li, .vdetail-nav li, .photos-last h1{ font-size:15px;}
.ph-bt h1, .ph-bt-d h1, .cp-number{ font-size:1.125em;}
.ph-bt h2, .ph-bt-d h2{ font-size:1em;}
.menu-tab h1 a{ color:#000;}
.vp-nav li a:hover, .menu-tab h1 a:hover, .phb-drop li a:hover, .sermon-title a:hover, .vdetail-nav li a:hover{ text-decoration:none; color:#d30000;}
.vp-top img, .vp-list img{ max-width:100%; width:100%; height:auto;}





















