@charset "utf-8";
/* CSS Document */
@media screen and (max-width:1024px){
	.pad-hide{ display:none;}
	.vp-top li{ width:46.2022%;}
	.vp-top li:last-child{ display:none;}
	.vp-r{ padding-right:30px; padding-left:180px;}
	.vp-list li{ width:22.1518%;}
	.vp-list li:nth-child(6n+1) { clear: none; }
	.vp-list li:nth-child(4n+1) { clear: both; }
	.vp-nav{ width:150px;}
	.vp-nav li.on{background-position: 126px -133px;}
	.vp-s-form{ width:74px;}
	.other-version{ left:151px;}
}
@media screen and (max-width:990px){
	.vdetail-r{ padding-left:170px; padding-right:20px;}	
	.v-detail p{ width:auto;}
	.v-object embed,.v-object object,.v-object iframe, .v-object img{width: 100%;height: auto;}
}
@media screen and (max-width:880px){
}
@media screen and (max-width:780px){
	.vp-r{ padding-right:0; padding-left:175px;}
	.vp-list li{ width:30.3796%;}
	.vp-list li:nth-child(4n+1) { clear: none; }
	.vp-list li:nth-child(3n+1) { clear: both; }
	.read-more {width: 96.203%;}
}
@media screen and (max-width:620px){
	#vp-header{ display:none;}
	#phone-head{ display:block;}
	.ph-bt{ display:none;}
	.vp-r{ padding-top:0;}
	.page{ display:none;}
	.other-version{ left:0px;}
	.vdetail-nav{ display:none;}
	.vdetail-r{ padding-left:20px;}
	.ph-bt-d{ display:block;}
	
	.a-style-bigimg{ padding-right:0;}
	.flex-direction-nav li .next, .flex-direction-nav li .prev{ display:none;}
	.flex-control-nav{ display:block;}
	.asb-img{ margin-bottom:40px;}
}

@media screen and (max-width:480px){
	.ph-bt{ display:block;}
	.vp-nav{ display:none; }
	.vp-r{padding:20px;}
	.read-more {width: 100%;}
	.vp-top li{ width:48%;}
	.vp-list li:nth-child(3n+1) { clear: none; }
	.vp-top li:nth-child(2n){ padding-right:0;}
	.vp-list li:nth-child(3n){ padding-right:0;}
	.vp-list li{ width:31.55%;}
	.vp-s-form{ width:144px;}
	
	.captive{ padding:50px 10px 20px 10px;}
	.photos-prev p, .photos-next p{ font-size:0;}
	.photos-last h1{ display:none;}
}
@media screen and (max-width:340px){
	.vp-top{ margin-bottom:0;}
	.vp-top li{ width:100%; padding-right:0; margin-bottom:20px;}
	.vp-list li{ width:48%;}
	.vp-list li:nth-child(3n){ padding-right:2.5316%;}
	.vp-list li:nth-child(2n){ padding-right:0;}
	.vdetail-r{padding:20px 10px;}
}

@media screen and (max-width:240px){
	#phone-head, .phb-drop{ width:240px;}
	.vp-r{ padding:20px 10px; width:220px;}
	.vdetail-r{ width:220px;}
}