{% macro pagination(paginator, options) %}
{% if paginator.haveToPaginate()|default(false) %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated', options|default({})) }}
{% endif %}
{% endmacro %}

{% macro styleFormRow(element) %}
	<div class="control-group">
		{{ form_label(element) }}
		<div class="controls">
			{{ form_widget(element) }}
		</div>
	</div>
{% endmacro %}

{% macro inlineFormRow(element) %}
	<div class="control-group" style="float:left;">
		{{ form_label(element) }}
		<div class="controls">
			{{ form_widget(element) }}
		</div>
	</div>
{% endmacro %}

{% macro backBtn(returnPath) %}
<a  id="" name="op" href="{{ path(returnPath) }}" class="button form-submit">返回</a>
{% endmacro %}

{% macro editNbackBtn(editPath, returnPath, entity) %}
<a  id="" name="op" href="{{ path(editPath, {id: entity.id}) }}" class="button button-primary form-submit">修改</a>
<a  id="" name="op" href="{{ path(returnPath) }}" class="button form-submit">返回</a>
{% endmacro %}

{% macro rteCss() %}
	{% stylesheets 
		'bundles/gospelcore/ueditor/themes/default/css/ueditor.css' 
		'bundles/gospelcore/ueditor/third-party/codemirror/codemirror.css' 
	filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endmacro %}
	
{% macro rteJs(elementEd, element2) %}
	{% javascripts 
		'@GospelCoreBundle/Resources/public/ueditor/ueditor.all.js' 
		'@GospelCoreBundle/Resources/public/ueditor/ueditor.config.js' 
		'@GospelCoreBundle/Resources/public/ueditor/lang/zh-cn/zh-cn.js' 
		'@GospelCoreBundle/Resources/public/ueditor/third-party/codemirror/codemirror.js' 
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
		<script type="text/javascript">
			var editor = new UE.ui.Editor({
                imageUrl:"{{ path('ueditor_dialog_image_upload') }}",             //图片上传提交地址
        		fileUrl:"{{ path('ueditor_dialog_attachement_upload') }}",               //附件上传提交地址
        		imageManagerUrl:"{{ path('ueditor_dialog_image_manager') }}",       //图片在线管理的处理地址
				topOffset: 90,
                iframeUrlMap: {
                    'insertimage': "{{ path('ueditor_dialog_image') }}",
        			'imageManagerUrl':"{{ path('ueditor_dialog_image_manager') }}",       //图片在线管理的处理地址
                    'link': "{{ path('ueditor_dialog_link') }}",
							searchreplace: "{{ path('ueditor_dialog_search_replace') }}",
							help: "{{ path('ueditor_dialog', {tpl: 'help'}) }}",
							scrawl: "{{ path('ueditor_dialog', {tpl: 'scrawl'}) }}",
							gmap: "{{ path('ueditor_dialog', {tpl: 'gmap'}) }}",
							music: "{{ path('ueditor_dialog', {tpl: 'music'}) }}",
							insertvideo: "{{ path('ueditor_dialog', {tpl: 'video'}) }}",
							attachment: "{{ path('ueditor_dialog', {tpl: 'attachment'}) }}",
							map: "{{ path('ueditor_dialog', {tpl: 'map'}) }}",
							anchor: "{{ path('ueditor_dialog', {tpl: 'anchor'}) }}",
							spechars: "{{ path('ueditor_dialog', {tpl: 'spechars'}) }}",
							template: "{{ path('ueditor_dialog', {tpl: 'template'}) }}",
							emotion: "{{ path('ueditor_dialog', {tpl: 'emotion'}) }}",
							background: "{{ path('ueditor_dialog', {tpl: 'background'}) }}"

                }
			});
			editor.render({{ elementEd }});

{% if element2 %}
			var editor2 = new UE.ui.Editor({
                imageUrl:"{{ path('ueditor_dialog_image_upload') }}",             //图片上传提交地址
        		fileUrl:"{{ path('ueditor_dialog_attachement_upload') }}",               //附件上传提交地址
        		imageManagerUrl:"{{ path('ueditor_dialog_image_manager') }}",       //图片在线管理的处理地址
                iframeUrlMap: {
                    'insertimage': "{{ path('ueditor_dialog_image') }}",
        			'imageManagerUrl':"{{ path('ueditor_dialog_image_manager') }}",       //图片在线管理的处理地址
                    'link': "{{ path('ueditor_dialog_link') }}",
							searchreplace: "{{ path('ueditor_dialog_search_replace') }}",
							help: "{{ path('ueditor_dialog', {tpl: 'help'}) }}",
							scrawl: "{{ path('ueditor_dialog', {tpl: 'scrawl'}) }}",
							gmap: "{{ path('ueditor_dialog', {tpl: 'gmap'}) }}",
							music: "{{ path('ueditor_dialog', {tpl: 'music'}) }}",
							insertvideo: "{{ path('ueditor_dialog', {tpl: 'video'}) }}",
							attachment: "{{ path('ueditor_dialog', {tpl: 'attachment'}) }}",
							map: "{{ path('ueditor_dialog', {tpl: 'map'}) }}",
							anchor: "{{ path('ueditor_dialog', {tpl: 'anchor'}) }}",
							spechars: "{{ path('ueditor_dialog', {tpl: 'spechars'}) }}",
							template: "{{ path('ueditor_dialog', {tpl: 'template'}) }}",
							emotion: "{{ path('ueditor_dialog', {tpl: 'emotion'}) }}",
							background: "{{ path('ueditor_dialog', {tpl: 'background'}) }}"

                }
			});
			editor2.render({{ element2 }});
{% endif %}
		</script>
{% endmacro %}