{% extends '::backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="{{ path('gospel_category_other_index') }}">分类</a></li>
{% endblock %}

{% block body -%}
  <div class="content">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoryOther.id }}</td>
            </tr>
            <tr>
                <th>名称</th>
                <td>{{ categoryOther.title }}</td>
            </tr>
            <tr>
                <th>上级分类</th>
                <td>{{ categoryOther.parent }}</td>
            </tr>
            <tr>
                <th>描述</th>
                <td>{{ categoryOther.description }}</td>
            </tr>
            <tr>
                <th>排序</th>
                <td>{{ categoryOther.sortOrder }}</td>
            </tr>
            <tr>
                <th>是否激活</th>
				<td>{% if categoryOther.isActive %}是{% else %}否{% endif %}</td>
            </tr>
        </tbody>
    </table>
  </div>
<div class="form-actions form-wrapper" id="edit-actions">
<a  id="" name="op" href="{{ path('gospel_category_other_update', {id: categoryOther.id}) }}" class="button button-primary form-submit">修改</a>
<a  id="" name="op" href="{{ path('gospel_category_other_index') }}" class="button form-submit">返回</a>
</div>

{% endblock %}