{% extends '::backend.html.twig' %}
{% block body %}
<a href="{{ path('backend_structure', {type: 'admin-content'}) }}" target="_blank">内容管理</a>
<hr/>
<iframe src="http://analytics.christiantimes.cn/index.php?module=Widgetize&action=iframe&moduleToWidgetize=Dashboard&actionToWidgetize=index&idSite=1&period=week&date=yesterday&token_auth=fef15876185ecb1a6222252fc7e9e32f" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="1000"></iframe>
{% endblock %}
