{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category,
link_category, link_province, link_topic, link_video_category, link_gallery_category
 %}
{% block stylesheets %}
{{ parent() }}
{% stylesheets 
	'bundles/frontendweb/css/sitemap.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body %}
<div class="constrain">
	<!--guide-->
    <div class="guide clearfix">
    	<h1 class="guide-section"><a href="{{ path('sitemap') }}">网站地图</a></h1>
		<br/>
    </div>
    <div class="clear"></div>
    <div class="site-map">
    	<ul class="map-manu clearfix">
        	<li target="#category-list" class="current">频道页面</li>
            <li target="#province-list">地区版本</li>
            <li target="#video">视频</li>
            <li target="#gallery">图片集</li>
{#            <li target="#topic-list">专题</li>#}
            <li target="#other-list">其他页面</li>
        </ul>
        <section class="map-group" id="category-list">
        	<h1 class="mg-title">频道页面</h1>
			{% for block in blockData %}
            <h2 class="menu-map">{{ link_category(block.category) }}</h2>
            <ul class="clearfix">
				{% for sub in block.category.children %}
					<li> {{ link_category(sub) }} </li>
				{% endfor %}
            </ul>
			{% if loop.index % 2 == 0 %}<div class="clear"></div>{% endif %}
			{% endfor %}
        </section>
        <section class="map-group" id="province-list">
        	<h1 class="mg-title">地区版本</h1>
            <ul class="clearfix">
				{% for province in provinces %}
            	<li>{{ link_province(province) }}</li>
				{% endfor %}
            </ul>
        </section>
        <section class="map-group" id="video">
        	<h1 class="mg-title">视频</h1>
            <ul class="clearfix">
				{% for row in videoCategories %}
            	<li>{{ link_video_category(row) }}</li>
				{% endfor %}
            </ul>
        </section>
        <section class="map-group" id="gallery">
        	<h1 class="mg-title">图片集</h1>
            <ul class="clearfix">
				{% for row in galleryCategories %}
            	<li>{{ link_gallery_category(row) }}</li>
				{% endfor %}
            </ul>
        </section>
        {#<section class="map-group" id="topic-list">
        	<h1 class="mg-title">专题</h1>
            <ul class="clearfix">
				{% for row in topics %}
            	<li>{{ link_topic(row) }}</li>
				{% endfor %}
            </ul>
        </section>#}
        <section class="map-group" id="other-list">
        	<h1 class="mg-title">其他页面</h1>
            <ul class="clearfix">
				{% for row in about %}
				<li><a href="{{ path('about', {id:row.id, slug:row.title|slugfy}) }}">{{ row.title }}</a></li>
				{% endfor %}
				<li><a href="{{ path('links') }}">友情链接</a></li>
				<li><a href="{{ path('sitemap') }}">网站地图</a></li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}

{% block javascripts_2 %}
{{ parent() }}
<script type="text/javascript">
	$(document).ready(function() {
		$('.map-manu li').click(function(e) {
			e.preventDefault();
			if ($(this).hasClass('current')) {
				return;
			}
			$('.map-manu li').removeClass('current');
			$(this).addClass('current');
			$('.map-group').hide();
			// animate to move the target to the top
			var target = $(this).attr('target');
			$(target).insertAfter($('.map-manu'));
			$('.map-group').fadeIn(100);
		});
	});
</script>
{% endblock %}