{% extends '::base.html.twig' %}
{% block stylesheets %}
{% block mainStyle %}
{% stylesheets 
	'bundles/frontendweb/video/css/base.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% stylesheets 
	'bundles/frontendweb/video/css/common-vp.css' 
	'bundles/frontendweb/video/css/mediaquary-vp.css' 
	'bundles/frontendweb/js/lib/lightbox/jquery.fancybox.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block header %}
{{ render(controller('FrontendWebBundle:Common:headerVideo')) }}
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts_1 %}
{% javascripts 
'@FrontendWebBundle/Resources/public/js/lib/jquery-1.8.1.min.js' 
'@FrontendWebBundle/Resources/public/js/lib/jquery-ui.js' 
'@FrontendWebBundle/Resources/public/js/lib/jquery.cycle.all.js' 
'@FrontendWebBundle/Resources/public/js/lib/jquery.lazyload.js' 
'@FrontendWebBundle/Resources/public/js/lib/lightbox/jquery.fancybox.pack.js' 
'@FrontendWebBundle/Resources/public/js/lib/plugins.js' 
'@FrontendWebBundle/Resources/public/js/video.js' 
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
