{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category, link_category,
link_section, link_fine_clumn
%}
{% block title %}
{% if category.parent.title is defined %}
{{ category.parent.title }} - 
{% endif %}
{% if category.title is defined %}
{{ category.title }} - 
{% endif %}
{% endblock %}
{% block body %}
<div class="constrain">
	<div class="con-lm left">
		<h4>搜索文章结果 ——  {{keyword}} - 共{{result.count}}个</h4>
		<br/>
	<div class="menu-tab clearfix">
		<h1 class="mt-on"><a href="#">文章</a></h1>
		<h1><a href="{{path('search_gallery')}}/{{keyword}}">图片集</a></h1>
		<h1><a href="#">视频</a></h1>
	</div>
		<br/>
        <div>
        	<ul class="section-list">
				{% for post in result.data %}
            	<li class="clearfix">
				<h1>{{link_post(post)}}</h1>
					<p>{{ post.introduction }}</p>
                    <p class="sl-at"><span>{{ post.writer }}</span> {{ post.createAt|date('Y年m月d日 H时i分s秒')}}</p>
                </li>
				{% endfor %}
            </ul>
            <div class="page clearfix">
				{{ pagination|raw }}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <aside class="con-r right">
		{{ render(controller('FrontendWebBundle:Common:rightHot')) }}
    	<div class="bn-aside">
			<!-- 广告位：ct-search-right-A1-->
			<script>CNZZ_SLOT_RENDER('378201');</script>
		</div>
        <div class="clear"></div>
		{% if category.id is defined %}
        <div class="pad-lside">
			{{ render(controller('FrontendWebBundle:Common:rightOtherSectionNewest', {excludeCategory: category})) }}
        </div>
		{% endif %}
        <div class="clear"></div>
        <div class="pad-lside">
        	<section class="video-film">
				{{ render(controller('FrontendWebBundle:Common:rightVideo')) }}
            </section> 
        </div>
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightGallery')) }}
        </div>
        <div class="clear"></div>
        <div class="bn-aside-b">
			<!-- 广告位：search-right-A2-->
			<script>CNZZ_SLOT_RENDER('378202');</script>
		</div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}
