{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import pagination %}

{% macro showTree(tree, pre, category) %}
	{% for entity in tree %}
			<tr class=" tree-level-{{ entity.lvl}}">
				<td>{{ entity.id }}</td>
				<td>{{ entity.title }}</td>
				<td>{% if entity.isActive %}是{% else %}否{% endif %}</td>
				<td>{{ entity.sortOrder }}</td>
				<td>
								<form onsubmit="return confirm('确定要删除: {{ entity.title }}？');" style="display: inline;" method="post" action="{{ path('gospel_category_gallery_delete', {id: entity.id}) }}">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							操作
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="edit first dropbutton-action"><a href="{{ path('gospel_category_gallery_update', {id: entity.id}) }}">编辑</a></li>
							<li class="edit first dropbutton-action"><a href="{{ path('gospel_category_gallery_new_child', {parent: entity.id}) }}">添加子分类</a></li>
							<li class="edit first dropbutton-action">
        						<a class="submit-closest-form" href="#">删除</a>
								</li>
						</ul>
					</div>
    <input type="hidden" value="DELETE" name="_method">
</form>
				</td>
			</tr>
			{% if entity.__children %}
			{% from _self import showTree %}
			{{ showTree(entity.__children, "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"~pre, category ) }}
			{% endif %}
	{% endfor %}
{% endmacro %}

{%block header %}<h1 class="page-title">图片集分类管理</h1>{% endblock %}
{% block tabs %}
{% endblock %}
{% block body -%}
{% from _self import showTree %}
<ul class="action-links">
          <li><a class="button button-action" href="{{ path('gospel_category_gallery_new') }}">添加图片集分类</a></li>
        </ul>
<table id="edit-entities" class="sticky-enabled table table-bordered table-hover ">
	<thead><tr><th>ID</th><th>名称</th><th>是否显示</th><th>排序</th><th>操作</th></tr></thead>
	<tbody>
		{{ showTree(tree, '|_', category) }}
		</tbody>
	</table>
{% endblock %}