<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		{% block mainStyle %}
			{% stylesheets 
	'bundles/frontendweb/css/base.css' 
	'bundles/frontendweb/css/magazine/base.css' 
	'bundles/frontendweb/css/magazine/zazhi.css' 
filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
			{% stylesheets 
	'bundles/frontendweb/css/ngDialog.min.css' 
	'bundles/frontendweb/css/ngDialog-theme-default.min.css' 
filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		{% endblock %}


		{% javascripts 
'@FrontendWebBundle/Resources/public/js/lib/jquery-1.8.1.min.js' 
'@FrontendWebBundle/Resources/public/js/lib/jssor.js' 
'@FrontendWebBundle/Resources/public/js/lib/jssor.slider.min.js' 
		%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		<title>{{ magazine.title }}</title>
		<style> 
			.captionOrange, .captionBlack
			{
				color: #fff;
				font-size: 20px;
				line-height: 30px;
				text-align: center;
				border-radius: 4px;
			}
			.captionOrange
			{
				background: #EB5100;
				background-color: rgba(235, 81, 0, 0.6);
			}
			.captionBlack
			{
				font-size:16px;
				background: #000;
				background-color: rgba(0, 0, 0, 0.4);
			}
			a.captionOrange, A.captionOrange:active, A.captionOrange:visited
			{
				color: #ffffff;
				text-decoration: none;
			}
			a.captionOrange:hover
			{
				color: #eb5100;
				text-decoration: underline;
				background-color: #eeeeee;
				background-color: rgba(238, 238, 238, 0.7);
			}
			.bricon
			{
			}
		</style>
	</head>

	<body ng-app="gospelApp">
		<div class="wrap">
			<div class="wrap-left">
				<!-- Jssor Slider Begin -->
				<!-- You can move inline styles to css file or css block. -->
				<div id="slider2_container" style="position: relative; width: 467px;
					 height: 627px;">

					<!-- Loading Screen -->
					<div u="loading" style="position: absolute; top: 0px; left: 0px;">
						<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
							 background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
						</div>
						<div style="position: absolute; display: block; background: url({{ asset('bundles/frontendweb/images/loading.gif') }}) no-repeat center center;
							 top: 0px; left: 0px;width: 100%;height:100%;">
						</div>
					</div>

					<!-- Slides Container -->
					<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 467px; height: 627px;
						 overflow: hidden;">
						{% for image in magazine.images %}
							{% if  image.isImageExists %}
								<div>
									<img src="{{ asset(image.webSrc) }}" alt="今日教会杂志封面" />
								</div>
							{% endif %}
						{% endfor %}
					</div>

					<!-- Bullet Navigator Skin Begin -->
					<!-- jssor slider bullet navigator skin 01 -->
					<style>
						/*
						.jssorb01 div           (normal)
						.jssorb01 div:hover     (normal mouseover)
						.jssorb01 .av           (active)
						.jssorb01 .av:hover     (active mouseover)
						.jssorb01 .dn           (mousedown)
						*/
						.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
						{
							filter: alpha(opacity=70);
							opacity: .7;
							overflow:hidden;
							cursor: pointer;
							border: #000 1px solid;
						}
						.jssorb01 div { background-color: gray; }
						.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
						.jssorb01 .av { background-color: #fff; }
						.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
					</style>
					<!-- bullet navigator container -->
					<div u="navigator" class="jssorb01" style="position: absolute; bottom: 16px; right: 10px;">
						<!-- bullet navigator item prototype -->
						<div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
					</div>
					<!-- Bullet Navigator Skin End -->

					<!-- Arrow Navigator Skin Begin -->
					<style>
						/* jssor slider arrow navigator skin 05 css */
						/*
						.jssora05l              (normal)
						.jssora05r              (normal)
						.jssora05l:hover        (normal mouseover)
						.jssora05r:hover        (normal mouseover)
						.jssora05ldn            (mousedown)
						.jssora05rdn            (mousedown)
						*/
						.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
						{
							position: absolute;
							cursor: pointer;
							display: block;
							background: url({{asset('assets/images/icon/a13.png')}}) no-repeat;
							overflow:hidden;
						}
						.jssora05l { background-position: -10px -40px; }
						.jssora05r { background-position: -70px -40px; }
						.jssora05l:hover { background-position: -130px -40px; }
						.jssora05r:hover { background-position: -190px -40px; }
						.jssora05ldn { background-position: -250px -40px; }
						.jssora05rdn { background-position: -310px -40px; }
					</style>
					<!-- Arrow Left -->
					<span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 263px; left: 8px;">
					</span>
					<!-- Arrow Right -->
					<span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 263px; right: 8px">
					</span>
					<!-- Arrow Navigator Skin End -->
					<a style="display: none" href="http://www.jssor.com">image carousel</a>
				</div>
				<!-- Jssor Slider End -->
				<div class="bt">
					<a href="{{ asset('assets/magazine/pdf/viewer.html') }}?file={{ asset(magazine.webName)}}" onclick="javascript:_paq.push(['trackEvent', '杂志 - 福音时报', '在线阅读']);" target="_blank"><input type="button" class="but2"  value="在线阅读"></a>
					<a href="{{ path('magazine_download', {slug: magazine.slug}) }}" onclick="javascript:_paq.push(['trackEvent', '杂志 - 福音时报', '下载']);" target="_blank"><input type="button" class="but2"  value="下载"></a>
				</div>
			</div>
			<div class="wrap-right">
				{% for flashMessage in app.session.flashbag.get('success') %}
					<div class="messages--status flash-success" style="color:green;">
						{{ flashMessage|raw }}
					</div>
				{% endfor %}
				{{ magazine.description|raw }}
				<div ng-controller="EmailController">
					<script type="text/ng-template" id="newsletterDialog">
						<form  onsubmit="return false" data-action="{{ path('newsletter_subscrib') }}" id="subscribe">
						<div class="someday">
						<img src="{{ asset('bundles/frontendweb/images/someday.jpg') }}" />
						</div>
						<div class="commonuse">
						<div class="common_in">
						<div class="d1">
						<h1>欢迎订阅福音时报</h1>
						</div>
						<div class="d2">
						{% for category in newsletterCategorys %}
							<div class="checkon">
							<input type="checkbox" checked="checked" name="categories[]" value="{{ category.id }}" /> <strong style="font-family:'微软雅黑'';">{{ category.title }}</strong>
							<p>{{ category.description }}</p>
							</div>
						{% endfor %}
						</div>
						<div class="clearfix" style="clear:both;"></div>
						<div class="d3">
						<input id="email" class="input_e_" type="text" name="email" placeholder="//placeholder//" value="//email//" onfocus="if(this.value=='请输入邮箱'){this.value='';}" onblur="if(this.value==''){this.value='请输入邮箱';}" />
						<input class="input_b" type="button" name="input_b" ng-click="submit()" value="确认" />
						<p>请输入您的邮箱地址并点击“确认”，以方便我们将您感兴趣的内容发送到您的邮箱。</p>
						</div>
						</div>
						</div>
						</form>

					</script>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<script>
			jQuery(document).ready(function ($) {
				//Reference http://www.jssor.com/development/slider-with-slideshow-jquery.html
				//Reference http://www.jssor.com/development/tool-slideshow-transition-viewer.html

				var _SlideshowTransitions = [
				];

				var options = {
					$AutoPlay: true, //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
					$AutoPlaySteps: 1, //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
					$AutoPlayInterval: 4000, //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
					$PauseOnHover: 1, //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

					$ArrowKeyNavigation: true, //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
					$SlideDuration: 500, //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
					$MinDragOffsetToSlide: 20, //[Optional] Minimum drag offset to trigger slide , default value is 20
					//$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
					//$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
					$SlideSpacing: 0, //[Optional] Space between each slide in pixels, default value is 0
					$DisplayPieces: 1, //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
					$ParkingPosition: 0, //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
					$UISearchMode: 1, //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
					$PlayOrientation: 1, //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
					$DragOrientation: 3, //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

					$SlideshowOptions: {//[Optional] Options to specify and enable slideshow or not
						$Class: $JssorSlideshowRunner$, //[Required] Class to create instance of slideshow
						$Transitions: _SlideshowTransitions, //[Required] An array of slideshow transitions to play slideshow
						$TransitionsOrder: 1, //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
						$ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
					},
					$BulletNavigatorOptions: {//[Optional] Options to specify and enable navigator or not
						$Class: $JssorBulletNavigator$, //[Required] Class to create navigator instance
						$ChanceToShow: 2, //[Required] 0 Never, 1 Mouse Over, 2 Always
						$AutoCenter: 0, //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
						$Steps: 1, //[Optional] Steps to go for each navigation request, default value is 1
						$Lanes: 1, //[Optional] Specify lanes to arrange items, default value is 1
						$SpacingX: 10, //[Optional] Horizontal space between each item in pixel, default value is 0
						$SpacingY: 10, //[Optional] Vertical space between each item in pixel, default value is 0
						$Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
					},
					$ArrowNavigatorOptions: {
						$Class: $JssorArrowNavigator$, //[Requried] Class to create arrow navigator instance
						$ChanceToShow: 2                                //[Required] 0 Never, 1 Mouse Over, 2 Always
					}
				};

				var jssor_slider2 = new $JssorSlider$("slider2_container", options);

				//responsive code begin
				//you can remove responsive code if you don't want the slider scales while window resizes
				function ScaleSlider() {
					var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
					if (parentWidth)
						jssor_slider2.$ScaleWidth(Math.min(parentWidth, 467));
					else
						window.setTimeout(ScaleSlider, 30);
				}

				ScaleSlider();

				if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
					$(window).bind('resize', ScaleSlider);
				}


				//if (navigator.userAgent.match(/(iPhone|iPod|iPad)/)) {
				//    $(window).bind("orientationchange", ScaleSlider);
				//}
				//responsive code end
			});
		</script>
		{% include '::analytics.html.twig' %}
	</body>
</html>
