{% extends '::backend.html.twig' %}

{% block body -%}

<header id="branding" class="clearfix" role="navigation">
      <nav class="breadcrumb" role="navigation">
    <h2 class="visually-hidden">你在这里</h2>
  </nav>
          <h1 class="page-title">用户权限</h1>
      </header>
<div id="page">
          <div class="tabs-secondary clearfix" role="navigation"></div>
    
    <main id="content" class="clearfix" role="main">
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix"></div>
                          <div class="region region-content">
    <div class="block block-system" id="block-content">
  
    
  <div class="content">
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="button button-primary form-submit"></div>
    </form>
  </div>
</div>

  </div>

    </main>

    <footer id="footer" role="contentinfo">
      
    </footer>

  </div>

{% endblock %}