{% extends '::backend.html.twig' %}

{%block header %}<h1 class="page-title">用户</h1>{% endblock %}
{% block tabs %}
{{ include('GospelUserBundle:Include:tab.html.twig') }}
{% endblock %}
{% block body -%}
<ul class="action-links">
          <li><a class="button button-action" href="{{ path('gospel_role_add') }}">添加角色</a></li>
        </ul>
<table id="edit-entities" class="sticky-enabled responsive-enabled tabledrag-processed tableresponsive-processed tableheader-processed sticky-table">
	<thead><tr><th>名称</th><th>标识</th><th>描述</th><th>操作</th></tr></thead>
	<tbody>
	{% for entity in roles %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.name }}</td>
				<td>{{ entity.identifier }}</td>
				<td>{{ entity.description }}</td>
				<td>
					<!--<div class="dropbutton-wrapper dropbutton-processed"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit odd first dropbutton-action"><a href="{{ path('gospel_role_update', {id: entity.id}) }}">编辑</a></li></ul></div></div>-->
				</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
	{% if roles.haveToPaginate()|default(false) %}
	{{ pagerfanta(roles, 'twitter_bootstrap_translated', options|default({})) }}
	{% endif %}
{% endblock %}