{% extends '::backend.html.twig' %}

{% block breadcrumb %}
	<li><a href="{{ path('gospel_user') }}">用户</a></li>
	<li><a href="{{ path('gospel_role') }}">角色</a></li>
{% endblock %}
{% block body -%}

    
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix"></div>
                          <div class="region region-content">
    <div class="block block-system" id="block-content">
  
    
  <div class="content">
    <form action="" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="button button-primary form-submit"></div>
    </form>
  </div>
</div>

  </div>


    <footer id="footer" role="contentinfo">
      
    </footer>


{% endblock %}