html, body { height: 100%; }

.pt-perspective {
	position: relative;
	width: 100%;
	margin:0 auto;
	height: auto;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	height: auto;
	padding-left:25%;
	padding-right:25%;
	padding-top:10px;
	padding-bottom:10px;
	margin:0 auto;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}

/* Text Styles, Colors, Backgrounds */

.pt-page h1 {
	font-weight: 300;
	font-size: 2em;
	line-height: 1;
	letter-spacing: 6px;
	margin: 0;
	text-transform: uppercase;
	word-spacing: -0.3em;
}
.pt-page h3{
	font-weight:300;}
.pt-page p{ font-size:22px; line-height:25px; color:#ddd; font-family:"宋体"; line-height:30px;}	
.have_imge{ width:95%; margin-bottom:10px; margin:0 auto;}
.have_imge2{ width:100% !important;}
.author{ width:30%; margin:0 auto; margin-top:30px;}
.author img{ width:100%; height:auto;}
.have_imge img{ width:100%; height:auto;}
.info_about{ font-family:"微软雅黑" !important; font-size:14px !important; color:#ccc !important; line-height:20px !important;}
.havemoving{ left:500px !important;}
.pt-page h1 strong {
	color: rgba(0,0,0,0.1);
}


.pt-page-current{ display:block !important;}
.pt-page{ display:none;}
.pt-page-1 {
	background: #320909;
}

.pt-page-2 {
	background: #220326;
}

.pt-page-3 {
	background: #081301;
}

.pt-page-4 {
	background: #01020F; 
}

.pt-page-5 {
	background: #2A2020;
}

.pt-page-6 {
	background: #160C17;
}

.pt-page-7 {
	background: #0A101F;
}

.pt-page-8 {
	background: #120116;
}

.pt-page-9 {
	background: #170E01;
}

.pt-page-10 {
	background: #030F00;
}
.pt-page-11 {
	background: #120116;
}
.pt-page-12 {
	background: #030F00;
}

/* Triggers (menu and button) */

.pt-triggers {
	position: absolute;
	width: 300px;
	z-index: 999999;
	top: 150px;
	left: 850px;
	margin-top: 0px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%); 
	transform: translateX(-50%);
}
.no-js .pt-triggers {
	display: none;
}

.pt-triggers .dl-menuwrapper button,
.pt-touch-button {
	border: none;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 20px 0 20px;
	padding: 0px 20px;
	line-height: 50px;
	height: 50px;
	letter-spacing: 1px;
	width: 100%;
	cursor: pointer;
	display: block;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pt-touch-button {
	background: #555;
	color: #fff;
	transition:0.7s;
}
.pt-touch-button:hover{ background:#3B3B3B; color:#fff;}

.pt-triggers .dl-menuwrapper button {
	margin-bottom: 0;
}

.pt-touch-button:active {
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.touch .pt-triggers .dl-menuwrapper {
	display: none;
}

.pt-message {
	display: none;
	position: absolute;
	z-index: 99999;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #da475c;
	color: #fff;
	text-align: center;
}

.pt-message p {
	margin: 0;
	line-height: 60px;
	font-size: 26px;
}

.no-cssanimations .pt-message {
	display: block;
}

@media screen and (max-width: 47.4375em) {
	.pt-page h1 {
		font-size: 3em;
	}

	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}

@media screen and (max-height: 45.9em) {
	.pt-triggers .dl-menuwrapper li a {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.pt-triggers .dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
		line-height: 24px;
	}
}

@media screen and (max-height: 38em) { 
	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}

@media screen and (max-width: 1330px) { 
    .havemoving{ left:30% !important;}
    .pt-triggers{ left:70%;}
}

@media screen and (max-width: 768px) { 
    .pt-page{ padding-left:5%; padding-right:5%;}
    .havemoving{ left:50% !important; top:170px !important;}
    .pt-triggers{ left:50% !important; top:250px;}
    .author{ width:60%;}
    #havenothing{ margin-top:30px !important;}
    .pt-page h3{ margin-top:200px !important;}
}
