{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category, 
link_section
%}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category, link_category,
link_columnist, path_columnist
%}
{% block body %}
<div class="constrain">
    <aside class="con-r right">
    	<div class="pad-lside">
            <section class="zhuanlan-tuijian">
                <h1 class="menu-c">本周推荐</h1>
                <ul class="zt-group">
					{% for row in recommendAuthors %}
                    <li class="clearfix">
						  {% if row.coverPath %}
                        <a {{ path_columnist(row) }}><img src="{{ asset(row.coverWebPath~'/'~row.coverPath) | imagine_filter('101x101') }}" /></a>
						  
						  {% endif %}
                        <p class="zhuanlan-name">{{ link_columnist(row) }}</p>
                        <p>{{ row.category }}</p>
                        <h1>{{ link_post(recommendAuthorsPost[loop.index0]) }}</h1>
                    </li>
					{% endfor %}
                </ul>
            </section>
        </div>
        <div class="pad-rside">
            <section class="zhuanlan-zuojia">
                <h1 class="menu-c">{{ category1 }}</h1>	
                <ul class="zuojia-list clearfix">
					{% for row in columnists1 %}
					{% if loop.index < 10 %}
                    <li><a {{ path_columnist(row) }}><img src="{{ asset(row.coverWebPath~'/'~row.coverPath) | imagine_filter('101x101') }}" /></a><p>{{ link_columnist(row) }}</p></li>
					{% else %}
                    <li class="more" style="display:none;"><a {{ path_columnist(row) }}><img src="{{ asset(row.coverWebPath~'/'~row.coverPath) | imagine_filter('101x101') }}" /></a><p>{{ link_columnist(row) }}</p></li>
					{% endif %}
					{% endfor %}
                </ul>
                <input type="button" id="more-columnists" class="read-more" value="更多 ╋">
            </section>
        </div>
        <div class="clear"></div>
    	<div class="bn-aside-b">
        	<img src="{{ asset('bundles/frontendweb/images/ad-r.jpg') }}">
        </div>
        <div class="pad-lside">
            <section class="zhuanlan-zuojia">
                <h1 class="menu-c">{{ category2 }}</h1>	
                <ul class="zuojia-list clearfix">
					{% for row in columnists2 %}
					{% if loop.index < 10 %}
                    <li><a {{ path_columnist(row) }}><img src="{{ asset(row.coverWebPath~'/'~row.coverPath) | imagine_filter('101x101') }}" /></a><p>{{ link_columnist(row) }}</p></li>
					{% else %}
                    <li class="more" style="display:none;"><a {{ path_columnist(row) }}><img src="{{ asset(row.coverWebPath~'/'~row.coverPath) | imagine_filter('101x101') }}" /></a><p>{{ link_columnist(row) }}</p></li>
					{% endif %}
					{% endfor %}
                </ul>
                <input type="button" class="read-more" value="更多 ╋">
            </section>
        </div>
        <div class="pad-rside">
            <section class="zhuanlan-zuojia">
                <h1 class="menu-c">{{ category3 }}</h1>	
                <ul class="zuojia-list clearfix">
					{% for row in columnists3 %}
					{% if loop.index < 10 %}
                    <li><a {{ path_columnist(row) }}><img src="{{ asset(row.coverWebPath~'/'~row.coverPath) | imagine_filter('101x101') }}" /></a><p>{{ link_columnist(row) }}</p></li>
					{% else %}
                    <li class="more" style="display:none;"><a {{ path_columnist(row) }}><img src="{{ asset(row.coverWebPath~'/'~row.coverPath) | imagine_filter('101x101') }}" /></a><p>{{ link_columnist(row) }}</p></li>
					{% endif %}
					{% endfor %}
                </ul>
                <input type="button" class="read-more" value="更多 ╋">
            </section>
        </div>
        <div class="clear"></div>
        <div class="bn-aside-b">
        	<img src="{{ asset('bundles/frontendweb/images/ad-r.jpg') }}">
        </div>
    </aside>
	<div class="con-lm left">
		<p><strong>{{ writer }}</strong>的文章列表</p>
        <div class="section-bottom">
        	<ul class="section-list-special">
				{% for post in pagination %}
				{% if loop.index > 1 %}
            	<li class="clearfix">
					{% if post.cover %}
					<a {{ path_post(post) }}><img class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('220x147') }}" alt="{{ post.title }}"></a>
					{% endif %}
                    <h2><a {{ path_category(post.category) }}>【{{ post.category }}】</a></h2>
					<h1>{{ link_post(post) }}</h1>
					<p>{{ post.introduction }}</p>
                    <p class="sl-at"><span>{{ post.author}} {{ post.writer }}</span> {{ post.createAt|date('Y年m月d日 H:m')}}</p>
                </li>
				{% endif %}
				{% endfor %}
            </ul>
            <div class="page clearfix">
				{{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
