{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category, 
link_section
%}
{% block body %}
<div class="constrain">
	<div class="zuojia-info">
        <div class="zuojia-bg"><img src="{{ asset('bundles/frontendweb/images/bg-zuojia.gif') }}"></div>
        <div class="zj-photo"><img src="{{ asset(author.coverWebPath~'/'~author.coverPath) | imagine_filter('140x140') }}" />
			</div>
        <h1>{{ author.title }}</h1>
        <p>{{ author.content|raw }}</p>
    </div>
	<div class="con-lm left">
		<h3>专栏文章列表</h3>
        <div class="section-bottom">
        	<ul class="section-list-special">
				{% for post in pagination %}
            	<li class="clearfix">
					{% if post.cover %}
					<a {{ path_post(post) }}><img class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('220x147') }}" alt="{{ post.title }}"></a>
					{% endif %}
                    <h2><a {{ path_category(post.category) }}>【{{ post.category }}】</a></h2>
					<h1>{{ link_post(post) }}</h1>
					<p>{{ post.introduction }}</p>
                    <p class="sl-at"><span>{{ post.author}} {{ post.writer }}</span> {{ post.createAt|date('Y年m月d日 H:m')}}</p>
                </li>
				{% endfor %}
            </ul>
            <div class="page clearfix">
				{{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
