{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category, link_category,
link_section, link_fine_clumn
%}
{% block title %}
{% if category.parent.title is defined %}
{{ category.parent.title }} - 
{% endif %}
{% if category.title is defined %}
{{ category.title }} - 
{% endif %}
{% endblock %}
{% block body %}
<div class="constrain">
	<div class="con-lm left">
    	<h1 class="section-title">{{ title }}
			{% if category.title is defined %}
			- {{ category.title }}
			{% endif %}
		</h1>
        <nav class="sub-nav">
        	<ul>
				{% if fineCategories is not defined  and category.parent is defined %}
                <li><a {{ path_category(category.parent) }}>全 部</a></li>
				{% endif %}
				{% if category.parent.children is defined %}
					{% for row in category.parent.children %}
						{% if row.id == id %}
						<li class="sn-on">{{ row.title }}</li>
						{% else %}
						<li>{{ link_category(row) }}</li>
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if category.children is defined %}
				{% for row in category.children %}
					{% if row.id == id %}
					<li class="sn-on">{{ row.title }}</li>
					{% else %}
					<li>{{ link_category(row) }}</li>
					{% endif %}
				{% endfor %}
				{% endif %}

				{% if fineCategories is defined %}
					{% if category.id is not defined %}
						<li class="sn-on">全部</li>
					{% else %}
						<li><a href="{{ path('fine_column') }}">全部</a></li>
					{% endif %}
					{% for row in fineCategories %}
						{% if row.id == id %}
						<li class="sn-on">{{ row.title }}</li>
						{% else %}
						<li>{{ link_fine_clumn(row) }}</li>
						{% endif %}
					{% endfor %}
				{% endif %}
            </ul>
        </nav>
        <article class="sub-topnews clearfix">
			{% if top.cover %}
            <header>
                <figure>
					<a {{ path_post(top) }}><img class="lazy" data-original="{{ asset(top.coverPath)|imagine_filter('484x323') }}" alt="{{ top.title }}"></a>
                </figure>
            </header>
			{% endif %}
            <h1>{{ link_post(top) }}</h1>
            <p>{{ top.introduction }}</p>
        </article>
        <div class="clear"></div>
        <div class="section-bottom">
        	<ul class="section-list">
				{% for post in pagination %}
				{% if loop.index > 1 %}
            	<li class="clearfix">
					{% if post.cover %}
					<a {{ path_post(post) }}><img class="lazy" data-original="{{ asset(post.coverPath)|imagine_filter('220x147') }}" alt="{{ post.title }}"></a>
					{% endif %}
                    <h2><a {{ path_category(post.category) }}>【{{ post.category }}】</a></h2>
					<h1>{{ link_post(post) }}</h1>
					<p>{{ post.introduction }}</p>
                    <p class="sl-at"><span>{{ post.author}} {{ post.writer }}</span> {{ post.createAt|date('Y年m月d日 H时i分s秒')}}</p>
                </li>
				{% endif %}
				{% endfor %}
            </ul>
            <div class="page clearfix">
				{{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <aside class="con-r right">
		{{ render(controller('FrontendWebBundle:Common:rightHot')) }}
    	<div class="bn-aside">
        	<img src="{{ asset('bundles/frontendweb/images/ad-r.jpg') }}">
        </div>
        <div class="clear"></div>
		{% if category.id is defined %}
        <div class="pad-lside">
			{{ render(controller('FrontendWebBundle:Common:rightOtherSectionNewest', {excludeCategory: category})) }}
        </div>
		{% endif %}
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightTopics')) }}
        </div>
        <div class="clear"></div>
        <div class="pad-lside">
        	<section class="video-film">
				{{ render(controller('FrontendWebBundle:Common:rightVideo')) }}
            </section> 
        </div>
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightGallery')) }}
        </div>
        <div class="clear"></div>
        <div class="bn-aside-b">
            <img src="{{ asset('bundles/frontendweb/images/ad-r.jpg') }}">
        </div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}
