{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category,link_columnist, link_author %}
{% block title %}
{{ post.title(app.request.locale) }} - 
{% endblock %}
{% block meta_description %}
{{ post.metaDescription }} 
{% endblock %}
{% block meta_keywords %}
{{ post.metaKeywords }} 
{% endblock %}
{% block canonical%}
<link rel="canonical" href="{{ url('news_show', {slug: post.title(app.request.locale)|slugfy, id: post.id}) }}">
{% endblock %}

{% block body %}
<div class="constrain">	
	<div class="con-lm left">
        <section class="article">
        	<div class="a-header">
            	<h1>{{ post.title(app.request.locale) }}</h1>
                <div class="ah-sub">
					<span>
						{% if post.author.id is defined %}
						<a href="{{ path('columnist', {slug: post.author|slugfy, id: post.author.id}) }}">{{ post.author.category ~ ' '~ post.author.title }}</a>
						{% endif %}
						{% if post.writer %}作者：{{ link_author(post.writer) }}</a>{% endif %}
					</span><span>来源:{{ post.comefrom}}</span><span class="ahs-time">{{ post.publishedAt|date('Y年m月d日 H:i')}}</span>
				</div>
					
                <div class="ah-icons clearfix">
					<input onclick="javascript:window.print()" type="button" class="bt-print" value="打 印">
                    <div class="ah-share">
                    	<!-- JiaThis Button BEGIN -->
                        <div class="jiathis_style_24x24">
                            <a class="jiathis_button_tsina"></a>
                            <a class="jiathis_button_tqq"></a>
                            <a class="jiathis_button_weixin"></a>
                            <a class="jiathis_button_feixin"></a>
                            <a class="jiathis_button_cqq"></a>
                            <a class="jiathis_button_t163"></a>
                            <a class="jiathis_button_qzone"></a>
                            <a class="jiathis_button_email"></a>
                            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                            <a class="jiathis_counter_style"></a>
                        </div>
						{% if post.hasContentEn %}
						<div class="button-tab clearfix">
							<a href="{{ url('news_show', {slug: post.title(app.request.locale)|slugfy, id: post.id}) }}"><input type="button" value="中文" class="chinese {% if post.hasContentEn and app.request.locale != 'en' %}on{% endif %}"></a>
							<a href="{{ url('news_show_en', {slug: post.title(app.request.locale)|slugfy, id: post.id, _locale: 'en'}) }}"><input type="button" value="English" class="english {% if post.hasContent and app.request.locale == 'en' %}on{% endif %}"></a>
						</div>
						{% endif %}
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1368523537378658" charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
			{% block displayStyle %}
			{% if showPhoto and post.cover %}
            <div class="a-style-smallimg">
				{% for image in sort(post.images, 'sortOrder') %}
				{% if file_exists(post.imagePath ~ image.name) %}
                <div class="ass-img">
                	<div class="a-image-s">
                    	<span class="image-zoom png24"><a href="{{ asset(post.imagePath ~ image.name) }}" class="fancybox-effects-d"></a></span>
						{% set filter_name = 'widen_700' %}
						{% if image.useWatermark %}
							{% set filter_name = 'widen_700_watermark' %}
						{% endif %}
						
                    	<a href="{{ asset(post.imagePath ~ image.name)|imagine_filter(filter_name) }}" class="fancybox-effects-d"><img src="{{ asset(post.imagePath ~ image.name)|imagine_filter('widen_220') }}" alt="{{ image.caption }}"></a>
                    </div>
                    <div class="captive">{{ image.caption }}</div>
                </div>
				{% endif %}
				{% endfor %}
				{{ content|raw }}
				{{ pagination|raw }}
            </div>
			{% else %}
			{#		如果没有图片的时候直接显示内容	#}
			<div class="a-style-bigimg">
				{{ content|raw }}
				{{ pagination|raw }}
            </div>
			{% endif %}



			{% endblock %}

			{% if post.isDonate  and 0 %}
			{#显示原创赞赏按钮#}
			<div class="admire clearfix">
				<div class="admireBtn">								
					<input type="button" name="codeBtn" class="codeBtn" id="codeBtn" value="原创打赏">
					<span>如有共鸣和感动，欢迎赞赏支持，激励更多原创！</span>
					<div class="admireCode" style="display: none; opacity: 1;">
						<i></i>
						<img src="{{ asset('bundles/frontendweb/images/dashang-alipay.jpg') }}">
					</div>
				</div>								
			</div>
			{% endif %}

			{# 如果是自由撰稿人或者特约撰稿人 #}
			{% if post.author.id is defined %}
				{% if post.author.category.id == 6 or post.author.category.id == 11 %} 
				<div class="shengming"><p>基督时报特约/自由撰稿人文章，文中观点仅代表作者立场，供读者参考，基督时报保持中立。欢迎个人浏览转载，其他公众平台未经授权，不得转载！</p></div>
				{% endif %}
			{% endif %}

        </section>
        <div class="bn-l">
<div style="display: block; width: 675px; margin: 0 auto;">
<!-- 69746583：ARTICLE_LEFT_1 类型：固定 尺寸：680x80-->
<script type="text/javascript">//<![CDATA[
ac_as_id = "mm_116831168_14568587_69746583";
ac_format = 1;
ac_mode = 1;
ac_group_id = 1;
ac_server_base_url = "afpeng.alimama.com/";
//]]></script>
<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>
</div>
		</div>
        <div class="ass-share clearfix">
              <!-- JiaThis Button BEGIN -->
              <div class="jiathis_style_32x32">
                  <a class="jiathis_button_tsina"></a>
                  <a class="jiathis_button_tqq"></a>
                  <a class="jiathis_button_weixin"></a>
                  <a class="jiathis_button_feixin"></a>
                  <a class="jiathis_button_cqq"></a>
                  <a class="jiathis_button_t163"></a>
                  <a class="jiathis_button_qzone"></a>
                  <a class="jiathis_button_email"></a>
                  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                  <a class="jiathis_counter_style"></a>
              </div>
              <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1368523537378658" charset="utf-8"></script>
              <!-- JiaThis Button END -->
        </div>
        <div class="shengming">
            <h1>版权声明</h1>
		<p>凡本网来源标注是“基督时报”的文章权归基督时报所有。未经基督时报授权，任何印刷性书籍刊物、公共网站、电子刊物不得转载或引用本网图文。欢迎个体读者转载或分享于您个人的博客、微博、微信及其他社交媒体，但请务必清楚标明出处、作者与链接地址（URL）。其他公共微博、微信公众号等公共平台如需转载引用，请通过电子邮件（<a href="mailto:jidushibao@gmail.com?subject=申请转载或版权事宜" target="_blank">jidushibao@gmail.com</a>）、电话（010-82233254）或微博（<a href="http://weibo.com/cnchristiantimes" target="_blank">http://weibo.com/cnchristiantimes</a>），微信（jidushibao2013）联络我们，得到授权方可转载或做其他使用。</p>
            <!--<p>1、版权声明：本文版权归基督时报所有。未经基督时报授权，任何印刷性书籍刊物及营利性电子刊物不得转载。欢迎非营利性电子刊物转载，但须注明出处及链接（URL）。</p>
            <p>2、其他文章代表作者本人观点，其观点供读者参考，基督时报保持中立。</p>-->
        </div>
		{% if post.related.count %}
        <section class="a-related">
            <h1 class="menu-c">相关新闻</h1>
			{% for related in post.related %}
			{# 显示相关文章的列表 #}
			<ul class="ar-list">
				<li>{{ link_post(related) }}</li>
			</ul>
			{% endfor %}
        </section>
        <section class="a-top">
            <h1 class="menu-c">头条新闻</h1>
            <h2>{{ link_post(mainHeadlineTop) }}</h2>
            <ul>
				{% for post in mainHeadlineRest %}
                <li>{{ link_post(post) }}</li>
				{% endfor %}
            </ul>
        </section>
		{% else %}
        <section class="a-related">
            <h1 class="menu-c">头条新闻</h1>
            <h2>{{ link_post(mainHeadlineTop) }}</h2>
            <ul>
				{% for post in mainHeadlineRest %}
                <li>{{ link_post(post) }}</li>
				{% endfor %}
            </ul>
        </section>
		{% endif %}
        <div class="clear"></div>
		{% if post.commentStatus %}
        <div class="dianping">
		</div>
		{% endif %}
        <section class="a-photonews">
            <h1 class="menu-c">图片资讯</h1>
            <ul class="clearfix">
				{% for post in postImages %}
				{% if post.cover %}
                <li><a {{ path_post(post) }}><img src="{{ asset(post.coverPath)|imagine_filter('180x120') }}" alt="{{ post.title }}"></a><p>{{ link_post(post) }}</p></li>
				{% endif %}
				{% endfor %}
            </ul>
        </section>
    </div>
    <aside class="con-r right">

    	<div class="bn-aside">
					<div class="">
						<div class="ad-wrapper width300">
							<div>
								<a href="http://www.christiantimes.cn/magazine" target="_blank">
									<img src="{{ asset("bundles/frontendweb/images/banner/magazine-15-1.jpg") }}">
								</a>
							</div>
						</div>
					</div>
        </div>
				<div class="g-gao-lt-2">
						<div class="ad-wrapper width300">
<!-- 71846310：基督时报首页广告2 300x100 类型：固定 尺寸：300x100-->
<script type="text/javascript">//<![CDATA[
ac_as_id = "mm_116831168_14568587_71846310";
ac_format = 1;
ac_mode = 1;
ac_group_id = 1;
ac_server_base_url = "afpeng.alimama.com/";
//]]></script>
<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>
						</div>
				</div>


		{{ render(controller('FrontendWebBundle:Common:rightHot')) }}
    	<div class="bn-aside">
					<div class="ad-wrapper width300">
						<!-- 57532393：CT_ARTICLE_RIGHT_2 类型：固定 尺寸：300x250-->
						<script type="text/javascript">
						_acM({aid:"mm_116831168_14568587_57532393",format:1,mode:1,gid:1,serverbaseurl:"afpeng.alimama.com/"});
						</script>
					</div>
        </div>
        <div class="clear"></div>
        <div class="pad-lside">
        	<section class="video-film">
				{{ render(controller('FrontendWebBundle:Common:rightVideo')) }}
            </section> 
        </div>
        <div class="pad-rside">
			{{ render(controller('FrontendWebBundle:Common:rightGallery')) }}
        </div>
        <div class="clear"></div>
        <div class="diqu-list">
        	<h1 class="menu-c">各地资讯</h1>
            <ul>
				{% for post in regionsPost %}
            	<li><a {{ path_post(post) }}>
						{% if post.area.category is defined %}【{{ post.area.category }}】{% elseif post.area.title is defined %}【{{ post.area }}】{% endif %}
						{{ post.title }}
					</a></li>
				{% endfor %}
            </ul>
        </div>
        <div class="bn-aside">
			<!-- 广告位：article-right-B3 -->
			{# include 'FrontendWebBundle:Common:googleAd-300x250.html.twig' #}
<!-- 61174870：CT 文章右侧底部广告 类型：固定 尺寸：300x250-->
<script type="text/javascript">//<![CDATA[
ac_as_id = "mm_116831168_14568587_61174870";
ac_format = 1;
ac_mode = 1;
ac_group_id = 1;
ac_server_base_url = "afpeng.alimama.com/";
//]]></script>
<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>
        </div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}

{# 头部的js #}
{% block script_bottom %}
<script>
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86326610.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script>
  	var _paq = _paq || [];
	_paq.push(['setCustomVariable',
		// Index, the number from 1 to 5 where this custom variable name is stored
		1,
		// Name, the name of the variable, for example: Gender, VisitorType
		"作者",
		// Value, for example: "Male", "Female" or "new", "engaged", "customer"
		"{% if post.author.id is defined %}{{ post.author }}{% else %}{{ post.writer }}{% endif %}",
		// Scope of the custom variable, "visit" means the custom variable applies to the current visit
		"visit"
	]);
	_paq.push(['setCustomVariable',
		// Index, the number from 1 to 5 where this custom variable name is stored
		2,
		// Name, the name of the variable, for example: Gender, VisitorType
		"分类",
		// Value, for example: "Male", "Female" or "new", "engaged", "customer"
		"{% if post.category.parent is defined %} {{ post.category.parent}} - {% endif %}{{post.category}}",
		// Scope of the custom variable, "visit" means the custom variable applies to the current visit
		"visit"
	]);
	window._bd_share_config = {
		common : {
			bdTitle : '{{ post.title }} - 福音时报 - 基督教资讯门户网站',	
			bdDesc : '{{ post.introduction }}',	
			bdUrl : '{{ url('news_show', {id: post.id, slug: 'detail'}) }}', 	
			bdPic : '{% if post.cover %}http://{{ domain }}{{ asset(post.imagePath ~ post.cover.name)|imagine_filter('widen_220') }} {% endif %}'
		},
		share : [{
			"bdSize" : 32
		}],
		slide : [{	   
			bdImg : 0,
			bdPos : "right",
			bdTop : 100
		}],
		image : [{
			viewType : 'list',
			viewPos : 'top',
			viewColor : 'black',
			viewSize : '16',
			viewList : ['qzone','tsina','huaban','tqq','renren']
		}],
		selectShare : [{
			"bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
		}]
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86326610.js?cdnversion='+~(-new Date()/36e5)];
</script>
{% endblock %}
