{% extends 'FrontendWebBundle:Post:show.base.html.twig' %}
{% block displayStyle %}
	<div class="a-style-bigimg">
		{% if showPhoto and post.cover %}
		<!-- Slides Container -->
		<div id="slider2_container" style="position: relative; width: 620px; height: 400px; background-color: #000; overflow: hidden; " class="asb-img clearfix">

			<!-- Loading Screen -->
			<div u="loading" style="position: absolute; top: 0px; left: 0px;">
				<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
					 background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
				</div>
				<div style="position: absolute; display: block; background: url({{ asset('bundles/frontendweb/images/loading-slider.gif') }}) no-repeat center center; top: 0px; left: 0px;width: 100%;height:100%;">
				</div>
			</div>

			<!-- Slides Container -->
			<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 620px; height: 400px;
				 overflow: hidden;">
				{% for image in sort(post.images, 'sortOrder') %}
					{% if file_exists(post.imagePath ~ image.name) %}
						{% set filter_name = '620x418' %}
						{% if image.useWatermark %}
							{% set filter_name = '620x418_watermark' %}
						{% endif %}
						<div>
							<img class="slide-img"  src="{{ asset(post.imagePath ~ image.name)|imagine_filter(filter_name) }}" alt="{{ image.caption }}">
						<div u=caption t="*" class="captionBlack"  style="position:absolute; color:#fff; left:0px; bottom: 0px; width:100%; height:30;"> 
							{{ image.caption }}
						</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>


			<!-- Arrow Navigator Skin Begin -->
			<style>
				/* jssor slider arrow navigator skin 05 css */
				/*
				.jssora05l              (normal)
				.jssora05r              (normal)
				.jssora05l:hover        (normal mouseover)
				.jssora05r:hover        (normal mouseover)
				.jssora05ldn            (mousedown)
				.jssora05rdn            (mousedown)
				*/
				.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
				{
					position: absolute;
					cursor: pointer;
					display: block;
					background: url({{ asset('bundles/frontendweb/images/a17.png') }}) no-repeat;
					overflow:hidden;
				}
				.jssora05l { background-position: -10px -40px; }
				.jssora05r { background-position: -70px -40px; }
				.jssora05l:hover { background-position: -130px -40px; }
				.jssora05r:hover { background-position: -190px -40px; }
				.jssora05ldn { background-position: -250px -40px; }
				.jssora05rdn { background-position: -310px -40px; }
			</style>
			{% if post.images|length > 1 %}
			<!-- Arrow Left -->
			<span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 50%; left: 8px;">
			</span>
			<!-- Arrow Right -->
			<span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 50%; right: 8px">
			</span>
			<!-- Arrow Navigator Skin End -->
			{% endif %}
		</div>
		{% endif %}
		{{ content|raw }}
		{{ pagination|raw }}
	</div>
{% endblock %}

{% block javascripts_1 %}
	{{ parent() }}
	{% javascripts 
'@FrontendWebBundle/Resources/public/js/lib/jssor-slider/js/jssor.core.js' 
'@FrontendWebBundle/Resources/public/js/lib/jssor-slider/js/jssor.utils.js' 
'@FrontendWebBundle/Resources/public/js/lib/jssor-slider/js/jssor.slider.js' 
'@FrontendWebBundle/Resources/public/js/ctimes.slider.js' 
	%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>
		jQuery(document).ready(function($) {

			var jssor_slider2 = new $JssorSlider$("#slider2_container", {
				$BulletNavigatorOptions: {
					ChanceToShow: 0
				}
			});
		});
	</script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
	'bundles/frontendweb/css/slider.css' 
filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
