{% from 'FrontendWebBundle:Macros:misc.html.twig' import
		 link_video
 %}
            	<header>
					<embed width="350" height="263" wmode="opaque" allowfullscreen="true" allowscriptaccess="always" type="application/x-shockwave-flash" src="{{ video.url|raw }}">
                </header>
                    <h2>{{ link_video(video) }}</h2>
					<p>{{ video.content|striptags|slice(0, 50)}}...</p>