{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_video, path_video %}
<ul class='hover-tab' id="most-viewed-videos" style="display: none;">
	{% for video in videos %}
	<li>
		{% if file_exists(video.coverWebUrl) %}
		<div class="vl-img"><span class="icon-vplay-s"><a {{ path_video(video) }}></a></span><a {{ path_video(video) }}>
				<img src="{{ asset(video.coverWebUrl) | imagine_filter('165x110')}}" alt="{{ video.title }}" />
				</a></div>
		{% endif %}
		<div class="vl-text"><h1>{{ link_video(video) }}</h1><p>{{ video.createAt|date('Y年m月d日')}}</p></div>
	</li>
	{% endfor %}
</ul>
<div class="clear"></div>