{% extends 'FrontendWebBundle:Layout:video.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import 
link_video, path_video, link_video_category 
%}
{% block stylesheets %}
	{{ parent() }}

	{% if video.type == 1%}
	{% stylesheets 
		'bundles/frontendweb/jplayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css' 
	filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% endif %}
{% endblock %}

{% block javascripts_1 %}
	{{ parent() }}
	{% if video.type == 1%}
	{% javascripts 
	'@FrontendWebBundle/Resources/public/jplayer/dist/jplayer/jquery.jplayer.js' 
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script type="text/javascript">
		//<![CDATA[
		$(document).ready(function () {

			$("#jquery_jplayer_1").jPlayer({
				ready: function () {
					$(this).jPlayer("setMedia", {
						title: "{{ video.title }}",
						m4v: "{{ asset(webUrl) }}.mp4",
						ogv: "{{ asset(webUrl) }}.ogg",
						webmv: "{{ asset(webUrl) }}.webm",
						poster: "{{ asset(video.coverWebUrl) | imagine_filter('620x418')}}"
					});
				},
				swfPath: "{{ asset('bundles/frontendweb/jplayer/dist/jplayer') }}",
				supplied: "webmv, ogv, m4v",
				size: {
					width: "640px",
					height: "360px",
					cssClass: "jp-video-360p"
				},
				useStateClassSkin: true,
				autoBlur: false,
				smoothPlayBar: true,
				keyEnabled: true,
				remainingDuration: true,
				toggleDuration: true
			});

		});
		//]]>
	</script>
	{% endif %}
{% endblock %}

{% block title %}
	{{ video.title }} - {{parent()}}
{% endblock %}
{% block body %}
	<div class="vdetail-r">
		<nav class="vdetail-nav">
			<h1 class="vpn-title">视 频</h1>
			<ul>
				{% if category.id is not defined %}
					<li class="on">全 部</li>
					{% else %}
					<li><a href="{{ path('videos') }}">全 部</a></li>
					{% endif %}
					{% for row in categories %}
						{% if category.id is defined and row.id == category.id %}
						<li class="on">{{ row.title }}</li>
						{% else %}
						<li>{{ link_video_category(row) }}</li>
						{% endif %}
					{% endfor %}
			</ul>
			<div class="vp-search clearfix">
				<input type="text" value="搜索" class="vp-s-form">
				<input type="button" class="vp-s-bt">
			</div>
			<p>© 基督时报版权所有<br>
				京ICP备 07从014451号 - 6 京公网安备110102003886-3号
			</p>
		</nav>
		<section class="v-detail">
			<h1>{{ video.title }}</h1>
			<div class="vd-object">
				{% if video.type == 1%}
					<div id="jp_container_1" class="jp-video jp-video-360p" role="application" aria-label="media player" style="margin:0 auto;">
						<div class="jp-type-single">
							<div id="jquery_jplayer_1" class="jp-jplayer"></div>
							<div class="jp-gui">
								<div class="jp-video-play">
									<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
								</div>
								<div class="jp-interface">
									<div class="jp-progress">
										<div class="jp-seek-bar">
											<div class="jp-play-bar"></div>
										</div>
									</div>
									<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
									<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
									<div class="jp-controls-holder">
										<div class="jp-controls">
											<button class="jp-play" role="button" tabindex="0">play</button>
											<button class="jp-stop" role="button" tabindex="0">stop</button>
										</div>
										<div class="jp-volume-controls">
											<button class="jp-mute" role="button" tabindex="0">mute</button>
											<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
											<div class="jp-volume-bar">
												<div class="jp-volume-bar-value"></div>
											</div>
										</div>
										<div class="jp-toggles">
											<button class="jp-repeat" role="button" tabindex="0">repeat</button>
											<button class="jp-full-screen" role="button" tabindex="0">full screen</button>
										</div>
									</div>
									<div class="jp-details">
										<div class="jp-title" aria-label="title">&nbsp;</div>
									</div>
								</div>
							</div>
							<div class="jp-no-solution">
								<span>Update Required</span>
								To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
							</div>
						</div>
					</div>
				{%else %}
					{{ video.embedCode|raw }}
				{% endif %}
			</div>
			<p>{{ video.content|raw }}</p>
			<div class="ah-share">
				<div class="bdsharebuttonbox" data-tag="share_1">
					<a class="bds_mshare" data-cmd="mshare"></a>
					<a class="bds_qzone" data-cmd="qzone" href="#"></a>
					<a class="bds_tsina" data-cmd="tsina"></a>
					<a class="bds_weixin" data-cmd="weixin"></a>
					<a class="bds_renren" data-cmd="renren"></a>
					<a class="bds_tqq" data-cmd="tqq"></a>
					<a class="bds_more" data-cmd="more">更多</a>
					<a class="bds_count" data-cmd="count"></a>
				</div>
			</div>
		</section>
		<section class="vp-list">
			<div class="menu-tab clearfix">
				<h1 target="#related-videos" class="mt-on">相关视频</h1>
				<h1 target="#most-viewed-videos">推荐视频</h1>
			</div>
			<ul class="clearfix" id="related-videos">
				{% for row in video.relatedVideos %}
					<li>
						<div class="vt-img"><span class="icon-vplay"><a {{ path_video(row) }}></a></span><a {{ path_video(row) }}>
								<img src="{{ asset(row.coverWebUrl) | imagine_filter('380x284')}}" alt="{{ row.title }}" />
							</a></div>
						<div class="vt-text"><h1>{{ link_video(row) }}</h1><p>{{ row.createAt|date('Y年m月d日 H:m')}}</p></div>
					</li>
				{% endfor %}
			</ul>
			{{ render(controller('FrontendWebBundle:Video:recommend')) }}
		</section>
		<section class="review">
			<div class="menu-tab clearfix">
				<h1 class="mt-on">评 论</h1>
				<!-- UY BEGIN -->
				<div id="uyan_frame"></div>
				<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1841510"></script>
				<!-- UY END -->
			</div>
		</section>
	</div>
{% endblock %}
{# 头部的js #}
{% block script_bottom %}
	<script>
		with (document)
			0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=86326610.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>
	<script>
		window._bd_share_config = {
			common: {
				bdTitle: '{{ video.title }} - 基督时报 - 基督教资讯门户网站',
				bdDesc: '{{ video.content }}'
			},
			share: [{
					"bdSize": 32
				}],
			slide: [{
					bdImg: 0,
					bdPos: "right",
					bdTop: 100
				}],
			image: [{
					viewType: 'list',
					viewPos: 'top',
					viewColor: 'black',
					viewSize: '16',
					viewList: ['qzone', 'tsina', 'huaban', 'tqq', 'renren']
				}],
			selectShare: [{
					"bdselectMiniList": ['qzone', 'tqq', 'kaixin001', 'bdxc', 'tqf']
				}]
		}
		with (document)
			0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=86326610.js?cdnversion=' + ~(-new Date() / 36e5)];
	</script>
{% endblock %}
