{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_video, path_video %}
<section class="recommend-video clearfix">
	<h1 class="menu-comon-w"><a >编辑推荐</a></h1>
	{% if editorChoice %}
	<article class="rv-h clearfix">
		<div class="rvh-img"><div class="play-video-s"><a {{ path_video(editorChoice) }}></a></div><a {{ path_video(editorChoice) }}><img src="{{ asset(editorChoice.coverWebUrl) | imagine_filter('180x134')}}" alt="{{ editorChoice.title }}"></a></div>
		<h1>{{ link_video(editorChoice) }}</h1>
		<p>{{ editorChoice.content|striptags|slice(0, 70) }}...</p>
	</article>
	{% endif %}

	{% if editorChoices %}
	<div class="st-video">
		<ul class="clearfix">
			{% for video in editorChoices %}
			<li><a {{ path_video(video) }}><img src="{{ asset(video.coverWebUrl) | imagine_filter('140x99')}}" alt="{{ video.title }}"></a><p>{{ link_video(video) }}</p></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</section>