{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_video, path_video %}
<ul>
	{% for video in pagination %}
	<li><a {{ path_video(video) }}><img src="{{ asset(video.coverWebUrl) | imagine_filter('140x99')}}" alt=""></a><p>
<a {{ path_video(video) }}>{{ video.title|slice(0, 16)}}</a>
		</p></li>
	{% endfor %}
</ul>
{{ knp_pagination_render(pagination) }}