{% extends 'FrontendWebBundle:Layout:video.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_video, path_video, link_video_category %}

{% block body %}
<div class="vp-r">
    <nav class="vp-nav">
        <h1 class="vpn-title">视 频</h1>
        <ul>
			{% if category.id is not defined %}
            <li class="on">全 部</li>
			{% else %}
            <li><a href="{{ path('videos') }}">全 部</a></li>
			{% endif %}
			{% for row in categories %}
			{% if category.id is defined and row.id == category.id %}
            <li class="on">{{ row.title }}</li>
			{% else %}
            <li>{{ link_video_category(row) }}</li>
			{% endif %}
			{% endfor %}
        </ul>
        <div class="vp-search clearfix">
            <input type="text" value="搜索" class="vp-s-form">
            <input type="button" class="vp-s-bt">
        </div>
        <p>© 基督时报版权所有<br>
        京ICP备 07从014451号 - 6 京公网安备110102003886-3号
        </p>
    </nav>
	<section class="vp-top">
    	<ul class="clearfix">
			{% for video in videoTops %}
        	<li>
            	<div class="vt-img"><span class="icon-vplay"><a {{ path_video(video) }}></a></span><a {{ path_video(video) }}>
						<img src="{{ asset(video.coverWebUrl) | imagine_filter('380x284')}}" alt="{{ video.title }}" />
					</a></div>
                <div class="vt-text"><h1>{{ link_video(video) }}</h1><p>{{ video.createAt|date('Y年m月d日 H:m')}}</p></div>
            </li>
			{% endfor %}
        </ul>
    </section>
    <section class="vp-list">
    	<div class="menu-tab clearfix">
            <h1 target="#videos-list" class="mt-on">最新视频</h1>
            <h1 target="#most-viewed-videos">热门视频</h1>
        </div>
        <ul class="hover-tab clearfix" id="videos-list">
			{% for video in videoRest %}
        	<li>
				{% if file_exists(video.coverWebUrl) %}
            	<div class="vl-img"><span class="icon-vplay-s"><a {{ path_video(video) }}></a></span><a {{ path_video(video) }}>
						<img src="{{ asset(video.coverWebUrl) | imagine_filter('165x110')}}" alt="{{ video.title }}" />
						</a></div>
				{% endif %}
                <div class="vl-text"><h1>{{ link_video(video) }}</h1><p>{{ video.createAt|date('Y年m月d日')}}</p></div>
            </li>
			{% endfor %}
        </ul>
		{{ render(controller('FrontendWebBundle:Video:mostViewed', {category: category})) }}
    </section>
    <div class="page clearfix">
		{{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
