id,标题,作者,分类,地区,添加时间,点击量
{% for entity in posts %}
{{entity.id}},{{entity.title}},{% if entity.author is defined %}{{ entity.author }}{% endif %}{{ entity.writer }},{{ entity.category }},{{ entity.area }},{{ entity.createAt|date('Y-m-d H:i:s') }},{{ entity.hits }}
{% endfor %}
