{% extends '::backend.html.twig' %}
{% block body -%}
	<h1>Check the image integration</h1>
开始ID：<input type="text" id="start-id" value="0" />
<input type="button" value="start" id="starting" />
<input type="button" value="stop" id="stop" />
<div id="msg">

</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
(function($) {
	$('#starting').click(function() {

		var start_id = $('#start-id').val();
		ajaxCall(start_id);
	})

	$('#stop').click(function() {
	})

	function ajaxCall(start) {
		$('#msg').html("Processing start id from:"+start+"<br/>");
		$.ajax({
			url: '{{ path('db_convert_check_image') }}?start='+start,
			dataType: 'json'
		}).done(function (result) {
			$('#msg').html(result.msg);
			if (result.continue) {
				ajaxCall(result.start_id + 10);
			} else {
				$('#msg').html('导入结束');
			}

		})
	}

}(jQuery));
</script>
{% endblock %}
