{% extends '::backend.html.twig' %}
{% form_theme form 'GospelCoreBundle:Macros:misc.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_preview %}

{% block header %}
	<h1 class="page-title">添加文章</h1>
{% endblock %}
{% block breadcrumb %}
	<li><a href="{{ path('gospel_post_index') }}">文章列表</a></li>
	{% endblock %}

{% block body -%}

	<div class="region region-content">
		<div class="block block-system" id="block-content">
			<div class="content">
				{{ form_start(form) }}
				<div class="btn-toolbar subhead" id="toolbar">
					<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="btn btn-success">
						{% if post.slug is defined %}
							<a target="_blank"  id="" name="op" {{ path_preview(post) }}class="button form-submit">预览</a>
						{% endif %}
						<a  id="" name="op" href="{{ path('gospel_post_index') }}" class="button form-submit">返回</a>
					</div>
				</div>
				<ul id="myTabs" class="nav nav-tabs">
					<li><a href="#post-details" data-toggle="tab">文章内容</a></li>
					<li><a href="#post-english" data-toggle="tab">英文内容</a></li>
					<li><a href="#post-image" data-toggle="tab">图片</a></li>
					<li><a href="#post-options" data-toggle="tab">发布选项</a></li>
					<li><a href="#post-seo" data-toggle="tab">SEO(搜索引擎优化)</a></li>
				</ul>

				<div id="myTabsContent" class="form-horizontal">
					<div id="post-details" class="tab-content active">
						<br/>
						{% from 'GospelCoreBundle:Macros:misc.html.twig' import styleFormRow, inlineFormRow %}
						{{ styleFormRow(form.title) }}
						<div class="control-group">
							{{ form_label(form.category) }}
							<div class="controls">
								{{ form_widget(form.category) }}
								{{ form_widget(form.category2) }}
								{{ form_widget(form.categoryother) }}
							</div>
							<input type="hidden" id="category2-ids" value="{{categoryColumnIds}}" />
						</div>
						<div class="control-group">
							{{ form_label(form.region) }}
							<div class="controls">
								<input type="hidden" id="update-province-link" value="{{ path('gospel_post_update_province_list') }}" />
								{{ form_widget(form.region) }}
								<img style="display:none;" id="ajax-loader" src="{{ asset('assets/media/images/ajax-loader.gif') }}" />
								{% if  form.vars.value.area %}
									{{ form_widget(form.area) }}
								{% else %}
									{{ form_widget(form.area, {'attr': {'style': 'display:none;'}}) }}
								{% endif %}
							</div>
						</div>
						{{ styleFormRow(form.author) }}
						{{ styleFormRow(form.writer) }}
						{{ styleFormRow(form.comefrom) }}
						{{ styleFormRow(form.introduction) }}
						{{ styleFormRow(form.content) }}
						{{ styleFormRow(form.relatedPosts) }}
						{{ styleFormRow(form.tagsCommaString) }}
					</div>
					<div id="post-english" class="tab-content">
						<br/>
						{{ styleFormRow(form.titleEn) }}
						{{ styleFormRow(form.aliasEn) }}
						{{ styleFormRow(form.contentEn) }}
					</div>
					<div id="post-options" class="tab-content">
						<br />
						{{ styleFormRow(form.isSlideImage) }}

						{{ styleFormRow(form.isDonate) }}
						{{ styleFormRow(form.isOriginal) }}

						{% if is_granted('ROLE_POST_EDIT') %} 

							<div class="control-group options">
								<label>首页发布选项</label>
								<div class="controls">
									{% if form.isHomeHeadlinePic is defined %}
										{{ inlineFormRow(form.isHomeHeadlinePic) }}
									{% endif %}
									{% if form.isHomePic is defined %}
										{{ inlineFormRow(form.isHomePic) }}
									{% endif %}
									{% if form.isHomeHeadlineTxt is defined %}
										{{ inlineFormRow(form.isHomeHeadlineTxt) }}
									{% endif %}
									{% if form.ishomeheadlinetxt1 is defined %}
										{{ inlineFormRow(form.ishomeheadlinetxt1) }}
									{% endif %}
									{% if form.ishomeheadlinetxt2 is defined %}
										{{ inlineFormRow(form.ishomeheadlinetxt2) }}
									{% endif %}
									{% if form.ishomeheadlinetxt3 is defined %}
										{{ inlineFormRow(form.ishomeheadlinetxt3) }}
									{% endif %}
								</div>
							</div>

							<div class="control-group options">
								<label>频道发布选项</label>
								<div class="controls">
									{% if form.isSectionHeadlinePic is defined %}
										{{ inlineFormRow(form.isSectionHeadlinePic) }}
									{% endif %}
									{% if form.isSectionHeadlineTxt is defined %}
										{{ inlineFormRow(form.isSectionHeadlineTxt) }}
									{% endif %}
								</div>
							</div>

							<div class="control-group options">
								<label>地区发布选项</label>
								<div class="controls">
									{% if form.isLocalHeadlinePic is defined %}
										{{ inlineFormRow(form.isLocalHeadlinePic) }}
									{% endif %}
									{% if form.isLocalHeadlineText is defined %}
										{{ inlineFormRow(form.isLocalHeadlineText) }}
									{% endif %}
								</div>
							</div>
						{% endif %}
						{% if form.isDeepRead is defined %}
							{{ inlineFormRow(form.isDeepRead) }}
						{% endif %}

						{% if is_granted('ROLE_POST_EDIT') %} 
							{{ inlineFormRow(form.status) }}
						{% endif %}

						{% if form.publishedAt is defined %}
							{{ styleFormRow(form.publishedAt) }}
						{% endif %}
						{% if form.stopPublish is defined %}
							{{ inlineFormRow(form.stopPublish) }}
						{% endif %}
						{% if form.stopPublishedAt is defined %}
							{{ styleFormRow(form.stopPublishedAt) }}
						{% endif %}
						{% if form.commentStatus is defined %}
							{{ styleFormRow(form.commentStatus) }}
						{% endif %}
					</div>
					<div id="post-seo" class="tab-content">
						<br />
						{{ styleFormRow(form.alias) }}
						{{ styleFormRow(form.metaKeywords) }}
						{{ styleFormRow(form.metaDescription) }}
						<div class="hidden">
							{{ form_rest(form) }}
						</div>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	<div id="post-image" class="tab-content">
		<br />
		<form id="fileupload" action="" method="POST" enctype="multipart/form-data">
			<h3>请先上传图片后然后保存文章</h3>
			<!-- Redirect browsers with JavaScript disabled to the origin page -->
			<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
			<div class="row fileupload-buttonbar">
				<div class="col-lg-7">
					<!-- The fileinput-button span is used to style the file input field as button -->
					<span class="btn btn-success fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>添加图片...</span>
						<input type="file" name="files[]" multiple>
					</span>
					<button type="submit" class="btn btn-primary start">
						<i class="glyphicon glyphicon-upload"></i>
						<span>开始上传</span>
					</button>
					<button type="reset" class="btn btn-warning cancel">
						<i class="glyphicon glyphicon-ban-circle"></i>
						<span>取消上传</span>
					</button>
					<button type="button" class="btn btn-danger delete">
						<i class="glyphicon glyphicon-trash"></i>
						<span>删除</span>
					</button>
					<input type="checkbox" class="toggle">
					<!-- The loading indicator is shown during file processing -->
					<span class="fileupload-loading"></span>
				</div>
				<!-- The global progress information -->
				<div class="col-lg-5 fileupload-progress fade">
					<!-- The global progress bar -->
					<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
						<div class="progress-bar progress-bar-success" style="width:0%;"></div>
					</div>
					<!-- The extended global progress information -->
					<div class="progress-extended">&nbsp;</div>
				</div>
			</div>
			<!-- The table listing the files available for upload/download -->
			<ul id="DragContainer7" class="table files" id=""></ul>
		</form>
		<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
			<div class="slides"></div>
			<h3 class="title"></h3>
			<a class="prev">‹</a>
			<a class="next">›</a>
			<a class="close">×</a>
			<a class="play-pause"></a>
			<ol class="indicator"></ol>
		</div>
		{# 当上传图片的时候的模板 #}
		<input type="hidden" id="update-image-path" value="{{ path('gospel_post_image_update') }}" />
		{% verbatim %}
			<script id="template-upload" type="text/x-tmpl">
				{% for (var i=0, file; file=o.files[i]; i++) { %}
				<tr class="template-upload fade">
				<td>
				<span class="preview"></span>
				</td>
				<td>
				<!--<textarea type="text" name="caption" placeholder="图片说明" ></textarea> -->
				</td>
				<td>
				<!-- 设为封面图片：<input type="radio" name="isCover[]" /> -->
				</td>
				<td>
				<!-- 使用水印：<input type="checkbox" name="useWatermark" /> -->
				</td>
				<td>
				<p class="name">{%=file.name%}</p>
				{% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
				{% } %}
				</td>
				<td>
				<p class="size">{%=o.formatFileSize(file.size)%}</p>
				{% if (!o.files.error) { %}
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
				{% } %}
				</td>
				<td>
				{% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start">
				<i class="glyphicon glyphicon-upload"></i>
				<span>开始</span>
                </button>
				{% } %}
				{% if (!i) { %}
                <button class="btn btn-warning cancel">
				<i class="glyphicon glyphicon-ban-circle"></i>
				<span>取消</span>
                </button>
				{% } %}
				</td>
				</tr>
				{% } %}
			</script>
			<!-- The template to display files available for download -->
			<script id="template-download" type="text/x-tmpl">
				{% for (var i=0, file; file=o.files[i]; i++) { %}
				<li class="template-download fade">
				<input type="hidden" class="image-id" value="{%=file.id%}" />
				<td>
				<span class="preview">
                {% if (file.thumbnailUrl) { %}
				<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
				</span>
				</td>
				<td>
                {% if (file.thumbnailUrl) { %}
				<textarea type="text" class="update-image" name="setCaption" placeholder="图片说明" >{%=file.caption%}</textarea>
                {% } %}
				</td>
				<td>
				设为封面图片：<input class="update-image" type="radio" name="setIsCover" {% if (file.isCover){ %}checked{%}%}/>
				</td>
				<td>
				使用水印：<input class="update-image" type="checkbox" name="setUseWatermark" {% if (file.useWatermark){ %}checked{%}%} />
				</td>
				<td>
				<span class="name">
                {% if (file.url) { %}
				<a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
				<span>{%=file.name%}</span>
                {% } %}
				</span>
				{% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
				{% } %}
				</td>
				<td>
				<span class="size">{%=o.formatFileSize(file.size)%}</span>
				</td>
				<td>
				{% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
				<i class="glyphicon glyphicon-trash"></i>
				<span>删除</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
				{% } else { %}
                <button class="btn btn-warning cancel">
				<i class="glyphicon glyphicon-ban-circle"></i>
				<span>Cancel</span>
                </button>
				{% } %}
				</td>
				</li>
				{% } %}
			</script>
		{% endverbatim %}
	</div>


	{% include 'GospelCoreBundle:Post:search.html.twig' with {'form': form2} %}


{% endblock %}

{% from 'GospelCoreBundle:Macros:misc.html.twig' import rteCss, rteJs %}
{# 载入富文本编辑器相关的css文件 #}
{% block stylesheets %}
	{{ parent() }}
	{{ rteCss() }}
	{% stylesheets 
	'bundles/gospelcore/css/blueimp-gallery.min.css' 
	'bundles/gospelcore/fileupload/css/jquery.fileupload.css' 
	'bundles/gospelcore/fileupload/css/jquery.fileupload-ui.css' 
		filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<noscript>
	{% stylesheets 'bundles/gospelcore/fileupload/css/jquery.fileupload-noscript.css' 
		filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	</noscript>
	<noscript>
	<link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css">
	{% stylesheets 'bundles/gospelcore/fileupload/css/jquery.fileupload-ui-noscript.css' 
		filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	</noscript>
{% endblock %}

{# 载入富文本编辑器相关的js文件 #}
{% block javascripts %}
	{{ parent() }}
	{{ rteJs("gospel_post_content", "gospel_post_contentEn") }}
	<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
	{% javascripts 
'@GospelCoreBundle/Resources/public/js/jquery.min.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/vendor/jquery.ui.widget.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/tmpl.min.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/load-image.min.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/canvas-to-blob.min.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/bootstrap.min.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.blueimp-gallery.min.js' 
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% javascripts 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.iframe-transport.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-process.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-image.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-audio.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-video.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-validate.js' 
'@GospelCoreBundle/Resources/public/fileupload/js/jquery.fileupload-ui.js' 
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript" src="{{ asset('bundles/gospelcore/js/drag-drop.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			function mouseUp(ev) {
				if (curTarget) {
					// ajax sorting the images
					// pass the current images name to the server
					var images = [];
					$.each($("#DragContainer7 img"), function (i, val) {
						images.push($(val).attr('src'));
					})
					$.ajax({
						url: '{{ path('gospel_post_file_sort', {id: temp_id}) }}',
						dataType: 'json',
						method: 'POST',
						data: {images: images}
					}).always(function () {
					}).done(function (result) {
					});

					dragHelper.style.display = 'none';
					if (curTarget.style.display == 'none') {
						if (rootSibling) {
							rootParent.insertBefore(curTarget, rootSibling);
						} else {
							rootParent.appendChild(curTarget);
						}
					}
					curTarget.style.display = '';
					curTarget.style.visibility = 'visible';
				}
				curTarget = null;
				dragObject = null;

				iMouseDown = false;
			}

			document.onmouseup = mouseUp;
			// Initialize the jQuery File Upload widget:
			$('#fileupload').fileupload({
				// Uncomment the following to send cross-domain cookies:
				//xhrFields: {withCredentials: true},
				url: '{{ path('gospel_post_file_upload', {id: temp_id}) }}'
			})
				.bind('fileuploaddone', function (e, data) {
					// After the dom has been append to the html, then run the drag-drop code
					setTimeout(function () {
						CreateDragContainer(document.getElementById('DragContainer7'));
					}, 1000);
				});

			// Load existing files:
			$('#fileupload').addClass('fileupload-processing');

			$.ajax({
				// Uncomment the following to send cross-domain cookies:
				//xhrFields: {withCredentials: true},
				url: $('#fileupload').fileupload('option', 'url'),
				dataType: 'json',
				context: $('#fileupload')[0]
			}).always(function () {
				$(this).removeClass('fileupload-processing');
			}).done(function (result) {
				$(this).fileupload('option', 'done')
					.call(this, null, {result: result});
				CreateDragContainer(document.getElementById('DragContainer7'));
			});

		});
	</script>
	<script type='text/javascript'>
		$(document).ready(function () {
			// change the checkbox to options
			$(".options .controls input").change(function () {
				var that = this;
				// loop all the checkbox group, if not equal to the current checkbox
				// unset the checkbox value so it is like the options
				$(this).closest('.options').find('input').each(function () {
					if (that !== this) {
						$(this).attr('checked', null);
						$(this).val(null);
					}
				});
			});


			// 当区域变化的时候动态改变省区的分类
			$(document).on("change", "#gospel_post_region", function (e) {
				$('#ajax-loader').show();
				$("#gospel_post_area").hide();
				var that = this;
				var url = $('#update-province-link').val();

				// Ajax request to update image
				$.ajax({
					url: url,
					dataType: 'json',
					data: {regionId: $(that).val()},
					context: document.body
				}).always(function () {})
					.done(function (result) {
						$('#ajax-loader').hide();
						$('#gospel_post_area').html(result.html);
						$("#gospel_post_area").show();
					});
			});

			// 当修改图片的相关属性的时候，修改数据库
			$(document).on("change", ".update-image", function (e) {
				var that = this;
				// image id
				var image_id = $(this).closest('li').find('.image-id').val();
				var type = $(this).attr('type');
				if (type == 'checkbox') {
					if ($(this).is(":checked"))
					{
						var value = 1;
					} else {
						var value = 0;
					}
				} else if (type == 'radio') {
					if ($(this).val() == "on")
					{
						var value = 1;
					} else {
						var value = 0;
					}
				} else {
					var value = $(this).val();
				}
				var name = $(this).attr('name');
				var url = $('#update-image-path').val();

				// Ajax request to update image
				// console.log('changed, ajax request');
				$.ajax({
					url: url,
					dataType: 'json',
					data: {id: image_id, name: name, value: value, imageName: $(this).closest('tr').find('img').attr('src')},
					context: document.body
				}).always(function () {})
					.done(function (result) {
						if (result.success) {
							var ele = $('<p style="color:green;">更新成功</p>');
							$(that).after(ele);
							setTimeout(function () {
								ele.remove()
							}, 700);
						}
					});
			});
		});
	</script>
	<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
	<!--[if (gte IE 8)&(lt IE 10)]>
	{% javascripts 
'@GospelCoreBundle/Resources/public/fileupload/js/cors/jquery.xdr-transport.js' 
	%}
					<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<![endif]-->
{% endblock %}
