{% extends '::backend.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_preview %}
{%block header %}<h1 class="page-title">文章管理</h1>{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body -%}
<!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li 
	  {% if listStatues == 3 %} class="active" {% endif %}
		><a href="{{ path('gospel_post_index') }}" aria-controls="home" role="tab" >全部</a></li>
	<li 
	  {% if listStatues == 1 %} class="active" {% endif %}
		><a href="{{ path('gospel_post_index', {'gospel_post[status]': true}) }}" aria-controls="profile" role="tab">已发布</a></li>
    <li 
	  {% if listStatues == 0 %} class="active" {% endif %}
		><a href="{{ path('gospel_post_index', {'gospel_post[status]': false}) }}" aria-controls="messages" role="tab" >未发布</a></li>
  </ul>
<ul class="action-links">
          <li><a class="button button-action" href="{{ path('gospel_post_new') }}">添加文章</a></li>
        </ul>
		<form name="" action="" method="get" id="search-form">
							<label for="gospel_post[id]">ID</label><input type="text" name="gospel_post[id]" value="" size="20" class="inputBox1">
							<select name="type">
								<option value="title">标题</option>
								<option value="writer">作者</option>
								<option value="comefrom">来源</option>
								<option value="introduction">简介</option>
								<option value="content">内容</option>
							</select>
							<input type="text" name="keywords" value="" size="20" class="inputBox1">
									{{ form_row(form.category) }}
									{{ form_row(form.area) }}
							<hr/>
									{% if form.promotionStatus is defined %}
									{{ form_row(form.promotionStatus) }}
									{% endif %}
									{% if form.editorRecommemd is defined %}
									{{ form_row(form.editorRecommemd) }}
									{% endif %}
									{% if form.editorRecommemd is defined %}
									{{ form_row(form.editorRecommemd) }}
									{% endif %}
									{% if form.isHomeHeadlinePic is defined %}
									{{ form_row(form.isHomeHeadlinePic) }}
									{% endif %}
									{% if form.isHomeHeadlineTxt is defined %}
									{{ form_row(form.isHomeHeadlineTxt) }}
									{% endif %}
									{% if form.isDeepRead is defined %}
									{{ form_row(form.isDeepRead) }}
									{% endif %}
									{% if form.status is defined %}
									{{ form_row(form.status) }}
									{% endif %}
									<label for="gospel_post_status_unpublished">筛选未发布文章</label>
									<input type="checkbox" id="gospel_post_status_unpublished" name="gospel_post[status_unpublished]" value="1">
							<div>
								<input type="hidden" name="export" value="" id="input-export" />
								<input type="button" id="search" name="search" value="筛选" class="btn btn-info">
								<input type="button" id="export" name="export" value="导出" class="btn btn-primary">
							</div>
							<br/>
				<div id="related-content"></div>
		</form>
<table id="edit-entities" class="sticky-enabled responsive-enabled tabledrag-processed tableresponsive-processed tableheader-processed sticky-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>图片</th>
			<th>标题</th>
			<th>分类</th>
			<th>地区</th>
			<th>作者</th>
			<th>审核</th>
			<th>点击量</th>
			<th>发布日期</th>
			<th>操作</th>
		</tr></thead>
	<tbody>
	{% for entity in posts %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.id }}</td>
				<td>
					{% if entity.coverPath %}
						<img src="{{ asset(entity.coverPath) | imagine_filter('thumb_120x90')}}" />
					{% endif %}
				</td>
				<td><a href="{{ path('gospel_post_update', {id: entity.id}) }}">{{ entity.title }}</a></td>
				<td>{{ entity.category }}</td>
				<td>{{ entity.area }}</td>
				<td>{% if entity.author is defined %}{{ entity.author }} - {% endif %}{{ entity.writer }}</td>
				<td>{% if entity.status == 1 %}是{% else %}否{% endif %}</td>
				<td>{{ entity.hits }}</td>
				<td>{{ entity.publishedAt|date('Y-m-d H:m:s') }}</td>
				<td>
								<form onsubmit="return confirm('确定要删除: {{ entity.title }}？');" style="display: inline;" method="post" action="{{ path('gospel_post_delete', {id: entity.id}) }}">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							操作
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_post_show', {id: entity.id}) }}">查看</a></li>
							<li class="edit odd first dropbutton-action"><a {{ path_preview(entity) }}>预览</a></li>
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_post_update', {id: entity.id}) }}">编辑</a></li>
							{% if is_granted('ROLE_POST_DELETE') %}
							<li class="edit odd first dropbutton-action">
        						<a class="submit-closest-form" href="#">删除</a>
							</li>
							{% endif %}
						</ul>
					</div>
    <input type="hidden" value="DELETE" name="_method">
</form>
				</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% if posts.haveToPaginate()|default(false) %}
{{ pagerfanta(posts, 'twitter_bootstrap_translated', options|default({})) }}
跳转到第<input type="number" id="goto-number" />页，<a href="#" data-url="{{ path('gospel_post_index') }}" id="goto-page">go</a>
{% endif %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	
	<script type="text/javascript">
		(function($) {
			$("#export").click(function(e) {
				if(!$("#gospel_post_category").val()) {
					alert("请选择文章分类");
					return false;
				}
				$("#input-export").val(1);
				$("#search-form").submit();
			});
			$("#search").click(function(e) {
				$("#input-export").val(0);
				$("#search-form").submit();
			});
		}(jQuery));
	</script>
{% endblock %}
