{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import editNbackBtn %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_preview %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>相关文章</th>
                <td>
					<ul>
						{% for related in post.related %}
							<li><a href="{{ path('gospel_post_show', {id:related.id}) }}" target="_blank">{{ related.title }}</a></li>
							{% endfor %}
					</ul>
				</td>
            </tr>
            <tr>
                <th>上次修改时间</th>
                <td>{{ post.updatedAt|date('Y-m-d H:m:s') }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ post.createAt|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>

	<div class="form-actions form-wrapper" id="edit-actions">
		<a target="_blank"  id="" name="op" {{ path_preview(post) }}class="button form-submit">预览</a>
		{{ editNbackBtn('gospel_post_update', 'gospel_post_index', post) }}

		<form onsubmit="return confirm('确定要删除: {{ post.title }}？');" style="display: inline;" method="post" action="{{ path('gospel_post_delete', {id: post.id}) }}">
			{% if is_granted('ROLE_POST_DELETE') %}
				<a class="submit-closest-form btn btn-danger" href="#">删除</a>
			{% endif %}
			</ul>
	</div>
    <input type="hidden" value="DELETE" name="_method">
</form>
</div>
{% endblock %}