{% extends '::baseNew.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_category, path_category, link_post, path_post, link_video, path_video ,
	link_gallery, path_gallery, link_columnist, link_province, link_topic, path_topic, link_fine_clumn, link_fine_clumn
%}
{% block stylesheets %}
	{{ parent() }}

	{% stylesheets 
		'bundles/frontendweb/jplayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css' 
	filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
<!--content-->
<div class="auto clearfix l-cnt-wapper">
    <div class="lt clearfix l-cnt-wapper-left">
        <div class="l-duan-p lt l-ma-100 l-cnt-two">
            <section class="">
            	<article class="l-first-ar ">
					{% if headline1.cover %}
                  <figure class="l-img-wai">
                      <a href="{{ path('news_show', {slug: headline1.title, id: headline1.id}) }}"><img  class="lt" src="{{ asset(headline1.coverPath)|imagine_filter('480x320') }}"/></a>
                    <figcaption><small></small></figcaption>
                  </figure>
					{% endif %}
                  <header>
					  <h1 class="bod">{{ link_post(headline1) }}</h1>
                  </header>
                  <p>{{ headline1.introduction|slice(0, 80) }}...</p>
                  <ul class="l-ar-list">
						{% for relatedPost in headline1.related %} {% if loop.index < 3 %}
						<li>{{ link_post(relatedPost) }}</li>
						{% endif %} {% endfor %}
                  </ul>
                </article>
				{% for row in headlineRest %}
				<article  class="{% if loop.index == 1 %}l-bj-title{% endif %} l-top">
					{% if row.cover %}
                  <div class="rt l-img-rt">
                      <a href="{{ path('news_show', {slug: row.title, id: row.id}) }}"><img  class="lt" src="{{ asset(row.coverPath)|imagine_filter('171x114') }}"/></a>
                  </div>
				  {% endif %}
                  <div class=" clearfix">
                       <header>
						   <h1>{{ link_post(row) }}</h1>
                      </header>
					  <p>{{ row.introduction|slice(0, 40)}}...</p>
                  </div>
                </article>
				{% endfor %}
            </section>
        </div>
        <div class="lt l-cnt-one">
          <section>
              <article class="l-first-ar">
              	<header >
					<h1 class="bod">{{link_post(subHeadlineTop)}}</h1>
                </header>
				<p>{{subHeadlineTop.introduction|slice(0, 70)}}...</p>
                <ul class="l-ar-list">
					{% for relatedPost in subHeadlineTop.related %} {% if loop.index < 3 %}
					<li>{{ link_post(relatedPost) }}</li>
					{% endif %} {% endfor %}
                </ul>
              </article>
			  {% for row in subHeadline2 %}
              <article  class="l-bj-title l-ar-two">
              	<header>
					<h1>{{link_post(row)}}</h1>
                </header>
				<p>{{row.introduction|slice(0, 70)}}...</p>
              </article>
			  {% endfor %}
			  {% for row in subHeadline3 %}
              <article class="l-pd-20 l-lt-entry">
              	<header>
					<h1 >{{link_post(row)}}</h1>
                </header>
              </article>
			  {% endfor %}
          </section>
        </div>
        <div class="clear"></div>
        <div class="g-gao-lt-1">
			<div class="ad-wrapper width675">
				<a href="http://www.christiantimes.cn/magazine" target="_blank">
					<img src="{{ asset("bundles/frontendweb/images/banner/magzine-15-2.jpg") }}">
				</a>
			</div>
		</div>
        <div class="clear"></div>
        <div class="l-shendu-wapper">
             <div class="l-hd-title">
				 <h1><a href="{{path('fine_column')}}">深度阅读</a></h1>
             </div>
        	 <section>
             	<ul class=" clearfix l-shendu-inner">
					{% for row in insides %}
                	<li class="l-depth-list">
					<h2>{{link_fine_clumn(row.category)}}</h2>
						{% if row.post.cover %}
						<a {{path_post(row.post)}}><img src="{{ asset(row.post.coverPath)|imagine_filter('258x172') }}"/></a>
						{% endif %}
						<h3> {{link_post(row.post)}}</h3>
                    </li>
					{% endfor %}
                </ul>
             </section>
        </div>
        <div class="clear"></div>
        <div class="lt l-width-48 l-ma-100 l-wapper-book l-read-book">
             <div class="l-hd-title l-small-title">
				 <h1>{{link_fine_clumn(reading.category)}}</h1>
             </div>
        	 <section>
             	<article class="clearfix">
					<header><h2>{{link_post(reading.post)}}</h2></header>
                    <div class="lt l-read-book-img">
						{% if reading.post.cover %}
						<a {{path_post(reading.post)}}><img src="{{ asset(reading.post.coverPath)|imagine_filter('189x237') }}"/></a>
						{% endif %}
                    </div>
					<p>{{reading.post.introduction|slice(0, 130)}}...</p>
                </article>
             </section>
        </div>
        <div class="lt l-width-48 l-ma-100 l-wapper-book">
             <div class="l-hd-title l-small-title">
				 <h1>{{link_fine_clumn(columnist.category)}}</h1>
             </div>
        	 <section>
				 {% for row in columnist.data %}
             	<article class="clearfix l-zhuan-lan">
                    <div class="lt">
						{% if row.author %}
						<a href="{{ path('columnist', {slug: row.author.title|slugfy, id: row.author.id}) }}"><img src="{{ asset(row.author.coverWebPath~'/'~row.author.coverPath) | imagine_filter('125x88') }}" /></a>
						{% endif %}
                    </div>
					<h2>{{link_post(row.post)}}</h2>
			{%if row.author is null%}{% else %}
			<div class="l-name"><span>作者：{{ link_columnist(row.author) }}</span></div>
			{% endif %}
                </article>
				{% endfor %}
             </section>
        </div>
        <div class="clear"></div>
        <div class="g-gao-lt-1" style="display:none;">
					<div class="ad-wrapper width675">
                                                <!-- 225314669：LEFT_REC_5 类型：固定 尺寸：675x65-->
<script type="text/javascript">
//<![CDATA[
//ac_as_id = "mm_116831168_14568587_225314669";
//ac_format = 1;
//ac_mode = 1;
//ac_group_id = 1;
//ac_server_base_url = "afpeng.alimama.com/";
//]]>
</script>
<!--<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script> -->
					</div>
				</div>
        <div class="clear"></div>
        <div class="l-infor-channel-wapper">
             <div class="l-hd-title l-in-title">
             	<h1><a>资讯频道</a></h1>
             </div>
             <div id="slideTxtBox2" class="slideTxtBox2 l-nav-infor-channel">
             		<div class="hd l-nav-channel">
             			<ul class=" bod l-information">
							<li class="on">{{link_category(categoryGlobal)}}<span class="l-zixun-black-cicle">●</span>环球</li>
							<li>{{link_category(dataCategory.categoryChurch)}}<span class="l-zixun-black-cicle">●</span><a {{path_category(dataCategory.categoryChurch)}}>事工</a></li>
							<li>{{link_category(dataCategory.categorySociety)}}<span class="l-zixun-black-cicle">●</span>{{link_category(dataCategory.categoryGongyi)}}</li>
                            <li>{{link_category(dataCategory.categoryCulture)}}<span class="l-zixun-black-cicle">●</span>{{link_category(dataCategory.categoryStar)}}</li>
							<li>{{link_category(dataCategory.categoryFamily)}}<span class="l-zixun-black-cicle">●</span><a {{path_category(dataCategory.categoryFamily)}}>婚姻</a></li>
                            <li>{{link_category(dataCategory.categoryBusiness)}}<span class="l-zixun-black-cicle">●</span>{{link_category(dataCategory.categoryLife)}}</li>
                        </ul>
                    </div>
                    <div class="bd l-cot-channel">
						{% for categoryBlock in dataCategory.contents %}
                    	<ul class="clearfix">
                        	<li class="clearfix">
                            	<div class="l-width-48 lt l-cot-channel-lt">
                                	<article class="l-top">
                                        <figure>
											{% if categoryBlock.top.0.cover %}
											<a {{path_post(categoryBlock.top.0)}}>
												<img src="{{ asset(categoryBlock.top.0.coverPath)|imagine_filter('398x265') }}"/>
											</a>
											{% endif %}
                                        </figure>
                                        <header>
											<h1>{{link_post(categoryBlock.top.0)}}</h1>
                                        </header>
										<p>{{categoryBlock.top.0.introduction|slice(0, 48)}}...</p>
                                    </article>
                                </div>
                                <div class="l-width-48 rt l-cot-channel-rt">
                                	<ul>
                                    	<li>
                                        	<section>
												{% for row in categoryBlock.list %}
                                                <article class="clearfix l-list-six-img">
                                                    <div class="lt">
													{% if row.cover %}
													<a {{path_post(row)}}>
														<img src="{{ asset(row.coverPath)|imagine_filter('109x73') }}"/>
													</a>
													{% endif %}
                                                    </div>
													<h2>{{link_post(row)}}</h2>
                                                </article>
												{% endfor %}
                                             </section>
                                        </li>
                                    </ul>
                                </div>                            
                            </li>
                        </ul>
						{% endfor %}
                    </div>
             </div>
        </div>
        <div class="g-gao-lt-1">
					<div class="ad-wrapper width675">
				<a href="http://www.christiantimes.cn/magazine" target="_blank">
					<img src="{{ asset("bundles/frontendweb/images/banner/magazine-15-2.jpg") }}">
				</a>
					</div>
				</div>
        <div class="clear"></div>
        <div class="l-around-infor-wapper">
             <div class="l-hd-title">
             	<h1><a href="#">各地资讯</a></h1>
             </div>
        	 <section  class="l-around-infor">
             	<ul  class="clearfix l-around-infor-list">
					{% for region in regions %}
					<li class="l-around-list {% if loop.index > 3 %}l-around-list-2{% endif %}" >
                    	<h1>{{ link_province(region.region) }}</h1>
                        <ul class="around-infor-cot">
							{% for post in region.posts %}
                        	<li>
							{% if loop.parent.loop.index < 4 and loop.index == 1%}
								{% if post.cover %}
								<a {{path_post(post)}}>
									<img src="{{ asset(post.coverPath)|imagine_filter('258x172') }}"/>
								</a>
								{% endif %}
							{% endif %}
								<h2 class="{% if loop.index == 1 %}bod{% else %}around-infor-cot-2 around-infor-cot-3{% endif %}">{{ link_post(post) }}</h2>
                            </li>
							{% endfor %}
                        </ul>
                    </li>
					{% endfor %}
                </ul>
             </section>
        </div> 
    </div>
    <aside class="rt l-cnt-wapper-right">
		{{ render(controller('FrontendWebBundle:Common:rightSiderbarNew')) }}
    </aside>

</div>
<!--content-end-->
<!--wonderful-->
<div class="l-wonder-wapper">
    <div class="auto l-wonder-inner">
    	<h1>不容错过</h1>
    	<ul class="clearfix">
			{% for row in mustRead %}
        	<li>
			<a {{path_post(row)}}>
					{% if row.cover %}
					<img  class="lt" src="{{ asset(row.coverPath)|imagine_filter('229x153') }}"/>
					{% endif %}
					<h3>{{row.title}}</h3>
                </a>
            </li>
			{% endfor %}
        </ul>
    </div>
</div>
<div class="clear"></div>
<!--wonderful-end-->
{% endblock %}
