{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import pagination %}


{%block header %}<h1 class="page-title">Newsletter分类管理</h1>{% endblock %}
{% block tabs %}
{% endblock %}
{% block body -%}
<ul class="action-links">
	<li><a class="button button-action" href="{{ path('gospel_newsletter_subscriber_new') }}">添加订阅</a></li>
	<li><a class="button button-action" target="_blank" href="{{ path('gospel_newsletter_export') }}">导出订阅</a></li>
	<li><a class="button button-action" href="{{ path('gospel_newsletter_subscriber_bounced') }}">清理无效邮件</a></li>
    <li><a class="button button-primary" href="#" id="search-btn">搜索</a></li>
</ul>
	<form name="" action="" method="get" style="display:none;" id="search">
		{{ form_widget(form) }}
		<div>
			<input type="submit" name="search" value="筛选" class="btn btn-info"></div>
		<br/>
	</form>
<table id="edit-entities" class="sticky-enabled table table-bordered table-hover ">
	<thead><tr><th>ID</th><th>名称</th><th>类别</th><th>状态</th><th>创建时间</th><th>操作</th></tr></thead>
	<tbody>
	{% for entity in newsletterSubscribers %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.id }}</td>
				<td>{{ entity.email }}</td>
				<td>{% for category in entity.categories %}{{ category.title }} | {% endfor %}</td>
				<td>{% if entity.status == 1 %}是{% else %}否{% endif %}</td>
				<td>{{ entity.subscribedTime|date('Y-m-d H:m:s') }}</td>
				<td>
								<form onsubmit="return confirm('确定要删除: {{ entity.email }}？');" style="display: inline;" method="post" action="{{ path('gospel_newsletter_subscriber_delete', {id: entity.id}) }}">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							操作
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_newsletter_subscriber_show', {id: entity.id}) }}">查看</a></li>
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_newsletter_subscriber_update', {id: entity.id}) }}">编辑</a></li>
							<li class="edit odd first dropbutton-action">
        						<a class="submit-closest-form" href="#">删除</a>
								</li>
						</ul>
					</div>
    <input type="hidden" value="DELETE" name="_method">
</form>
				</td>
			</tr>
	{% endfor %}
	</tbody>
</table>
{% if newsletterSubscribers.haveToPaginate()|default(false) %}
{{ pagerfanta(newsletterSubscribers, 'twitter_bootstrap_translated', options|default({})) }}
{% endif %}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script>
		(function($) {
			$("#search-btn").click(function(e) {
				e.preventDefault();
				$("#search").toggle();
			})
}(jQuery));
	</script>
{% endblock %}
