{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category %}
{% block body %}
<div class="constrain">
	<!--guide-->
    <div class="guide clearfix">
    	<h1 class="guide-section">公告</h1>
    </div>
    <div class="clear"></div>
	<div class="con-left left">
        <section class="article">
        	<div class="a-header">
            	<h1>{{broadcast.title}}</h1>
                <div class="ah-sub"><span></span><span></span><span class="ahs-time">{{ broadcast.publishedAt|date('Y年m月d日 H:m')}}</span></div>
                <div class="ah-icons clearfix">
                	<input type="button" class="bt-print" value="打 印">
                    <div class="ah-share">
                    	<!-- JiaThis Button BEGIN -->
                        <div class="jiathis_style_24x24">
                            <a class="jiathis_button_tsina"></a>
                            <a class="jiathis_button_tqq"></a>
                            <a class="jiathis_button_weixin"></a>
                            <a class="jiathis_button_feixin"></a>
                            <a class="jiathis_button_cqq"></a>
                            <a class="jiathis_button_t163"></a>
                            <a class="jiathis_button_qzone"></a>
                            <a class="jiathis_button_email"></a>
                            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                            <a class="jiathis_counter_style"></a>
                        </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1368523537378658" charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                    </div>
                    <div class="clear"></div>
					<div class="clear">
						{{broadcast.content|raw}}
					</div>
                </div>
            </div>
            <div class="ass-share clearfix">
            	<!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_32x32">
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_feixin"></a>
                    <a class="jiathis_button_cqq"></a>
                    <a class="jiathis_button_t163"></a>
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_email"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1368523537378658" charset="utf-8"></script>
                <!-- JiaThis Button END -->
            </div>
            <div class="shengming">
            	<h1>声 明</h1>
                <p>1.来源未注明"福音时报"文章均仅代表作者本人观点，不代表福音时报立场，其观点供读者参考。</p>
                <p>2.文章来源注明"福音时报"的为本站写作整理的文章，其版权归福音时报所有。未经我站授权，任何印刷性书籍刊物及营利性性电子刊物不得转载。欢迎非营利性电子刊物转载，但须清楚注明出处及链接（URL）。</p>
                <p>3.除本站写作和整理的文章外，其他文章来自网上收集，均已注明来源，其版权归作者本人所有，如果有任何侵犯您权益的地方，请联系我们，我们将马上进行整理，谢谢。</p>
            </div>
        </section>
        <div class="review">
			<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1841510"></script>
<!-- UY END -->
        </div>
		{{ render(controller('FrontendWebBundle:Common:editorChoice')) }}
    </div>
	{{ render(controller('FrontendWebBundle:Common:rightSiderbar')) }}
    <div class="clear"></div>
</div>
{% endblock %}
