{% extends '::backend.html.twig' %}
{% form_theme form 'GospelCoreBundle:Macros:misc.html.twig' %}

{% block header %}
<h1 class="page-title">奉献支持</h1>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('gospel_donation_home') }}">奉献支持列表</a></li>
{% endblock %}

{% block body -%}

	<div class="region region-content">
		<div class="block block-system" id="block-content">
			<div class="content">
            {{ form_errors(form) }}
	  {{ form_start(form) }}
					<div class="btn-toolbar subhead" id="toolbar">
						<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="btn btn-success"><a  id="" name="op" href="{{ path('gospel_donation_home') }}" class="button form-submit">返回</a>
						</div>
					</div>
					<ul id="myTabs" class="nav nav-tabs">

						<li><a href="#post-details" data-toggle="tab">奉献支持内容</a></li>
					</ul>

					<div id="myTabsContent" class="form-horizontal">
						<div id="post-details" class="tab-content active">
							<br/>
							{% from 'GospelCoreBundle:Macros:misc.html.twig' import styleFormRow %}
							{{ styleFormRow(form.name) }}
							{{ styleFormRow(form.email) }}
							{{ styleFormRow(form.title) }}
							{{ styleFormRow(form.content) }}
							{{ styleFormRow(form.createdAt) }}
                                  
		{{ form_rest(form) }}
						</div>
							</div>
		{{ form_end(form) }}
						</div>
					</div>
				</div>




{% endblock %}

{% from 'GospelCoreBundle:Macros:misc.html.twig' import rteCss, rteJs %}
{% block stylesheets %}
	{{ parent() }}
	{{ rteCss() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ rteJs("gospel_donation_content") }}
{% endblock %}
