{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import backBtn %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ donation.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ donation.tradeNo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ donation.buyerEmail }}</td>
            </tr>
            <tr>
                <th>总计</th>
                <td>{{ donation.totalFee }}</td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ donation.createdAt|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>

{{ backBtn('gospel_donation_home') }}
{% endblock %}
