{% extends '::backend.html.twig' %}
{%block header %}<h1 class="page-title">今日教会杂志管理</h1>{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body -%}
<ul class="action-links">
          <li><a class="button button-action" href="{{ path('gospel_magazine_new') }}">添加今日教会杂志</a></li>
        </ul>
<table id="edit-entities" class="sticky-enabled responsive-enabled tabledrag-processed tableresponsive-processed tableheader-processed sticky-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>标题</th>
			<th>下载次数</th>
			<th>发布日期</th>
			<th>操作</th>
		</tr></thead>
	<tbody>
	{% if magazines %}
	{% for entity in magazines %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.id }}</td>
				<td><a href="{{ path('gospel_magazine_show', {id: entity.id}) }}">{{ entity.title }}</a></td>
				<td>{{ entity.hit }}</td>
				<td>{{ entity.created|date('Y-m-d H:m:s') }}</td>
				<td>
								<form onsubmit="return confirm('确定要删除: {{ entity.title }}？');" style="display: inline;" method="post" action="{{ path('gospel_magazine_delete', {id: entity.id}) }}">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							操作
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_magazine_show', {id: entity.id}) }}">查看</a></li>
							<li class="edit odd first dropbutton-action"><a href="{{ path('magazine', {slug: entity.slug}) }}" target="_blank">预览</a></li>
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_magazine_update', {id: entity.id}) }}">编辑</a></li>
							<li class="edit odd first dropbutton-action">
        						<a class="submit-closest-form" href="#">删除</a>
								</li>
						</ul>
					</div>
    <input type="hidden" value="DELETE" name="_method">
</form>
				</td>
			</tr>
	{% endfor %}
	{% endif %}
		</tbody>
	</table>
{% if magazines.haveToPaginate()|default(false) %}
{{ pagerfanta(magazines, 'twitter_bootstrap_translated', options|default({})) }}
{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		(function($) {
			$("#search-btn").click(function(e) {
				e.preventDefault();
				$("#search").toggle();
			})
}(jQuery));
	</script>
{% endblock %}
