{% extends '::backend.html.twig' %}
{% from 'GospelCoreBundle:Macros:misc.html.twig' import editNbackBtn %}
{% block body -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ magazine.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ magazine.title }}</td>
            </tr>
            <tr>
            <tr>
                <th>创建时间</th>
                <td>{{ magazine.created|date('Y-m-d H:m:s') }}</td>
            </tr>
        </tbody>
    </table>

{{ editNbackBtn('gospel_magazine_update', 'gospel_magazine_index', magazine) }}
{% endblock %}
