@charset "utf-8";
/* CSS Document */
@media screen and (max-width:1220px){
.l-img-rt img,.daily-first img{ width:171px; height:114px;}
.l-read-book-img img{  width:189px; height:auto;}
.l-zhuan-lan img{ width:129px; height:86px;}
.l-list-six-img img{width:111px; height:74px;}
.l-news-list li img{ width:90px; height:60px;}}
@media screen and (max-width:1100px){
.l-fenxiang{ display:none;}
}
@media screen and (max-width:900px){
.l-nav-search{ display:none;}	
.l-nav-list{ width:100%;}
}
@media screen and (max-width:880px){
.l-scripture{ display:none;}	
.l-cnt-wapper-left,.l-cnt-wapper-right{ width:100%;}
.l-nav-list .l-ph-nav{ display:none;}
.l-fenxiang-2,.l-nav-list .l-ph-more{ display:block;}
.l-nav-list li:nth-child(5){background:none; }
.l-right-ph-pitcures,.l-right-ph-video{ width:48%; margin-bottom:10px;}
.copyright,.logo-b { float:none;text-align: center;}
.copyright{ margin-bottom:15px;}
.copyright br{ display:none;}
}
@media screen and (max-width:788px){
.l-search-kuang {margin-right: 20px;}
.l-fenxiang-2,.l-search-kuang {float:left;}
.l-nav-search-wp{padding-left: 15px;}
}
@media screen and (max-width:635px){
.l-read-book-img img { width:108px; height:136px;}	
.l-wonder-inner ul li{width:46%;margin:2%;}
.l-wonder-inner ul li:last-child{ display:none;}
}
@media screen and (max-width:560px){
.l-right-ph-pitcures,.l-right-ph-video{ width:100%;}
.l-cnt-right-video img,.l-cnt-imgs-wp img{ width:100%;}
.l-img-rt img{ width:113px; height:75px;}
.l-zixun-black-cicle{ display:none;}
.l-information a{ display:block;}
}
@media screen and (max-width:500px){
.l-header-lt img{ width:182px; height:32px;}
.l-cot-channel-rt,.l-cot-channel-lt,.l-cnt-wapper-left .l-cnt-one,.l-ma-100{ width:100%;}
}
@media screen and (max-width:450px){
.l-two-jish{ display:none;}
.l-shendu-inner li {width: 48%;margin-right: 4%;}
.l-shendu-inner li:nth-child(n){margin-right:4%; clear:none;}
.l-shendu-inner li:nth-child(2n+1){clear:both;}
.l-shendu-inner li:nth-child(2n) {margin-right:0%;}
.l-around-infor-list li,.l-around-infor-list .l-around-list{ width:100%;}
.l-around-infor-list .l-around-list img{ width:100%;}
.l-cnt-news{ padding:0;}
.l-wonder-inner ul li img,.l-wonder-inner ul li{width:100%; }
.l-wonder-inner ul li:last-child{ display:none;}
.l-wonder-inner ul li{width:100%; margin:0; margin-bottom:20px;}
.b-menu li {display: inline-block;padding-right: 15px;}
.logo-b p{ display:none;}
}
@media screen and (max-width:320px){
.copyright,.logo-b { float:left;text-align: left;}
.l-cnt-ar{padding: 10px 10px 0 10px;}
.l-shendu-inner li {width:100%;}
.l-nav-list a {font-size: 0.8em;}
.form-search { width:130px;}
.daily-first img{width:135px; height:90px;}
}
@media screen and (max-width:280px){
.l-link{display:none;}
}