{% extends 'FrontendWebBundle:Christmas:layout.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category %}
{% block body %}
  <div class="nav clearfix">
	  <ul>
		  <li class="{% if current_category == null %}on{% endif %}" id="All"><a href="{{ path('christmas_home') }}?nav=1">全部</a></li>
		  {% for category in categories %}
		  <li class="{% if current_category %}{% if category.id == current_category.id %}on{% endif %}{% endif %}" id="{{ category.slug }}"><a href="{{ path('christmas_home') }}?category={{ category.id }}&nav=1">{{ category.title }}</a></li>
		  {% endfor %}
	  </ul>
  </div>
  <div class="nav-mobile clearfix">
	  <ul class="clearfix">
		  <li class="on" id="All">全部分类</a></li>
		  {% for category in categories %}
		  <li id="{{ category.slug }}"><a href="{{ path('christmas_home') }}?category={{ category.id }}">{{ category.title }}</a></li>
		  {% endfor %}
	  </ul>
  </div>
  <div id="content" class="article">
	  {% include 'FrontendWebBundle:Christmas:raw.html.twig' with {pagination: pagination}%}
  </div>
<div id="loading" class="jscroll-loading" style="display:none;">
	<img id="loading-img" src="http://christmas.christiantimes.cn{{ asset('bundles/frontendweb/images/loading.gif') }}" />
</div>
{% endblock %}