<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}百篇美文迎圣诞</title>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	<link rel="stylesheet" href="http://christmas.christiantimes.cn/css/cdf9185_meiwen_1.css" />
    <link rel="stylesheet" href="http://christmas.christiantimes.cn/css/cdf9185_base_2.css" />
    <link rel="stylesheet" href="http://christmas.christiantimes.cn/css/cdf9185_mediaquary-meiwen_3.css" />
    <link rel="stylesheet" href="http://christmas.christiantimes.cn/css/cdf9185_autofix_anything_4.css" />
<!--[if lt IE 9]>
    <script type="text/javascript" src="http://christmas.christiantimes.cn/js/222947f_IE9_1.js"></script>
<![endif]-->
<!--[if lt IE 7]>
    <script type="text/javascript" src="http://christmas.christiantimes.cn/js/4075621_ie7-squish_1.js"></script>
    <script type="text/javascript" src="http://christmas.christiantimes.cn/js/4075621_PNG_2.js"></script>
	<script>
		PNG.fix('.png');
	</script>
<![endif]-->
    <script type="text/javascript" src="http://christmas.christiantimes.cn/js/a8aefdc_jquery-1.8.1.min_1.js"></script>
    <script type="text/javascript" src="http://christmas.christiantimes.cn/js/a8aefdc_jquery.autofix_anything_2.js"></script>
    <script type="text/javascript" src="http://christmas.christiantimes.cn/js/a8aefdc_jquery.jscroll_3.js"></script>
    <script type="text/javascript" src="http://christmas.christiantimes.cn/js/a8aefdc_custom_4.js"></script>
<meta name="description" content="{% block meta_description %}{% endblock %} 中国基督教资讯门户网站，提供基督教最新信息。网站内容涵盖教会、事工、神学、家庭、文化、商业等各个领域。网站以圣经真理为基础，明辨福音，传扬基督教文化。"/>
<meta name="Keywords" content="{% block meta_keywords %}{% endblock %} 基督教,基督教新闻，基督教资讯,基督教神学,教堂,圣经，耶稣基督,基督徒，基督教网站,信仰, 资讯, 资讯网站, 基督, 耶稣, 北京基督教, 基督教两会, 中国基督教, 世界基督教, 宗教, 神学, 教会, 事工, 文化, 家庭, 环球, 基督徒, 基督教会, 神学探索"/>

{% block canonical%}
{% endblock %}
{% block script %}
{% endblock %}

</head>

<body>
<div class="wrap">
  <p class="jingwen">神爱世人，甚至将他的独生子赐给他们，叫一切信他的，不至灭亡，反得永生【约3：16】</p>
  <div class="banner"><a href="{{ path('christmas_home') }}"><img src="{{ asset('bundles/frontendweb/images/banner.jpg') }}"></a></div>
  <div class="article-left">
	{% block top %}
    <div class="jianyao clearfix">
      <img class="wenzi" src="{{ asset('bundles/frontendweb/images/gaishu.gif') }}">
      <div class="gaishu">
		  <p>那天使对他们说：“不要惧怕！我报给你们大喜的信息，是关乎万民的。	因今天在大卫的城里，为你们生了救主，就是主基督。你们要看见一个婴孩，包著布，卧在马槽里，那就是记号了。”忽然，有一大队天兵同那天使赞美　神说：“在至高之处荣耀归与　神！在地上平安归与他所喜悦的人（注：有古卷作“喜悦归与人”）！”（路加福音2:10-14）</p>

		  <p>近2000多年前圣经新约福音书中的这段话传颂了千百多年，这是救主耶稣为我们诞生的大喜信息。我们的心由此得安慰、得力量，我们的生命也由此有重生的基础。</p>

		  <p>圣诞节，一个普世欢腾的日子，我们谨献上“百篇美文迎圣诞”与大家分享，默想主降生的真谛、感恩主耶稣的拯救。</p>
      </div>
   </div>
  <div class="clear"></div>    
	{% endblock %}
  		{% block body %}
  {% endblock %}
      <div class="bottom">
          <p>京ICP备07014451号-1 京公网安备110102003886-4号 © 北京福音时代信息技术有限公司</p>
      </div>
  </div>
  <div class="article-right">
		{{ render(controller('FrontendWebBundle:Christmas:mostRead')) }}
      <div class="clear"></div>
      <div class="bottom bt-pad">
          <p>京ICP备07014451号-1 京公网安备110102003886-4号 © 北京福音时代信息技术有限公司</p>
      </div>
  </div>
</div>

{% include '::analytics.html.twig' %}
</body>
</html>
