{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_christmas %}
<div class="huise">
	<div class="sticky" >
		<div class="dianji clearfix">
			<h1>点击率最高</h1>
			<img src="{{ asset('bundles/frontendweb/images/red-icon.gif') }}">
		</div>
		<ul>
			  {% for post in posts %}
			<li><a href="{{ path('christmas_show', {slug: post.title|slugfy, id: post.id}) }}" target="_blank">{{ post.title }}</a></li>
			  {% endfor %}
		</ul>
		<div class="top">
			<a href="" id="goto-top"><img src="{{ asset('bundles/frontendweb/images/totop.gif') }}"></a>
			<p class="wangzhan">
				<a target="_blank" href="http://www.christiantimes.cn/index.php">基督时报</a><span>|</span>
				<a target="_blank" href="http://www.gospeltimes.cn/">福音时报</a><span>|</span>
				<a target="_blank" href="http://www.jidunet.cn/">基督网</a>
			</p>
		</div>
	</div>
</div>