{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_christmas, path_christmas, path_categories, path_category %}
	{% for post in pagination %}
	  <div class="{% if loop.last %}last-sub{% else %}sub{% endif %}">
		  <h1><a href="{{ path('christmas_show', {slug: post.alias|slugfy, id: post.id}) }}" target="_blank">{{ post.title }}</a></h1>
		  <div class="sub-tittle">
			  {% if post.coverPath %}
				<a {{ path_christmas(post) }}><img src="http://www.christiantimes.cn/christmas2013{{ asset(post.coverPath)|imagine_filter('208x122') }}" alt="{{ post.title }}"></a>
			  {% endif %}
              
			  <div class="duanluo"><p class="wenzhang"><a {{ path_christmas(post) }}>{{ post.introduction }}</a></p>
			  <p class="author">{{ post.author }} {{ post.writer }}  {{ post.createAt|date('Y年m月d日 H:m')}}</p></div>
			  <div class="clear"></div>
		  </div>
	  </div>
	  {% endfor %}
	  <div id="pagination" class="hidden">{{ knp_pagination_render(pagination) }}</div>