{% extends 'FrontendWebBundle:Christmas:layout.html.twig' %}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category %}
{% block title %}{{post.title}}-{% endblock %}
{% block top %}
<style type="text/css">
			#content p {
				margin-top: 0px;
margin-bottom: 0px;
padding: 0px 0px 30px;
line-height: 1.625;
color: rgb(34, 34, 34);
white-space: normal;
			}
		</style>
    <div class="jianyao clearfix">
	<h1>{{ post.title }}</h1>
	<div id="content" class="">
		{{ post.content|raw }}
	</div>
   </div>
{% endblock %}