{% extends '::backend.html.twig' %}
{% form_theme form 'GospelCoreBundle:Macros:misc.html.twig' %}

{% block header %}
<h1 class="page-title">添加专题</h1>
{% endblock %}
{% block breadcrumb %}
<li><a href="{{ path('gospel_topic_index') }}">专题列表</a></li>
{% endblock %}

{% block body -%}

	<div class="region region-content">
		<div class="block block-system" id="block-content">
			<div class="content">
            {{ form_errors(form) }}
	  {{ form_start(form) }}
					<div class="btn-toolbar subhead" id="toolbar">
						<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="保存" class="btn btn-success"><a  id="" name="op" href="{{ path('gospel_topic_index') }}" class="button form-submit">返回</a>
						</div>
					</div>
					<ul id="myTabs" class="nav nav-tabs">

						<li><a href="#post-details" data-toggle="tab">专题内容</a></li>
						{% if topic.id %}
						<li><a href="#topic-posts" data-toggle="tab">专题文章</a></li>
						{% endif %}
						<li><a href="#post-options" data-toggle="tab">发布选项</a></li>
						<li><a href="#post-seo" data-toggle="tab">SEO(搜索引擎优化)</a></li>
					</ul>

					<div id="myTabsContent" class="form-horizontal">
						<div id="post-details" class="tab-content active">
							<br/>
							{% from 'GospelCoreBundle:Macros:misc.html.twig' import styleFormRow %}
							{{ styleFormRow(form.serial) }}
							{{ styleFormRow(form.title) }}
							{{ styleFormRow(form.category) }}
							{{ styleFormRow(form.link) }}
                            <div class="control-group">
								<div class="controls">
                                  {% if form.vars.value.coverPath %}
                                  <img src="{{ asset(form.vars.value.coverWebPath~'/'~form.vars.value.coverPath) | imagine_filter('thumb_120x90') }}" />
                                  {% endif %}
								</div>
                            </div>
							{{ styleFormRow(form.cover) }}
                            <div class="control-group">
								<div class="controls">
                                  {% if form.vars.value.topicBannerPath %}
                                  <img src="{{ asset(form.vars.value.topicWebPath~'/'~form.vars.value.topicBannerPath)| imagine_filter('widen_400') }}" />
                                  {% endif %}
								</div>
                            </div>
							{{ styleFormRow(form.topic) }}
							{{ styleFormRow(form.content) }}
                                  
						</div>
						{% if topic.id %}
							<div id="topic-posts" class="tab-content">
								<br/>
								<a class="btn button" id="add-topic-posts" href="#">添加专题文章</a>
								<hr/>
								<p>拖动重新排序</p>
								<div class="gridster">
									<ul class="sortable" id="topic-posts-list">
									{% for post in posts %}
									
									<li id="item-{{post.post.id}}" class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ post }}
											<span pid="{{ post.post.id }}" class="btn button btn-default delete-topic-post">从专题中删除</span>
										</li>
									{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}
								<div id="post-options" class="tab-content">
									<br />
									{{ styleFormRow(form.promotionStatus) }}
									{{ styleFormRow(form.status) }}
									{{ styleFormRow(form.publishedAt) }}
									{{ styleFormRow(form.stopPublish) }}
									{{ styleFormRow(form.stopPublishedAt) }}
								</div>
								<div id="post-seo" class="tab-content">
									<br />
									{{ styleFormRow(form.alias) }}
									{{ styleFormRow(form.metaKeywords) }}
									{{ styleFormRow(form.metaDescription) }}
		{{ form_rest(form) }}
								</div>
							</div>
		{{ form_end(form) }}
						</div>
					</div>
				</div>


{% include 'GospelCoreBundle:Topic:search.html.twig' with {'form': form2} %}


{% endblock %}

{% from 'GospelCoreBundle:Macros:misc.html.twig' import rteCss, rteJs %}
{% block stylesheets %}
	{{ parent() }}
	{{ rteCss() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ rteJs("gospel_topic_content") }}

<script type="text/javascript">
(function($) {
	$( ".sortable" ).sortable({
		revert: true,
		key: "sort",
		cursor: "move",
		axis: 'y',
		update: function( event, ui ) {
			var data = $(this).sortable('serialize')+"&topic={{topic.id}}";
			$.ajax({
				data: data,
				type: 'POST',
				url: '{{path('gospel_topic_reorder')}}'
			});
		}
	});
 }(jQuery));
</script>
{% endblock %}
