{% extends '::backend.html.twig' %}
{%block header %}<h1 class="page-title">专题管理</h1>{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body -%}
<ul class="action-links">
          <li><a class="button button-action" href="{{ path('gospel_topic_new') }}">添加专题</a></li>
        </ul>
<table id="edit-entities" class="sticky-enabled responsive-enabled tabledrag-processed tableresponsive-processed tableheader-processed sticky-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>封面图片</th>
			<th>专题号</th>
			<th>标题</th>
			<th>审核</th>
			<th>点击量</th>
			<th>发布日期</th>
			<th>操作</th>
		</tr></thead>
	<tbody>
	{% for entity in topics %}
			<tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
				<td>{{ entity.id }}</td>
				<td>
					{% if entity.coverPath %}
						<img src="{{ asset(entity.coverWebUrl) | imagine_filter('thumb_120x90')}}" />
					{% endif %}
				</td>
				<td><a href="{{ path('gospel_topic_show', {id: entity.id}) }}">{{ entity.serial }}</a></td>
				<td><a href="{{ path('gospel_topic_show', {id: entity.id}) }}">{{ entity.title }}</a></td>
				<td>{% if entity.status == 1 %}是{% else %}否{% endif %}</td>
				<td>{{ entity.hits }}</td>
				<td>{{ entity.publishedAt|date('Y-m-d H:m:s') }}</td>
				<td>
								<form onsubmit="return confirm('确定要删除: {{ entity.title }}？');" style="display: inline;" method="post" action="{{ path('gospel_topic_delete', {id: entity.id}) }}">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							操作
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_topic_show', {id: entity.id}) }}">查看</a></li>
							<li class="edit odd first dropbutton-action"><a href="{{ path('gospel_topic_update', {id: entity.id}) }}">编辑</a></li>
							<li class="edit odd first dropbutton-action">
        						<a class="submit-closest-form" href="#">删除</a>
								</li>
						</ul>
					</div>
    <input type="hidden" value="DELETE" name="_method">
</form>
				</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
{% if topics.haveToPaginate()|default(false) %}
{{ pagerfanta(topics, 'twitter_bootstrap_translated', options|default({})) }}
{% endif %}
{% endblock %}
