<div id="dialog-form" title="搜索文章添加到专题">
	<div id="topic-wrapper">
		<form id="searchForm" name="form1" action="" method="get">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody> <tr>
						<td width="95%" height="30">
							<input type="text" name="keywords" value="" size="20" class="inputBox1">
							<select name="type">
								<option value="title">标题</option>
								<option value="author">作者</option>
								<option value="comefrom">来源</option>
								<option value="introduction">简介</option>
								<option value="content">内容</option>
							</select>
						</td>
				<td width="5%"></td>
				</tr>
				</tbody></table>
									{{ form_row(form.category) }}
									{{ form_row(form.area) }}
							<div><input type="submit" id="btn-search-related" name="search" value="查看" class="btn btn-info"></div>
							<br/>
				<div id="related-content"></div>
		</form>
	</div>
</div>
<input type="hidden" id="search-uri" value="{{ path('gospel_post_searchform') }}" />
{% if topic.id %}
<input type="hidden" id="add-action" value="{{ path('gospel_topic_add_post', {topic:topic.id}) }}" />
<input type="hidden" id="delete-topic-action" value="{{ path('gospel_topic_delete_post', {topic:topic.id}) }}" />
{% endif %}
