@charset "utf-8";
/* CSS Document */
body{ font-family:"微软雅黑", Arial, Helvetica, sans-serif; list-style:none; margin:0; padding:0; background:#CCC;}
p,h1{ margin:0;}
.someday{ max-width:650px; margin:0 auto;}
.someday img{ width:100%; height:auto;}
.commonuse{ max-width:650px; border-top:13px solid #2c4062; background:#fff; margin:0 auto;}
.common_in{ padding:5.6%;}
.d1 h1{ font-size:36px; color:#2c4062; font-weight:bold; margin-bottom:40px;text-align: center;}

.checkon form{ font-size:18px; font-weight:bold; color:#000000;}
.checkon p{ font-size:14px; line-height:20px; padding-top:7px; padding-left:20px;}
.checkon{ margin-bottom:24px; float:left; width:50%;}

.input_e_{ border:none; background:#eeeeee; font-size:12px; font-family:"微软雅黑"; padding-right:2.4%; padding-left:2.4%; width:45%; height:37px; float:left; margin-right:14px;}
.input_b{ height:39px; border:none; width:25%; background:#2c4062; color:#fff; font-size:18px; font-family:"微软雅黑"; cursor:pointer;}
.d3 p{ font-size:12px; color:#868686; padding-top:12px;}
@media screen and (max-width: 520px){
.checkon{width:100%;}
}
