{% extends 'FrontendWebBundle::layoutsub.html.twig' %}
{# 导入使用到的macros: 链接文章，链接导航，链接分类 #}
{% from 'FrontendWebBundle:Macros:misc.html.twig' import link_post, path_post, path_categories, path_category, link_category,
link_section
%}
{% block title %}
{% if category.parent.title is defined %}
{{ category.parent.title }} - 
{% endif %}
{{ category.title }} - 
{% endblock %}
{% block body %}
<div class="constrain">
	<div class="con-lm left">
    	<h1 class="section-title">国 际</h1>
        <nav class="sub-nav">
        	<ul>
            	<li class="sn-on">全 部</li>
                <li><a href="#">选项1</a></li>
                <li><a href="#">选项2</a></li>
                <li><a href="#">选项3</a></li>
                <li><a href="#">选项4</a></li>
                <li><a href="#">选项5</a></li>
                <li><a href="#">选项6</a></li>
                <li><a href="#">选项7</a></li>
                <li><a href="#">选项8</a></li>
            </ul>
        </nav>
    	<div class="con-l">
        	<section class="topnews-two">
            	<article class="top-headline">
                	<header>
                    	<figure>
                        	<a href="#"><img src="images/img-headline.jpg" alt=""></a>
                        </figure>
                        <h1><a href="#">家庭教会海外宣教领袖：上帝让中国复兴是为要给世界祝福</a></h1>
                    </header>
                    <p>2013"圣洁行伍"亚洲回家特会在香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜.</p>
                </article>
                <div class="ttwo-s left">
                	<a href="#"><img src="images/img-head2.jpg" alt=""></a>
                    <h2><a href="#">2013回家特会核心价值观：主盼望的三个重要转变</a></h2>
                </div>
                <div class="ttwo-s right">
                	<a href="#"><img src="images/img-head2.jpg" alt=""></a>
                    <h2><a href="#">2013回家特会核心价值观：主盼望的三个重要转变</a></h2>
                </div>
                <div class="clear"></div>
            </section>
        </div>
        <div class="con-m">
        	<section class="day-headline">
                <article class="dh-group">
                    <header><h1><a href="#">家庭教会海外宣教领袖：上帝让中国复兴是为要给世界祝福</a></h1></header>
                    <p>2013"圣洁行伍"亚洲回家特会香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜、祷告与集体聆听，而本次大会名称亦是首次从</p>
                </article>
                <article class="dh-group">
                    <header><h2><a href="#">家庭教会海外宣教领袖：上帝让中国复兴是为要给世界祝福</a></h2></header>
                    <p>2013"圣洁行伍"亚洲回家特会香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜、祷告与集体聆听，而本次大会名称亦是首次从</p>
                </article>
                <article class="dh-group">
                    <header><h2><a href="#">家庭教会海外宣教领袖：上帝让中国复兴是为要给世界祝福</a></h2></header>
                    <p>7月伊始，福音证主协会旗下的神州情发出七月代祷之页。这个月特别为2008年5月12日汶川地福音证主协日汶川地福音证主协会旗下的神州情发出七月代祷之页</p>
                </article>
                <article class="dh-group">
                    <header><h2><a href="#">家庭教会海外宣教领袖：上帝让中国复兴是为要给世界祝福</a></h2></header>
                    <p>7月伊始，福音证主协会旗下的神州情发出七月代的神州情发出七月代祷之页。这个月特别为2008年5月12日汶川地福音证主协会旗下的神州情发出七月代祷之页</p>
                </article>
            </section>
        </div>
        <div class="clear"></div>
        <div class="section-bottom">
        	<ul class="section-list">
            	<li class="clearfix">
                	<a href="#"><img src="images/img-section.jpg"></a>
                    <h2><a href="#">精品栏目1</a></h2>
                    <h1><a href="#">2013回家特会核心价值观：主盼望的三个重要转变</a></h1>
                    <p>2013"圣洁行伍"亚洲回家特会香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜、祷告与集体聆听，而本次大会名称亦是首次从</p>
                    <p class="sl-at"><span>基督时报：王新毅</span> 2013年08月05日 05时25分35秒</p>
                </li>
                <li class="clearfix">
                	<a href="#"><img src="images/img-section.jpg"></a>
                    <h2><a href="#">精品栏目2</a></h2>
                    <h1><a href="#">2013回家特会核心价值观：主盼望的三个重要转变</a></h1>
                    <p>2013"圣洁行伍"亚洲回家特会香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜、祷告与集体聆听，而本次大会名称亦是首次从</p>
                    <p class="sl-at"><span>基督时报：王新毅</span> 2013年08月05日 05时25分35秒</p>
                </li>
                <li class="clearfix">
                	<a href="#"><img src="images/img-section.jpg"></a>
                    <h2><a href="#">精品栏目3</a></h2>
                    <h1><a href="#">2013回家特会核心价值观：主盼望的三个重要转变</a></h1>
                    <p>2013"圣洁行伍"亚洲回家特会香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜、祷告与集体聆听，而本次大会名称亦是首次从</p>
                    <p class="sl-at"><span>基督时报：王新毅</span> 2013年08月05日 05时25分35秒</p>
                </li>
                <li class="clearfix">
                	<a href="#"><img src="images/img-section.jpg"></a>
                    <h2><a href="#">精品栏目4</a></h2>
                    <h1><a href="#">2013回家特会核心价值观：主盼望的三个重要转变</a></h1>
                    <p>2013"圣洁行伍"亚洲回家特会香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜、祷告与集体聆听，而本次大会名称亦是首次从</p>
                    <p class="sl-at"><span>基督时报：王新毅</span> 2013年08月05日 05时25分35秒</p>
                </li>
                <li class="clearfix">
                	<a href="#"><img src="images/img-section.jpg"></a>
                    <h2><a href="#">精品栏目5</a></h2>
                    <h1><a href="#">2013回家特会核心价值观：主盼望的三个重要转变</a></h1>
                    <p>2013"圣洁行伍"亚洲回家特会香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜、祷告与集体聆听，而本次大会名称亦是首次从</p>
                    <p class="sl-at"><span>基督时报：王新毅</span> 2013年08月05日 05时25分35秒</p>
                </li>
                <li class="clearfix">
                	<a href="#"><img src="images/img-section.jpg"></a>
                    <h2><a href="#">精品栏目6</a></h2>
                    <h1><a href="#">2013回家特会核心价值观：主盼望的三个重要转变</a></h1>
                    <p>2013"圣洁行伍"亚洲回家特会香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜、祷告与集体聆听，而本次大会名称亦是首次从</p>
                    <p class="sl-at"><span>基督时报：王新毅</span> 2013年08月05日 05时25分35秒</p>
                </li>
                <li class="clearfix">
                	<a href="#"><img src="images/img-section.jpg"></a>
                    <h2><a href="#">精品栏目7</a></h2>
                    <h1><a href="#">2013回家特会核心价值观：主盼望的三个重要转变</a></h1>
                    <p>2013"圣洁行伍"亚洲回家特会香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜、祷告与集体聆听，而本次大会名称亦是首次从</p>
                    <p class="sl-at"><span>基督时报：王新毅</span> 2013年08月05日 05时25分35秒</p>
                </li>
                <li class="clearfix">
                	<a href="#"><img src="images/img-section.jpg"></a>
                    <h2><a href="#">精品栏目8</a></h2>
                    <h1><a href="#">2013回家特会核心价值观：主盼望的三个重要转变</a></h1>
                    <p>2013"圣洁行伍"亚洲回家特会香港如期举行，特会聚集了来自33个国家的两万名基督徒，在香港亚洲国际博览馆一同敬拜、祷告与集体聆听，而本次大会名称亦是首次从</p>
                    <p class="sl-at"><span>基督时报：王新毅</span> 2013年08月05日 05时25分35秒</p>
                </li>
            </ul>
        </div>
    </div>
    <aside class="con-r right">
    	<section class="sub-remen">
            <div class="menu-tab clearfix">
            	<h1 class="mt-on">今日热门</h1>
                <h1><a href="#">一周热门</a></h1>
            </div>
            <ul>
                <li class="clearfix"><p class="remen-num">1.</p><a href="#">中东宣教：因后方的告，我们在宣教前线不孤单</a></li>
                <li class="clearfix"><p class="remen-num">2.</p><a href="#">神州情7月代祷之页：为汶川震后灾民、少数民族教会和信徒灵命坚固祷告</a></li>
                <li class="clearfix"><p class="remen-num">3.</p><a href="#">中东宣教：因后方的告，我们在宣教前线不孤单</a></li>
                <li class="clearfix"><p class="remen-num">4.</p><a href="#">中东宣教：因后方的告，我们在宣教前线因后方的告，不孤单</a></li>
                <li class="clearfix"><p class="remen-num">5.</p><a href="#">旧金山空难 家长难接受接待方是基督教学校 校方称无宣教活动</a></li>
                <li class="clearfix"><p class="remen-num">6.</p><a href="#">中东宣教：因后方的告，我们在宣教前线不孤单</a></li>
                <li class="clearfix"><p class="remen-num">7.</p><a href="#">神州情7月代祷之页：为汶川震后灾民、少数民族教会和信徒灵命坚固祷告</a></li>
                <li class="clearfix"><p class="remen-num">8.</p><a href="#">中东宣教：因后方的告，我们在宣教前线不孤单</a></li>
                <li class="clearfix"><p class="remen-num">9.</p><a href="#">中东宣教：因后方的告，我们在宣教前线因后方的告，不孤单</a></li>
                <li class="clearfix"><p class="remen-num">10.</p><a href="#">旧金山空难 家长难接受接待方是基督教学校 校方称无宣教活动</a></li>
            </ul>
        </section>
    	<div class="bn-aside">
        	<img src="images/ad-r.jpg">
        </div>
        <div class="clear"></div>
        <div class="pad-lside">
            <section class="meiti">
                <h1 class="menu-c"><a href="#">其他频道最新</a></h1>
                <ul>
                    <li><a href="#">中东宣教：因后方的告，我们在宣教前线不孤单</a></li>
                    <li><a href="#">北京一教会母教会如何支援宣教支援宣教士新模式</a></li>
                    <li><a href="#">中东宣教士：后方的告，我们在宣教前线不孤单</a></li>
                    <li><a href="#">北京一教会母教会如何支援宣教支援宣教士新模式</a></li>
                    <li><a href="#">北京一教会母教会如何支援宣教支援宣新模式</a></li>
                    <li><a href="#">北京一教会母教会如何支援宣教支援宣教士新模式</a></li>
                    <li><a href="#">北京一教会母教会如何支援宣教支援宣新模式</a></li>
                </ul>
            </section>
        </div>
        <div class="pad-rside">
        	<section class="zhuanti">
                <h1 class="menu-c"><a href="#">专题</a></h1>
                <div class="zhuanti-head">
                    <a href="#"><img src="images/img-zhuanti.jpg" alt=""></a>
                    <h1><a href="#">周杰伦《天台》背后的神迹</a></h1>
                </div>
                <ul class="left">
                    <li><a href="#">中东宣教士：因后方的告</a></li>
                    <li><a href="#">北京一教会母教会如何支</a></li>
                    <li><a href="#">北京锡安教会金明日牧师主</a></li>
                </ul>
                <ul class="right">
                    <li><a href="#">中东宣教士：因后方的告</a></li>
                    <li><a href="#">北京一教会母教会如何支</a></li>
                    <li><a href="#">北京锡安教会金明日牧师主</a></li>
                </ul>
                <div class="clear"></div>
            </section>
        </div>
        <div class="clear"></div>
        <div class="pad-lside">
        	<section class="video-film">
                <h1 class="menu-c"><a href="#">视 频</a></h1>
                <div class="video-head">
                    <img src="images/video.jpg">
                    <h1><a href="#">《舞出我人生》总决赛廖智冠军之舞</a></h1>
                </div>
                <div class="video-s">
                    <a href="#"><img src="images/video-s.jpg" alt=""></a>
                    <p><a href="#">《舞出我人生》总决赛廖智冠军之舞</a></p>
                </div>
                <div class="video-s">
                    <a href="#"><img src="images/video-s.jpg" alt=""></a>
                    <p><a href="#">《舞出我人生》总决赛廖智冠军之舞</a></p>
                </div>
                <div class="video-s">
                    <a href="#"><img src="images/video-s.jpg" alt=""></a>
                    <p><a href="#">《舞出我人生》总决赛廖智冠军之舞</a></p>
                </div>
                <div class="clear"></div>
            </section> 
        </div>
        <div class="pad-rside">
            <section class="video-film">
                <h1 class="menu-c"><a href="#">图片集</a></h1>
                <div class="video-head">
                    <img src="images/img-tuji.jpg">
                    <h1><a href="#">《舞出我人生》总决赛廖智冠军之舞</a></h1>
                </div>
                <div class="video-s">
                    <a href="#"><img src="images/video-s.jpg" alt=""></a>
                    <p><a href="#">《舞出我人生》总决赛廖智冠军之舞</a></p>
                </div>
                <div class="video-s">
                    <a href="#"><img src="images/video-s.jpg" alt=""></a>
                    <p><a href="#">《舞出我人生》总决赛廖智冠军之舞</a></p>
                </div>
                <div class="video-s">
                    <a href="#"><img src="images/video-s.jpg" alt=""></a>
                    <p><a href="#">《舞出我人生》总决赛廖智冠军之舞</a></p>
                </div>
                <div class="clear"></div>
            </section>
        </div>
        <div class="clear"></div>
    </aside>
    <div class="clear"></div>
</div>
{% endblock %}